[2019-07-21 03:35] satwi95 commented on #77
Can i install ludwig on windows ? and can i write in spyder

[2019-07-21 19:52] w4nderlust commented on #77
@satwi95 I don't have a windows machine so I cannot test it, but in theory there should be nothing stopping you from doing both.

[2019-07-22 05:35] FellCrustacean8 commented on #434
Thank you, that resolved the issue.

[2019-07-22 18:12] aspenforest opened #441 "The weather data example python script fails to run"
It fails to run, because Ludwigs latest published release does not have the
"add_sequence_feature_column" function in data_utils.py, and when I did
manually copy-paste it into the respective file, the example script ran, but hang indefinitely.
To fix this issue, I would suggest to put out a new updated release onto PyPI.

[2019-07-22 19:05] w4nderlust commented on #441
A new version will be published soon, in the mean time you can install from master.
Thank you

[2019-07-22 19:05] #441 closed

[2019-07-22 21:56] w4nderlust commented on #421
I looked into it. Created a synthetic dataset, trained a model and tested by loading the model in another notebook, which I run several times and the results where all the same. So I'm closing this issue also due to inactivity.
If you are still experiencing the issue, please make a reproducible example. I'm attaching my example so that you can eventually use it as a reference.

[issue_421_test.zip

[2019-07-22 21:57] w4nderlust commented on #434
Great!

[2019-07-22 21:57] #434 closed

[2019-07-22 21:57] w4nderlust commented on #440
Closing in the meantime, let me know if you are still experiencing the issue, in that case I'll reopen.

[2019-07-22 21:57] #440 closed

[2019-07-22 21:58] w4nderlust commented on #263
Closing due to inactivity.

[2019-07-22 21:58] #263 closed

[2019-07-22 22:01] w4nderlust commented on #243
Update: the date datatype was finally added!
https://github.com/uber/ludwig/commit/9c93622cb60ca89becbfd8d8110ee1a74d491d7f
and a description was added to the the docs source:
https://github.com/uber/ludwig/commit/7f5101d5f7dcb9d4b9fa09e64bb1ec079f7f0aed
Next time I'll compile the docs, they will appear also in on the website.

Would love to receive your feedback, but I'm closing the issue, feel f

[2019-07-22 22:01] #243 closed

[2019-07-23 04:30] w4nderlust commented on #267
This PR refactors and exposes the visualization functions: https://github.com/uber/ludwig/pull/427
Closing the conversation, but please feel free to post opinions and feedback, as now the refactoring allows for further improvement much more easily.

[2019-07-23 04:30] #267 closed

[2019-07-23 04:33] w4nderlust commented on #58
We did substantial improvements in speeding up load time, suggestions are welcome on how to improve even further, but at the moment I consider it not to be an issue anymore.

[2019-07-23 04:33] #58 closed

[2019-07-23 04:34] w4nderlust commented on #126
Clipping and normalization were added to numerical features, so i consider this to be sovled.

[2019-07-23 04:35] #126 closed

[2019-07-23 04:39] w4nderlust commented on #40
We added many examples with reference datasets, so i consider this solved.

[2019-07-23 04:39] #40 closed

[2019-07-23 04:40] w4nderlust commented on #86
As we added several examples with the training parameters, I consider this to be solve.

[2019-07-23 04:40] #86 closed

[2019-07-23 04:43] w4nderlust commented on #229
Closing due to inactivity, but this issue has already been solved on master since a while.

[2019-07-23 04:43] #229 closed

[2019-07-23 14:13] oksimple opened #445 "Convert the model to tflite"
Hello, can you convert the model directly to the .tflite format? If you do this, it will be very convenient

[2019-07-23 22:55] w4nderlust commented on #445
This is not supported at the moment, we'll look into it as an enhancement.

[2019-07-24 06:52] SivamPillai opened #449 "Working with Video Data"
Is it possible to use the Ludwig framework to make predictions on sampled video data?

Consider a case where I would like to predict an outcome based on say 30 video frames. This is possible using a framework like keras using layers such as ConvLSTM, Conv3D, etc. With Ludwig I see the image datatype only allows for 2D+channel data format as input.

I would like to know if there is a way of achievi

[2019-07-24 08:59] carlogrisetti commented on #449
You can always split the video input in frames and process each single one separately or, if you need some sort of correlation between two frames as in your example, process a single "composite" frame N-fold in width with the second, third, fourth, nth frame pasted after each other.
You can just use numpy with something like  np.concatenate((frame1, frame2), axis=1) to have a single array with all

[2019-07-24 10:28] Chee-Foong commented on #421
Hi, Thank you for looking into this.  Sorry for the late reply.  Using your dataset, I replicated the problem in the python notebook.  The steps to reproduce the issue in the notebook - issue_421_train.ipynb.

After a model is trained, when I restart the kernel, using the same test data, I am getting different predictions.  Not all the time.  You may have to repeat the predictions a few times.

[i

[2019-07-24 10:50] carlogrisetti opened #452 "gmpy prerequisite is broken on windows systems"
On windows systems, `pip install gmpy` is broken, alas it needs a lot of prerequisites to be built correctly (first error message you get, is that the wheel cannot be built due to missing gmp.h, for anyone else out there trying to search for this issue, and on windows we don't have libgmp3-dev to install).
Now a "simple" `pip install ludwig` now fails due to missing header files and more.

I know

[2019-07-24 12:43] loretoparisi commented on #126
Thank you!

[2019-07-24 14:23] Kranthiteja7 commented on #85
I also have same problem. But I load the text data through manually using Dataframe. Then how can I separate the csv file from comma to tab.?

[2019-07-24 18:02] #327 closed

[2019-07-24 20:02] w4nderlust commented on #452
I'm looking to an alternative to gmpy at the moment. Will keep you posted.

[2019-07-24 20:03] w4nderlust commented on #85
`pandad.read_csv(path, delimiter='\t')`

[2019-07-24 21:43] carlogrisetti commented on #452
FYI, gmpy2 2.0.8 has available pre-built wheels for recent python versions (not on pypy, and I don't understand why they don't mirror them over there).
https://www.lfd.uci.edu/~gohlke/pythonlibs/#gmpy
I could see that as a "clean" workaround for windows users (like: manually install gmpy2 by doing `pip install gmpy2-2.0.8-cp36-cp36m-win_amd64.whl` with the correct cpXX version depending on python

[2019-07-24 21:58] w4nderlust commented on #452
Unfortunately it is not straightforward as the functions I'm using are not available anymore in gmpy2. But don't worry the solution that I have working is a simple pure python alternative, will land in a couple days at most.

[2019-07-25 00:47] carlogrisetti opened #453 "models trained with ludwig-0.1.2 won't load in ludwig-0.2"
[Here](https://github.com/uber/ludwig/files/3429228/model_definition.txt) is the model definition i'm using

Basically a model trained with 0.1.2 (and tensorflow-gpu 1.13.1) will output this error when trying to load it using ludwig 0.2 (and tensorflow-gpu 1.14). Don't know if it's ludwig-side, tensorflow-side, or it's just as it is and I need to accept this and go on retrain the models, due to th

[2019-07-25 01:57] aamustapha opened #454 "pkg_resources.DistributionNotFound: The 'websockets==7.*' distribution was not found and is required by uvicorn"
**Describe the bug**
After a plain installation on mac, I get the following error log
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Fresh install on MacBook Pro
2. run `ludwig -m ludwig.train --data_train_csv R_75.csv --mdf model_definition.yaml`

Yaml file:
[code]

Data Sample
[code]

**Expected behavior**
I expected to see it run

~**Screenshots**
If applicable, add screenshots t

[2019-07-25 05:59] w4nderlust commented on #453
It's most likely a tensorflow 1.14 thing as there hasn't been much change in saved models. Try to uninstall 1.13 and install 1.13.1 as I'm not using anything specific from 1.14, and see if it works.
Anyway, a generic rule, while Ludwig is in v0.x every second digit release could change compatibility. It is part of the reason why we started with v0.1 and not v1.0, the api and other things are not s

[2019-07-25 05:59] aoighost opened #455 "REST API"
A REST api for loading/training/running models, as well as fetching different processing methods would be useful for making a web UI.

[2019-07-25 06:05] w4nderlust commented on #454
This is peculiar, I run the same version of osx and python and I haven't encountered the error.
Will try to look into it even if reproducing may be complicated.
In the mean time you can try to update setuptools and pip. Also `uvicorn` is used only by the `serve` command, so you can get away uninstalling it if you don't plan to use the `serve` command.

[2019-07-25 06:11] aamustapha commented on #454
Uninstalling uvicorn threw error that
[code]
However updating `setuptools==41.0.0` did the magic.
Thank you.

[2019-07-25 06:11] #454 closed

[2019-07-25 06:56] w4nderlust commented on #455
`ludwig serve` already exposes pretrained models.

[2019-07-25 09:00] carlogrisetti commented on #453
Will try to downgrade TF.
I was pointing that out since it's the first time that this retrocompatibility sort of breaks.

[2019-07-25 09:24] aoighost commented on #455
Pretrained models are useful, but I'm talking more the ability to create new models programatically using a rest api to communicate with a web interface to compose the models.

[2019-07-25 15:47] iamshreeram opened #457 "Error in example - model_definition.yaml"
**Describe the bug**
`model_definition.yaml` in the [time series forecasting example](https://uber.github.io/ludwig/examples/#time-series-forecasting-weather-data-example) has `yaml` error. Empty space before `output_features` needs to be removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://uber.github.io/ludwig/examples/#time-series-forecasting-weather-data-example
2. Foll

[2019-07-26 05:28] #457 closed

[2019-07-26 08:56] #452 closed

[2019-07-26 09:16] w4nderlust commented on #449
At the moment Ludwig does not support video data.
@carlogrisetti 's suggestion is a more than reasonable workaround, but anyway, video data is something we are considering.
Adding to the feature requests, but contributions are welcome, in particular by someone with direct expertise on videos. I can provide guidance and directions if someone want to pick up this task. Audio features took just a cou

[2019-07-26 09:21] w4nderlust commented on #455
I see. Yes an interface, maybe drag and drop, for creating models definitions would be great! Unfortunately it is beyond my (limited) frontend capabilities. Putting it as a feature request, but unless someone with frontend capabilities volunteers it may take a long time.

[2019-07-26 11:34] priyaJagan90 opened #459 "Failed to install ludwig in python:3.6-alpine3.9 due to tensorflow version mismatch error"
Hi,

I couldn't install ludwig in python:3.6-alpine3.9 as tensorflow version 1.13.1 mismatches with the tensorflow version 1.14.0 in the requirement.txt file. Can you please set the tensorflow version to 1.13.1 and 1.14.0 to make it compatible with python 3.6 and python 3.7

[2019-07-26 16:30] priyaJagan90 commented on #386
Hi
sorry for the late reply. I couldn't access the link https://github.com/uber/ludwig/tree/fix_model_load_path

[2019-07-26 20:52] w4nderlust commented on #386
Yes in the mean time we merged into master. Please try using Ludwig 0.2 the
issue should be solved.

On Fri, 26 Jul 2019 at 09:30, priyaJagan90 <notifications@github.com> wrote:

--
----
Piero Molino
Sr Research Scientist
UBER AI Labs

[2019-07-26 21:35] c14kevincardenas commented on #452
Thank you for your updates! Unfortunately, it still appears that gmpy is in the requirements list or somewhere in the ludwig install. On windows 10, pip install ludwig outputs all the requirements already satisfied and this:
Collecting gmpy (from ludwig)
  Using cached https://files.pythonhosted.org/packages/26/37/2184c13cee81e1dbeaebbb13570195247e73ab2138a3db0c9d2c5347e372/gmpy-1.17.zip

[2019-07-27 06:26] gogasca opened #460 "Unable to install Ludwig in Colab (gmpy)"
**Describe the bug**
Installation of ludiwg via pip install ludwig fails in Colab with Python 3.6 Kernel
Colab Kernel Python 3

**To Reproduce**
Steps to reproduce the behavior:
1. Go to colab.google.com
2. Click on + Code
3. Scroll down to New code cell
4. Install ludwig via pip install
5. See error:
Please provide code, yaml definition file and a sample of data in order to entirely reproduce the

[2019-07-27 06:29] gogasca commented on #460
Looks like error has been addressed in Github but still pipy installer/wheels in Pipy needs to be updated

[2019-07-27 13:31] hamletbatista commented on #460
@gogasca I fixed it by installing these libs
!apt-get install libgmp-dev libmpfr-dev libmpc-dev

[2019-07-27 13:46] hamletbatista opened #461 "Unable to export SavedModel: AttributeError: 'Model' object has no attribute 'model'"
**Describe the bug**
A clear and concise description of what the bug is.
After successfully training, loading and initializing a model, I'm unable to save it for serving.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'colab.google.com'
2. Click on '+ Code'
3. Scroll down to 'New code cell.'
4. Type
from ludwig.api import LudwigModel
ludwig_model = LudwigModel.load("/content/results/e

[2019-07-27 16:59] hamletbatista commented on #461
I was able to export the model by using the script shared in this comment https://github.com/uber/ludwig/issues/329#issuecomment-508777581

import collections
#import shutil
import logging

#import mlflow
#import mlflow.tensorflow

import tensorflow as tf
from tensorflow.python.saved_model import builder as saved_model_builder

from ludwig.api import LudwigModel

logging.basicConfig(level=logging.

[2019-07-28 05:28] danielduckworth opened #462 "k-fold cross validation for training models with CLI"
**Describe the use case**
Training multiple models with shuffled training data (k-folds) can reveals information about our data sets. For example, one fold may be much less accurate than other folds telling us that we might need to increase the total number of samples.

**Describe the solution you'd like**
For the CLI, it would be useful if we could have a parameter to train with k-fold cross vali

[2019-07-28 07:36] msaisumanth commented on #462
@danielduckworth Thanks for the suggestion. This is a good idea.

Feel free to create a pr if you have time to work on it :)

[2019-07-28 12:15] w4nderlust commented on #460
It is both already addressed in the current master, plus there is an explaination of the solution in both the getting started and the faq pages

[2019-07-28 12:15] #460 closed

[2019-07-28 12:15] w4nderlust commented on #452
Install from master.

[2019-07-28 12:19] FineonX commented on #193
Any news on that Enhancement?

[2019-07-29 08:57] simonefrancia commented on #431
Sorry @w4nderlust, why this lib `libgmp3-dev` is need for ludwig?
Also we had recently some problems in building docker image and we solved installing this lib, but it wasn't before.
Thanks

[2019-07-29 12:34] w4nderlust commented on #431
It has already been removed in master.

On Mon, 29 Jul 2019 at 10:57, Simone Francia <notifications@github.com>
wrote:

--
----
Piero Molino
Sr Research Scientist
UBER AI Labs

[2019-07-29 15:04] tqa236 commented on #459
I have a similar problem but in my case it the constraint scikit-image=0.14.2 that causes an error. Is it possible to relax these constraints a little?

[2019-07-29 15:28] tqa236 opened #463 "Fail to build the Dockerfile in this repository"
**Describe the bug**
I cannot build an image with the Dockerfile in this repository

**To Reproduce**
Steps to reproduce the behavior:
1. Use the Dockerfile in master

[code]

2. Run the command to build images: `docker build .`
3. See error:

[code]

**Expected behavior**
Built without errors.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please com

[2019-07-29 18:06] msaisumanth commented on #463
It looks like a memory issue. Take a look [here](https://stackoverflow.com/questions/44907444/error-137-on-docker-build-command-on-win7)

[2019-07-30 06:14] abc1110 opened #465 "Dimension mismatch of embedding matrix when model_load_path is used because of vocabulary mismatch"
@w4nderlust
**Describe the bug**
I have made a model using pretrained embeddings (GloVe.6b.50d). I have now built a larger training dataset and want to retrain the model by initialising weights using earlier trained model and so i am using `--model_load_path` command.

But I am running into an "**InvalidArgumentError  : indices[111,11] = 3441 is not in [0, 3172)**"

**To Reproduce**
Following code

[2019-07-30 08:05] SirJohnFranklin commented on #244
You could write your own function which uses add_sequence_feature_column().
See: https://uber.github.io/ludwig/examples/#time-series-forecasting-weather-data-example

[2019-07-30 08:21] tqa236 commented on #463
Thank you very much. It works smoothly. I'm sorry that this question doesn't relate to Ludwig.

[2019-07-30 08:21] #463 closed

[2019-07-30 17:17] w4nderlust commented on #461
This PR solves it: https://github.com/uber/ludwig/pull/456

[2019-07-30 17:17] #461 closed

[2019-07-30 17:18] w4nderlust commented on #465
Looking into it.

[2019-07-30 22:50] msaisumanth commented on #459
@priyaJagan90 I think making that change will break a lot of things since we migrated the code to use 1.14. Were you able to make this work locally by switching to 1.13.1?

[2019-07-31 11:12] saaeds opened #470 "not able to install ludwig 0.2 on my new system and getting the bellow error when running my old ludwig 0.1 code"

[2019-07-31 11:16] saaeds commented on #470
Traceback (most recent call last):
  File "C:\Users\Vira\Anaconda3\envs\viragpu\lib\runpy.py", line 183, in _run_module_as_main
    mod_name, mod_spec, code = _get_module_details(mod_name, _Error)
  File "C:\Users\Vira\Anaconda3\envs\viragpu\lib\runpy.py", line 109, in _get_module_details
    __import__(pkg_name)
  File "C:\Users\Vira\multiModel.py", line 60, in <module>
    model_name = ticker, g

[2019-07-31 17:26] msaisumanth commented on #470
What was the error with pip? There was some issue with 0.2 on Windows. Try installing from the source code.

[2019-07-31 18:09] rhlr opened #472 "Need to understand the confusion matrix returned in the prediction json file"
I ran a simple image classification problem on a small dataset. Total number of classes were 5. I got the following  `confusion matrix` in the prediction_statistics.json file. Can anyone help me understand this:

`"confusion_matrix": [
            [
                0,
                0,
                0,
                0,
                0,
                0
            ],
            [

[2019-08-01 08:29] danielduckworth commented on #462
@msaisumanth I'll work on it with my team and submit something in the next few weeks. We have already benefited greatly from Ludwig so happy to contribute.

[2019-08-01 16:36] w4nderlust commented on #462
Thank you so much @danielduckworth . I would suggest you do do a draft minimal not working pr so that we can give you guidance on the design first, so that when you end up implementing it it's more likely there won't be any misalignment.

[2019-08-01 16:38] w4nderlust commented on #472
I suggest you to use the build in confusion matrix misualization.
The first class is unk and the others are sorted by frequency, if you look inside the training set metadata you'll find the vocabulary of your output feature. The visualization resolves it automatically.

[2019-08-02 05:01] saaeds commented on #470
Thanks for the reply msaisumanth, I finally after struggling for a few days it is back online. Very scary!!!!. at the end I started a fresh install of python and ludwig.

[2019-08-02 05:57] harshitazilen opened #473 "Unable to install ludwig"
**Describe the bug**
Unable to install ludwig by command "pip3 install ludwig"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Termial'
2. Clone Plato library of Uber 'git clone https://github.com/uber-research/plato-research-dialogue-system.git'
3. Install pyaudio 'sudo apt-get install python3-pyaudio'
4. Go inside folder 'plato-research-dialogue-system'
5. install requirements using

[2019-08-02 12:22] bedna-KU opened #474 "ERROR: Failed building wheel for gmpy (installation ludwig)"
Installation ludwig to venv

[code]

**Environment**
(env) nimiq@mkmnmskpctest:~/Dev/Python/Ludwig$ lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 19.04
Release:        19.04
Codename:       disco

Python 3.7.3

pip -V
pip 19.2.1 from /home/nimiq/Dev/Python/Ludwig/env/lib/python3.7/site-packages/pip (python 3.7)

gcc -v
Using built-in specs.
COLLECT_GCC=

[2019-08-02 14:55] carlogrisetti commented on #474
This has already been addressed with #452
Just install from master code repo. gmpy prerequisite has been removed

[2019-08-02 16:27] #474 closed

[2019-08-02 16:29] w4nderlust commented on #470
Not sure, did you solve the issue? What was it? How did you do that?

[2019-08-02 18:31] msaisumanth commented on #473
You don't really need fastapi for experimenting. So you can comment it out and install Ludwig.

If you do need it, try installing it separately from Ludwig.

[2019-08-03 11:30] the-learner commented on #462
Hello @w4nderlust , I am working with @danielduckworth on this k-fold contrib. I want to know what do you expect as the structure of the minimal draft over here. Should I right it as a standalone function that will be imported or should it be added as an extra parameter in the full_train() function and add the parameter in cli() function. Sorry if I am asking something obvious but this is my first

[2019-08-03 23:07] msaisumanth commented on #462
@the-learner Thanks a lot for working on this! I think what @w4nderlust was suggesting was to outline the high level flow so that we're all on the same page as to how to implement it.

You can write the logic in full_train first and then adding the cli stuff should be fairly easy. So please tell us how you would implement this in full_train at a high level and then you can start coding. If you thi

[2019-08-04 00:30] saaeds commented on #470
Thanks w4nderlust, I will try to reproduce the event within the next couple of days and will inform you, but to resolve the challenge what I did was to start a new python installation from fresh and ludwig from the master. A few warnings pop up (the ones for the compat.v1) that I was fixing before and now I am not, perhaps that is part of the issue.

[2019-08-04 09:38] w4nderlust commented on #470
You don’t need to fix the warnings.

On Sun, 4 Aug 2019 at 02:30, saaeds <notifications@github.com> wrote:

--
----
Piero Molino
Sr Research Scientist
UBER AI Labs

[2019-08-04 16:06] abhiTronix commented on #449
Hello, awesome project. If you need easy and flexible option for video processing in python, then you can look my [VidGear](https://github.com/abhiTronix/vidgear) python library that provide support for both OpenCV and FFmpeg backends for decoding and encoding video files in real-time and other unique features. Good luck.

[2019-08-04 17:21] newbiepawel commented on #69
This worked for me:

ludwig.visualize.learning_curves(
  train_stats,
  field = True
)

[2019-08-04 19:06] hieu325 opened #477 "TypeError with confusion matrix"
**Describe the bug**
Training data is [twitter airline sentiment](https://www.kaggle.com/crowdflower/twitter-airline-sentiment).
My model definition yaml is
[code]
After training, I used ludwig test to produce test_statistics.json. When I want to visualize a confusion matrix of the output `ludwig visualize --visualization confusion_matrix -tes ./results_0/test_statistics.json` , I got TypeError

[

[2019-08-04 20:48] msaisumanth commented on #477
@hieu325 can you please paste the contents of test_statistics.json ?

[2019-08-05 05:36] harshitazilen commented on #473
@msaisumanth  , Ludwig needs FastAPI. So installation process of Ludwig installs FastAPI and fails. Also I tried installing Fast API externally and then retried installing Ludwig, still the same error occurs.

Also if I check fastapi installation using command `pip3 show fastapi` , it shows below error:

[code]

[2019-08-05 15:00] rthiruv-lab58 opened #478 "AttributeError: 'list' object has no attribute 'encode'"
**Describe the bug**
When I was trying to visualize on compare_classifiers_predictions_distribution, I got this error, saying
AttributeError: 'list' object has no attribute 'encode'

Steps to reproduce the behavior:
Run this command:
ludwig visualize --visualization compare_classifiers_predictions_distribution --ground_truth path/to/train.hdf5 --test_statistics results_1/test_statistics.json --pre

[2019-08-05 15:49] lethaiq opened #479 "Incorrect documentation: default teacher forcing behavior on sequence decoder "generator""
**Is your feature request related to a problem? Please describe.**
Clarification on the use of "teacher forcing" by default of sequence decoder "generator" on documentation

**Describe the use case**
The TrainingHelper uses "teacher forcing" by default (https://github.com/uber/ludwig/blob/ee4d5daf07fda2168c4e89dd962b151506d17f9a/ludwig/models/modules/recurrent_modules.py#L445), which makes this st

[2019-08-05 17:32] msaisumanth commented on #473
@harshitazilen FastAPI is required for serving models. If you only want to experiment, you don't need it. So you can comment it out in the requirements and install Ludwig from source code.

[2019-08-05 17:43] msaisumanth commented on #478
@rthiruv-lab58 I think you're missing one more argument: field. Could you please check if that's the issue?

[2019-08-05 18:14] rthiruv-lab58 commented on #478
I did not use the field parameter, because for "compare_classifiers_multiclass_multimetric"  visualization, It worked without the field parameters.
I thought it (field) had a default value, which it clearly does not have. What threw me off, was the encoding format, which I was not able to track back to the h5py script.

[2019-08-05 19:31] hieu325 commented on #477
Here is the content of test_statistics.json:

[code]

[2019-08-05 19:57] rthiruv-lab58 commented on #477
I had faced similar problems while training using custom dataset as well. What worked for me was two things,
1) I gave full path directory to the files ( test_statistics.json) and
2) Gave the ground_truth metadata (the training Json file), which in the documentation is described as necessary.
Documentation: https://uber.github.io/ludwig/user_guide/#confusion-matrix

Changing these two worked out f

[2019-08-05 21:00] hieu325 commented on #477
@rthiruv-lab58 Thanks for the solution. It works for me, in particular, your step 2 of including training_statistics.json as ground_truth metadata.

[2019-08-05 21:00] #477 closed

[2019-08-05 21:52] msaisumanth commented on #478
right. yeah, the error message wasn't really helpful. Did that resolve the issue?

[2019-08-05 22:14] areeves87 commented on #55
Thanks so much for this wonderful set of tools!

[2019-08-06 08:42] the-learner commented on #462
@msaisumanth The change seems very straight forward but I will tell high level approach anyway.

K-fold k value will be taken input into full_train. There will be different combinations of data (k precisely), based on those data combinations, the training will be done. I might not have to change much of a functionality in the main  training function as well.

[2019-08-06 21:27] areeves87 opened #480 "Adding routes to serve.py"
**Is your feature request related to a problem? Please describe.**
I'd like to check whether the server is up or down (ie a healthcheck) with a simple GET request to the root path `/` of the ludwig server.

In general it would be nice to have some instructions/examples for how to extend the functionality of serve.py.

**Describe the use case**
This new route would help run health checks on a remot

[2019-08-08 04:13] harshitazilen commented on #473
@msaisumanth , Thanks. finally I am able to install plato. Also there was one more error with "pydantic" and I fixed it. The requirement.txt file was asking for `pydantic==0.30.0` which is not available so I installed latest version of pydantic.

[2019-08-08 04:36] harshitazilen commented on #473
Unfortunately uber plato code does not work with python 3.5. It needs python 3.6 and while installing Ludwig from source in python 3.6, I face error in installing `httptools` , can you please guide me how to complete installation.

Please find error description as below:

[code]

[2019-08-08 19:14] sriki18 opened #481 "Examples in user_guide"
**Is your feature request related to a problem? Please describe.**
I am playing around with the Iris dataset to learn how to use Ludwig. I want to use the confusion matrix visualization (as an example). It was not too clear from the user guide which arguments were necessary and which arguments were optional. I initially kept getting the following error:

[code]
but I have since figured out that I

[2019-08-08 22:01] vaopaso commented on #473
@harshitazilen I solved it doing `sudo apt-get install python3.6-dev`
After that, I was able to install httptools.

[2019-08-09 18:10] msaisumanth commented on #481
@sriki18 Thanks for raising the issue. A few other people also had issues around this recently.

There a couple of things that can be done here:
1. Improve error messaging by doing sanity checks on the user inputs - ensure all the required arguments are provided
2. More detailed and complete examples for visualization.

We'll prioritize this with other pending tasks but feel free to create a pr fo

[2019-08-09 18:12] msaisumanth commented on #480
@johnwahba FYI

[2019-08-09 18:22] wahba-stripe commented on #480
Change seems super reasonable. If you build it and add a test for the healthcheck I'd have no objections.

[2019-08-10 00:20] danielduckworth opened #483 "ludwig_model.train for data_csv and data_df get different training results"
**Describe the bug**
When fitting a model with the API I get different results when using a dataframe compared to a csv.

When using the csv, everything is fine.

When using the dataframe, early stopping activates after 5 epochs even though there has objectively been an improvement to the loss.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Fitting the model to th

[2019-08-10 10:45] Jim2002 opened #484 "Is it possible to pass 2D numpy arrays as input instead of png/jpg for image classification?"
Is it possible to pass 2D numpy arrays as input instead of png/jpg for image classification?
I have made some 2D numpy arrays (values between 0~1 , black and white, 1 channel) that I would like to train them as images for classification, I was wondering if it's possible to pass the arrays to Ludwig strait away instead of converting all the arrays to png then pass to Ludwig? If yes, how? Thanks for

[2019-08-10 22:48] w4nderlust commented on #479
The decoder helper uses a greedy strategy for obtaining the predictions in evaluation mode, while it uses teacher forcing for training. Will clarify this in the docs.

[2019-08-10 22:51] w4nderlust commented on #484
Not at the moment. We will likely add a similar option in the future (see other feature requests). For the time being I suggest you to save your numpys and feed the paths where you saved them. You can use a temp dir and delete once done.

[2019-08-11 01:21] sriki18 commented on #481
I can work on this. I will try out a bit of both and see which is more feasible for me. Wondering though, if you have pointers on how to go about it. Specifically, do you prefer something on every visualization in a single PR? Or something step by step? I just plan to start with training curves and confusion matrix for the moment...

[2019-08-11 02:48] Jim2002 commented on #484
Ok thank you very much.

[2019-08-11 17:18] bertyhell commented on #259
I'm wondering what the correct type is when the output features represent positions on a chess board.
eg: [1, 3] is the first row, third column position.
Would you still use numerical and ceil the results?

[2019-08-12 09:25] Aditya-Kanvinde opened #485 "gmp error while installing"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

Please provide code, yaml definition file and a sample of data in order to entirely reproduce the issue.
Issues that are not reproducible will be ignored.

**Expected behavior**
A clear and concise descr

[2019-08-12 17:03] msaisumanth commented on #485
@Aditya-Kanvinde install from master. Refer https://github.com/uber/ludwig/issues/452

[2019-08-12 23:29] w4nderlust commented on #259
I would use two categories.

[2019-08-12 23:33] w4nderlust commented on #481
@sriki18 Thank you for being willing to help with this. You have to fork and then do a PR, what you do in your fork in terms of branches does not influence the forked repo. Having a PR for all visualizations would be ideal, but you can do a draft PR with just a subset of visualizations and we can discuss on that.

[2019-08-12 23:33] w4nderlust commented on #483
Thank you, we are looking into it.

[2019-08-12 23:39] w4nderlust commented on #480
@areeves87 thanks, this makes sense!
The only thing that's not clear to me is:
[code]
Why do you need them?

[2019-08-12 23:42] w4nderlust commented on #473
@harshitazilen  can you try with python3.6-dev and confirm it works for you too?

[2019-08-12 23:45] w4nderlust commented on #462
@the-learner there are a bunch of additional considerations: if you have more than one split, the HDF5 and JSON files will be saved for all the splits? Will they be skipped? What about the results? Will you have k different results directories or just one containing all 3 of them? And what about aggregate results (with mean and standard deviation)?

[2019-08-12 23:47] w4nderlust commented on #55
Answered in the other issue.

[2019-08-12 23:52] w4nderlust commented on #477
Just to clarify for people who may end up reading this issue: the `--ground_truth_metada` parameter accepts the metadata JSON file that is created when a dataset is used the firt time with the same name of the dataset with .JSON at the end. If the preprocessed data saving is skipped, the same information is actually present in `results/experiment_run_0/model/tran_set_metadata.json` (results and ex

[2019-08-12 23:57] w4nderlust commented on #69
Yes we added those new visualize functions in v0.2 explicitly for this, glad they work!
the field parameter should be the name of the output feature you want to visualize the learning curves of. In some visualization functions it is optional so also if you specify `True` it works, but others actually require it.

[2019-08-13 02:31] areeves87 commented on #480
Okay great - I made the PR!

@w4nderlust those two lines are back from when I didn't understand how to add a new route to server.py. In hindsight, I agree they do not make sense.

Eventually, I figured out how to add new routes. But some better documentation on how to extend ludwig's functionality would be helpful. What I eventually realized was that one has to call `python setup.py install` to im

[2019-08-13 06:42] Kantshun opened #488 "unable to install ludwig due to gmpy"
**Describe the bug**
I can't install ludwig in win10 due to gmpy installation go wrong.

**To Reproduce**
Steps to reproduce the behavior:
1.download gmpy-master.zip from github and unzip it.
2.in terminal window, input command "python setup.py install"
3.minuters later, see error.
![image](https://user-images.githubusercontent.com/31396222/62920480-77ae2d80-bdd8-11e9-9afe-752cf55716e5.png)

**Env

[2019-08-13 06:53] the-learner commented on #462
@w4nderlust That was indeed a question on my mind for some time. I think the function of k-fold splits should be to let the user know that the data size needs to be increased if the accuracy values difference will be considerably large. Because saving aggregate results, or most accurate results will just be an accuracy hack. I think it will just store models and final results for one of the splits

[2019-08-13 07:19] MarchingVoxels commented on #488
Yep, having the exact same problem here, with python version of 3.7.4 and trying to install with pip

[2019-08-13 10:16] manugarri commented on #314
@ballcap231 has a point, epochs is not the same thing as time, is there any way to maybe add a callback "on_epoch_end" to check the elapsed time?

[2019-08-13 12:25] carlogrisetti commented on #488
Duplicate of #452
Install from master repo and it will be ok - gmpy prerequisite has been removed.

[2019-08-13 12:50] carlogrisetti commented on #453
Unfortunately it seems that it's not TF breaking retrocompatibility
On a system that had TF 1.13.1 installed I upgraded ludwig and manually changed the requirements.txt to match 1.13.1 (instead of 1.14.0).
The same issue presented itself with the same exact behavior. I am reproducing it with the latest master.

Might be that you updated the various model templates used within ludwig and it's tryin

[2019-08-13 13:09] carlogrisetti commented on #453
I just found out that this issue only appears on some models.
Models with image inputs (both resnet 8 and resnet 34), category inputs, category outputs and numerical outputs work fine even after ludwig-0.2.0 and tensorflow-1.14.0 upgrade.

The model that is not being able to be resored is a model that is defined like this:

input_features:
    -
        name: utterance
        type: sequence

[2019-08-13 13:44] rthiruv-lab58 commented on #478
Hello, sorry for the late reply. I was looking through the documentation, but i could not understand how to generate the field value (for the ground truth) or if it is generated during the process of training, where it is stored. Any insights on that will be useful.

[2019-08-13 15:33] sriki18 commented on #481
Okay, thanks for the clarification! I will work on a draft and send you something in a few days.

[2019-08-13 15:46] vsvanshi opened #490 "Data Augmentation in Image Classification"
Hi,
How can we enable Data augmentation in Image classification?

[2019-08-13 19:08] BeWe11 opened #491 "Option to not save any files to disk"
I am building a small server around ludwig that receives model definitions + data and stores the resulting model for future predictions. I have turned on all `skip_save` parameters in the `train` method, but some files are still saved to disk.

In particular, the `results` directory is always created as well as some `.npy` files.

Is there any way to configure ludwig to not save anything to disk a

[2019-08-13 19:36] BeWe11 opened #492 "`skip_save_unprocessed_output` is not available for `LudwigModel.predict`"
**Describe the bug**
The `skip_save_unprocessed_output` flag is not available as a keyword argument when using the python API.

**To Reproduce**
Simply create a ludwig model in python and add `skip_save_unprocessed_output=True` to the keyword arguments of `model.predict`

**Expected behavior**
I'd expect feature parity between the CLI predict script and the python API. Right now it's not possible

[2019-08-13 21:02] #488 closed

[2019-08-13 21:04] w4nderlust commented on #453
Yes that's likely, it looks like they are replacing some TF functions with Keras counterparts, and LSTMs are one of those judging by thewarnings.

[2019-08-13 21:07] w4nderlust commented on #478
The field is just the name of the column you are predicting.

[2019-08-13 21:08] w4nderlust commented on #490
There is no data augmentation feature at the moment.
We definitely want to add it in the future.
Contributions are welcome.

[2019-08-13 21:13] w4nderlust commented on #491
Let me try to understand exactly the problem: the directory is created when running `LudwigModel.predict()`? Even when everything is skipped?
In that case, we'll certainly need to fix this.

[2019-08-14 06:58] carlogrisetti commented on #453
Just to be clear, I don't think it's a "they" but "you". I was initially able to reproduce the issue with TF 1.13.1 and Ludwig-0.2.0\master so it shouldn't be a TF-related issue, but something that changed in how ludwig manages models (and my hunch was on how it built the models which have a sequence encoder \ tagger in the definition)

On my side, since it seems to be only impacting "minor" model

[2019-08-14 09:01] BeWe11 commented on #491
Thanks for your response, I'll try to clarify what's happening:

The `LudwigModel.train` method accepts four parameters that allow to skip saving of files. These are
[code]
I've set all of these to `True`, but the `results` directory is still being created. The parameter that sets the name of this directory is `output_directory`. I've tried setting this parameter to an empty string or to `None`, b

[2019-08-14 13:05] danielduckworth commented on #462
I've discussed this with @the-learner and I think what makes the most sense is to stay in keeping with the way ludwig already works. So that means storing separate HDF5 and JSON files for each split.

The results of each k-fold would also be saved separately so they can be reported for each fold and the mean calculated and reported.

I think the final step would then be to train using all the data

[2019-08-14 14:57] rthiruv-lab58 commented on #478
@w4nderlust thank you for the response. I understand what the field is now.
When i was trying to visualize with the field argument, the following was printed:
[2 6 1 4 5 3 7 8 0]
A list with 9 elements. I saw the sample image in the documentation having 10(0-9) elements  So when i ran the visualization for compare_classifiers_predictions_distribution,
The list index out of error arises which makes

[2019-08-14 17:47] BeWe11 opened #493 "Example for BERT encoder uses wrong type and crashes"
The documentation for the BERT encoder gives this example of how to set up an encoder using BERT:
[code]

However, by setting `type: sequence`, training crashes because sequence encoders do not pass the `vocab_file` parameter when creating a vocabulary:
https://github.com/uber/ludwig/blob/71ca2189bcee7a2667c428aeb1bf738697cbe83d/ludwig/features/sequence_feature.py#L76-L80

Compare this to the crea

[2019-08-14 19:04] w4nderlust commented on #462
This makes sense. A few more considerations:
- in case the k fold is specified I would train just k models and not a final model on all the splits, as that can always be done anyway by calling ludwig again without the split parameter
- when ludwig creates the HDF5 and JSON files, they are placed in the same directory of the original data with the same name, so in order to make the k fold work, you

[2019-08-14 19:06] w4nderlust commented on #493
Will look into it. The fact that the sequence feature doesn't pass the vocabulary file is a regression most likely.

[2019-08-14 19:13] w4nderlust commented on #478
Can you please provide a minimal reproducible example?
The predictions from the model have one more class that the ones in the ground truth because of the UNK, but that shouldn't be a problem.
As a reference i would suggest you to look at the test `test_visualisation_cmp_classifiers_predictions_distribution_output_saved` in `tests/integration_tests/test-visualization.py`

[2019-08-14 20:52] w4nderlust commented on #314
This can turn in a feature request, but it is not a common pattern in machine learning, you usually specify either the number of epochs or the number of steps.

[2019-08-14 21:28] w4nderlust commented on #449
@abhiTronix thanks! Will consider it when we will get to it for sure!

[2019-08-14 23:02] manugarri commented on #314
@w4nderlust definitely. But in AutoML, it is the most common way to regulate how to train.

[2019-08-15 16:23] w4nderlust commented on #314
@manugarri can you provide some authoritative links about it? I'm considering it and want to be sure :)

[2019-08-15 18:05] sriki18 commented on #481
Updates: I started playing around with the Titanic dataset for illustrative purposes. I have `learning_cruves`, `confusion_matrix` and `compare_performance` working.

I am unable to get `compare_classifiers_performance_from_prob` working. I am trying the following:

[code]

I get the following error:

[code]

When I feed in the probability csv files with

[code]
I get

[code]

Am I feeding in the

[2019-08-15 23:02] manugarri commented on #314
Sure!
- [autosklearn `time_left_for_this_task` example from the repo](https://github.com/automl/auto-sklearn/blob/master/examples/example_random_search.py#L74)
- [H2O `max_runtime_secs` docs ](http://docs.h2o.ai/h2o/latest-stable/h2o-docs/data-science/algo-params/max_runtime_secs.html)
- [TPOT `max_time_mins` in the repo](https://github.com/EpistasisLab/tpot/blob/master/tpot/base.py#L113)
- [AutoK

[2019-08-15 23:36] w4nderlust commented on #314
Thank you so much. Will reopen this issue and trsnform it into a feature request.

[2019-08-16 09:33] BeWe11 opened #494 "Conditional Random Field (CRF) Sequence Decoder"
The current example for Name Entity Extraction is given as the following model definition:
[code]
This works ok, but if Ludwig had a CRF-Decoding layer, one could build state-of-the-art Bi-LSTM+CRF models (like https://arxiv.org/pdf/1508.01991.pdf) in a single simple Ludwig model definition. Any chance CRF decoding is coming to Ludwig any time soon?

[2019-08-16 18:46] w4nderlust commented on #494
The difference between using a CRF and not using it are pretty small and the computational cost added (quadratic in the size of the labels) is not always worth it.
That said, adding a CRF decoder would be definitely useful as an option and pretty straightforward.
An example of how to do it using the the CRF package from `tf.contrib` is here:
https://github.com/guillaumegenthial/tf_ner/blob/master/

[2019-08-18 20:26] ydudin3 commented on #493
Is this on master or when using the package?
I don't see any issues with using the following config:

python -m ludwig.experiment --data_csv test_dataset.csv --model_definition "{input_features: [{name: sequence_1, type: sequence, encoder: bert, config_path: /Users/dudin/Downloads/uncased_L-12_H-768_A-12/bert_config.json, checkpoint_path: /Users/dudin/Downloads/uncased_L-12_H-768_A-12/bert_model.c

[2019-08-19 03:07] FankLi opened #495 "Error 404"
User Guide Link is 404??

[2019-08-19 04:47] flozi00 commented on #495
Which did you try ?

https://uber.github.io/ludwig/getting_started/

https://github.com/uber/ludwig/blob/master/mkdocs/docs/user_guide.md

[2019-08-19 06:54] FankLi commented on #495
It is good!!!

[2019-08-19 13:44] BeWe11 commented on #493
I've used the pip package @ydudin3

[2019-08-19 16:41] ydudin3 commented on #493
Would you mind giving it a shot using current master, I believe it should work?

[2019-08-19 18:11] #495 closed

[2019-08-19 21:45] msaisumanth commented on #491
@w4nderlust this is why results is always being created:
https://github.com/uber/ludwig/blob/48acbf6cb63a859d06eb39b2f7ec27577394251d/ludwig/train.py#L525

We could probably delete all the intermediate data at the end of full_train (if the skip variables were True)

[2019-08-20 00:39] w4nderlust commented on #491
Avooiding creating the dir to begin with is probably a better idea. We can
either remove the dir creation from within the function and check if at
least one skip is false and create the dir outside or pass a boolean
“should_create_dir” to this function.

On Mon, 19 Aug 2019 at 15:03, Sai Sumanth Miryala <notifications@github.com>
wrote:

--
----
Piero Molino
Sr Research Scientist
UBER AI Labs

[2019-08-20 02:31] bobo04020802 opened #498 "About Image Processing question"
i want process image， Does image processing require tagging?
Thank you very much.

like this

[https://pic2.zhimg.com/80/v2-fe55b7b84b598e924b6dffd374f42cdd_hd.jpg](url)

[2019-08-20 03:34] rhlr opened #499 "How can I train Image Classification on custom cnn layers ?"
I have a model with my own custom layers. How can I use `ludwig` to train image classification using those layers ?

[2019-08-20 05:22] sriki18 commented on #481
@w4nderlust I got a hang of the plotting. I was testing it out with the Titanic dataset, but it has only 2 classes. I think explanation would be better with a multi-class dataset. Do you have a dataset in mind?

- Current plots in the User guide use an airline dataset, but I am not familiar with it
- Current multi-class in the Examples section of the documentation is an image classification proble

[2019-08-20 06:46] carlogrisetti commented on #499
You can recreate your model definition in the yaml passed to ludwig, as long as it's based on a convolutional stack encoder or a resnet template. There are default values but you can customize the shape of the network by specifying layers \ filter size \ etc.
Refer to https://uber.github.io/ludwig/user_guide/#image-input-features-and-encoders
If you have your own model "structure" you'd like to im

[2019-08-20 06:52] carlogrisetti commented on #498
Any ML requires tagging basically, so if you want to simply do an image classification identifying that that's a picture of a dog you just need to feed many images of dogs, tagged with some sort of "dog" keyword.
If you want to be object detection (ie: tracing a bounding box identifying not only that that's a picture of a dog, but exactly where the dog is in the picture) that gets more complicated

[2019-08-20 09:52] rhlr commented on #499
So, let's suppose for example, this is my model:

    model = Sequential()
    model.add(Conv2D(32, kernel_size=(3, 3),
                activation='relu',
                input_shape=(28,28,1)))
    model.add(Conv2D(64, (3, 3), activation='relu'))
    model.add(MaxPooling2D(pool_size=(2, 2)))
    model.add(Dropout(0.25))
    model.add(Flatten())
    model.add(Dense(128, activation='relu'))
    mod

[2019-08-20 10:25] carlogrisetti commented on #499
One thing you cannot do, for example, is to set different dropout rates for different layers. You can only set a "global" rate, and then decide to which feature you want to apply that
convolutional size, number of filters, kernel size, activation functions and everything else can be more or less be done.
There won't be all options, that's why I was saying that this could be done depending on how d

[2019-08-20 11:25] lordeddard commented on #494
@w4nderlust @BeWe11 I can help in adding the CRF functionality to the decoder layer.

[2019-08-20 16:37] msaisumanth commented on #499
@rhlr the only issue here would be the different dropout rates as @carlogrisetti mentioned.

The rest of it can be specified in the yaml. Look at this example: https://uber.github.io/ludwig/examples/#image-classification-mnist

it uses 2 convolutional layers.  You can also specify height, width etc. like below

[code]

[2019-08-20 17:18] msaisumanth commented on #483
@danielduckworth Could you please provide the model definition? Also, could you please clarify if these two were completely separate experiments or not? To be precise, is the second experiment resuming from the first model (saved to disk) or sth like that?

[2019-08-21 04:55] bobo04020802 commented on #498
ok，thank you ，now i go study~~

[2019-08-21 04:55] #498 closed

[2019-08-21 09:11] lin4you opened #500 "Visualization (visualize.learning_curves) raises ValueError"
**Describe the bug**
If I'm trying to use the visualize.learning_curves function I'm always getting the ValueError: x and y must have same first dimension, but have shapes (20,) and (0,). This is also true if the ludwig cli is used as shown in the notebook in the last code block (I know, that it wont output plots, but it gives the same error).

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-08-21 10:42] danielduckworth commented on #483
Sorry for the delayed response. I will test with some generated data and see if I can produce a re-producible error and then submit the data and model definition.

[2019-08-22 06:49] harshitazilen commented on #473
@w4nderlust , I tried installing python3.6-dev in my machine. Still facing the same issue.

[2019-08-22 17:38] msaisumanth commented on #473
@harshitazilen Do you plan to use the model serving functionality? If not, remove fastapi from the requirements and install from master. I think that would solve the problem.

[2019-08-23 02:05] w4nderlust commented on #499
The different dropout rate is coming in the future.
Moreover, if you need to implement your own encoder in a really custom way, you can follow the instructions in the developers guide to add your own. It's really easy, as long as you get a tensor in and provide a tensor out, you can define whatever model you want, also using tf.keras layers.

[2019-08-23 02:24] #500 closed

[2019-08-23 02:26] w4nderlust commented on #500
I pushed a commit that fixes the issue. Can you please install Ludwig prom master `pip install git+http://github.com/uber/ludwig.git` and confirm the problem is fixed?

[2019-08-23 06:25] QiuSYang opened #501 "How to training object detection tasks"
if i need training a faster-rcnn model, How can I design my CSV file and yaml file?

[2019-08-23 06:55] lin4you commented on #500
I just tested the fix and I'm sorry to say, that I'm still getting this error. Even if I'm installing it via (pip install git+http://github.com/uber/ludwig.git). So the error still occurs in the notebook that I linked in the issue.
Hopefully I'm doing something wrong here.
Nevertheless, I am pleased that the issue has been dealt with so quickly.

[2019-08-23 07:25] flozi00 commented on #501
At the moment it is not possible to train object detection using ludwig.
You could add this feature yourself.
If single box detection is okay you could use 4 numerical fields with coordinates of bounding box.

[2019-08-23 07:50] w4nderlust commented on #500
Can you pleasepast hereyou train_statistics.json file please?

On Thu, 22 Aug 2019 at 23:55, lin4you <notifications@github.com> wrote:

--
----
Piero Molino
Sr Research Scientist
UBER AI Labs

[2019-08-23 14:02] Guufii commented on #329
Dear @w4nderlust and @ifokeev, I am trying to convert the saved model of MNIST to [onnx](https://github.com/onnx/onnx) format. I have tried the new implementation and it still is not working properly. On problem seems to be the way how the session is used. The current implementation:

        session = self.initialize_session()
        builder = saved_model_builder.SavedModelBuilder(save_path)

[2019-08-24 08:17] lin4you commented on #500
That's the training_statistics.json that I'm getting from the notebook mnist example that I added to this issue:

[code]

[2019-08-24 08:44] nicolas-gervais commented on #46
What solved the problem for me was to restart my kernel, import the following _first_:

`import matplotlib
matplotlib.use('TKAgg')`

_Then_,

`import matplotlib.pyplot as plt`

[2019-08-24 14:45] Kantshun opened #503 "problems about yaml file"
I just know python language, I have no idea about how to edit .yaml files.
Is there any material about yaml for beginner?
Furthermore, I'm working on some gene data analysis project, there are thousands of input features and output features. According to user guide, I have to type these features word by word by hand which is really a torture to me. Is there any way I can configure yaml files more

[2019-08-24 15:12] flozi00 commented on #503
You could write a python script what takes to first line of csv file and builds the yaml file from this.
Automating ludwig for such task would be really great.
Just have a look to the examples page of ludwig in docs for understanding yaml file building.

[2019-08-25 02:37] w4nderlust commented on #500
Added a further fix commit and tested with your specific output confirming it works.

[2019-08-25 02:48] w4nderlust commented on #501
This kind of task is not currently supported.
There is a WIP PR about single bounding box, you may want to use that as a temporary workaround if you have a single object to detect.
Otherwise, adding an output feature for object detection wouldn't be that complicated, you may consider contributing it.

[2019-08-25 02:54] w4nderlust commented on #503
You dan create your model configuration programmatically in python by creating a disctionary and save it with `yaml.dump(my_dict, file)`.
Other users have requested a similar feature, the problem is that it doesn't seem like there's a unified convention about naming feature columns, so it's probably much more efficient writing 4 lines of ad hoc python every time than a single process that encompas

[2019-08-25 02:54] #503 closed

[2019-08-25 16:40] sliecer commented on #500
I can confirm that it's working now. Thanks very much 👍

[2019-08-26 00:42] #481 closed

[2019-08-26 00:43] w4nderlust commented on #481
As I had to do some other changes, I took your example commands and pasted into another commit I was doing. Anyway, thank you for your PR!

[2019-08-26 01:01] #492 closed

[2019-08-26 01:02] #480 closed

[2019-08-26 04:03] #493 closed

[2019-08-26 04:04] w4nderlust commented on #493
@BeWe11 I pushed a commit that should have solved the issue, can you please confirm?

[2019-08-26 04:34] #472 closed

[2019-08-26 04:37] #453 closed

[2019-08-26 18:21] sbrfarhadi opened #504 "error ludwig after install tensorflow-gpu"
I installed ludwig in a virtualenv with last github master code and start successfuly train with CPU.
I have decided to install the GPU with the following command

pip uninstall tensorflow
pip install tensorflow-gpu

install completed But after run ludwig show the following error

(venv) D:\Project\*****\virtualenv\ludwig-master-gpu>ludwig

Traceback (most recent call last):
  File "D:\Project\***

[2019-08-27 08:47] sbrfarhadi commented on #504
1.14.0

![image](https://user-images.githubusercontent.com/24922779/63756035-ef965080-c8cc-11e9-8916-cf6ff56b506d.png)

[2019-08-27 18:07] sbrfarhadi commented on #504
thanks
i removed env and installed it again of github last source and change requirements.txt replace tensorflow with tensorflow-gpu

[2019-08-27 18:07] #504 closed

[2019-08-28 08:42] tboo opened #507 "Forcing distributed Evaluation"
Hi there -

I occasionally still run into this [issue](https://github.com/horovod/horovod/issues/403) which seems to be Horovod related and specific to GPU distributed training:

[code]

I am observing that stall especially with (very) small batch sizes. The stall occurs during evaluation of the training set. Horovod/Ludwig seems to wait for evaluation results from all GPUs previously used for tra

[2019-08-28 21:19] w4nderlust commented on #490
@manesioz the example you provide is useful. The problem with it is that it looks like it assumes that the inputs to your model are only images and that the outputs to your model are only categories judging from this snippet: https://github.com/tensorflow/tensorflow/blob/r1.14/tensorflow/python/keras/preprocessing/image.py#L376-L403
In Ludwig that's not the case, so if someone wants to add the sam

[2019-08-29 13:15] manesioz commented on #490
@w4nderlust thanks for the advice, I agree that this feature should be generally available for different inputs/outputs. However, considering how most data augmentation techniques are highly domain-specific (image, text, timeseries, etc), I was wondering if we should initially approach this feature as being configurable depending on the input data type (text, image, numerical, timeseries, etc)?

S

[2019-08-30 18:23] w4nderlust commented on #490
@manesioz  sorry I did not mean that the data augmentation should work for all feature types, what I meant is that the example works with only one feature input, in Ludwig there could be several, so for instance if you apply 4 transformations to your image input feature, all the other input features have to be replicated 4 more times, which the example does not consider.

[2019-08-30 19:37] w4nderlust commented on #507
@alsrgv Have you ever encountered this? Any suggestion on what could be the cause?

[2019-09-02 13:40] tboo opened #509 "in_memory: false does not work with images"
**Describe the bug**
the preprocesing setting `in_memory: false` for images as input features does not seem to work. The hdf5 file is still loaded into the RAM during training.

**To Reproduce**
a .yaml file like this one:

[code]

Same is true when I use preprocessing as a separate section at the end of the .yaml file.

[2019-09-02 15:23] Kantshun opened #510 "can't install ludwig due to fastapi"
I encounter error below while installing ludwig through terminal.
error: pydantic 0.30 is installed but pydantic<=0.32.2,>=0.32.2 is required by {'fastapi'}

can I use pydantic 0.32 instead of 0.30?

os: win10 64x86
cpu: i7

[2019-09-02 16:07] simonefrancia commented on #510
same to me!
os: macOS
cpu: i7

[2019-09-03 02:06] w4nderlust commented on #510
Can't really understand the error, it looks like <=0.32.2 should batch with 0.30.
Try to install fastapi==0.33.0 beforehand, in my venv it works with that and pydantic 0.30.

[2019-09-03 02:09] w4nderlust commented on #509
@tboo can you provide more details please? Otherwise it would be difficult for us to reproduce and solve.
@ydudin3 can you look into this?

[2019-09-03 06:54] tboo commented on #509
Sure. I am trying to train an image classifier, eventually on multiple GPUs on one machine. My hdf5 file is rather large (>60GB). From what I understand, for each GPU used, a copy of the HDF5 file gets loaded into the system RAM. In my case, 4 GPUs would require >240GB RAM (plus some overhead during the initialization process), which I have not available.
I thought the `in_memory: false` option in

[2019-09-03 08:18] simonefrancia commented on #510
This resolved problem for `pydantic` but an other error occurred.
`error: setuptools 39.0.1 is installed but setuptools>=41.0.0 is required by {'tensorboard'}`
but I installed `setuptools>=41.0.0` before installing ludwig.

[2019-09-03 08:26] simonefrancia commented on #510
Ok, this command `python3.6 -m pip install setuptools>=41.0.0 fastapi==0.33.0 tensorboard` before installing ludwig, worked for me.

[2019-09-03 09:40] BeWe11 commented on #493
@w4nderlust Sorry for the delay, I can confirm that the issue has been resolved.

[2019-09-03 13:28] Kantshun commented on #510
fastapi require pydantic 0.32.2, but in ludwig's setup.py file, it said "pydantic==0.30".
I simply modify the setup.py manually, change  "pydantic==0.30" to "pydantic==0.32.2", then I can install ludwig through terminal successfully. hopefully there wouldn't has any error occur in my later usage.

[2019-09-03 16:32] Kantshun opened #511 "can I run ludwig in python?"
I'm very surprise to find that I can only run ludwig scripts in my system terminal instead of python console.
is there any way I can run ludwig in python? python is the only programming language I can use.

[2019-09-03 17:40] msaisumanth commented on #511
It's written in Python. You can use the LudwigAPI (https://uber.github.io/ludwig/getting_started/#programmatic-api)

[2019-09-03 17:40] #511 closed

[2019-09-03 19:52] w4nderlust commented on #510
I will try to remove the ==0.30.0 requirement, it was there because that version was required by another dependency.

[2019-09-03 20:08] ajaypr55 commented on #510
change requirement.txt,
change version to  pydantic==0.32.2
and change version  setup.py file too,
'pydantic==0.32.2',

then works fine.

[2019-09-04 10:05] QiuSYang commented on #501
I have seen the example of single target detection, but I don't understand why single object also needs compute IOU. As far as I know, the IOU is used to judge whether the anchor frame is an object.

[2019-09-04 10:06] QiuSYang commented on #501
I have seen the example of single object detection, but I don't understand why single object also needs compute IOU. As far as I know, the IOU is used to judge whether the anchor frame is an object.

[2019-09-04 15:14] Kantshun opened #513 "is there any way I can train my model faster?"
It seems that ludwig can't use my computer resource effectively while training a model. Is there any way I can use so that ludwig can occupy more cpu and gpu resource? It's using less than one half of compute capability of my computer right now.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain you

[2019-09-04 17:52] w4nderlust commented on #501
Please leave this open. It's a reminder of a feature request.

[2019-09-04 18:05] #510 closed

[2019-09-04 18:06] w4nderlust commented on #510
Fixed the issue, installing from master with `pip install git+http://github.com/uber/ludwig.git` will not require `pydantic==0.30.0 `anymore.

[2019-09-04 18:07] w4nderlust commented on #513
Increase your batch size

[2019-09-05 05:45] QiuSYang commented on #501
@w4nderlust hello，If I'm doing a multi-object detection task, can I just add an output feature to solve the problem? How should I set up the RPN network and ROI pooling layer? Do I need to add new encoder and decoder modules?

[2019-09-05 17:07] w4nderlust commented on #501
@QiuSYang thank you for your interest in working on this!
So the first step for this I believe would be to create a new type of feature, something like BoundingBoxSet or Bounding Boxes. There is an open PR for a single bounding box, you can take inspiration from that i believe: https://github.com/uber/ludwig/pull/344
Once that is tested to work, What I would do is to take a model, like Faster-RCNN

[2019-09-06 04:50] w4nderlust commented on #509
Thanks @tboo for the additional details. Will definitely look into it in more detail.
In the mean time maybe this could help you: at the moment the logic (admittedly not perfectly documented) in features with `in_memory` option (images and audio) is that raw data is preprocessed one image at a time and added to a HDF5 file `features/image_feature.py:L248-L272`, then the data is read, batch by batc

[2019-09-06 11:54] tboo commented on #509
This is exactly what I have been doing. To me it looks like that not all workers stream from a single HDF5 but instead each load their 'own' version of the HDF5 into the RAM.
What puzzled me is, that in the documentation for audio it says that only `in_memory: true` is supported. No such statement is there for images. Is this on purpose? Just wondering if `in_memory: false` is a feature yet.

[2019-09-06 12:42] aminaBm commented on #420
I a beginner just I want to get a score value that varies between 0 and 1 based on the content feature I changed the code as you see next and I still give me values upper to 1 for some sentences I didn't get the reason
`input_features:
    -
        name: content
        type: sequence
output_features:
    -
        name: score
        type: numerical
        num_fc_layers: 2
        fc_size: 64`

[2019-09-10 06:46] QiuSYang commented on #501
That would be great. Thank you very much

[2019-09-10 20:49] doedelsnj opened #515 "Uber Ludwig not training my model."
I did everything like it was shown in the video: https://www.youtube.com/watch?v=uSOsos2eKHI. But as soon as i'll try to train the model and run the command "ludwig train -md model_definition.yaml --data_csv Tweets.csv " it says AssertionError: Model definition does not define any input features and doesn't train my model. Even though i have defined the input features.

Thanks for the help.

[Arch

[2019-09-10 23:19] msaisumanth commented on #515
@doedelsnj  Two things:
1. the input_feature name needs to match the column name in the csv. same for output features. change the input feature name to 'text' and output to 'airline_sentiment'
2. you're using the wrong command line argument for model_definition. Since you're providing model definition in a file, you should use '-mdf' instead of '-md'.

I verified model training works with these ch

[2019-09-10 23:19] #515 closed

[2019-09-15 09:05] Kantshun opened #516 "is there any examples about visualization of model?"
could you please provide some examples about visualization through API? after the model is trained and tested,  there are lots of files are saved, I have no idea of which file i shall use when visualising.
![image](https://user-images.githubusercontent.com/31396222/64919229-c5082b00-d7da-11e9-8163-639fb2b83747.png)
![image](https://user-images.githubusercontent.com/31396222/64919236-d6513780-d7da-

[2019-09-16 14:23] Chee-Foong commented on #473
try

`pip install ludwig==0.1.2`

[2019-09-16 15:49] doedelsnj opened #517 "AttributeError"
When i train my model model (with ludwig train -mdf model_definition.yaml --data_csv ./rsna-bone-age/boneage-test-dataset.csv ) ludwig loads my model definition but after finishing it i get "AttributeError: 'NoneType' object has no attribute 'items' ".
Model Definition data and terminal log are attached.

-Ludwig 0.21
-MacOS 10.14.5
-also tried on google colab

[Archiv.zip](https://github.com/uber

[2019-09-16 21:45] msaisumanth commented on #517
modify your model definition like below:

[code]

This should fix the error. In your original model definition, the preprocessing section would be None because it doesn't follow the nested structure required for yaml files.

Let us know if that solved the issue.

[2019-09-17 10:59] Kantshun opened #518 "my ludwig may be not working properly"
when I start to train my ludwig model, lots of red words pop up. is there anything wrong with my ludwig?
system:win10 64
cup:i7
gpu:nvidis geforce 1060
![image](https://user-images.githubusercontent.com/31396222/65036050-1fd98800-d97d-11e9-829e-08ebb9c265b1.png)

[2019-09-17 15:42] doedelsnj commented on #517
Thank you very much it worked.

[2019-09-17 15:42] #517 closed

[2019-09-17 18:30] msaisumanth commented on #518
They're just deprecation warnings.

[2019-09-17 18:30] #518 closed

[2019-09-19 05:37] yu-iskw opened #519 "Support TFRecord format"
**Is your feature request related to a problem? Please describe.**
CSV and HDF5 is not good to deal with  a large data like millions of images. Technically, we can store a large number of images in machine(s). However, it is not good when we want to do experiments with different parameters in parallel.

With modern tensorflow, it would be great to load data with TFRecord especially google cloud st

[2019-09-19 16:39] w4nderlust commented on #519
We are going in a different direction, using Petastorm instead, that is a more generic solution than TFRecords.

[2019-09-19 16:45] w4nderlust commented on #516
The visualization API provides functions with parameters whose names are pretty recognizable. For instance `learning_curves` needs the training statistics file and you cna see you have a file `training_statistics.json` and likewise for predictions, probabilities and so on.
In the [visualization section](https://uber.github.io/ludwig/user_guide/#visualizations) of the user guide you can find exampl

[2019-09-19 16:49] w4nderlust commented on #509
@tboo the feature is there and used to work for image features. We figured out this is a regression and we are actively working on solving it. Unfortunately is slightly more complicated to solve than anticipated, but will post here as soon as we have a solution. Thank you for your patience.

[2019-09-19 20:08] yu-iskw commented on #519
@w4nderlust That sounds interesting. I didn't know petastorm. It would be better than TFRecord, since it supports pytorch as well.

Does petastorm support google cloud storage rather than HDFS?

[2019-09-20 07:58] tboo commented on #509
Thanks so much for looking into this! Happy to wait :)

[2019-09-20 08:04] SSicaaJL opened #520 "Troubles with visualisation"
Hello, I am having troubles with visualising using the few commands of code here, I am hoping you could advise me.

**This is the training and testing codes:**
![rain troubleshoot1](https://user-images.githubusercontent.com/43140909/65309715-396a1200-dbbf-11e9-9227-3aa1701f40e7.JPG)
**This is the one for learning curves which I have no problems in generating**
![rain troubleshoot2](https://user-im

[2019-09-20 08:54] fabikm opened #521 "Multiple errors - numpy, after a successful installing Ludwig"
Please, can someone help? :)

Bug:
root@DESKTOP-IV7IIN5:~# ludwig train --model_definition_file model_definition.yaml --data_csv Tweets.csv
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
_np_qint8 = np.d

[2019-09-20 17:52] msaisumanth commented on #521
Can you take a look at this: https://github.com/bastibe/SoundFile/issues/118

Ideally you don't need all this unless you're using audio features in your model. Let me know if you're not able to fix it and I'll try to think of another work around.

[2019-09-21 16:25] Kantshun commented on #516
thank you

[2019-09-21 16:25] #516 closed

[2019-09-23 07:19] fabikm commented on #521
Thank you, so much! :) It works, the error has been fixed with:

install this
sudo apt-get install libsndfile1

[2019-09-23 20:25] #521 closed

[2019-09-24 03:51] Kantshun opened #522 "GAN and AutoEncoder"
Is there anyway I can implement GAN and AutoEncoder with ludwig? could anyone provide some examples? I have no idea how I can access the outputs of middle layers nor fixed the weights of some layers while training the model. It seems that ludwig is not friendly to neither GAN nor AutoEncoder, which are quite important in some applications.

[2019-09-24 12:14] BeWe11 opened #524 "Use keras callbacks for early stopping etc."
I've recently encountered the problem that I would have needed some kind of tolerance value for the early stopping logic, i.e. a minimum improvement value for an improvement to be considered by the early stopping check.

Keras provides an [early stopping callback](https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras/callbacks/EarlyStopping) that has several useful parameters (like the

[2019-09-24 17:42] BeWe11 opened #525 "Horovod training permission error because of hardcoded "/" path"
When training using horovod, all processes that are not "on_worker" are being given a hardcoded `experiment_dir_name = "/"` in training, see https://github.com/uber/ludwig/blob/10aac398edb8655a527e3d650f1b5f263eb364eb/ludwig/train.py#L206. This leads to permissions errors when write permission for this directory are not given to the user.

[2019-09-24 18:45] ydudin3 commented on #509
@tboo - try this fix if you don't mind https://github.com/uber/ludwig/pull/523

[2019-09-25 09:01] Kantshun opened #526 "model output problem"
I trained a ludwig model to do some classification. my labels are strings such as 'cat','dog'. when I use my ludwig model to predict the label of my testing set, I found that Ludwig model output integers such as '0','1','2'instead of my string label. I suppose my model's output is the same type of the labels of my training data set, not number. I can't map my string label to ludwig model's integer

[2019-09-25 17:02] msaisumanth commented on #526
@Kantshun check out the train_set_metadata file in the model/ folder. For each output feature,
you'll see the idx2str, which is the mapping between the 0/1/2.. to their category names.

This is a simple change and we'll prioritize accordingly. Thanks for creating the issue.

[2019-09-25 17:08] msaisumanth commented on #520
@SSicaaJL we're going to work on improving the visualization documentation. In the meantime, follow this for confidence thresholding:

[code]

for confusion matrix:
[code]

sorry for the late response.

[2019-09-25 17:11] msaisumanth commented on #522
@Kantshun I don't think there are easy ways to do either GAN or autoencoder with Ludwig as things are right now.

[2019-09-25 22:53] #470 closed

[2019-09-27 12:06] w4nderlust commented on #522
@Kantshun for GANs at the moment there is no specific support, but regarding autoencoders, it depends on the type of data you want to autoencoder: any datatype that is supported for both input and output features. The only caveat is that currently Ludwig doesn't support multiple features to be defined with the same column name, so you would have to copy a column, change its name and then write a m

[2019-09-27 12:10] w4nderlust commented on #525
We definitely need to fix this, but the non-master workers should not write anything to disk this should not be a problem. If they are writing something, that's actually what we have to fix. Can you please provide the error you get so that we can identify where the workers are writing?

As a temporary workaround I suggest you to replace "/" with "." and you can set writing permissions to the curre

[2019-09-27 14:52] BeWe11 commented on #525
Hey @w4nderlust,

The actual path that the workers are attempting to use is `/model`. We temporarily fixed this by just creating this directory. The workers will not write anything into this directory, but they will attempt to create it nevertheless. If the directory already exists, no exception occurs.

I don't have access to a multi-GPU machine right now, but I think the error stems from this li

[2019-09-27 22:53] NimalDevelopment opened #527 "TypeError: 'Tensor' object is not callable"
Hello,
I have a big Problem I can't train my model due to the issue in the title.
The StackTrace I get is:

`Traceback (most recent call last):
  File "/usr/local/bin/ludwig", line 10, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.7/dist-packages/ludwig/cli.py", line 108, in main
    CLI()
  File "/usr/local/lib/python3.7/dist-packages/ludwig/cli.py", line 64, in __init__
    get

[2019-09-28 21:43] msaisumanth commented on #527
input features and output features need to be lists in the yaml. like this:

[code]

[2019-09-28 23:15] NimalDevelopment commented on #527
Yeah github made it looking that way. I have it the way you mentioned. Also tried it in python the same error occurs

[2019-09-29 12:03] NimalDevelopment commented on #527
[code]

that's how it currently looks

[2019-09-30 14:45] w4nderlust commented on #527
Can you please provide a compete reproducible example? Either by providing a sample of the data or by providing synthetic data (use ludwig's data.dataset_synthesizer)? It will make it easier to solve the problem.

[2019-09-30 14:47] w4nderlust commented on #526
Ludwig should provide the output as strings, if it does not do it it means there's a problem. Can you please provide a fully reproducible example? With model definition and data sample or sythetic data?

[2019-09-30 14:50] w4nderlust commented on #524
Ludwig does not use Keras as a backend, it has a custom way to deal with TensorFlow placeholders and nodes that makes it really difficult to use Keras.
Anyway, we'll try to add the additional functionalities provided by by the callbacks in the near future, thank you for the request.

[2019-09-30 15:37] NimalDevelopment commented on #527
https://hub.gke.mybinder.org/user/jupyterlab-jupyterlab-demo-twe0hacd/lab/tree/LudwigTest
Hopefully, that's helping

[2019-09-30 16:15] NimalDevelopment commented on #527
[code]
The csv data you'll find here : https://pastebin.com/iNnE4wtL

Sorry I don' know hot to use data.dataset_synthesizer

[2019-10-01 15:16] ifokeev commented on #329
Yeah, doesn't work. My example still works correct.

Getting:
[code]

[2019-10-03 23:28] w4nderlust commented on #420
You can either use the `clip` functionality to clip the scores.
Or are those scores actually probabilities? In that case maybe you may want to use a binary output feature.

[2019-10-04 20:53] w4nderlust commented on #483
@danielduckworth thank you. Will keep the issue open, let us know.

[2019-10-04 22:11] w4nderlust commented on #507
@tboo could you try to open an issue in the Horovod repo referring to this? I'm having trouble replicating this.

[2019-10-05 01:18] Kantshun commented on #522
@w4nderlust your method can train an autoencoder, but that's not enough. in my application, i need to use encoder and decoder separately, I have no idea how to split a ludwig model into two sub model that represent encoder and decoder.

[2019-10-05 02:43] w4nderlust commented on #522
@Kantshun I understand the need. For the encoder part, you can use the `collect activations` command for obtaining the latent representations, but at the moment there is no way to actually provide a latent representation for the decoder to perform the generation.
Given TensorFlow's fixed graph structure is currently a bit difficult to change Ludwig to accomodate your usecase, but once we move to T

[2019-10-06 02:33] w4nderlust commented on #527
@NimalDevelopment there are a few problems with your script, let me try to explain.

The first problem is the fact that for sequence nad timeseries features the defaultseparator is whitespace, so your code should be:
[code]
The second problem is that `evaluation` is a protected keyword that is used internaly in Ludwig. This made me realize I should probably change the way ideal with the name of in

[2019-10-06 02:33] w4nderlust commented on #527
Marking as enhancement to remind myself to change the way names of the input and output features are treated in `model.py`.

[2019-10-07 17:33] #509 closed

[2019-10-07 17:33] w4nderlust commented on #509
@tboo the issue should be solved. Let us know if you still have problems.

[2019-10-07 18:16] w4nderlust commented on #483
I tried to replicate the issue with a known dataset and wasn't able to see any difference in behaviour between training with csv and df. Actually, if you look at the code, the only difference between the two is that is you call with csv internally the csv is loaded ( https://github.com/uber/ludwig/blob/master/ludwig/data/preprocessing.py#L60 ) so without a reproducible example it is really difficu

[2019-10-07 18:16] #483 closed

[2019-10-07 19:32] #479 closed

[2019-10-07 19:32] w4nderlust commented on #479
Added a mode detailed description in the documentation source, it will be reflected in the website next time it is built and deployed.

[2019-10-07 20:07] danielduckworth commented on #483
No worries @w4nderlust. I'll keep an eye on it next time I'm working with Ludwig. The only thing I can think of is that the model definition used multiple text inputs and one numerical output. But yeah, master may have fixed it so I'll try that also.

[2019-10-08 00:02] w4nderlust commented on #473
In the new version in master there is a new way to specify dependencies: `pip install ludwig` will not install many additional packages, that are installable like `pip install ludwig[serve]`. This should solve your issues, as you can avoid installing the serve packages.
Closing it for now, let us know if you have further problems.

[2019-10-08 00:02] #473 closed

[2019-10-08 00:04] w4nderlust commented on #491
PR #530 should solve the issue. it adds two more skip parameters for training and two for testing. I know it's a bit clunky to have all these parameters, in the future we'll likely clean it up a bit to have something more elegant, but at least the functionality is there. Now if they are all false, the directory will not be created.

[2019-10-08 00:18] w4nderlust commented on #520
@SSicaaJL
The filed parameter is the name of the column / output feature you want to visualize. In your case it would be `field = "RainTomorrow"`.

For the learning curves:
I don't know how you obtained train_stats. If you got it from the API `model.train()` you can use it as it is, otherwise you just have to load the `training_statistics.json` file that was saved at the end of training. After you

[2019-10-08 01:00] #520 closed

[2019-10-08 01:28] #491 closed

[2019-10-08 21:26] w4nderlust commented on #465
An update: I tested training a model with those same embeddings and then loading it with `model_load_path` to train a new model on the same data and it works fine.
I guess that your problem stems from the fact that you are using a different dataset, with a different vocabulary size. When you specify pretrained embeddings, ludwig intersects the vocabulary in the embeddings file with the vocabulary

[2019-10-08 22:01] khayamgondal opened #532 "add_sequence_feature_column() takes too long to finish"
My dataframe have around 8M enteries and `ludwig.utils.data_utils.add_sequence_feature_column(df, 'Volume', 5)` takes forever to finish. Why is this method this slow?
If instead I do this (below) everything goes pretty fast
[code]

[2019-10-08 22:46] msaisumanth commented on #532
@khayamgondal Thanks for creating the issue.

The reason for this is:
<img width="743" alt="Screen Shot 2019-10-08 at 3 45 06 PM" src="https://user-images.githubusercontent.com/17418219/66438818-a1539180-e9e2-11e9-852f-81f746ffda53.png">

@w4nderlust assigning stuff to df.iloc[i,..] is really slow. Can we change this to something like:
df[column] = list

[2019-10-09 00:07] w4nderlust commented on #532
I think the author of this was @ydudin3 , maybe he has a motivation for it that I'm not aware of. Anyway, any function that computes the same thing that is faster is welcome as an improvement / PR.

[2019-10-09 01:57] ydudin3 commented on #532
@msaisumanth the reason for a for loop here is how we map timeseries to a ludwig-consumable training example, to set i-th row you need to grab a list of preceding N values. Do you see a straightforward way to vectorize this?

[2019-10-09 03:27] abc1110 commented on #465
Hi Piero,

Thanks a lot of the update. So if I've understood you correctly, given the current situation and model architecture if I get more training data it would be best to re-train the model from scratch with all the training data combined and not simply carry out an incremental training of the model.

Do let me know if my understanding is correct, although I do hope a solution comes for it as

[2019-10-09 18:07] msaisumanth commented on #532
@ydudin3 the loop is fine. It's the assignment to the pandas df that makes things slow.

If you can assign the entire column at once:

df[column] = x -> that would be best

[2019-10-09 22:13] w4nderlust commented on #532
So I run some tests:
[code]
This is the result of speed comaprison on my machine:
[code]
The bottom line is:
- the old implementation is really slow
- the new implementation is fast
- what makes the new implementation one order of magnitude slower than @khayamgondal proposal is the `' '.join` call, as removing it the speed is basically the same.
Given this I'll go on and replace the old implementa

[2019-10-09 22:17] #532 closed

[2019-10-09 22:36] w4nderlust commented on #465
@abc1110 yes, at the moment that's the best solution. The main reason is the difference in the vocabularies of the datasets, which means difference in size of the embedding matrix. I could actually make it so that the vocabulary keeps being the one of the first model, but then all new words that don't appear in the old datasets would be mapped to `<UNK>` which, depending on the amount of overlap o

[2019-10-09 22:53] w4nderlust commented on #465
Actually i thought of a possible solution, please let me know if it is a good enough workaround.
I can add an additional parameter `use_pretrained_embedding_vocab: false`. If set to false, the behavior is the current one. If set to true, instead of using the vocabulary of the training data, the vocabulary of the pre-trained embeddings will be used. This will make the model most likely much larger

[2019-10-10 22:17] w4nderlust commented on #465
@abc1110 I was trying to replicate your error to add the functionality i was writing about in the previous post, but couldn't actually replicate, even if I created ad hoc 2 datasets with a vocabulary of 3 with 2 overlapping characters 1 that is only in the first dataset and one that is only in the second dataset, which should be the issue you are facing. So it could be the case that the problem yo

[2019-10-11 00:05] #465 closed

[2019-10-11 00:13] w4nderlust commented on #465
I ended up implementing a  cleaner and simpler solution.
Now you can specify you glove file also as vocabulary, Ludwig will use only the first column as entry in the vocabulary. This way, when you specify a pre-trained glove file you can decide to use its entire vocabulary instead of the interaction between what's in the training data and what's in the glova vocabulary like it happens now.
In your

[2019-10-11 06:07] flozi00 opened #533 "Feature request: Autokeras / Automl"
Using an automl solution would make it even easier to train your own models without being an expert.
Furthermore, Ludwig would get new models / encoders on a regular basis by integrating the Autokeras API.
For example, new features like object recognition would be provided by the Autokeras team.

How hard would it be or is it even possible to integrate the Autokeras API?

https://autokeras.com/aut

[2019-10-11 06:13] DavidNSEO opened #534 "WARNING:tensorflow: when I run !ludwig experiment \"
**Describe the bug**

When I write - "!ludwig experiment \" I get error -
WARNING:tensorflow
The TensorFlow contrib module will not be included in TensorFlow 2.0.
ModuleNotFoundError: No module named 'soundfile'

**To Reproduce**
Steps to reproduce the behavior:
1.  I'm using Google Colab.
2. I have wrote -
"!pip install ludwig" (I have used the updated version)
and "!gsutil cp gs://dataset-upload

[2019-10-11 07:13] tboo commented on #509
This works now. Thanks so much for the fix. @w4nderlust

[2019-10-11 07:51] abc1110 commented on #465
@w4nderlust Thanks for the YAML code, I will try and implement it on my dataset and give an update if it works or not.

[2019-10-11 07:54] w4nderlust commented on #465
To test it out remember to uninstall ludwig first and then install from
master with pip install git+http://github.com/uber/ludwig.git

On Fri, 11 Oct 2019 at 00:51, abc1110 <notifications@github.com> wrote:

--
----
Piero Molino
Sr Research Scientist
UBER AI Labs

[2019-10-11 12:31] tboo commented on #534
`pip install soundfile` should solve it.

[2019-10-11 13:55] DavidNSEO commented on #534
I did - pip install soundfile
The result -
Requirement already satisfied: soundfile in /usr/local/lib/python3.6/dist-packages (0.10.2)
Requirement already satisfied: cffi>=1.0 in /usr/local/lib/python3.6/dist-packages (from soundfile) (1.12.3)
Requirement already satisfied: pycparser in /usr/local/lib/python3.6/dist-packages (from cffi>=1.0->soundfile) (2.19)

I have run again - !ludwig experiment

[2019-10-11 15:09] tboo commented on #534
You need to specify the data annotation csv file and you would need to define the model. many examples for that are listed [here](https://uber.github.io/ludwig/examples/)

[2019-10-11 17:14] w4nderlust commented on #509
You are welcome! Are you using it for the same project or a new one? Just curious?

[2019-10-11 17:19] w4nderlust commented on #533
@flozi00  we are already working on a hyperparameter optimization extension as we announced a few months ago.

Regarding Autokeras. The architecture of Ludwig is substantially different in particular in how it treats the outputs. Ludwig has a compositional way of defining models while autokeras has a monolithic way of doing that, so there won't be any integration.
What people can do is actually ad

[2019-10-11 17:22] w4nderlust commented on #534
I changed the way requirements is structured. You can see here how it works now: https://github.com/uber/ludwig/blob/master/README.md#installation

I still have to make it so that the packages in the extensions are imported conditionally and not automatically. That will be done today.

In the meantime people can just install the `[full]` extension.

[2019-10-11 17:28] w4nderlust commented on #534
Two things here:
1. ignore the TensorFlow warning. It's something they added for suggesting users how to migrate to TensorFlow 2.
2. If you look at the output of the command, it explains to you what is wrong, namely you did not specify a model definition. You also did not specify the data you want to train on. I suggest you to read the [Getting Started](https://uber.github.io/ludwig/getting_starte

[2019-10-11 17:41] flozi00 commented on #533
Thank you for the answer !

[2019-10-11 17:41] #533 closed

[2019-10-11 17:49] tboo commented on #509
A related project. I am trying to identify individuals from the same worm species based on their pigmentation pattern. Face recognition for worms so to speak.

[2019-10-11 18:58] yu-iskw opened #535 "CUDA_ERROR_OUT_OF_MEMORY: out of memory"
**Describe the bug**
I tried to build a multi-task model whose task are something like autoencoder and classification at work.

It seems that `allow_growth` is set to `True` appropriately. I am not sure why it happend.
https://github.com/uber/ludwig/blob/2b4d53a6180187d383b43742b3389213ddbc29d8/ludwig/utils/tf_utils.py#L43

**To Reproduce**
[code]

**Expected behavior**

**Error logs**
[code]

**E

[2019-10-11 20:14] w4nderlust commented on #509
That's really cool. I love to know about scientific uses of Ludwig!

[2019-10-11 20:21] w4nderlust commented on #535
When using attention, memory consumption increases quite a bit. Also, for generating text with a vocabulary of 50k, the last logit matrix would be batch_size x sequence_length x 50k, which is pretty huge.
I would suggest to decrease the batch size to an amount that make it fit in memory. I don't know what GPU you are using and what amount of ram you have, but you can keep halving it until it works

[2019-10-12 10:00] AlexeyGy commented on #534
To improve user experience with the CLI, I suggest hiding the TensorFlow warning level messages by default. Could add a ```--debug``` flag to still show them.

[2019-10-12 10:26] AlexeyGy opened #536 "Inform users of --help command, improve cli help"
When running the ```ludwig``` command, the following info is displayed:

<img width="1260" alt="Screenshot 2019-10-12 at 12 04 48" src="https://user-images.githubusercontent.com/13885630/66699593-93568700-ece8-11e9-933d-3aae1a9f04e2.png">

I suggest changing it to the same message that is displayed when running ```ludwig --help``` albeit with a few small tweaks orienting themselves at the help com

[2019-10-12 18:19] w4nderlust commented on #534
That warning is the only one left anyway.

On Sat, 12 Oct 2019 at 03:00, Alexey Györi <notifications@github.com> wrote:

--
----
Piero Molino
Sr Research Scientist
UBER AI Labs

[2019-10-12 18:57] w4nderlust commented on #536
I don't think `ludwig` and `ludwig -h` should have the same output. In the first case it is correct to show an error for the missing command, in the second case it is not. Will keep things as the they are.

[2019-10-12 18:57] #536 closed

[2019-10-12 19:23] AlexeyGy commented on #534
<img width="1664" alt="Screenshot 2019-10-12 at 21 20 19" src="https://user-images.githubusercontent.com/13885630/66706682-27027480-ed36-11e9-965d-f03f30cb80f9.png">
I am also seeing the ones for TensorBoard as per screenshot.

I would argue that it is disruptive esp. first time users. This then makes them open up new Github issues like this one.

[2019-10-12 19:24] AlexeyGy commented on #536
Would you support adding information about the -h command when just running ludwig? I for one was not aware that it existed.

[2019-10-12 23:08] w4nderlust commented on #534
I'm not going to address it. If you look around reading about tensorflow warning you'll soon figure out there is no unique, non hacky way or removing them, even by setting environment variables.
I will just wait for newer versions of tensorflow to solve their internal warning issues because in most cases removing them mean either removing all warnings and info, even useful ones, or writing specifi

[2019-10-13 05:57] w4nderlust commented on #246
This has been added in Ludwig v0.2, Closing.

[2019-10-13 05:57] #246 closed

[2019-10-14 07:50] tboo commented on #534
This is a great solution. Thanks :)

[2019-10-15 21:53] khayamgondal opened #539 "Ludwig with Keras seed model"
Is there any way where I can provide a basic Keras model as a seed to Ludwig and Ludwig tries to fine-tune it?
For example,  I provide a model [input layer --> A conv layer --> Dense layer] and Ludwig takes this as a starting point and try to fine-tune it.

[2019-10-16 00:14] w4nderlust commented on #539
@khayamgondal  unfortunately there's no way to do such a thing at the moment. f the model is simple and has not been trained on massive amoutns of data, meaning the training is not that expendive, then I would suggest to retrain the model.

[2019-10-16 00:14] #539 closed

[2019-10-18 16:51] niedakh opened #540 "Use case example for seq2seq does not work"
I have a csv with two columns: paragraph and text, and the following model definition based on the user guide:

[code]

Running:
[code]
causes this configuration fails with the following error:

[code]

[2019-10-19 11:55] jimthompson5802 opened #541 "docker build fails with error: No module named spacy"
**Describe the bug**
Docker build fails on command `python -m spacy download en ` with error
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ludwig root directory
2. run command: `docker build  -t ludwig .`

Please provide code, yaml definition file and a sample of data in order to entirely reproduce the issue.
Issues that are not reproducible will be ignored.

**Expected behavi

[2019-10-20 00:49] #540 closed

[2019-10-20 00:50] w4nderlust commented on #540
The commit should solve the problem, please install from master and confirm.
`pip uninstall ludwig && pip install git+http://github.com/uber/ludwig.git`

[2019-10-20 00:55] #541 closed

[2019-10-20 00:56] w4nderlust commented on #541
Thank you, merged your PR and also further improved the Docker image removing unused entries.

[2019-10-22 02:10] tboneai opened #543 "date feature question / michelangelo"
I am having an issue with the date that I cannot figure out and a general question. I am a driver, not a programmer, so please bear with me.   :)

My csv file passes the date as yyyymmdd hhmmss. I have tried the default, different yaml nesting,  and multiple combinations of '%Y%m%d %H%M%S' but I still cannot get it to work. Does the file need changed to include a / and : in the date field? Any hel

[2019-10-23 05:49] tboneai commented on #543
Added / & : to date string in the data file and included the preprocessing field and datetime_format in the yaml file. File now runs. Closing ticket since the second item was a discussion

[2019-10-23 05:49] #543 closed

[2019-10-24 03:04] w4nderlust commented on #543
Glad you solved the issue. Regarding the dicussion part, i don't quite get the question, could you try to rephrase please?

[2019-10-24 04:03] tboneai commented on #543
Hi Piero, thank you for replying. I may have figured it out while reading another timeseries ticket but here is what I would like to accomplish. 
I am using 1 min data in an attempt to predict 5 mins into the future. I would like to receive the 5 min prediction, then 2 mins later give Ludwig new data and receive a 3 minute prediction. Then compare the two results in order to see if it provides a m

[2019-10-25 01:30] w4nderlust commented on #543
I think all the tools you described can be used for the task. Which is more appropriate depends on the details. FOr instance Ludwig would be more appropriate most likely if you have additional information other than just the time series (like categories, or any other additional feature).

[2019-10-25 09:12] ifokeev commented on #329
@w4nderlust your code works correct, but only with session closing:
[code]

Without it you'll get `The Session graph is empty.`

Also i'm getting the same error with output placeholder (why?)

[code]

[2019-10-27 05:48] jimthompson5802 opened #547 "Incorrect formatting of visualization api calls in Ludwig documentation"
**Describe the bug**
Most visualization api parameters documentation are not correctly formatted.

**To Reproduce**
Example of incorrect formatting of documentation: https://uber.github.io/ludwig/api/visualization/#learning_curves
<img width="962" alt="api_doc_incorrect_format" src="https://user-images.githubusercontent.com/1425269/67630148-3c5cc000-f859-11e9-9d2e-8d4e2893dd0b.png">

**Expected be

[2019-10-27 09:26] shankarthebest opened #548 "Pre-Trained Machine Translation"
Hi ,

 Do you have pre-trained models to translate English to French. If yes, it would be of great help.
 Please let me know.

Thanks,
Shankar R

[2019-10-27 11:59] mzattera opened #550 "ImportError: cannot import name 'backend'"
When running Ludwig under Windows I get the below error:

[code]

I have installed Ludwig with

`pip install ludwig`

as instructed.

I am using WnPython under Windows 10 with CUDA 10.2.

Below find a list of installed packages:

[code]

[2019-10-27 19:55] w4nderlust commented on #547
Yes it looks fine, thanks for being willing to help on this. In order to generate the API pages we use a script  in the mkdocs directory. The instructions on how to generate the docs are in the readme in the mkdocs directory too. Please don't touch them, but just modify the docstrings in visualization.py. For a reference about the syntax to follow, look at the syntax of the docstrings in api.py as

[2019-10-27 19:57] w4nderlust commented on #548
Hi Shankar, at the moment we don't have a model zoo with pre-trained models. It would be a nice addition in the future. You may start it by contributing your translation model if you end up building one yourself.

[2019-10-27 20:03] w4nderlust commented on #550
Unfortunately i don't have a windows machine to replicate windows errors.
I would anyway suggest you to first make sure tensorflow works on your machine, as from you freeze it looks like you have multiple versions of tensorflow installed and by looking at the error it is likely a tensorflow related issue rather than a ludwig one (ludwig does not use keras anywhere). Finally, tensorflow does not su

[2019-10-27 20:32] jimthompson5802 commented on #547
@w4nderlust  I understand that I should only modify the docstrings in `ludwig/visualize.py` to correct the formatting errors.

Initially, I limited my work only in the docstrings.  After modifying the dcostrings, I ran `mkdocs/code_doc_autogen.py` per instructions in `mkdocs/README.md`.  However, this still did not correctly generate `mkdocs/docs/api/visualization.md`.

After reviewing `mkdocs/cod

[2019-10-27 23:19] jimthompson5802 opened #552 "docker build fails with missing git error"
**Describe the bug**
`docker build` fails with error message `4 0.537 /bin/sh: 1: git: not found`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `ludwig` root directory
2.` docker build -t ludwig_image`

**Expected behavior**
Successful build of docker image

**Screenshots**
This is the docker build log:
[code]

**Environment (please complete the following information):**
 - OS: MacO

[2019-10-28 00:49] #552 closed

[2019-10-28 03:37] jimthompson5802 opened #554 "pytest failure in audio inputs test case in Docker container"
**Describe the bug**
pytest `integration_tests/test_experiment.py::test_experiment_audio_inputs` fails when running in a Docker container.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Successful execution of the pytest test cases.

**Screenshots**
Relevant error message
[code]
Full pytest log file:
[pytest_failure_missing_sndfile_in_docker.txt](https://github.co

[2019-10-28 23:41] hhbyyh opened #557 "Is it possible to export the feature engineering pipeline and model as tensorflow code?"
I'd like to export the feature engineering steps and model as python code, so I can make further customization. It will be great if we can automatically generate the training and prediction code.
1. Is it possible with current code base?
2. Will it be considered in future development?

Thanks and great work!

[2019-10-29 18:55] w4nderlust commented on #554
I'm considering this, but I'm inclined to avoid including test packages in the docker image, as it is supposed to be something you use for deployment, not for development.

[2019-10-29 18:59] w4nderlust commented on #557
#hhbyyh ludwig is all written in python, so you have all the code you want and you can change whatever you want :) Maybe I'm not getting your question really,

[2019-10-29 19:32] hhbyyh commented on #557
Thanks for the response. @w4nderlust
Suppose I trained the model with:
`ludwig train --data_csv path/to/file.csv --model_definition "{input_features: [{name: doc_text, type: text}], output_features: [{name: class, type: category}]}"`

After the training I got the saved model and training logs. Yet I want to add some customized operation to feature engineering step or model, the best way in my mind

[2019-10-29 20:57] jimthompson5802 commented on #554
I understand.  The only reason, I put it in was that I noticed it was in the original requirements.txt file.

In my case, I use the docker containers for my "development work", so having pytest available helps when I want to do a regression test.

However, now that I know it is a conscious decision to leave pytest out, I can create my custom image that includes pytest using standard ludwig image a

[2019-10-29 21:03] jimthompson5802 commented on #554
Actually. I back off on just closing the PR.  I think it makes sense to include install of libsndfile1 to Docker file to support processing audio files.  I can back off the inclusion of pytest and only leave in libsndfile1 install.

Is this better?

[2019-11-01 05:10] Kantshun opened #558 "how can i know more detail about my ludwig model?"
after I have trained my ludwig model, how can i know about the structure of my model? for example, if ludwig use a deep neural network, i want to know whether CNN,LSTM,GRU,FCN(fully connected network) is used. sometimes, i want to know the hyperparameter of my model. which file should i look into?

[2019-11-01 13:05] manesioz commented on #558
Did you read any of the [documentation](https://uber.github.io/ludwig/)? All of that is specified in the `model_definition.yaml` file. For example:

[code]
This describes a text classifier which uses a [parallel CNN](https://uber.github.io/ludwig/user_guide/#parallel-cnn-encoder)

[2019-11-01 16:30] ifokeev commented on #329
fast note

after full day of research I found the solution: my previous function about collecting tensors was wrong and @w4nderlust copied it as is.

Something that could be:
[code]

The output tensors have different names in Ludwig (not `getattr(model, output_feature['name'])`)

[2019-11-01 22:40] tboneai opened #559 "Training failure"
**Describe the bug**
Used the train and experiment commands but Ludwig stops. Not sure what I am doing wrong. I'm guessing it is yaml related but since it attempts to run I don't believe that is the issue since there are placeholder errors.

**Update** removed tensorflow2 comment. I verified I am using 1.14
[code]
----------------------------------------------------------
[Ludwig output.txt](https

[2019-11-02 00:06] Kantshun commented on #558
model_definition is predefined by me before training a ludwig model,not created by ludwig. what if I didn't define encoder in my model definition? which network structure would ludwig use?

[2019-11-02 00:10] Kantshun commented on #558
@manesioz only input_features and output_features are necessary in model_definition.yaml, I'm allowed to train a ludwig model without defining encoder or decoder.

[2019-11-02 00:19] Kantshun commented on #558
@manesioz examples below are model_definition without defining encoder nor decoder. I want to know which network component would be chose by ludwig in these cases.
![1](https://user-images.githubusercontent.com/31396222/68063111-70e4e600-fd49-11e9-962a-d6d23f365ecd.jpg)
![2](https://user-images.githubusercontent.com/31396222/68063112-717d7c80-fd49-11e9-8077-56e25629881c.jpg)

[2019-11-02 01:24] manesioz commented on #558
For the timeseries example, the [documentation](https://uber.github.io/ludwig/user_guide/#time-series-features) reads:

And the sequence features [docs](https://uber.github.io/ludwig/user_guide/#sequence-input-features-and-encoders) specify that the default encoder is a `parallel_cnn`.

In general:

So to answer your question, each encoder is datatype-specific and either only has one encoder avail

[2019-11-04 03:31] msaisumanth commented on #559
I'm not sure what you're trying to do. You're using the same features for input and output.

[2019-11-04 03:37] msaisumanth commented on #558
@Kantshun when you run the experiment command, the expanded model definition is logged, like so:

<img width="598" alt="Screen Shot 2019-11-03 at 7 37 10 PM" src="https://user-images.githubusercontent.com/17418219/68098412-5ad24500-fe71-11e9-87f7-81fa7c2112a9.png">

It's also saved to the results folder as description.json. You should be able to see all the hyperparameters  there.

[2019-11-04 03:57] tboneai commented on #559
I read that the names are not supposed to be the same however when I change the labels (to open1, etc) I get an error saying it does not exist.
KeyError: "Unable to open object (object 'open1' doesn't exist)"

Just trying to experiment and see if I can get it to provide predictions for the future. Preferably, without converting the file over to a timeseries format. I honestly was just trying to ge

[2019-11-04 05:38] Kantshun commented on #558
@msaisumanth even though i can find some hyperparameters in description.json, i still don't know the structure of my neural network. for example, the number of layer, the number of neuron. moreover, there is no encoder in my description.json.
![屏幕截图](https://user-images.githubusercontent.com/31396222/68101353-34131d80-ff08-11e9-843c-f0063bdb8351.jpg)
![屏幕截图1](https://user-images.githubusercontent.

[2019-11-04 05:49] w4nderlust commented on #558
Every parameter that is not specified is assigned to be the default, which
is reported in the parentheses in the documentation of that parameter.
Deeper description of the built model can be obtained if logging level is
set to debur.
Finally if you want to know all the operations that are happening in the
model, grouped by feature, you can look at the tensorboard grap tab. You
have to call the ten

[2019-11-04 10:40] w4nderlust commented on #558
Every parameter that is not specified is assigned to be the default, which
is reported in the parentheses in the documentation of that parameter.
For instance the documentation for sequence encoders it says that the default is a `parallel_cnn` https://uber.github.io/ludwig/user_guide/#sequence-input-features-and-encoders and for the parallel cnn it says which are the default parameters https://ube

[2019-11-04 10:47] w4nderlust commented on #557
I see. At the moment and for the forseable future, the preprocessing is performed in python so there is no way to export it as tf code. if you want to modify it, I suggest you to modify the python code directly, check `ludwig/data/preprocessing.py` to see what happens when Ludwig does the preprocessing and play around with it. Consider that each feature has it's own preprocessing that you can find

[2019-11-04 10:53] w4nderlust commented on #559
Inputs and outputs columns need to have different names. Also not sure what you want to do, but if you trying to do a sort of autoencoder, at the moment I would suggest to copy the columns in your data, rename them and use the new names as outputs, like `open_input` and `open_output` or anything else like that.

[2019-11-04 10:55] w4nderlust commented on #554
Makes sense. Also I may consider having 3 docker files:
- basic (includes only basic dependencies)
- full (includes [full] dependencies)
- dev (includes [test] dependencies)
What do you think?

[2019-11-04 12:08] jimthompson5802 commented on #554
@w4nderlust   Yes that make sense.

Would you also like to have a Dockerfile that provides a gpu-enabled Ludwig (basic version)?  Here is an [example of a Dockerfile for gpu-enabled Ludwig](https://github.com/jimthompson5802/ludwig_examples/blob/master/containers/tf_gpu/Dockerfile).  This provides a starter that a user can adopt to full or dev version if needed.

I can update the PR with the follo

[2019-11-04 13:18] w4nderlust commented on #554
Yes this would be great. For now you can put everything in the main dir, I will consider moving in a separate docker directory later if necessary.
Thank you really much.

[2019-11-04 19:05] hhbyyh commented on #557
Thanks a lot for providing the answer. I'll close the issue now.

[2019-11-04 19:05] #557 closed

[2019-11-06 03:08] jimthompson5802 opened #560 "Proposal for Example Programs That Illustrate Python APIs"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the use case**
### Proposal
Create example programs that demonstrate Ludwig's Python apis.  Example programs will mirror subset of [Ludwig's command line examples](https://uber.github.io/ludwig/examples/).  This proposal covers Python programs for
* Titanic Survivor
* MNIST
* Text Classification

Sample programs wil

[2019-11-06 20:42] BY-hash opened #561 "ValueError: No training data is provided!"
Hello,
I've tried running
ludwig train --model_resume_path C:\Users\user\Desktop\DataSet\ieee28nodesOriginal --model_definition "{input_features: [{name: T_in1, type: numerical},{name: T_in2, type: numerical}], output_features: [{name: T_out1, type: numerical},{name: T_out2, type: numerical}]}"
and for some reason no matter what changes I've tried, I always get the error
"ValueError: No training d

[2019-11-06 21:50] msaisumanth commented on #561
Did you train a model before this already?

--model_resume_path is used to continue the training of a model from a previous experiment.

[2019-11-06 21:53] msaisumanth commented on #560
Thanks @jimthompson5802. This is a great idea. We had discussed something before.

@w4nderlust @ydudin3 what do you think?

[2019-11-06 22:20] jimthompson5802 commented on #560
@msaisumanth   If it helps, I can submit a PR that contains example code for for one of the categories, i.e., titanic or mnist.  This way you'll have a concrete example of what I meant.  I can incorporate any feedback on the example code, make sure I'm using the apis as intended by the project's design objectives.  Once we are in agreement, you can merge into master and I'll start on the next set.

[2019-11-07 18:32] msaisumanth commented on #560
yeah, that would be really helpful. Thanks!

[2019-11-07 19:54] rafaelmarconiramos opened #562 "Export Image Architecture of the Model"
Ludwig is an AUTOML, but I want know which architecture is applied in the solution.
I think who works with CNN wants to know what architecture is using.
Is it possible to export an image with the architecture?

[2019-11-07 20:19] msaisumanth commented on #562
What do you mean by export an image? You can use tensorboard to visualize the underlying tensorflow graph. If you just want to see which encoder/decoder etc. were used, you can see that in the results directory.

If it's something else, please elaborate or provide an example.

[2019-11-08 02:50] tboneai commented on #559
Changed numerical type in input_features to sequence and the file now works.

I do have a question regarding numerical outputs and clipping though. Would I use the feature if I am providing financial data in one minute timeframes and want a 3 and 5 minute prediction? (3,5)
If not, how would I go about getting those predictions?

[2019-11-08 03:12] w4nderlust commented on #559
@tboneai I'm not sure that just changing input features to sequences should work, in particular if you don't change the names. Moreover I don't really see the relationship between clipping and and prediction at different timeframes. I would just have 2 more output numerical features, one for the prediction at 3 minutes and one for the prediction at 5, but maybe I'm not really understanding what yo

[2019-11-08 03:14] w4nderlust commented on #561
I think the error is pretty clear, you should provide the data with `--data_csv`, while you are trying to provide it with `--model_resume_path` that is unrelated,

[2019-11-08 03:18] w4nderlust commented on #562
Ludwig has nothing to do with AutoML right now.
Moreover, the architecture is fully described in the user guide, the variables are printed if you set the logging level to debug and you can look at the full computational graph if you open the model with tensorboard.

[2019-11-08 03:18] #562 closed

[2019-11-08 03:57] tboneai commented on #559
I added the _input and _output to the names as you suggested but I also had to add the output_features names to the data_csv file in order to get it to run. I dont understand why I had to add them to the data_csv but it's training now.
I am just trying to predict the future value of the eur/usd in 5 minute increments using one minute historical data.

[2019-11-08 05:28] BY-hash commented on #561
Thank you

[2019-11-08 05:28] #561 closed

[2019-11-08 06:19] tboneai commented on #559
Last question and then we can close this ticket. When you say "I would just have 2 more output numerical features, one for the prediction at 3 minutes and one for the prediction at 5"...how does Ludwig know to return a prediction on a 3 and 5 minute timeframe?
As a noob, my assumption is that if I feed it 1 minute data then I would expect a 1 minute prediction (unless I were to add a specific line

[2019-11-08 12:09] PingoPong opened #563 "Ludwig model with different csv"
I want use this example:
Natural Language Understanding¶
utterance | intent | slots
I want a pizza | order_food | O O O   B-Food_type
Book a flight to Boston | book_flight | O O O O B-City
Book a flight at 7pm to London | book_flight | O O O O   B-Departure_time O B-City

I made about 5 experiments. The first experiment with csv N°1 and the other experiments with csv N°2:
1.	csv: Example .........

[2019-11-08 16:31] PatelAshish1 commented on #201
It might be an issue with

the delimiters in your data
the first row, as @TomAugspurger noted
To solve it, try specifying the sep and/or header arguments when calling read_csv. For instance,

df = pandas.read_csv(fileName, sep='delimiter', header=None)
In the code above, sep defines your delimiter and header=None tells pandas that your source data has no row for headers / column titles. Thus saith

[2019-11-08 22:44] msaisumanth commented on #563
Please share the commands you used for training and prediction.

[2019-11-08 22:46] msaisumanth commented on #559
The model doesn't need to "know" what is open3 and open5. It will learn to predict those two variables from the input variables.

You need to prepare your input data (open3, open5) according to what you're trying to predict. Hope that helps.

[2019-11-08 22:49] tboneai commented on #559
Thank you. 

Sent from Yahoo Mail for iPad

On Friday, November 8, 2019, 5:47 PM, Sai Sumanth Miryala <notifications@github.com> wrote:

The model doesn't need to "know" what is open3 and open5. It will learn to predict those two variables from the input variables.

You need to prepare your input data (open3, open5) according to what you're trying to predict. Hope that helps.

—
You are receiving

[2019-11-08 23:09] z-dfalc commented on #563
For model I use:
ludwig experiment --experiment_name Dino --data_csv C:\Users\dino\AppData\Local\Programs\Python\Python36\Scripts\Bot\Pizza.csv --model_definition_file C:\Users\dino\AppData\Local\Programs\Python\Python36\Scripts\Bot\model_define.yaml

For predict I use the API:
model_dir ="C:/Users/dino/AppData/Local/Programs/Python/Python36/Scripts/results/Dino_run/model"
ludwig_model = LudwigMod

[2019-11-09 04:25] #559 closed

[2019-11-09 16:42] KrinalPatel11 commented on #201
df = pandas.read_csv(fileName, sep='delimiter', header=None)

Full Code With Example at [Here](https://icetutor.com/question/python-pandas-error-tokenizing-data/)

[2019-11-10 01:44] msaisumanth commented on #563
@z-dfalc The issue is not clear to me at all. You need to explain a little better.

What I understand is you're training the model on the first csv and trying to predict on the second one. If that's the case, the model will predict the labels that are from the first csv.

How would the model know "P_TypePizza" when you haven't used this data for training the model?

[2019-11-11 17:15] carlogrisetti opened #565 "ludwig test sometimes does not produce correct confusion matrix values"
This has happened to me multiple times, and I am now trying to get to the root cause of this.
Basically, really often, this is the confusion matrix that I generate from the model+dataset I am working on:
![image](https://user-images.githubusercontent.com/4464640/68606216-45cb6680-04ae-11ea-88ef-42ed36eae966.png)
As you can see there are some actual values that are never predicted, but they should

[2019-11-11 17:33] carlogrisetti commented on #328
This might have been reintroduced, but only when resuming a training.
It all works well, until I stop and resume a training, then the training set loss jumps to 0.9998 or something like that, same near-1 value for the accuracy, and hits at K drop. This is once more misaligned with tensorboard data, which continues on the trend done in the previous training, and does not reflect CLI values.
Validat

[2019-11-11 19:50] w4nderlust commented on #563
Can you please show us the first few lines of the data you used for training and test?

[2019-11-11 20:06] w4nderlust commented on #565
Not sure what is the problem here. As some labels are never predicted, the sum of the row is 0. In theory each value of the row should be 0/0 but i avoid doing division by zero so the resulting value is 0. It sounds all correct to me, what behavior would have you expected?
The relevant code is here anyway: https://github.com/uber/ludwig/blob/master/ludwig/visualize.py#L2738-L2743

[2019-11-11 20:57] w4nderlust commented on #328
Will try to look into it, but the most reasonable explanation is that the buffers in the batch norm are not saved by tensorflow. This means that if you resume training they will need some time to converge to the same value they had before.

[2019-11-11 21:39] carlogrisetti commented on #565
Since PP_FRONTE, PG_RETRO and CF_FRONTE (for example, bunching up the last ones) are present in the validation dataset, I expected to see a value greater than 0, in whichever predicted label have they been predicted.
I just double-checked again and purged .hdf5 and .json, they are present in the validation dataset, but they are not in output, according to the confusion matrix (and more importantly

[2019-11-11 21:56] carlogrisetti commented on #565
Might that be that, since those categories are never predicted in the output, the array gets cut to the wrong size as per this: https://github.com/uber/ludwig/blob/master/ludwig/utils/metrics_utils.py#L36
?

The only peculiar thing about this dataset is that I never got a prediction for those labels (I know, right now I have a tiny validation dataset, with just one item per label, and that might b

[2019-11-11 22:09] carlogrisetti commented on #328
Well... That might be, but an accuracy of 1 with a loss of 1 seems a bit unrealistic...
Don't waste time on this unless I'm able to consistently repro. This was just a heads-up in case you had the "a-ha" moment of knowing exactly what to look for :)

[2019-11-11 22:30] w4nderlust commented on #565
In that piece of code predictions and conditions should be of the same size, the min is mostly a precaution, but if you run the test script you an put a break point / print there to see what they are and how long they are, if they are not the same size it's probably worth investigating.
I could help you out, but i need a reproducible setting ;)

[2019-11-11 23:58] Kantshun commented on #558
@w4nderlust NOT WORK!! i tried your command but got nothing in my google chrome.
![image](https://user-images.githubusercontent.com/31396222/68630353-ffafea80-0521-11ea-9de7-3c85ab6c9e46.png)
![image](https://user-images.githubusercontent.com/31396222/68630361-08082580-0522-11ea-8e28-000b38617d11.png)

[2019-11-12 00:25] w4nderlust commented on #558
What does not work? the tensorboard? that's just an example, you have to specify exactly the directory that contains the log of your training.

[2019-11-12 04:25] karthikkrishnanv opened #566 "AttributeError: module 'tensorflow_core.python.keras.api._v2.keras.initializers' has no attribute 'random_normal'"
**Describe the bug**
I am trying to setup ludwig + horovod combination and am hitting an old issue.

**Environment (please complete the following information):**
 - OS: Ubuntu
- Python version 3.6.8
- Ludwig version 0.2.1

pip3 list |grep tensorflow
bert-tensorflow      1.0.1
tensorflow           1.14.0
tensorflow-estimator 1.14.0
tensorflow-gpu       2.0.0

pip3 list | grep Keras
Keras

[2019-11-12 07:38] carlogrisetti commented on #565
That's not the case, as they are the same size. I however noticed these warnings in the ludwig test CLI output:

sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
sklearn\metrics\classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and be

[2019-11-12 07:55] carlogrisetti commented on #565
Just to have a proof of concept, I forcibly stopped early a training, and got it to a point where all ground truth classes are categorized in the same result class (TS_RETRO). As in previous examples I expected to see a vertical solid yellow colored line spanning all classes on the TS_RETRO column, since any input document has been classified as TS_RETRO only (no other result has been produced oth

[2019-11-12 08:30] carlogrisetti commented on #328
I can repro.
Use the same exact dataset, with this model definition
[model_definition.zip](https://github.com/uber/ludwig/files/3835081/model_definition.zip)
I ran the training up to around 150 epochs, then stopped it and resumed the training.
![image](https://user-images.githubusercontent.com/4464640/68654529-6b985000-052e-11ea-9eb7-e78a05545f56.png)
Training loss and accuracy jumped to 1 straigh

[2019-11-12 08:37] z-dfalc commented on #563
Sorry for my unclear explanation.
I created various models with two different csv files.
The “utterance” was written in Italian language and is the same in the two csv files, only the value of the slots changes in the two files.
When I do the predict I found mixed values of the slots (see the first

[Pizza_1.zip](https://github.com/uber/ludwig/files/3835117/Pizza_1.zip)

figure above) and I can't

[2019-11-12 18:52] msaisumanth commented on #566
@karthikkrishnanv Ludwig doesn't work with tensorflow 2.0 yet. Please try with tf-gpu 1.14

[2019-11-12 22:36] karthikkrishnanv commented on #566
That helped. Thanks! Made some progress, but it is crashing now with some MPI error.
pip list |grep mpi
mpi4py               3.0.3

MPI was via standard package manager (sudo apt-get install mpich) on ubuntu.
mpiexec --version
mpiexec (OpenRTE) 4.0.0

Are there any specific version dependencies w/ MPI ? Snipped error below

1,2]<stdout>:Loading data from: valid.hdf5
[1,1]<stdout>:Loading data from

[2019-11-12 23:59] karthikkrishnanv commented on #566
Thanks! That worked. I made some progress, but still getting a crash related to MPI.  Error snippet below. Are there any MPI version dependencies that could cause this ?

pip list | grep mpi
mpi4py               3.0.3

mpichversion
MPICH Version:    	3.3a2
MPICH Release date:	Sun Nov 13 09:12:11 MST 2016
MPICH Device:    	ch3:nemesis
MPICH configure: 	--build=x86_64-linux-gnu --prefix=/usr --inclu

[2019-11-13 00:15] msaisumanth commented on #566
I'm not sure. Could you check if you are able to import tensorflow?

[2019-11-13 05:13] karthikkrishnanv commented on #566
I reinstalled everything from scratch and it is working now. Closing this as the issue is not reproducible.

[2019-11-13 05:13] #566 closed

[2019-11-13 07:58] NavyaSreeYadavalli opened #569 "Why the Model weights File size increases as the training data Increases?"
I have built a model with training data of 100 records with parallel-cnn as my encoder. Then the model-weights file size is 22MB. Now i changed my training file data to 1000 records and now my model-weights file size is 40MB.
Why there is a change in the size of weights file?

[2019-11-13 18:15] msaisumanth commented on #569
There's many reasons why this could happen.

For example, have you checked how many epochs the model trained for in both cases? If one was trained for more epochs, there would be more metadata to save.

[2019-11-14 07:45] flozi00 opened #570 "Can't predict images"
**Describe the bug**
Can't predict images from any kind of method

**To Reproduce**
Steps to reproduce the behavior:
1. Install ludwig from master
2. serve the model using: ludwig serve -m model/
3. try to predict image using: curl http://0.0.0.0:8000/predict -X POST -F'image=@/media/flo/data/KIs/image_classification/dataset1/3100.jpg'
4. See error
`{"error":"Unexpected Error: could not run infere

[2019-11-14 18:45] w4nderlust commented on #570
Thanks for pointing this out, we are going to look into it and get back to you.

[2019-11-14 18:47] w4nderlust commented on #566
Glad you solved it.

[2019-11-14 18:51] w4nderlust commented on #569
So the model weights file size should not change. Can you be specific about which files are actually growing in size?

[2019-11-14 19:01] w4nderlust commented on #565
Now I get your point. So the solution should be to set the range of the color map to [0, 1] in case of normalization.
Moreover, it looks to me like the 2 axes of the plot are inverted: if all classes are predicted to be TS_RETRO there should be a column of colors different than purple, not a row, right?
Will investigate.

[2019-11-14 21:42] carlogrisetti commented on #565
I don't think you should need to mess with the scale. This is the result of not having all the correct values in the matrix. If all other rows had a solid 1.0 in the TS_RETRO or whatever it is, the maximum value for the scale will be automatically set to 1.0
The issue is that, row by row, the sum of all the prediction distribution should always be 1.0, but for all the rows other than the populated

[2019-11-15 00:32] w4nderlust commented on #565
What about the columns and rows? again they look flipped to me, aren't they?

[2019-11-15 07:44] carlogrisetti commented on #565
They are reversed indeed... I trained a classification model on the same dataset, tweaked a little bit,
[images.zip](https://github.com/uber/ludwig/files/3850268/images.zip)
giving him only dogs as validation (forcing the model to come to the solution that everything's a dog), then I ran the confusion matrix, and this is the output:
![image](https://user-images.githubusercontent.com/4464640/689247

[2019-11-15 18:29] BY-hash opened #572 "Training a model with multiple input files"
Hello,
I have traind a model with a .csv input file, and I'm trying to keep training the model with many other input files (each file contains small amount of data, and I have tons of files like this. Also, their structure is important so combining them to one file with a lot of data would lose the structer I want).
After I have sucssesfully traind a model with the first of many .csv file, I would

[2019-11-15 19:31] msaisumanth commented on #572
@BY-hash you just need to provide the model definition that you used to train the model with the first file, right? that'll fix this error.

[2019-11-15 20:54] BY-hash commented on #572
Thank you,
one thing is not clear to me though: if I'm loading an existing model, why should I also provide the model definition again? Shouldn't this information already exist in the model I'm loading?

[2019-11-15 21:12] msaisumanth commented on #572
yeah, that's a fair point. We should be able to load the model definition from the folder. I'll mark this as an enhancement.

[2019-11-17 15:35] karthikkrishnanv opened #573 "Disable split in ludwig test"
**Is your feature request related to a problem? Please describe.**
I am unable to get ludwig test to product results on the entire dataset. Not sure if I am missing something or needs a new feature to disable split.

**Describe the use case**
Dataset is trained using individual train/valid/test csv (i.e via ludwig train --data_train_csv train.csv  --data_validation_csv valid.csv  --data_test_csv

[2019-11-17 21:13] jimthompson5802 opened #574 "Proposal: Training performance improvements on cpu-only platforms"
**Is your feature request related to a problem? Please describe.**

Not related to a problem.

**Describe the use case**

In reviewing Ludwig's code base, I noticed in `ludwig/utils/tf_utils.py` this [code fragment](https://github.com/uber/ludwig/blob/master/ludwig/utils/tf_utils.py#L43):
[code]

This sequence hard codes Tensorflow's configuration parameter `intra_op_parallelism_threads` to the va

[2019-11-19 00:22] w4nderlust commented on #573
Should use `split = full`

[2019-11-19 00:36] w4nderlust commented on #572
The reason is that ludwig has to re-build the model graph for loading its weights, and it does it from the model definition. If you use `--model_load_path' the model definition could be slightly different from the ones you are loading (for instance you use the same model, but a different last layer to obtain a different classsification). To allow for those cases in the future, we made it so that y

[2019-11-19 00:39] w4nderlust commented on #574
Interesting finding, thank you. Those parameters were likely the default in older versions of TensorFlow, we can run a few more tests and in case update them as you suggested.

[2019-11-19 13:36] NavyaSreeYadavalli commented on #569
model_hyperparameters
model_weights.data-00000-of-00001
train_set_metadata
These 3 files are growing in size. But I want to know specifically why model_weights.data-00000-of-00001 file size changes based on training Data Size.

Number of epochs are same in both the cases. I am using parallel-cnn which is default one. No additional changes in my model-definition file

[2019-11-19 21:27] carlogrisetti commented on #328
I can confirm this happens on larger datasets too. It just happened (only when resuming) on a 7.5gb .hdf5 image categorization model with 50k+ images (the structure is basically the same as the one provided in the sample, with 10 output categories).

Can you reopen this issue? It should be easily reproducible with the provided sample.

[2019-11-20 01:06] karthikkrishnanv commented on #573
ludwig test works. Sorry for the faux paus. Turned out I was looking at the number of lines incorrectly due to the new lines in some of the records and how it showed up in the editor.

[2019-11-20 01:06] #573 closed

[2019-11-20 01:08] w4nderlust commented on #573
No worries, glad there was no problem.

[2019-11-20 01:14] w4nderlust commented on #569
model_hyperparameters and train_set_metadata may definitely change depending on the size of your data, as some of their contents are data dependent, like the vocabulary of classes or the vocabulary of words if you working on text.
The weights should not change though, we would want to know what that's the case too, but it is difficult without a reproducible example. If you can provide such a thing

[2019-11-20 19:55] hamletbatista opened #575 "Can't parse SavedModel to use in TensorflowJs"
**Describe the bug**
A clear and concise description of what the bug is.
I'm trying to export a trained model so I can run inference using TensorflowJs, but the exported .pb doesn't work with the TensorflowJs converter tool. I get this error:

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/resource_variable_ops.py:1781: calling BaseResourceVariable.__init

[2019-11-21 01:04] arunmk opened #577 "Need callbacks at the end of every N epochs"
**Is your feature request related to a problem? Please describe.**
I need callbacks at the end of each epoch to gather and stream some user-defined metrics.

**Describe the use case**
I need callbacks at the end of each epoch to gather and stream some user-defined metrics.

**Describe the solution you'd like**
Callbacks on the lines of `on_epoch_end`, `on_batch_begin` etc
**Describe alternatives y

[2019-11-21 08:23] ifokeev commented on #577
You can find it here https://github.com/uber/ludwig/blob/67fec7ab1908972c3e21c333f283d3af7d118e80/ludwig/models/model.py#L677

[2019-11-21 08:47] carlogrisetti commented on #570
Aaaaaaand of course I got into this too :)
Can confirm it's happening on Windows, Python 3.6, Ludwig from master

Issue is due to the "in_memory: false" in the model_hyperparameters.json. If changed back to "in_memory: true" it all works fine as expected.

I'm running the predict within python code via APIs, using LudwingModel.predict(data_df=pd.DataFrame({"ImageFile": [temp_filename_1]}))

@flozi

[2019-11-21 08:49] arunmk commented on #577
Thanks @ifokeev . Do you mean that `contrib` is needed in order to add a callback? I can implement it but was hoping that there would be a pluggable way.

[2019-11-21 08:55] ifokeev commented on #577
@arunmk yeah, try `contrib`. It will not so difficult as you expected

[code]

[2019-11-21 10:07] carlogrisetti commented on #328
And this seems to happen also with non-image inputs, always only when resuming. If I start a new training, it all goes well, way beyond the training step at which the last training was stopped to

[2019-11-21 19:24] arunmk commented on #577
@ifokeev perfect, this works very well. I followed the comet_ml code and your examples and have been able to hook into the `train_epoch_end`. Thanks a lot for this!

[2019-11-21 19:27] ifokeev commented on #577
close the issue then, please

[2019-11-21 19:47] w4nderlust commented on #328
Thanks for testing this through. let's reopen the issue and rename it. We'll try to figure out what is the reason for this, my intuition tells me it's about the running averages of batch norm, but will need to investigate further.

[2019-11-21 19:50] w4nderlust commented on #570
@ydudin3 can you take a look at this? Thank you for helping out @carlogrisetti , much appreciated.

[2019-11-21 19:52] w4nderlust commented on #575
This is not a functionality we currently support, so will mark it as enhancement, but at the same time from the log it seems the problem has to do with the way we save the SavedModel rather than a tfjs specific thing, so we will investigate the issue, and that could potentially solve the problem for tfjs too.

[2019-11-21 19:55] w4nderlust commented on #577
@ifokeev thanks for your help on this. @arunmk we could probably disentangle the callbacks from the contrib package and add new ones. if you list the ones you need I CAN MARK THIS AS A FEATURE REQUEST.

[2019-11-21 21:57] carlogrisetti commented on #328
I don't know about that ... And I can't pinpoint to what is the issue behind that.
The first epoch that is ran after resuming ends with a loss of 1.000 and accuracy of 1.000 as if some default values are applied and the "to-be-resumed" ones are forgot within the resumed model (json files maybe?)
The validation is not immune and gets to values that are really "deterministic" like 0.5000 and 0.7500

[2019-11-21 22:00] carlogrisetti commented on #570
@w4nderlust No problem. Also on this one  if you need something to be tested, I should have some time invested in closely related projects, so I can help if needed.

[2019-11-22 00:53] cvarrichio commented on #217
Yes, I agree that additional interpretability would be a key enhancement for this product.  This is one way to achieve it, enabling compatibility with LIME and other methods.

[2019-11-22 01:21] w4nderlust commented on #217
Starting from v0.2, the preprocessing is available for user to play around with, as now one can import whatever they like from `data.preprocessing`., although the only fully documented part of the code remains the API, so you can play with preprocessing, but it is not fully documented yet, in particular because we are working towards many changes in the preprocessing pipeline for v0.3.

[2019-11-22 02:21] arunmk commented on #577
@w4nderlust thanks for mentioning that. Currently my requirement is for `train_epoch_end`. I will surely very soon have requirements around batch runs and also for predictions as they seem to be the places where I can quickly instrument for metrics. Some other frameworks provide similar functionality as you already know (https://www.tensorflow.org/api_docs/python/tf/keras/callbacks/Callback). It w

[2019-11-22 08:19] carlogrisetti commented on #565
Found it and fixed. It was an order mismatch between two parameters in the confusion_matrix results build.
I made a PR... it seems to be working (giving the correct results in CMs) but as usual you should double check that.

[2019-11-23 12:31] guhuawuli opened #581 "how to use chinese text to do classification?"
**Is your feature request related to a problem? Please describe.**

Does ludwig support multi language? I want to use chinese text to do classification. how to do preprocess, segmentation, embedding?

**Describe alternatives you've considered**
Tensorflow is supporting multi-language feature, if ludwig is based on tensorflow, maybe the above problem is not so difficult.

[2019-11-23 22:09] ydudin3 commented on #570
@carlogrisetti it's actually not supported at the moment. If you're training / predicting using the API you would have to set have in_memory = True or  use the cli.

[2019-11-23 22:40] carlogrisetti commented on #570
@ydudin3 yes, but when you are predicting on a model that was trained with in_memory=false, Ludwig is restoring that hyperparameter too, trying to predict using in_memory=false, and you have to force it to true by manually modifying the json in the model folder.
If predicting from disk is not supported (no objection to that) you should never restore in_memory value from the model hyperparameters a

[2019-11-24 01:09] ydudin3 commented on #570
Yes, totally makes sense. I think as a short term fix we could just override in_memory flag for all of the API functions.

@w4nderlust  but this brings an interesting point, when training a model it's fine to keep this flag in the model definition but it's really a property of the dataset, so that when one calls predict they should be able to feed datasets with in_memory true or false, depending o

[2019-11-25 13:22] NavyaSreeYadavalli commented on #569
2 sample data sets of news is considered of which one is of 100 records and another one of 1000 records. Tested with the testing_ludwig.py file which is in the attached zip file. Then the generated model_weights file size of 100 records is 19MB and of 1000 records is 22MB.

When i convert the same data using data_synthesizer.py by considering the features as
'[\
  {name: Data, type: text, vocab_si

[2019-11-26 00:13] hamletbatista commented on #575
@w4nderlust thanks

[2019-11-27 07:23] NavyaSreeYadavalli commented on #569
Any update on the above issue. Please do update why it is happening like that to me.

[2019-11-27 08:29] w4nderlust commented on #569
@NavyaSreeYadavalli we will look into it.

[2019-11-28 01:24] rafaelmarconiramos opened #582 "ValueError: Key rnn not supported, available options: dict_keys(['stacked_cnn', 'resnet'])"
I am testing different encoders supported by Ludwig, but when I use rnn (and others), for example, it generates an error:

**ValueError: Key rnn not supported, available options: dict_keys(['stacked_cnn', 'resnet'])**

If I use "stacked_cnn" or "resnet," the application workes well.

My YAML file is:

input_features:
    -
        name: image_path
        type: image
        encoder: rnn

output_f

[2019-11-28 03:28] manesioz commented on #582
It states in the [documentation](https://uber.github.io/ludwig/user_guide/#image-features):

[2019-11-29 22:05] topspinj opened #583 "Doc enhancement: what format should the training data follow?"
**Is your feature request related to a problem? Please describe.**
It would be ideal if there was more documentation around how the training data should be formatted. It would also be helpful to know what packages are being used behind the scenes for sentiment analysis, NER, text classification, etc.

**Describe the use case**
For example, I want to test out sentiment analysis. Is this built off o

[2019-12-01 21:14] amgsharma commented on #186
Same error on tensorflow 2.0.0
Here's the traceback: https://pastebin.com/LRP9gW71

[2019-12-02 00:02] w4nderlust commented on #582
@rafaelmarconiramos there is no rnn encoder for images. Please check the documentation as @manesioz suggested for knowing about the available encoders for each feature type.

[2019-12-02 00:02] #582 closed

[2019-12-02 00:53] jimthompson5802 opened #585 "learning_curves() function fails with ValueError: x and y must have same first dimension"
**Describe the bug**
learning_curves() function fails when plotting two more more models at once.  Error message:
[code]
Ludwig version: 0.2.1

**To Reproduce**
This program will reproduce the error:
[code]

**Expected behavior**
Learning rate curve plot for the multiple model training.

**Screenshots**
See error message above.

**Environment (please complete the following information):**
 - OS: M

[2019-12-02 07:56] carlogrisetti commented on #328
Today I tried resuming a training, just to see if with different conditions something changes (it's a different dataset than the other ones on which I am having this issue). This time a really weird thing happened:
![image](https://user-images.githubusercontent.com/4464640/69939404-11146300-14e0-11ea-83b1-a848717e9c5e.png)
Although within the CLI, the reported validation loss has increased, the tr

[2019-12-02 14:56] BY-hash opened #587 "model's predictions accuracy"
Hello,

Is there any way availabe in ludwig to estimae the error of predication for numeric values? (since I can't use ROC curve for binary problems or confusion matrix for labeling problems)

At the same context, for the case that there is no prediction performance measurments avalible for numeric problems, and say I calculate the MSE (of my predictions vs. the pre-known correspondoing outputs),

[2019-12-03 03:21] arunmk commented on #577
@w4nderlust does the above comment answer your question?

[2019-12-04 09:44] solyron opened #588 "Numerical input encoder"
Hello,

In Numerical Input Features and Encoders
"the raw float values coming from the input placeholders are passed through a single neuron for scaling purposes"
Does this model is capable of dealing with training-set that comes from a set of non-linear equations/ single non-linear equation?

Would love to see more information regarding the sigmoid function used in that singe neuron or other rele

[2019-12-04 11:41] lucaventurini opened #589 "One Cycle policy in Ludwig"
Hi @w4nderlust ,

is there any plan to implement Smith's One Cycle policy in the learning rate scheduler? (https://arxiv.org/pdf/1803.09820.pdf)

I see that currently the default policy is to anneal the LR (or the batch size). The One Cycle scheduler has shown very good results since it was introduced, and it seems much faster to converge than other schedulers.

[2019-12-04 15:33] Kantshun opened #590 "about UNK and hits_at_k"
I'm doing a classification task. in my ludwig model's result, there is one more class appear, the UNK class. could anyone explain what is UNK?
moreover, what is hits_at_k?

[2019-12-04 18:38] w4nderlust commented on #590
UNK is a sink class that deals with all the cases where at test time you have a class that was not present at training time. You can also set a threshold on the prequency of classes and all the ones less frequent than a certain amount will be replaced with UNK.

Hits at k is the accuracy considering any prediction in the first k to be correct instead of the argmax. It is useful if you have a model

[2019-12-04 18:38] #590 closed

[2019-12-04 18:42] w4nderlust commented on #589
Why don't you attempt a PR about it? :) All the relevant code is in the train function: https://github.com/uber/ludwig/blob/master/ludwig/models/model.py#L267

[2019-12-04 21:13] weifengpdx opened #591 "Wrong User Guide description for H3 Input Features and Encoders section"
**Describe the bug**
A clear and concise description of what the bug is.

The User Guide description for the H3 Input Features and Encoders is using Date Feature's description, needs update.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

Please provide code, yaml definition file and a sample of data in order to entirely r

[2019-12-05 02:03] mangleddata opened #592 "Knobs to improve imbalanced data"
I have an imbalanced classifier data set (80% True, 20% False) which is yielding interesting results. To start off, I oversample the train csv, but not valid/test csv. For whatever reason, there is a significant variance between 1st and 2nd epoch with the valid/test dataset (consistently drops like below, which seems strange since every run is fresh and I would expect some randomness). It coverges

[2019-12-05 11:47] George3d6 opened #593 ""Bad" error message and inconsistent behavior between large dataframe and large file"
**Describe the bug**
When training with ludwig using a large file (0.58 million rows x 18 columns, mostly of categorical and text types) training works fine, however, when passing that file as a dataframe, after a while I get the following error (pasting the relevant bits of the stack trace w/o file system info):

[code]

Passing the exact same data-frame but with `.iloc[0:4000]` (i.e. a very smal

[2019-12-05 13:46] InosRahul commented on #124
In the example https://uber.github.io/ludwig/examples/#time-series-forecasting-weather-data-example
the generated temperature_predictions.csv file has the values in the normalized form, how to denormalize them?

[2019-12-05 14:45] lucaventurini commented on #589
I don't have much familiarity with tensorflow unfortunately 😅

Also, in pytorch it's already implemented (https://pytorch.org/docs/stable/optim.html#torch.optim.lr_scheduler.OneCycleLR), but in TF I wouldn't know where to start, I can't find the equivalent.

[2019-12-05 17:11] mangleddata commented on #592
I made progress by reducing the default learning rate 100x (set to 0.00001). Thought I would post it as it may assist others. Closing it since progress has been made.

[2019-12-05 17:11] #592 closed

[2019-12-05 21:54] msaisumanth commented on #593
@George3d6 I don't think it's because of size. The error is basically because the preprocessed dataset is ```None```.

 When you say training works fine, did you use the command line to train the model?

[2019-12-05 21:58] msaisumanth commented on #583
please take a look at the [user guide](https://uber.github.io/ludwig/examples/?from=%40). It has examples on how to do text classification. Sentiment classification is a type of text classification.

[2019-12-05 21:58] #583 closed

[2019-12-06 03:09] surendra1472 commented on #569
Hi, How do I use this model weights file, how can I use this to find column importance.

[2019-12-06 03:49] surendra1472 opened #595 "how to use collect_weights, what is the meaning of --tensor and how to I get one tensor?"

[2019-12-06 10:53] George3d6 commented on #593
@msaisumanth I severely doubt this because when I feed the same dataframe but with `.iloc[0:4000]` it works fine.

I used the command line to train with the file. I used the library/API from within python code to train with the dataframe (both the full one, which produces that error, and the one with `.iloc[0:4000]`, applied to it, which doesn't)

[2019-12-06 11:03] George3d6 commented on #593
Actually @msaisumanth , it might be that you're right and I've been chasing a ghost, I'll check and close the issue if it turns out it's indeed an empty/None dataframe being passed.

[2019-12-06 15:34] George3d6 commented on #593
Ok, I think the issue was that I was accidentally passing an empty dataframe, my bad :/ Will close the issue, sorry for the bother.

[2019-12-06 15:34] #593 closed

[2019-12-09 01:21] Kantshun opened #596 "google.protobuf problem"
**Describe the bug**
when i tried to train my ludwig model, error rasied, ModuleNotFoundError: No module named 'google.protobuf'
but i can fine protobuf in tensorflow

Please provide code, yaml definition file and a sample of data in order to entirely reproduce the issue.
Issues that are not reproducible will be ignored.

**Expected behavior**
A clear and concise description of what you expected t

[2019-12-09 01:46] Kantshun commented on #596
i reinstall everything and solve my problem......

[2019-12-09 01:46] #596 closed

[2019-12-11 09:32] BY-hash commented on #588
Or in ludwig/models/modules what is the relevant model?

[2019-12-11 18:37] maschinenzeitmaschine opened #597 "visualization throws error"
**Describe the bug**
Although `pip install ludwig[viz]` was sucessful, any call of ludwig visualize results in the message `matplotlib or seaborn are not installed. In order to install all visualization dependencies run pip install ludwig[viz]`

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Should render graphs and not return an error.

**Environment (please compl

[2019-12-11 23:22] karlkrach commented on #597
edit: i just tried the same with python 3.6.8 but it produces the same result.

[2019-12-13 00:15] msaisumanth commented on #597
@karlkrach could you please try importing matplotlib & seaborn in a python interpreter and check if it throws the same error?

[2019-12-13 00:25] karlkrach commented on #597
i already did see "additional context": if i start python from command line, i can run "import seaborn" and "import matplotlib" without problem. or did i misunderstand you?

[2019-12-13 12:11] duckroll opened #598 "Help me setting up model definition file"
I have a dataset thats consists of 2 users with matching interests:
user1
"cars, psychology, politics"
user2
"beauty, philosophy, sport"

I have tried sequence2sequence from examples but accuracy doesn't go above 0.02. I have also tried to tweak numerous output and input features. Sorry for asking it here but stackoverflow seems dead for ludwig questions.

[2019-12-16 11:36] lordeddard commented on #589
@w4nderlust I am willing to work on this, if no one isn't.

[2019-12-16 17:09] mangleddata opened #600 "Disable certain columns quickly (feature request)"
**Is your feature request related to a problem? Please describe.**
Would like to know if there's a quick way to disable a feature without having to modify csv and the model file.

**Describe the use case**
I have a use case with many columns, some of which may be either redundant or not contributing to the model. In a random forest world, I would've looked for feature importance and trim the featu

[2019-12-16 18:52] msaisumanth commented on #600
@mangleddata I'm not sure what you're looking for. In the model definition, you have to explicitly specify all the columns you want to work with. Could you please provide a more concrete example?

[2019-12-16 18:52] msaisumanth commented on #598
What's your current model definition? Try ```set``` feature for the output.

[2019-12-16 18:55] msaisumanth commented on #591
It's a minor error, only this part needs to be fixed

[code]
The actual section explaining the encoders is correct.

[2019-12-16 18:58] msaisumanth commented on #585
Sorry for the late response @jimthompson5802. Thanks for creating the PR. we'll merge as soon as possible.

[2019-12-16 18:59] msaisumanth commented on #588
@solyron Your questions is not really clear to me. Could you please provide a detailed example and we will try to help.

[2019-12-16 18:59] mangleddata commented on #600
@msaisumanth - Here is what I mean. Let's say I start with 10000 rows with 100 columns/features. I build the model file with all the 100 columns specified and run my model. If I want to remove say few columns (say 5) to check how the performance is affected, I believe I need to create a new csv with those 5 columns removed from the csv as well as model file. What I meant was, if there's a quick wa

[2019-12-16 19:07] msaisumanth commented on #587
sorry for the late response. For numerical features, you can measure Mean Square Error, Mean Absolute Error and R-squared.

[2019-12-16 19:09] msaisumanth commented on #600
Yeah, if you don't specify in the model definition, it will be ignored. Try the LudwigAPI.

That way, you can pass the model definition as a dictionary. You can drop and add keys programatically.

[2019-12-16 19:14] mangleddata commented on #600
This is great! Thanks for the quick response. Been using the ludwig train command with the model file/dataset generated programmatically upstream. Will look into the API. Closing as it is already supported.

[2019-12-16 19:14] #600 closed

[2019-12-16 19:14] msaisumanth commented on #597
@karlkrach sorry I didn't notice that in your issue description.

So here's where the error is happening.

[code]

Could you please help me narrow down the error by running those import commands?

I think it's because of mpl_toolkits, but I want to make sure. We might need to add another if platform == 'darwing' before the mpl_toolkits import.

Thanks

[2019-12-16 19:15] msaisumanth commented on #595
@surendra1472 please provide more details about what you're trying to do.

[2019-12-16 20:15] solyron commented on #588
Thank you,
Could you provide more detailes regarding the nerual network implememted by ludwig in the numerical case:
1. what is the method? (Back-Propagation/ Stochastic Gradient Descent/Learning Rate Decay/other?)
2. what is the activation function?  (Sigmoid/Hyperbolic Tangent/ other?)
3. Is it true that there is only one neuron and only one hidden layer?
Any other information regarding the char

[2019-12-16 20:33] karlkrach commented on #597
if i paste this in a script 1:1 and run i get:
[code]
if run the same thing with lines 4 & 5 (if…) commented out, it does not throw any error.

[2019-12-16 22:56] msaisumanth commented on #597
oops. you need to do ```from sys import platform``` first.

[2019-12-16 23:58] msaisumanth commented on #588
Got it. As the [documentation](https://uber.github.io/ludwig/user_guide/#numerical-features) says, after the normalization, the numerical feature is passed to a single neuron for scaling purposes.
There's no activation at this moment.

[2019-12-17 09:10] solyron commented on #588
thank you, what is excatly the scaling?
What feature scaling have you used? Is it just sum of XiWi? is it polinomal? (for example 1+w0x0+(w1x1)^2+..) / other?
I guess you mean by "scaling purposes" finding the weights, but I would like to know what do you do with the inputs I insert?

P.S. I searched at ludwig/models/modules the code where you implemented the scaling for the numerical case, but co

[2019-12-17 10:08] duckroll commented on #598
Here is my model definition:

input_features:
    -
        name: user1
        type: sequence
        level: word
        encoder: rnn
        cell_type: lstm
        reduce_output: null

output_features:
    -
        name: user2
        type: set
        level: word
        decoder: tagger
        cell_type: lstm
        attention: bahdanau

training:
    batch_size: 128

And these are results

[2019-12-17 14:29] ralfbanisch opened #602 "pip install Ludwig[viz] doesn't work in a terminal with zsh shell active"
**Is your feature request related to a problem? Please describe.**
in a Mac OSX terminal with the zsh shell, installation of Ludwig with optional keywords [viz] etc. doesn't work:

`zsh: no matches found: ludwig[viz]`

Switching to bash shell solves the problem.

**Describe the use case**
installing Ludwig in zsh shell.

**Describe the solution you'd like**
Either document somewhere that the zsh s

[2019-12-17 18:52] msaisumanth commented on #602
Thanks for creating the issue @ralfbanisch

I found this solution on stackoverflow:
https://stackoverflow.com/questions/30539798/zsh-no-matches-found-requestssecurity

with zsh, you just need to do:

```pip install 'ludwig[viz]'```

I feel it'd be too much to include in the documentation, so let's leave it here for now.

[2019-12-17 18:52] #602 closed

[2019-12-17 18:58] msaisumanth commented on #598
It's hard to help without really knowing the data and the task. But, first of all the metric here is [Jaccard index](https://en.wikipedia.org/wiki/Jaccard_index), not accuracy.

I don't know the number of different classes in your outputs, so not sure what's a good Jaccard index to aim for.

[2019-12-17 19:01] msaisumanth commented on #588
The code is in ludwig/features/numerical_feature.py

Here scaling is basically achieved by the single neuron. Single neuron without activation is basically just a linear transformation.

I'll add a note for adding activations for numerical feature. It should be a simple task, if you want to take a crack at it.

[2019-12-17 23:24] duckroll commented on #598
I tweaked my settings a little bit and this is the beast I got:

╒═════════╤═══════════╤═══════════╕
│ user2   │      loss │   jaccard │
╞═════════╪═══════════╪═══════════╡
│ train   │   68.8706 │    0.8622 │
├─────────┼───────────┼───────────┤
│ vali    │ 1757.2357 │    0.0480 │
├─────────┼───────────┼───────────┤
│ test    │ 1586.6935 │    0.0477 │
╘═════════╧═══════════╧═══════════╛

Training j

[2019-12-17 23:25] msaisumanth commented on #598
Yes, but your model is overfitting.

[2019-12-17 23:27] duckroll commented on #598
I can deal with overfitting by feeding my model more data it seems.

[2019-12-17 23:28] duckroll commented on #598
Is there any ludwig option to avoid overfitting?

[2019-12-18 02:22] theodor38 opened #603 "A note of thank you and concern"
I will start with saying 'sorry' because this is not a feature request but a thank you for what has been developed into Ludwig and a concern about its slow updates(commits) over the last month.

There are scantly any day which I don't refresh Ludwig Github to see if there is any new updates. Hence me noticing the commits had become less and less frequent.

When I found out about Ludwig I was ecsta

[2019-12-18 07:18] ifokeev commented on #603
I think it's a good idea for donations. I may contribute too, but have no free time

[2019-12-18 07:59] theodor38 commented on #603
If there was a way to donate, I would for sure.

[2019-12-18 08:27] ifokeev commented on #603
@w4nderlust so can you open github donations for this repo?

[2019-12-18 19:42] msaisumanth commented on #603
@theodor38 Thanks for raising this. Rest assured, we are actively working on Ludwig. We have been busy with conferences and internal deadlines.

[2019-12-18 19:47] msaisumanth commented on #598
Overfitting is a very common and generic problem in Machine Learning. More data would certainly help.

I'm closing this issue as there's no Ludwig specific problem. Feel free to create another issue if you hit a roadblock :)

[2019-12-18 19:47] #598 closed

[2019-12-18 20:12] duckroll commented on #598
Thanks for help

[2019-12-19 09:44] pingsutw commented on #603
@msaisumanth I want to contribute this repo, do you have any roadmap about this repo.

[2019-12-19 18:58] msaisumanth commented on #603
@pingsutw Yes, we welcome contributions from everyone. But we currently don't have a public agenda. I will provide an update on it after a team discussion.

In the meantime, please take a look at the [open issues](https://github.com/uber/ludwig/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22help+wanted%22), [enhancements](https://github.com/uber/ludwig/issues?q=is%3Aopen+is%3Aissue+l

[2019-12-19 20:38] jimthompson5802 commented on #585
Fixed by #586

[2019-12-19 20:38] #585 closed

[2019-12-20 00:58] jdunnmon commented on #93
Has there been any progress on this?  Would like to use Ludwig for a couple of projects, but would need access to the broader world of pretrained checkpoints, and it's not 100% clear to me how to do this without writing a new encoder for each architecture I want to use.  Thanks!

[2019-12-22 01:51] pingsutw commented on #603
@msaisumanth Thanks for the reply, I will find some work in open issues first. I'm glad to heard any update about this repo after your discussion

[2019-12-22 10:10] guhuawuli opened #605 "problem when using bert encoder"
**Describe the bug**
A clear and concise description of what the bug is.

I want to do classification with bert encoder,my yaml file is
input feature:
name: review
type: sequence
encoder: bert
config_path: <path_to_bert_config.json>
checkpoint_path: <path_to_bert_model.ckpt>
do_lower_case: True
preprocessing:
    tokenizer: bert
    vocab_file: <path_to_bert_vocab.txt>
    padding_symbol: '[PAD]'

[2019-12-22 14:29] ifokeev commented on #605
you `have out of memory` message. You don't have enough RAM to process this dataset

[2019-12-23 00:18] guhuawuli commented on #605
how many ram at least to run bert encoder? I have 13G memory and I can run bert model with another code(https://github.com/guanlinchao/bert-dst).Does ludwig need more memory than general bert fine tune?

[2019-12-23 05:21] ifokeev commented on #605
@guhuawuli do you run it with the same dataset? Try to chunk your dataset

[2019-12-23 05:52] guhuawuli commented on #605
I fond the problem, from here(https://medium.com/gowombat/first-impressions-about-ubers-ludwig-a-simple-machine-learning-tool-or-not-714962bbbedc).
I must adjust batch size from 128 to 16

[2019-12-23 10:43] karlkrach commented on #597
i added this line to to the top of the script. if i run that now, i get:
`portable:ludwig myuser$ python matplottest.py
Traceback (most recent call last):
  File "matplottest.py", line 11, in <module>
    import matplotlib.pyplot as plt
  File "/Users/myuser/.pyenv/versions/ludwig/lib/python3.6/site-packages/matplotlib/pyplot.py", line 2349, in <module>
    switch_backend(rcParams["backend"])
  Fi

[2019-12-25 16:02] w4nderlust commented on #565
Merged, thanks!

[2019-12-25 16:02] #565 closed

[2019-12-25 16:05] w4nderlust commented on #581
Thanks for asking this question @guhuawuli.. There is curently no specific mechanism for chinese text, but you tokenize the text as characters and use a character based model (use `level: char` in you text feature to obtain this(. If you can point me to the specific mechanism in TensorFlow for dealing with Chinese I will take a look and try to integrate it.

[2019-12-25 16:06] w4nderlust commented on #570
@ydudin3 That's correct, it's not really about the model but the dataset, so we should probably mode that parameter somewhere else, like in the preprocessing section of the model definition.

[2019-12-25 16:09] #570 closed

[2019-12-25 16:10] w4nderlust commented on #570
@ydudin3 's PR should have solved this, can you confirm @flozi00 ?

[2019-12-25 16:24] w4nderlust commented on #328
Interesting, I'd like to dig deeper, but it's difficult without a reproducible example. I checked the code that prints the table during training and can't find anything wrong about it. If you can find a way to reproduce the issue I'll look into it.

[2019-12-25 16:27] w4nderlust commented on #592
The scores of the loss seems really high at the seocnd epoch, so it's likely a convergence problem. Decreasing the learning rate is usually a good starting point, glad it worked for you, but I'm curious if there was something specific in your data that led to this weird behavior. Anyway, there are some knobs for unbalanced data, like label smoothing and class weighting that can turn out to be usef

[2019-12-25 16:31] w4nderlust commented on #583
@topspinj there's plenty of explanations about the data, can you be more specific about what you are missing? In particular for sentiment analysis just provide a csv with one column containing the text and one contaning the sentiment class, any label for the class would work, you know what the labels mean, and no, there's no difference wrt text classification. Regarding all the tasks, there's no "

[2019-12-25 16:33] w4nderlust commented on #593
@George3d6 no worries, please let us know if you encounter other problems.

[2019-12-25 16:34] w4nderlust commented on #596
This was likely a tensorflow installation problem

[2019-12-25 16:45] #591 closed

[2019-12-25 16:46] w4nderlust commented on #591
Should be fixed, let me know if there are further errors.

[2019-12-25 16:51] w4nderlust commented on #587
And they are calculated depending on the ground truth of the different sets (training, validation and test). How to quantify whan constitutes a good prediction depends on your problem and also depends on the range of values you are trying to predict. If you values are between 0 and 10 and the MAE is  5, that's a pretty bad prediction and 0.5 would be a relatively good prediction, but if you values

[2019-12-25 16:55] w4nderlust commented on #595
As explained in the [User Guide](https://uber.github.io/ludwig/user_guide/#collect_weights) the command collects the weights of a specific tesnor in the model. In order to know which tensor, you have to specify its name. In order to know the name you can either used logging level debug when building the model (and the name of the tensors will be displayed when the model is built) or open the model

[2019-12-25 17:19] w4nderlust commented on #603
Dear @theodor38 ,

thank you very much for this post and for your kind words. It may be difficult to perceive, but working on an open source project like this can be overwhelming, and most of the communications we receive are about errors or bugs to be solved, words of appreciation like yours are rare, but very much appreciated and help substantially in keeping us motivated!

Be sure that Ludwig i

[2019-12-25 17:23] w4nderlust commented on #588
Just to clasify, the single neuron is a simple linear transformation, the idea is that it sould learn to scale different input numerical features differently is needed, but I agree with the idea to be able to provide all the other parameters of a fully connected layer, there's no reason not to.

[2019-12-25 17:29] w4nderlust commented on #605
Sorry for the late answer. Yes the BERT encoder is pretty big and the size of the activations is big too, so depending on your available VRAM / RAM you may need to decrease the batch size to make it run on your system. Thank you for posting the solution to this problem, closing the thread.

[2019-12-25 17:29] #605 closed

[2019-12-25 17:56] w4nderlust commented on #597
This is weird, you are using Mac OS, so you should have TkAgg as a backend. That's the whole reason why there's that check `if platform == 'darwin'`.
Could you please both tell us what is the value of the platform variable and try to replace `TkAgg` with `agg` as suggested [here](https://github.com/matplotlib/matplotlib/issues/9017)?

[2019-12-25 18:04] #547 closed

[2019-12-25 19:51] flozi00 commented on #570
Confirmation, it works
Thank you

[2019-12-25 22:46] theodor38 commented on #603
@w4nderlust @msaisumanth

Thank you much for the update. I wish you a great new year and best of luck with continued development with Ludwig.

In time I will try to contribute as well as I get better myself technically speaking.

Kind regards
Memo

[2019-12-26 10:50] solyron commented on #587
yes, thank you

[2019-12-27 22:33] jimthompson5802 commented on #462
@danielduckworth @the-learner @w4nderlust @msaisumanth

From what I can tell there has been no activity on this issue since August.  If there is still an interest in providing this capability, I have a working prototype based on guidance given in the last response.  If there is an interest, I'll submit a PR for this prototype to continue the development effort.

I followed these points:
[code]
A n

[2019-12-28 01:36] vimagick commented on #83
There should be 6 output_features:

-----------------------------------

File: captcha.csv

[code]

File: captcha.yaml

[code]

[code]

[2019-12-28 04:26] slavakurilyak commented on #193
Any updates on this? I am very interested in seeing Ludwig democratize machine learning for the web and beyond

[2019-12-29 06:48] mangleddata commented on #592
There were some bad outliers in my data which I removed (bad as in unrealistic outliers). I don't know if that's what caused this or not - but since then my data has been cleaned. But still hunting on ideas to improve False Discovery Rate. What I need is to reduce the false discovery rate of one of the class  (but could compromise on other metrics for example). I also oversampled the training data

[2020-01-03 13:05] iris0329 commented on #46
What solved the problem for me was to restart my kernel, import the following first:

[code]
Then,
`
import matplotlib.pyplot as plt`

You probably imported matplotlib with another framework before you tried to change to TKAgg. Restart your kernel.

[reference](https://stackoverflow.com/questions/55811545/importerror-cannot-load-backend-tkagg-which-requires-the-tk-interactive-fra)

[2020-01-05 06:47] guhuawuli opened #606 "Does training really utilize the GPU?"
**Describe the bug**
No matter I use one gpu or four gpu, the speed didn't change.
I wanted to use bert model do classification. I check the speed of training (from https://kashgari.bmio.net/tutorial/text-labeling/#performance-report) is 200 seconds with one GPU. But my training process need 3 hours one epoch with same one gpu.
In order to find the reason of it, I add 4 GPU to train the same model

[2020-01-06 18:57] msaisumanth commented on #606
@guhuawuli Could you please describe your data as well? How much data is being used for training, batch size etc. ?

[2020-01-07 03:10] guhuawuli commented on #606
training+validation+test data=50000
I tried many batch size (16,64,128... ), but didn't make any difference.

model definition:

input_features:
    -
        name: review
        type: sequence
        encoder: bert
        config_path: uncased_L-12_H-768_A-12/bert_config.json
        checkpoint_path: uncased_L-12_H-768_A-12/bert_model.ckpt
        do_lower_case: True
        preprocessing:

[2020-01-07 18:27] msaisumanth commented on #606
Interesting. Could you please try one more thing? Try setting the logging level to debug. That might shed some light on what's going on.

```--logging_level debug```

[2020-01-08 01:27] guhuawuli commented on #606
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (ty

[2020-01-08 19:06] msaisumanth commented on #606
/usr/local/bin/ludwig experiment --data_csv ChnSentiCorp_htl_all.csv
--model_definition_file model_definition_bert.yaml --logging_level debug

you didn't include the gpu parameters?

[2020-01-08 22:15] w4nderlust commented on #606
The answer is simple: Tensorflow allocates memory on all the GPUs it can find (the ones you specify), but that doesn't mean it uses them. It depends on the architecture of the model, like some layers may live on one GPU and some layers may live on another GPU. In Ludwig all the model lives on one GPU. In order to be able to leverage multiple GPUs fr training you need to set up a multi-gpu distribu

[2020-01-08 22:15] #606 closed

[2020-01-08 22:17] w4nderlust commented on #193
@slavakurilyak  unfortunately no, we haven't got to it yet. We would welcome contributions from the community as our backlog is pretty full at the moment

[2020-01-08 22:23] w4nderlust commented on #462
@jimthompson5802  thank you! This actually sounds really promising! Please go ahead with the PR so that we cna look at it. I understand the problem with preprocessing data 3 times, but I would rather have the kfold functionality with this limitation (that can be fixed later) rather than not having it.
One final thing: in the kfold statistics file, maybe there could be an additional `'aggregate': {

[2020-01-09 14:34] ifokeev commented on #603
@w4nderlust by the way, what is the ETA to say thank you for `TF 2`? ;)

[2020-01-09 19:41] w4nderlust commented on #603
It's the second big thing we will be focusing on after we are done with preprocessing. Hopefully we will be done with preprocessing by the end of January and work on TF2 in February. Can't be 100% sure we'll finish by the end of February, bu that's what we are shooting for.

[2020-01-10 00:07] #554 closed

[2020-01-10 16:41] carlogrisetti opened #609 "In preprocessing, when .hdf5 is not existing, split is ignored"
If split is not "full" (ie: I only want to use training or validation or test data to run a test, for example) and I don't have a .hdf5 file, data is loaded anyway, but without honoring the split request.

Reference: https://github.com/uber/ludwig/blob/master/ludwig/data/preprocessing.py#L804-L840

[2020-01-10 16:45] carlogrisetti commented on #609
This can be validated running a test on a .csv dataset without a .hdf5 and then giving also the .hdf5
In a situation where you have 1000000000 train examples and 1 validation example, running a test with --split validation gives the same results as a --split full when .hdf5 is missing, and works well if a corresponding .hdf5 is already present.

[2020-01-10 20:27] mangleddata opened #610 "Deadlock with some datasets"
**Describe the bug**
Some datasets cause hangup with no progress being made.

**To Reproduce**
Unfortunately, I don't know if I can provide a reproducer since the data is custom data. However, I am happy to provide log info or any other data that would be helpful. The log shows deadlock on 1st epoch

1,0]<stdout>:╒══════════╕
[1,0]<stdout>:│ TRAINING │
[1,0]<stdout>:╘══════════╛
[1,0]<stdout>:
[1,

[2020-01-12 01:42] jimthompson5802 commented on #560
Closed by #564, #578, #599

[2020-01-12 01:42] #560 closed

[2020-01-13 04:17] raybg commented on #201
Hi,
I too have a same case where i am trying to convert a .txt file into .csv. It has | pipe, @ at symbol, ; semi colon. So while doing a read_csv, it is giving me this error.

ParserError: Error tokenizing data. C error: Expected 2 fields in line 274, saw 3

I do have multiple data in a particular row and that is not uniform, but thats how i would want it ..

Can anyone give any suggestion ??

[2020-01-13 18:45] msaisumanth commented on #201
Can you give a sample of the data (A few example rows) ?

You need to make sure it is possible to split each row into columns appropriately based on an identifier (',' or '\t' for example).

[2020-01-13 18:50] w4nderlust commented on #610
@mangleddata you can find a script to generate synthetic data that look like your in `data/dataset_synthesizer.py`. If you can provide a synthetic dataset together with your model definition to reproduce the issue we would be happy to look into it. Also, being int a Horovod related issue, maybe @tgaddair may have suggestions.

[2020-01-13 20:13] mangleddata commented on #201
@raybg - I suspect you have issues with escaping certain cells incorrectly.  Your error is a parsing error.  See example

    import sys
    if sys.version_info[0] < 3:
        from StringIO import StringIO
    else:
        from io import StringIO
    import pandas as pd

    works = StringIO("""text,val
    ludwig, 1
    """)

    donotwork = StringIO("""text,val
    ludwig",", 1
    """)

    d

[2020-01-13 21:26] tgaddair commented on #610
Hey @mangleddata, how many worker processes are you using (`-np`)?  This kind of error suggests that the the amount of work being done is different between the workers.  Common causes are uneven distributions of the dataset (one worker gets extra batches per epoch, or one worker does validation while the others are proceeding with the next epoch).

[2020-01-14 18:54] w4nderlust commented on #609
Let me look into it

[2020-01-15 04:08] DonaldTsang opened #612 "Questions regarding Ludwig about drag-and-drop UI"
People on the internet kept echoing the idea that Ludwig is "drag and drop" but I have not seen any documentation that make this claim, is it true?

For reference here are some "drag and drop" repos
- https://github.com/sony/nnabla
- https://github.com/biolab/orange3
- https://github.com/ICT-BDA/EasyML
- https://github.com/libfann/fann (3-rd party drag and drop)
- https://github.com/rapidminer/rap

[2020-01-15 16:23] DonaldTsang commented on #612
I know, right? Here are some articles claiming that it IS drag-and-drop.
https://pureai.com/articles/2019/02/11/uber-ludwig.aspx
https://hackernoon.com/10-must-know-open-source-tools-for-machine-learning-rb1wc34ce
https://algorithmia.com/blog/six-open-source-machine-learning-tools-you-should-know

I think I know where it began
https://eng.uber.com/managing-data-workflows-at-scale/

[2020-01-15 17:46] mangleddata commented on #610
@tgaddair I have 8 workers.  The dataset is balanced (two classes). Are there any ways to force a even distribution ? I will look into creating a reproducer w/ synthetic data. Not all datasets of similar nature cause it, so puzzled. What would be a useful feature is to shutdown if deadlock happens. Because overnight runs hang and it'd be better to shut down the run rather and may be move on to a d

[2020-01-15 17:54] tgaddair commented on #610
@mangleddata, I mean is the dataset evenly divisible by 8 into an equal number of batches per epoch?  If not, that could be the issue.  We would typically truncate extra batches to ensure they are evenly split, I'm not sure if Ludwig accounts for this automatically (@w4nderlust, can you clarify?).

If you want Horovod to shutdown on deadlock, you can use the `--stall-check-shutdown-time-seconds` a

[2020-01-15 18:09] mangleddata commented on #610
@tgaddair - Dataset may not be evenly divisible by 8. I have separate data for train, valid and test (in the ratio 80%, 10%, 10% roughly).

Could certainly trim the train and valid to be evenly divisible by 8 (I assume both train and valid right?). The --stall-check-shutdown-time-seconds is a great tip. Thank you! Will try it.

[2020-01-15 18:15] tgaddair commented on #610
@mangledata, yes, both train and validation (assuming you are using Horovod for validation as well, which is recommended).

[2020-01-16 01:41] w4nderlust commented on #610
This is Ludwig's way to balance data:
https://github.com/uber/ludwig/blob/master/ludwig/utils/batcher.py#L163
Different workes may get up to one batch difference, but that hasn't been a problem so far. if you think that's the source of the problem i can investigate more.

[2020-01-16 01:45] w4nderlust commented on #610
Yes Ludwig uses the same batcher for evaluation too: https://github.com/uber/ludwig/blob/master/ludwig/models/model.py#L1461:9

[2020-01-16 05:30] mangleddata commented on #610
@tgaddair - Turned out the hang issue came back even after I trimmed down train/valid data to be evenly divisible by 8. I am trying my run again with `--stall-check-shutdown-time-seconds` parameter

[2020-01-16 18:30] w4nderlust commented on #610
@mangleddata let me know if you have some data to reproduce the issue. The fact that it happens only in a specific scenario makes me think it's data related.

[2020-01-16 22:33] w4nderlust commented on #612
Looked at the links, you are right there is some confusion as Ludwig has no frag-and-drop UI at the moment.

[2020-01-17 09:22] DonaldTsang commented on #612
@w4nderlust maybe add a note in the ReadME regarding such non-feature.

[2020-01-17 19:01] w4nderlust commented on #612
Thanks for the suggestion, but I don't think it's necessary. I will reach out to the authors of the articles to make ask them to edit the text.

[2020-01-18 03:14] theodor38 commented on #612
speaking of drag and drop, I have just ran into this hidden gem called Orange.
Pretty cool stuff
https://orange.biolab.si/

It is an open-source data visualization, machine learning and data mining toolkit
@w4nderlust

[2020-01-18 03:34] DonaldTsang commented on #612
@theodor38 unfortunately they refused to add Recurrent Neural Networks (RNN) and other more complex network structures into their repos, if you can find someone to fork it and make it happen that would be great.
https://github.com/biolab/orange3/issues/3522 https://github.com/biolab/orange3/issues/3297

[2020-01-18 07:32] ifokeev commented on #612
@DonaldTsang it will be too expensive to create UI for ludwig. I created for myself, but it took so much time. PIero wouldn't have any ability to finish the core, if he spends team time on the UI.

[2020-01-18 07:36] DonaldTsang commented on #612
@ifokeev perhaps crowd-fund this UI building project, because there is a societal demand for ML UI out there?
Also is it possible for us to add features to exstablished UI-based ML toolkits to simplify some of the work?

[2020-01-18 07:48] ifokeev commented on #612
@DonaldTsang

that's not easy to valuate this UI and finish the crowd-funding company. I couldn't get from the community $1M+. But idea is cool.

I don't know yet any UI that could work with the neural networks and bigdata. It's kind of commodity for now. We have to wait 1-2 years to get open sourced UI for neural networks, I think.

[2020-01-18 08:04] DonaldTsang commented on #612
@ifokeev

So it has been tried and failed? That is slightly unfortunate.

I can see some examples like https://github.com/ICT-BDA/EasyML which uses Tensorflow, and others on the main issue list that supports Neural Networks and other computations due to support of with either TF or PyTorch...
and then there are brave souls like https://github.com/TommyX12/tensorbuilde andhttps://github.com/Cloud-C

[2020-01-18 08:17] ifokeev commented on #612
@DonaldTsang

No. I mean, it's too difficult to start crowdfunding campaign.

Most useful here is `EasyML`, but yes, it's java.
I use javascript as my main project language, all experiments launching in docker containers, so It's possible to add any other NN frameworks.

[2020-01-19 09:24] bcordo opened #614 "Sagemaker Support"
What would be the best way to use this with AWS sagemaker? Would it even make sense to use it with Sagemaker, or are the Ludwig features duplicates?

I have found this: https://kenza-ai.github.io/sagify/
And resources such as this: https://sagemaker.readthedocs.io/en/stable/using_tf.html

I just wanted to get people's opinions first.

[2020-01-19 10:53] iEvidently opened #615 "Add class_weights to binary output features loss for dealing with unbalanced data"
Good day,

Please, I will like to know how to handle imbalanced text classification. I have class distribution of 8.4% versus 91.6%. Show oversample before passing the data to Ludwig or just use 'loss' class_weight.

I will be glad if you can help clarify how to calculate class_weight.

Thanks

[2020-01-19 12:20] JaiKotia opened #616 "Running the One Shot Siamese Network produces ValueError: Trying to share variable image_path_1/fc_0/weights, but specified shape (46656, 128) and found shape (3136, 128)"
**Describe the bug**
This is the error traceback log:

**To Reproduce**
I tried to reproduce the example given in the documentation:
https://uber.github.io/ludwig/examples/#one-shot-learning-with-siamese-networks

Used exactly the same model_definition.yaml and omniglot data. Ran the following command:

[code]
**Environment**
 - OS: Ubuntu
 - Version: 18.04
- Python version: 3.6.6
- Ludwig version

[2020-01-20 10:03] jenishah commented on #614
This feature would be extremely useful.

[2020-01-21 19:46] msaisumanth commented on #616
Can you please share your model definition? This issue is due to the image size mismatches somewhere.

Are all the images in your dataset of the same shape?

[2020-01-21 21:39] #527 closed

[2020-01-21 21:56] msaisumanth commented on #615
@iEvidently You can specify class weights for the loss function as follows:
[code]

This would give the weight 5 for class '0', 1 for class '1' and 1 for 'UNK' (unknown). You'll have to experiment with these numbers to get better performance.

[2020-01-22 21:20] w4nderlust commented on #612
My take on this is that it would not be that difficult to write a GUI for building Ludwig models, but it definitely requires time and knowledge of frontend development. I can definitely learn that and give it a shot, but as @ifokeev is saying, my time is probably better spent on the core.

If someone from the community has time and will to contribute such a thing, it would be lovely, I can provide

[2020-01-22 21:53] w4nderlust commented on #614
Taken a look at it. It seems pretty straightforward to implement the train and predict functions in sagify. They will probably end up 1/2 lines of code each calling `LudwigModel.train` and LudwigModel.predict`.
This is a potential feature to add and if someone from the community wants to work on it, that would be great.

[2020-01-22 21:57] w4nderlust commented on #616
No Sai, the error is due to sharing the parameters between the two branches of the siamese networks. He probably defined some fully connected weights in one branch and not in the other. Parameters of both the branches that are tied should be identical.
@JaiKotia  please share your model definition so that we can confirm but I'm pretty confident that's the cause.

[2020-01-22 22:12] iEvidently commented on #615
@msaisumanth Thanks a lot for the suggestion. When I added the class_weights for the model, I got the following error:

`loss_weight = float(self.loss['weight'])
KeyError: 'weight'`

Since my model is a binary  classification, I think 'class-weight' may not be applicable.

My original model definition was:

`input_features:
  - name: sentence
    type: text
    encoder: parallel_cnn
    level: wor

[2020-01-23 06:12] msaisumanth commented on #615
Can you share how you added the class weights to the model definition?

[2020-01-23 06:38] JaiKotia commented on #616
Hey @msaisumanth, @w4nderlust thanks for the reply. This is the model definition. I didn't make any changes to it from the documentation example:

i```
nput_features:
    -
        name: image_path_1
        type: image
        encoder: stacked_cnn
        preprocessing:
          width: 28
          height: 28
          resize_image: true
    -
        name: image_path_2
        type: image

[2020-01-23 07:02] iEvidently commented on #615
This is how added the class weights:

`input_features:
    -
        name: sentence
        type: text
        level: word
        encoder: parallel_cnn

output_features:
    -
        name: label
        type: binary
        loss:
             class_weights: [5, 1, 1]`

[2020-01-23 21:40] msaisumanth commented on #615
Got it. It looks like the format is different for category features and binary features. For binary, the current expectation is like below:

[code]

I just verified that this works. Maybe we should have the same notation for both binary and category features @w4nderlust

[2020-01-23 21:43] msaisumanth commented on #616
Could you try rewriting the width and height parameters for image_path_2 just like for image_path_1?

I think that's the issue.

[2020-01-23 22:33] #616 closed

[2020-01-23 22:35] w4nderlust commented on #616
So the error in the docs was fixed. Can you please confirm that with the correct preprocessing now the example forks? In case it doesn't we can reopen the issue.

[2020-01-24 05:15] iEvidently commented on #615
@msaisumanth Thanks for clarifying that. No more error message with ```weight: 5```

[2020-01-24 10:23] eleminer opened #618 "Key Error: "Unable to open object (object 'second' doesn't exist)""
Key Error, when i start the training with a multi-line csv.
----*yaml-File:*----
input_features:
    -
        name: first
        type: numerical
    -
        name: second
        type: numerical

output_features:
    -
        name: label
        type: category

----*csv-File (example)* ----
label,first,second
1,4,6
1,6,2
0,8,2
....
........

**Expected behavior**
The training starts....

**Env

[2020-01-24 10:25] JaiKotia commented on #616
@w4nderlust works fine now, thanks! :smiley:

[2020-01-24 12:23] eleminer commented on #618
my fault...  i got it :)

[2020-01-24 12:23] #618 closed

[2020-01-26 00:54] DonaldTsang commented on #612
Fair enough.

In that case is it possible to advertise this "community goal"?

[2020-01-26 17:04] charlanalves opened #619 "How to use other languages with bert Encoder"
Describe the use case
is there some way to use other languages with Bert encoder?

Describe the solution you'd like
Something like this:
   input_features:
    -
        name: text
        type: text
        encoder: bert
        config_path: ./bert/bert_config.json
        checkpoint_path: ./bert/bert_model.ckpt
        do_lower_case: False
        preprocessing:
          tokenizer: bert

[2020-01-27 11:01] jenishah commented on #614
I want to work on it, and I read the documentation for sagify.
Are we supposed to push the final docker image to ECS?

[2020-01-27 20:01] jimthompson5802 opened #620 "bug: test_visualization.py::test_visualization_calibration_1_vs_all_output_saved fails with IndexError in seaborn regplot() function"
**Describe the bug**
Unit test
[code]
fails with `IndexError` exception in the travis ci run and locally for me in a docker container:
[code]

**To Reproduce**
Steps to reproduce the behavior:
Any PR submitted after 24Jan2020 should exhibit the problem

**Expected behavior**
Unit test should not fail

**Screenshots**
See above

**Environment (please complete the following information):**
Failure o

[2020-01-28 10:28] trojan03 opened #621 "Progress bar using programmatic API"
**Describe the bug**
I wonder if there is any way to output the progress bar using programmatic API in Python similar to when calling `ludwig train` from CLI? I already tried setting `logging_level=logging.DEBUG` when calling the train() function but it only outputs the tf-stuff. I would appreciate any help. Thanks!

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
A

[2020-01-28 12:51] atwahsz opened #622 "Negative numerical predictions on always positive values"
Negative numerical predictions on always positive values

Is there more parameters that can be added to the output features more than type: numerical . To prevent negative predictions?

[2020-01-28 17:38] msaisumanth commented on #622
Right now there's no way to enforce it I think. What would be the way to penalize when the number goes below 0? Can you define an appropriate loss function?

[2020-01-28 17:43] msaisumanth commented on #621
@trojan03 Not sure what's going on. When you set the logging level to to debug, it shouldn't disable the progress bar.

Are there any error/warning messages in the logs?

[2020-01-28 17:45] msaisumanth commented on #620
I doubt there'll be any be repercussions to changing to seaborn <= 0.9.0. So it should be okay. @w4nderlust

[2020-01-28 19:47] msaisumanth commented on #619
If you download the multilingual version of BERT (from https://github.com/google-research/bert), you maybe able to use it as is (```tokenizer: bert```). Could you please give that a try and let us know?

[2020-01-28 19:48] msaisumanth commented on #619
The webpage says that if you download the Cased version, you should be able to run multilingual models without any code changes

[2020-01-28 19:51] w4nderlust commented on #619
If you are loading a pretrained BERT model you'll need to use the associated BERT tokenizer, otherwise it will simply not work. Given that, as @msaisumanth is saying, you can use the multilingual versions of BERT for that, together with their respective tokenizer vocabulary.

[2020-01-28 20:07] w4nderlust commented on #620
I think it is worth fixing the specific function call and testing seaborn 0.10, we don't want to keep hooked to older versions.

[2020-01-28 20:28] jimthompson5802 commented on #620
@msaisumanth  @w4nderlust
Initially I did try to figure out how to fix the function call but I got lost in understanding some of the internal data required data structures.  I'm still willing to try and fix the function call to support `seaborn 0.10.0`.  I may need some help in questions about the data structures for the 1_vs_all plot.

While I work on the fix to support `seaborn 0.10.0`, I'll sub

[2020-01-28 20:49] w4nderlust commented on #620
Makes sense @jimthompson5802 , thank you!

[2020-01-28 21:01] w4nderlust commented on #621
@trojan03  since the latest version we changed the way logging works. Now the logging level has to be set in the `LudwigModel` initializer. There is also a `set_logging_level` method if you want to change the logging level after initialization. Refer to the [API docs](https://uber.github.io/ludwig/api/LudwigModel/). Please let us know if this solves the problem.

[2020-01-28 21:03] charlanalves commented on #619
First of all , thank you guys for your prompt reply!
I'll do what @msaisumanth said and let you know

[2020-01-28 21:04] w4nderlust commented on #612
Not sure exactly what it entails, but I guess yes, it could definitely be something I'd love the community to contribute.

[2020-01-28 21:14] w4nderlust commented on #622
@atwahsz if by "on always positive values" you mean "from a model trained on data with output labels containing only positive values and testing it on data from the same distribution as the training one" then that's surprising. I would expect the model to predict values within the range of the ones shown during training.

What I would do is to double check the data first, to make sure there is not

[2020-01-28 21:17] msaisumanth commented on #621
shoot, yes! Didn't realize the command mentioned there was model.train.

You need to set the logging level during model initialization.

[code]

[2020-01-28 22:09] trojan03 commented on #621
Thanks! My mistake, I did not realize that setting the logging_level was referred to initialization of the model. Works as expected!

[2020-01-28 22:09] #621 closed

[2020-01-28 22:53] w4nderlust commented on #620
I actually added it myself. I'll keep the issue open anyway, because I prefer to adapt to whatever API change seaborn did in 0.10.0 as a more sustainable solution moving forward.

[2020-01-28 23:06] jimthompson5802 commented on #620
OK..I focus on the long-term fix to support `seaborn 0.10.0`

[2020-01-28 23:56] slederman opened #624 "ludwig w/tensorflow 1.15 and python 3.7.6 dies looking for GLIBC_2.23"
I've git a conda environment in which I'm trying to get ludwig to run. I've got tensorflow 1.15 and python 3.7.6 in that environment. When I run ludwig I get this error:

ImportError: /lib64/libm.so.6: version `GLIBC_2.23' not found (required by /ai/anaconda/envs/ludwig/lib/python3.7/site-packages/tensorflow/python/_pywrap_tensorflow_internal.so)

I don't see a way to get the requested version of

[2020-01-29 02:10] w4nderlust commented on #620
I've been working on this a bit, made some discoveries and pushed some code: https://github.com/uber/ludwig/commit/997c6bc02dffcc726efda7ddbb5978e425ffab96
The first discovery is that the number of classes was wrong, so I fixed it.
The second discovery is that there was no way to tell the plot function to draw a line, so now I set it to check how many points are actually there and and set the orde