[2020-01-29 02:12] w4nderlust commented on #624
It's a TensorFlow installation issue, not a ludwig one.
This may help you https://github.com/tensorflow/tensorflow/issues/28660

[2020-01-29 04:37] atwahsz commented on #622
I added clip: [x,y]

The model trains only improved in one epoch . And when checking predictions it predicts nothing only outputs the maximum value y

[2020-01-29 08:03] carlogrisetti commented on #622
That's because, no matter which adjustment to the weights it makes during the training, it will always be clipped to the maximum value of the clip range and thus not improving the prediction result in the validation evaluation.
Clipping only forces the output to be restrained to the min-max range, it does not force the model to "understand" that that's the min-max expected range for that specific

[2020-01-29 11:40] jimthompson5802 commented on #620
I pulled down your commit `997cbc` and can reproduce the symptoms.  Right now I'm focusing on understanding data flows to `seaborn`'s `reg_plot()` function.

[2020-01-29 12:34] slederman commented on #624
The combination of python 3.6.8 and tensorflow 1.13.1 works with ludwig. Thanks for your help!

It would be really helpful if there were a compatibility matrix to help folks to know which combinations of versions of tensorflow/python/ludwig work together. In particular, I learned the hard way that tensorflow 2.0 doesn't work with ludwig.

[2020-01-29 12:34] #624 closed

[2020-01-30 01:05] jimthompson5802 commented on #620
@w4nderlust   I instrumented the function `calibration_1_vs_all()` in `ludwig/visualize.py`.

Re: your observation that the api test succeeds but the cli version fails with this error `ValueError: On entry to DLASCL parameter number 4 had an illegal value`.

From what I can tell the api and cli tests create the same synthetic data set for the tests.

In case of the **cli** test the probabilities p

[2020-01-30 01:28] w4nderlust commented on #624
Well it's in the requirements :)

[2020-01-30 01:35] slederman commented on #624
Ah, I do see this now: https://github.com/uber/ludwig/blob/master/requirements.txt
It would be helpful to include the support version of Python as well as that was part of the issue.

Thanks again for your help. Not meaning to be critical. Just hoping to save others some grief.

[2020-01-30 01:38] w4nderlust commented on #620
The structure is the same, although the distributions are very different. In the second case there's something weird as they don't look like probabilities, i.e. the rows don't sum up to 1... But that's the one that works urprisingly enough.
One potential weak point is the `calibration_curve` as sometimes it returns vectors of size 21 as rquested (number of bins) sometimes it doesn't so maybe that

[2020-01-30 01:42] w4nderlust commented on #622
I second @carlogrisetti , there's probably something fishy in the data. And for us the only way to help you is to have more details (data to reproduce the issue and the model definition).

Regarding the clipping as postprocessing, I would prefer not to have it in Ludwig and let people do it manually on the outputs, as it seems like an application specific logic, but if there are good arguments i c

[2020-01-30 01:44] w4nderlust commented on #624
Sure no worries. I guess the point is that it's difficult to keep track of all combinations. For instance I work with python 3.5 usually (for compatibility) and have never seen this specific issue, while in other case I had Ludwig run fine on 3.4 and 3.5. Anyway ,if thigs like this happen consistently maybe I can add rules to the CI tool to deal with them, what do you think?

[2020-01-30 08:33] flozi00 commented on #612
My skills in GUI development are unfortunately very limited, but it would be a very good feature.
You could integrate new models, like the new google reformer model, into ludwig much faster.
Would it be an option to create the models with deepcognition and then somehow import the exported coede into ludwig ?
https://deepcognition.ai/features/deep-learning-studio/

[2020-01-30 11:48] jimthompson5802 commented on #620
I understand each row in the probabilities matrix should sum to one.  Although the **cli** version fails, it conforms to this requirement (within rounding).   The **api** version, which does not fail, does not conform to this requirement.

From what I can see the sample training data created for both the **api** and **cli** version create a two category output response variable:
[code]
Excerpt fro

[2020-01-30 15:28] slederman commented on #624
Coding in rules sounds like a great idea to me. If you as primary developer have difficulty tracking all the combinations then ludwig users will have even more trouble. In particular, if TF 2 is not supported (I found this out the hard way) it would be nice to code in a check for that. Thanks again for all of your hard work. Ludwig is very impressive software.

[2020-01-31 01:40] jimthompson5802 commented on #620
@w4nderlust I have an explanation for this issue you pointed out re: the **api** test:

I believe the issue is due to an error in the `Experiment` class in `test_visualization_api.py` in this statement (line 85)
[code]
<img width="721" alt="Experiment_code_collect_probabilities" src="https://user-images.githubusercontent.com/1425269/73505001-32d67d00-439f-11ea-8717-0cd6ea27b67d.png">

This is the

[2020-01-31 02:11] jimthompson5802 commented on #620
After making the change described above, the probabilities for the **api** test case now have the correct structure, i.e., the rows sum to one.
<img width="480" alt="Screen Shot 2020-01-30 at 21 08 08" src="https://user-images.githubusercontent.com/1425269/73506828-e130f100-43a4-11ea-9616-eed99803eabb.png">

With this change the **api** unit test now fails just like the **cli** unit test.

I think

[2020-01-31 04:04] jimthompson5802 commented on #620
@w4nderlust   I may have found root cause for this issue.  In a nutshell the issue occurs when generating calibration plots for the `<UNK>` class.  If this class is bypassed, then both the **api** and **cli** 1_vs_all calibration test plots complete successfully.

From what I can see, the plot points for the `<UNK>` class are only (0,0).  I think this causes the issues in generating the plots.

By

[2020-01-31 11:25] jimthompson5802 commented on #620
For completeness, tested the recommended fix with `seaborn 0.9.0` as well.  All tests pass.
[code]

[2020-01-31 12:46] jenishah commented on #494
@w4nderlust I am interested in adding this feature.
Can you please guide me towards the right files where we need to make changes?

Thanks!

[2020-01-31 12:54] jenishah commented on #494
Add a class CRFDeocder in [sequence_decoders](https://github.com/uber/ludwig/blob/master/ludwig/models/modules/sequence_decoders.py) ?

[2020-01-31 18:08] jimthompson5802 commented on #620
@w4nderlust   peeled back another layer of the onion.  I know understand why the `<UNK>` calibration plot fails.  The issue is related to how the regression polynomial's order is calculated.  For `<UNK>` only two points are passed to `seaborn`'s `reg_plot()` function.  Currently, the regression polynomial's order is calculated as
[code]
This results in order = 2.  This results in fitting a quadrat

[2020-02-01 21:45] w4nderlust commented on #624
@slederman thanks you! A little clarification: when you install Ludwig the correct version of TF is installed. I don't know how you ended up with TF2, but if you run just `pip install ludwig` it will install the right TF.

[2020-02-01 21:50] w4nderlust commented on #612
The GUI I have in mind is not a GUI for writing TF / Keras code like the part of deepcognition you are referring to. The Keras code that deepcognition outputs would is already really easy to add to Ludwig, as is any other TF model, I don't think the Ludwig GUI should do that. What I believe it should do is it should help creating Ludwig model configuration files  and allow to run the CLI commands

[2020-02-01 21:58] w4nderlust commented on #494
Yes that would be great. Consider that we are planning to move to TF2 soon, so at the moment you can use the `contrib` package, but make sure that you'll be able to port to the `addons` package.

[2020-02-01 22:00] w4nderlust commented on #620
You are assuming everything correctly

[2020-02-01 22:08] #620 closed

[2020-02-02 01:57] w4nderlust commented on #615
There's a bit of confusion here. `weight` is not the class weight for binary features. `weight` is a parameter used when a multi-task setting is used, i.e. when there is more than one feature and one wants to give a different weight to the loss of a specific feature. This has nothing to do with the weights of each class. I just realized this is not explained anywhere in the docs so we will have to

[2020-02-02 02:16] w4nderlust commented on #462
The great  PR by @jimthompson5802 #608 is now merged, we can close this.

[2020-02-02 02:16] #462 closed

[2020-02-02 02:19] w4nderlust commented on #462
If anyone wants to help on surfacing this feature also in the API feel free to open a new issue.

[2020-02-03 05:47] iEvidently commented on #615
Thanks @w4nderlust for clarifying that, I will do as suggested. Change the outcome to category and use class_weights.

[2020-02-03 19:21] theodor38 commented on #603
I have a quick question.

Does Ludwig team have any plans to integrate any multimodel learning?

Is multimodel learning a practical reality as of yet? I know Google had published the "one model to learn them all" paper in 2017 but has it been integrated into TensoFlow and what not?

I had been really curious about multimodel learning. What are your opinions on it?

Memo

[2020-02-03 23:32] theodor38 commented on #603
Thank you for the Reply!

Once with Ludwig I tried multimodality such that I created a dataset of  rows of two numbers from 1 to 1000 and an output as their addition(simple arithmetic) and whether the result would be odd or even. So in this case the multimodality was classification and regression at the same time.

However, I felt like there were two separate networks being trained and I was recei

[2020-02-04 01:42] w4nderlust commented on #603
If you specify multiple inputs and multiple outputs Ludwig has a separate encoder for each input and a separate decoder for each output and has a central piece called combiner that combines information from each input encoder and provides it to all output decoders. So it is one single model, some pieces of it are specific to the each input and outputs and some pieces of it are in common. How much

[2020-02-04 01:50] theodor38 commented on #603
Piero,

Thank you very much for your explanation. It makes a lot of sense

I will go through the links you have sent also.

All the best

[2020-02-04 18:05] ydudin3 commented on #575
Hey @hamletbatista, would you mind providing the model_definition.yaml which is referenced in the codelab? Thanks

[2020-02-04 21:08] ydudin3 commented on #575
Actually never mind, I see it in the template.

[2020-02-04 22:25] hamletbatista commented on #575
@ydudin3 glad to know. Please let me know if are able to get this to work

[2020-02-05 08:21] ahmadalsharef994 commented on #210
WORKING SOLUTION:

1. Go to: Miniconda3\Lib\site-packages or wherever h5py is installed.
2. Delete h5py Folder
3. Delete h5py-2.10.0.dist-info Folder (This might be different if you have a different version).
4. Install h5py again.

It worked for me after a long search. Finally, I tried to delete it manually and reinstall it. IT WORKED!!!!!

By uninstalling them using cmd, pip, anaconda Some files

[2020-02-05 20:33] w4nderlust commented on #210
@ahmadalsharef994  thank you so much for sharing your solution

[2020-02-05 20:40] baasman opened #628 "Sequences with multiple features?"
I do a lot of time series analysis using Keras and RNN layers. Generally, we have more than one feature per time step, and thus I structure my data as such:

`[[[1,2], [2, 1]], [[3, 4], [2, 6]]]`

where the dimensions are `number_of_timesteps * number_of_features * sample_size`, so in this case we have a sample of two, each with two time steps and two features at each time step. Is it possible to

[2020-02-06 01:37] ydudin3 commented on #575
@hamletbatista it seems from the logs that output tensors get appended to the input_tensors list

For example printing input_tensors yields:

`{'Category0': <tf.Tensor 'Category0/Category0_placeholder:0' shape=(?,) dtype=int64>,
 'Category2': <tf.Tensor 'Category2/Category2_placeholder:0' shape=(?,) dtype=int64>,
 'Questions': <tf.Tensor 'Questions/Questions_placeholder:0' shape=(?, ?) dtype=int32

[2020-02-06 07:35] ifokeev commented on #628
You have a very interesting case. Explain more, please.

[2020-02-06 12:51] jenishah commented on #494
Working on it

[2020-02-06 13:51] baasman commented on #628
I understand (and see examples of) how to structure a univariate time series in a pandas DataFrame. It looks like we simply create a space delimited object representing the sequence in each cell. However, what if we have a multivariate case, where we are interested in the interaction between the features, and thus want to pass multiple values at each timestep. I work in healthcare, so an example w

[2020-02-06 16:20] ifokeev commented on #628
@baasman why separate cells don't work?

[2020-02-06 20:41] w4nderlust commented on #575
That is in the cell after "try it again". Not sure why you are running it that way instead of using `model.save_savedmodel()`.

[2020-02-06 21:01] w4nderlust commented on #628
@baasman thanks for the detailed explanation. We are working on a multivariate timeseries input type that will do exactly for your cae (although the order of simensions will be batch_size x length of the sequence x features). It is pretty easy to implement, if someone wants to help out on this it would be great, I can give precise and easy instructions on how to go and do it.

At the same time, yo

[2020-02-06 21:02] hamletbatista commented on #575
I tried that first. See cells above.

![image](https://user-images.githubusercontent.com/1514243/73978311-133cd880-48fa-11ea-92d8-ba268f75744c.png)

[2020-02-06 21:04] hamletbatista commented on #575
I haven't touched this code in a while, but I added links in the comments to where I was finding suggestions to fix the issue.

The suggestion came from this comment it appears https://github.com/uber/ludwig/issues/329#issuecomment-508777581

[2020-02-06 21:06] hamletbatista commented on #575
I took a different route to solve this using HuggingFace's library, but yours would make the tutorial much simpler to follow

[2020-02-06 21:24] w4nderlust commented on #575
Yes but it is commented out, and I don't see errors there, what was wrong with it?

We are adding import of Huggingface's transformer library in the next version of Ludwig. Wonder how are you serving it as even the smaller distilled model is really expensive to use at inference time.

[2020-02-06 21:35] w4nderlust commented on #329
There's an error in that code:
[code]
This adds the outputs to the dict of the inputs. As other people are referring to this code, it's important to correct it.

[2020-02-06 23:12] hamletbatista commented on #575
There was no error or stack trace. The issue was the file generated seemed corrupted or incomplete when I tried to load it.

I will give it another try over the weekend.

Yes. I have that problem and this is mostly a learning exercise to teach marketers, not for production use. I have in my queue to investigate this research next https://cloudblogs.microsoft.com/opensource/2020/01/21/microsoft-onn

[2020-02-07 01:20] w4nderlust commented on #575
Got it, but you can understand that I need to se the error you were getting about corrupted file, otherwise it's difficult to figure out what the problem is.
Ideally you could provide a minimal self contained reproducible zip containing either data and a python script (data can be generated with the `data/dataset_sythesizer.py` script if you can't share it) or data + yaml file + command to run it.

[2020-02-07 02:26] mangleddata commented on #615
One issue I see w/ adding class_weights is, the mapping doesn't seem to follow any order. Each data file may end up with a different str2idx mapping in the train_set_metadata.json. It should probably be a key:value pair instead, I think. Or is there a way to fix the sort order somehow ?

[2020-02-07 09:23] ifokeev commented on #329
@w4nderlust I use it in this way, because I want to input all fields (inputs and outputs). Output field could be empty.

FYI: if you don't need it, just remove

[code]

[2020-02-07 09:24] ifokeev commented on #575
@w4nderlust just FYI: save_savemodel works incorrectly now. That's because of wrong placeholders' names https://github.com/uber/ludwig/issues/329#issuecomment-548854347

[2020-02-07 10:03] jenishah commented on #494
I think we do not need to  calculate loss using **_tf.nn.sampled_softmax_loss_**.
In that case  we do not have to find  a way to get **_class_weights_** and **_class_biases_**.

Please let me know if I am wrong.

[2020-02-07 11:30] jenishah commented on #494
Also, Should I  write  a different loss function ?

[2020-02-07 12:45] hamletbatista commented on #575
Yes. I will have time over the weekend :)

Interesting. I will see if I can get decent accuracy. Thanks for the insights.

I need to run the model in JS to embed in Google Sheets and Excel. Fetching from a serving URL would be my fall back option.

Thanks

[2020-02-07 18:47] w4nderlust commented on #615
@mangleddata the mapping is obtained by sorting the classes by frequency and adding a UNK class at the beginning, so: `{"UNK: 0, most_frequent_class: 1, second_most_frequent_class: 2, ...}`.

I see your point that the class weights could / should be provided as a dictionary, it makes sense, because at the moment you need to know the mapping beforehand in order to provide the weights. This can be a

[2020-02-07 18:51] w4nderlust commented on #575
Thanks, yes we are working on it. @ydudin3

[2020-02-07 23:21] w4nderlust commented on #494
You should probably be using  `tf.contrib.crf.crf_log_likelihood`. You can refer to this as a reference for implementation: https://github.com/guillaumegenthial/tf_ner

[2020-02-11 02:42] w4nderlust commented on #329
@ifokeev i believe  there's a misunderstanding about what an input feature and an output feature is. Output features cannot be inputs, they would be called inputs instead. And if for some reason you want to provide the save values as both input and output (seems weird to me as the best model will be the one that ignores everything else and only uses that input for predicting the output, making it

[2020-02-11 03:14] jimthompson5802 opened #632 "bug: test_contrib_wandb.py unit test fails ModuleNotFoundError: No module named 'six.moves.collections_abc'"
**Describe the bug**
@w4nderlust   I noticed that when you merged couple of my PRs, the unit tests `tests/integration_tests/test_contrib_wandb.py` failed with this error:
[code]
**To Reproduce**
Steps to reproduce the behavior:
Submit PR

**Expected behavior**
Unit test should not fail

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment (please complete the

[2020-02-11 21:33] #632 closed

[2020-02-12 03:56] jimthompson5802 commented on #93
@w4nderlust   If there is still interest in a` VGGEncoder`, I'm willing to take a stab at implementing it.

[2020-02-12 13:02] jimthompson5802 commented on #93
A point of clarification for the current proposal:  In regards to the `VGGEncoder`, I'm thinking of creating the VGG equivalent to the `ResNetEncoder`, i.e., the user will be able to specify a VGG16 or VGG19 network architecture, e.g., have parameter `vgg_size=[16 | 19]`.

Loading of a pre-trained VGG model will be a separate function.

[2020-02-12 14:05] iXanthos commented on #314
@w4nderlust Do we have an update on this enhancement? It is vital for comparing Ludwig with other AutoML systems and as @manugarri mentioned, the common ground is `max_runtime`.

[2020-02-12 14:52] carlogrisetti commented on #328
I costantly reproduce this issue. I'm now resuming a training on an image classifier and since resuming all the graphs outputted in the statistics are correct.

This is an entirely new dataset of 224x224 rgb images, and here's the yaml i'm using.
[model_definition_v11.zip](https://github.com/uber/ludwig/files/4192920/model_definition_v11.zip)

Ludwig is fresh from master, training on a GPU-enabled

[2020-02-12 15:46] carlogrisetti opened #633 "Tensorflow 1.15.2 is built with separate cpu-gpu packages"
Requirements were bumped to 1.15.2, but in 1.15.2 (and upwards most likely) cpu and gpu packages were separated once again, due to the discovery of an unsupported workaround to deploy packages on Pypi. Please refer to: https://github.com/tensorflow/tensorflow/issues/36347

You should decide whether to require a previous version, or whether to reinclude instructions to choose between tensorflow and

[2020-02-12 16:01] carlogrisetti commented on #328
At the end of the resumed training (manually stopped by CTRL+C) the best validation loss on combined is weirdly 0
![image](https://user-images.githubusercontent.com/4464640/74352552-f94b3c00-4db8-11ea-88ec-7025c7bd8287.png)

Looking more in depth at the graphs, something funky can be seen...
![image](https://user-images.githubusercontent.com/4464640/74352747-3fa09b00-4db9-11ea-8e32-aef59414daa0.pn

[2020-02-12 17:02] carlogrisetti commented on #328
It seems that the actual loss value for my category output feature is being outputted in the "hits_at_k" field in the table.

But I can't really understand why...

[2020-02-12 20:43] w4nderlust commented on #314
@iXanthos Ludwig is not an AutoML system, not sure where you got that >( Anyway, yes, this is a feature on our radar, but we have a few more with higher priority. This is not actually difficult to implement anyway, if you care about it I can give you precise directions on how to implement it and do a PR about it.

[2020-02-12 20:47] w4nderlust commented on #633
Oh my, I though i was done with this... :(

[2020-02-12 20:52] w4nderlust commented on #93
Makes sense, although I believe 2 encoders for pretrained ResNet and pretrained VGG would be more valuable. But ideally we want to have both vgg and resnet both trained from scratch and pretrained.

[2020-02-12 20:53] carlogrisetti commented on #633
Heh... They basically messed up with the way they generated the packages.
If I understood correctly, however, tensorflow-gpu should also cover cpu usage. It might be worth a test. They were renaming tensorflow to tensorflow-cpu and tensorflow-gpu to tensorflow (so this should be the one now supporting any architecture)

[2020-02-12 23:23] jimthompson5802 commented on #93
OK...I understand "2 encoders for pretrained ResNet and pretrained VGG would be more valuable."  I'll shift the focus.
A few questions:
* In regards to ResNet, do you want the encoder for "pretrained ResNet" to be **different from the existing** `ResNetEncoder` class or should I **extend the existing** `ResNetEncoder` class to support loading pretrained weights?   I'm thinking the **preferred appr

[2020-02-12 23:50] w4nderlust commented on #93
I guess one thing we could do in the future is calling VGG adn ResNet ecnoders that only load pretrained models `vgg` and `resnet` and calling the ones that don't load weights like `custom_vgg` and `custom_resnet` for clarity.

Regarding how to structure parameters, yes what you are suggesting makes sense. If you want a reference on a similar implementation for we did for BERT you can check the BE

[2020-02-13 09:15] carlogrisetti commented on #328
Ok found the issue... in a new training the progress_tracker.vali_stats (for example) is an OrderedDict having loss, accuracy, hits_at_k values in this specific order.
`OrderedDict([('TileType', OrderedDict([('loss', [193.31485133495147]), ('accuracy', [0.5048543689320388]), ('hits_at_k', [1.0])])), ('TileStatus', OrderedDict([('loss', [201.5639761026623]), ('accuracy', [0.3786407766990291]), ('hi

[2020-02-13 09:15] iXanthos commented on #314
AutoDL**. I would be interested, yeah.

[2020-02-13 10:01] carlogrisetti commented on #328
This is more evident if you have only one output feature, since you don't have a combined tracker (which is correctly generated since it's manually combined with loss+accuracy always in this order).
The issue only presents itself in the actual output features and it's still visible when having multiple output features. You just need to look at the output features themself and not to the combined t

[2020-02-13 10:55] carlogrisetti commented on #633
In the meantime, I can confirm that tensorflow-gpu is correctly working on a non-gpu machine.
PR #635 might be modified to always have tensorflow-gpu in the requirements since it should handle both gpu and non-gpu environments.
I could only test that on a windows machine (both GPU and non-GPU), so I can't vouch for other OSs

[2020-02-14 00:51] w4nderlust commented on #633
I tested it by specifying `CUDA_VISIBLE_DEVICES=''` and it works reverting to CPU computation. i'm not aware of other drawbacks of using the GPU version, so i updated the PR to reflect this.

[2020-02-14 00:55] w4nderlust commented on #328
great catch!!!

[2020-02-14 01:00] w4nderlust commented on #633
Merged #635 which fixes this.

[2020-02-14 01:00] #633 closed

[2020-02-14 02:52] #328 closed

[2020-02-14 10:01] carlogrisetti commented on #268
@w4nderlust Do you have any hints on how this could be implemented and\or you already are working on something similar that can be helped upon?

It's basically the only missing feature (along with the unability to export models, but this will hopefully be added as a side effect of the TF2 porting) that forces me to go traditional TF\Keras on some projects.

Thanks!

[2020-02-14 22:01] w4nderlust commented on #314
@iXanthos it's not really about the ML/DL part, it's about the Auto part :) At the moment Ludwig has no way to specify directly an hyperparameter search, the only thing it does is providing you with reasonable default for your model configuration, there is nothing automatic other than the model composition, so I definitely wouldn't call it AutoML or AutoDL. At least not yet, as hyperopt is coming.

[2020-02-15 00:05] w4nderlust commented on #615
So, quick update: I added the option to provide class_weights as a dictionary (see the commit above) and I also updated the user guide about it and also about a `positive_class_weight` parameter that is available for binary features. The changes are not yet reflected on the website as it has not yet been rebuilt, but will be reflected soon, but you can see the parameter here: https://github.com/ub

[2020-02-15 00:05] #615 closed

[2020-02-15 02:22] w4nderlust commented on #609
Just to confirm the issue: the data you are providing to test/predict has a split column, right? because if the data has no split column, this behavior is expected.
Just to be sure, can you actually provide either a script or a notebook or anything to replicate this that is self contained? I'm happy to look into it but want to be sure of what the actual issue is.

[2020-02-15 03:28] w4nderlust commented on #609
I created a PR that fixes this. The logic is the following: if the split is specified to be not `full` and the CSV contains a `split` column, the prediction will happen only on the data split. If the CSV does not contain a split column, the full data will be used and a message will be displayed to notify the user about this.

[2020-02-15 03:58] #609 closed

[2020-02-15 03:59] w4nderlust commented on #609
Merged it, the issue should have been fixed, let me know if you have other problems.

[2020-02-15 04:05] #574 closed

[2020-02-15 04:06] w4nderlust commented on #574
Set both to 0 after some testing, it's faster this way.

[2020-02-15 04:13] w4nderlust commented on #569
@surendra1472 your question is not related to this issue, please open another issue for that. Also feature importance in DL models is an open research question ( https://stats.stackexchange.com/questions/261008/deep-learning-how-do-i-know-which-variables-are-important ), there are approaches like lime and shap that approximate it.

[2020-02-15 07:10] jimthompson5802 commented on #574
I'm glad this worked out.

[2020-02-17 09:25] iEvidently commented on #615
@w4nderlust Thanks for helping resolve this.

[2020-02-18 02:26] w4nderlust commented on #484
This is also a duplicate of https://github.com/uber/ludwig/issues/268 for most intents and purposes.

[2020-02-18 02:30] w4nderlust commented on #501
Just adding more context:
This Issue is for single object detection https://github.com/uber/ludwig/issues/331
This WIP PR start implementing it: https://github.com/uber/ludwig/pull/344

[2020-02-18 02:36] w4nderlust commented on #144
I think the  notebooks and code in the `examples` section actually address this issue, so I'm closing.

[2020-02-18 02:36] #144 closed

[2020-02-18 03:12] w4nderlust commented on #603
I spent some time coming up with a project Kanban here in the project tab on GitHub: https://github.com/uber/ludwig/projects/1
Hopefully this will give more visibility on what we are working on, on priorities and encourage contribution by collaborating in the open.

[2020-02-18 11:29] jazoom commented on #201
Thank you for the deep link to the docs section on CSV formatting at the very bottom of the "user guide". I didn't find that in my searching earlier today since there was no hint of it in any of the menu items and I was working through "getting started". I'm still not sure that info helps me, though. I'm also having problems with a CSV file.

That says "default escape character", which suggests it

[2020-02-19 00:03] jazoom commented on #201
I've just had another crack at this. Changing the output delimiter to `\\` has not helped.

This two-line CSV file fails to train:

[code]

Quoting the `name` doesn't make it work. Escaping the single quotes does. Do you have any idea why they need to be quoted? There are many single quotes throughout the 11 million lines of the training CSV file and most of them don't seem to bother the CSV parse

[2020-02-19 00:15] w4nderlust commented on #201
There's a search bar on top ;)

Let me point you to the relevant piece of code, as in the meantime htere has a been a contributed PR with code that tries to figure out the separator automatically: https://github.com/uber/ludwig/blob/master/ludwig/utils/data_utils.py#L50-L80
We are also refactoring the prepocessing to allow for a more flexible process. This will likely allow you to provide addition

[2020-02-19 00:39] jazoom commented on #201
But that doesn't explain the problem with the single quotes. I just double-checked by manually typing out a CSV file to ensure no invisible characters are in there, and it still chokes on parsing.

[code]

To add more ridiculousness to my story before, this CSV file:
[code]

actually parsed fine, right. But, when I changed the extension to `.tsv` it no longer parses. Changing it back to CSV (while

[2020-02-19 00:58] jazoom commented on #201
I can confirm that changing to Windows-style line endings don't make a difference for this CSV file:

[code]

[code]

[2020-02-19 01:06] jazoom commented on #201
And you should be able to reproduce this exactly, because I used your Dockerfile to run all this:

[code]

[2020-02-19 01:35] w4nderlust commented on #201
Given the CSV:
[code]
It can be loaded by Ludwig without problems:
[code]

But given the CSV:
[code]
I got a similar error.
The reason was that whitespace was among the possible separators, and the  function that determines automatically the delimiter was returning whitespace as the tokenization character instead of comma.

Did a minor fix and now it works:
[code]
Pushing it. Please install Ludwig

[2020-02-19 03:55] jazoom commented on #201
Thanks @w4nderlust. I can confirm that has fixed all the problems.

And now that I have successfully trained something I can also confirm that Ludwig is bloody awesome. The user experience is much better than any other machine learning tool I've used. Sensible defaults plus configuration works well. Thank you for creating this and making it open source.

[2020-02-19 08:44] w4nderlust commented on #201
You're very welcome!

[2020-02-19 08:44] #201 closed

[2020-02-19 22:03] mangleddata commented on #615
+1

Thank you for adding the option quickly.

[2020-02-21 21:20] w4nderlust commented on #421
I tested this again, using the `issue_421_train.ipynb` from your zip. I restarted the kernel and obtained prediction 10 times and all of the times the predictions were the same.
Now, because this issue has be open for a while, I can't be sure if there was a problem and it has just been solved in the meantime or if there was no problem to begin with and the different predictions were an artifact of

[2020-02-23 01:08] w4nderlust commented on #569
I finally had time to look into it. The 1000 sample dataset has a bigger vocabulary, because of that the first embedding layer in the model has a different dimension, 1294 in the case of the bigger dataset, 252 as you can see from the screenshots.

![Screenshot from 2020-02-22 17-06-09](https://user-images.githubusercontent.com/349256/75101716-ecd39a00-5595-11ea-8c32-77cbd7e6e263.png)

![Screensho

[2020-02-23 01:08] #569 closed

[2020-02-24 20:07] w4nderlust commented on #124
This is a great point and should be a different Issue. Opening a new one.

[2020-02-24 20:08] w4nderlust opened #640 "Denormalizing normalized numerical features"
In the example https://uber.github.io/ludwig/examples/#time-series-forecasting-weather-data-example
the generated temperature_predictions.csv file has the values in the normalized form, how to denormalize them?

_Originally posted by @InosRahul in https://github.com/uber/ludwig/issues/124#issuecomment-562135167_

[2020-02-24 20:12] w4nderlust commented on #640
In that example it suffices to keep track of mean and std in a variable to denormalize. A more generic solution would be to have, for each data preprocessing function (tokenization, normalization, etc.) a counterpart for postprocessing. There is already an open card in the project to deal with this: https://github.com/uber/ludwig/projects/1#card-33325338

[2020-02-24 20:15] w4nderlust commented on #589
@lordeddard that would be great. For starters i suggest you to look at the train function of model.py https://github.com/uber/ludwig/blob/master/ludwig/models/model.py#L293 and look at how the learning rate is treated there. Once that is clear we can discuss how to implement the one cycle policy.

[2020-02-24 20:27] mangleddata opened #641 "MultiTask learning weights"
Are there knobs available to adjust the bias of multitask learning ? For example, if I have a mix of categorical, binary and numerical outputs and want to set different biases so that the loss of one feature doesn't dominate (for example, numerical loss over others). Hope this makes sense. If not, please correct my understanding.

The reason I ask is, if I train just the binary feature alone, my r

[2020-02-24 22:01] w4nderlust commented on #641
it is not specified in the docs, will update them, but there is a `weight` parameter to be used inside the `loss` section of each output feature. The loss is computed as a weighted sum of all the losses and the weight parameter determines the weight associated with the loss of each output feature.

Regarding early stopping, it also depends on the field and measure you are using for validation. You

[2020-02-24 23:18] #641 closed

[2020-02-24 23:19] w4nderlust commented on #641
I added a multi-task learning section in the user Guide source markdown file. See the commit referred above to look at the contents. It will be reflected in documentation website next it will be updated.

[2020-02-24 23:44] mangleddata commented on #641
Thank you! I'll give it a try. Multi-task learning is a bit of golden nugget that needs more exposure. The doc changes makes it clear.

[2020-02-25 00:14] mangleddata opened #642 "Loading pretrained model fails due to memory error"
I have a trained model on a dataset A and am trying to load the model as initialization on a different dataset B. Both A and B are of same size and the model file is exactly the same. However, the loading seems to fail due to memory issue [done via -mlp ${INIT_MODEL_PATH}  to ludwig train command ]. This seems strange because I would've though the loader should've simply worked since the dataset s

[2020-02-25 19:24] w4nderlust commented on #642
@mangleddata thanks for posting this. In order to debug we need more information. Specifically, we need a way to reproduce the problem, be it a model_definition.yaml + data + command or a python script or notebook. If you can't share your data there's a script that synthesizes data for you in `data/dataset_synthesyzer.py`. Anyway, being it a tensorflow memory allocation problem, it's likely a mode

[2020-02-26 00:23] mangleddata commented on #642
Please take a look into https://github.com/mangleddata/repro_ludwig
The data is randomly created, so wont make sense. But you should be able to reproduce. Perhaps, you could take a look into the scripts to see if I am doing something basic incorrectly.

Thanks for looking into it.

[2020-02-26 01:04] mangleddata commented on #642
Something I just found out. If I initialize and run without a distributed trainer [so ```horovodrun -np 1 --stall-check-shutdown-time-seconds 120 ludwig ...```], it seems to work.

[2020-02-26 06:07] mangleddata commented on #610
@w4nderlust I don't have a reproducer yet, but the data and model looks similar to the reproducer in https://github.com/uber/ludwig/issues/642. I am still working on getting a dataset for this ticket.

[2020-02-26 21:14] w4nderlust commented on #642
Thank you, this is pretty valuable for us to reduce the scope and identify where the problem lies. Will look into it and keep you psoted.

[2020-02-27 01:41] Chee-Foong commented on #421
Thank you for looking into this.  I will do as per your suggestion.  Do you prefer to close this issue and that I raise new one if I still encounter similar problems?

[2020-02-27 05:42] atwahsz opened #643 "Code extraction"
Ludiwg is a fantastic toolbox

How ever it would be amazing that the code or functions called while running can be extracted as a solid code , this will help users to develop their coding skills and maybe provide improvements in the long run ?

[2020-02-27 20:33] w4nderlust commented on #421
I'll keep this open. Please test it out and in case the problem is solved I'll close. Also, I suggest creating a fresh new virtualenv when installing from master, just to be sure all dependencies are fine.

[2020-02-27 20:39] w4nderlust commented on #643
Thanks @atwahsz !

I'm not really sure what do you mean by "extracted". I guess what you mean is making Ludwig write the code of the model somewhere isntead of executing it. I'm not sure how that will improve things, it would be an additional level of indirection that would make testing things more complicated. Plus, if users want to learn by looking at how a model is built they can look at the co

[2020-02-27 23:40] #329 closed

[2020-02-27 23:42] w4nderlust commented on #575
The merged PR should have solved the issue. There's also an integration test for SavedModel now that shows how to load and save SavedModels and what kind of preprocessing and postprocessing you need to do in order to map data to tensors and prediction tensors to data. Let us know if you have further problems.

[2020-02-27 23:42] #575 closed

[2020-02-27 23:46] w4nderlust commented on #329
The latest merged PR solves the issues with SavedModel. There's also a test now one could use as a reference example code for using it: https://github.com/uber/ludwig/blob/master/tests/integration_tests/test_savedmodel.py

[2020-02-28 13:40] hamletbatista commented on #575
Thanks. I will check this out. This was sorely needed!

[2020-02-28 15:18] gatemezing opened #645 "Experiment with BERT model always stopped"
**Describe the bug**
I'm trying to use the pre-trained BERT model for text classification as mentioned here https://uber.github.io/ludwig/user_guide/#bert-encoder . I wanted to check if I'm doing something wrong. Thanks in advance for your time!

**To Reproduce**
Steps to reproduce the behavior:
1. I use the following command to run an experiment `ludwig experiment --experiment_name bert-uncaselar

[2020-02-28 20:01] signupsi commented on #54
it might be good idea to support common protocol so that products like Minio / ceph can be integrated  without integrating petastorm
Petastorm is great gateway  using parquet format.

however adoption will be relatively easier if the ludwig could connect directly to  has been using ceph , minio, s3 etc

[2020-02-28 20:05] ifokeev commented on #54
I have code-integration with MLFlow that want to contribute soon. I'm using it with `Minio`, by the way.

@oelesinsc24 do I need to wait until TF2 branch merged? Will it has breaking compatibility?

[2020-02-29 00:33] w4nderlust commented on #645
That doesn't look like an error to me, It looks like regular tensorflow session setup output.
At the end I see a ^C which sounds like you interrupted the training manually. What is the error again?
If you interrupt it manually, i suspect you did it because it was hanging, but as you are trying to train a BERT model on CPU, it must really well be the case that it is actually trainin,g but it's just

[2020-03-01 10:27] gatemezing commented on #645
Hi @w4nderlust Thanks for your answer. I didn't stop the process. I just realized it stopped in my Colab notebook. I'll restart the training with a smaller size and we'll see if I'm lucky.

[2020-03-01 23:30] w4nderlust commented on #645
Sure keep me posted. In colab you can have a GPU which will make training much faster.

[2020-03-01 23:58] w4nderlust commented on #54
@signupsi there's a n [open branch](https://github.com/uber/ludwig/tree/preprocessing_strategy) where i started sketching a preprocessing reoranization through a strategy pattern that will allow different pluggable modules for each format / datatype / source. You can see an example [here](https://github.com/uber/ludwig/blob/preprocessing_strategy/ludwig/data/preprocessing.py#L1170-L1197). It's sti

[2020-03-02 06:47] signupsi commented on #54
@w4nderlust sounds perfect to enable the ability to add source as per specific format.
ppl can work with interchangable data using parquet/petastorm or interchange and optionally can use disparate sources as per need.

[2020-03-02 07:04] ifokeev commented on #54
@signupsi there are 2 branches about `petastorm` now https://github.com/uber/ludwig/branches, but I believe all this work should be stopped until tf2 upgrade =\

Also I think Ludwig needs a stable maintainers core. That's already too much tasks for 1-3 people. It needs 2-4 engaged developers.

[2020-03-02 07:26] lordeddard commented on #589
Hi @w4nderlust , was a bit busy last week. Yes, I will take a look at that and also read a bit more about one cycle policy and discuss the implementation. Thanks!

[2020-03-02 22:38] w4nderlust commented on #54
Those branches were several different attempts, they will be deleted once a final implementation is deemed worthy. That stuff is pretty much independent from TF2 at the moment, so @msaisumanth is working on it in parallel. Regarding maintainer, at the moment there's @msaisumanth , @ydudin3 and me, but yeah there's a lot work to do and having more people involved would be great.

[2020-03-02 22:59] gatemezing commented on #645
I've tried twice the experiments. The last one with GPU set up disconnected from Colab after only the first epoch as below: (Note: I've tried to follow this advice to prevent colab from disconnecting using this function at https://medium.com/@shivamrawat_756/how-to-prevent-google-colab-from-disconnecting-717b88a128c0)
Epoch   1
Training: 100% 632/632 [2:34:03<00:00, 13.46s/it]
Evaluation train: 10

[2020-03-05 07:27] lordeddard commented on #589
Hello @w4nderlust , I have taken a look at the train function in `model.py`. The learning rate for every batch/step is calculated in this [line](https://github.com/uber/ludwig/blob/4039f93e605ed929e4f4a75c725bb70e148df92b/ludwig/models/model.py#L544). An the actual value of the learning rate will be from [here](https://github.com/uber/ludwig/blob/71f958205604e8ab6d4133df9b53ccb50b7073cc/ludwig/uti

[2020-03-05 21:20] w4nderlust commented on #589
@lordeddard yes it may look similar, assuming there is a one_cycle_policy parameter in the training configuration I imagine to have in the model.train() function something that looks like
[code]

[2020-03-05 21:25] w4nderlust commented on #645
@gatemezing I don't have enough information to be able to help you a lot, if you want me to try to help you you have to make it reproducible for me.
I can only have suspitions, and here the suspicion is that you are not running on a GPU, but without seeing the code and the output of the training is really difficult for me to confirm that or not.
based on this part of the output you previously prov

[2020-03-05 22:26] w4nderlust commented on #642
An update on this issue @mangleddata .
I was able to run your code, thank you for being really through with it, it helps a lot.
Unfortunately I was not able to replicate the error, most likely because either my machine has more RAM or my GPUs have more VRAM than yours.
Anyway, while running your rerun script I noticed a weird thing when using horovodrun.
[code]
As you can see both processes are tr

[2020-03-05 22:57] #642 closed

[2020-03-06 00:13] #587 closed

[2020-03-06 08:02] ZeroAurora opened #648 "[Feature Request] Allow using custom languages/models for spaCy NLP"
**Is your feature request related to a problem? Please describe.**
Other related issues: #408 #251
I trained a Chinese model for spaCy, linked it to `[spacy's package folder]/data/zh` (using `spacy link`) and want to use that for ludwig. However, when I tried to set the config for ludwig, I received an error, which tell me that there is no way to load the Chinese model.
[code]

**Describe the use

[2020-03-06 19:44] w4nderlust commented on #648
We are thinking about changing the way you define the tokenizer to be more flexible, and that would allow you to do what you are looking for.

In the mean time, if you are using the API, you can do the following:
[code]

After you do this, you can refer to `chinese_tokenizer` in your model configuration within the same script where you run the code above.

[2020-03-07 10:44] gatemezing commented on #645
@w4nderlust I just realized what you meant by using GPU. I was setting it from the execution menu of Colab, without actually testing in the code. The output looks like this now ([full version](http://linkedvocabs.org/dataset/ludwig/output.log))
`2020-03-07 10:04:43.508251: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compil

[2020-03-07 20:24] w4nderlust commented on #645
This sounds good to me. You cna play around with the hyperparameters of the output feature and with the the learning rate and other pars of training parameters to squeeze more performance. As the loss is abouncing quite a bit, consider reducing the learning rate and increasing the number of epochs and the patience.
Anyway, I consider the issue solved, so I'm closing this. If you would be so kind t

[2020-03-07 20:24] #645 closed

[2020-03-07 22:15] rogeriosmorais opened #649 "Bug with weather example"
Hi guys, I know this is very small and probably just a typo, but the example given in https://uber.github.io/ludwig/examples/#time-series-forecasting-weather-data-example, in the pre-processing portion of the provided code there's SPLIT in 3 different points, but that doesn't run as it is. I suppose it was meant to create a new column in the dataframe, if that's the case it should be 'SPLIT', not

[2020-03-08 00:33] w4nderlust commented on #649
Thanks for noticing! `SPLIT` is a constant in Ludwig that is `SPLIT = 'split'`. So I'll change to either import the constant or replace with the string. Thank you.

[2020-03-08 00:37] #649 closed

[2020-03-08 05:49] atwahsz commented on #643
Ok then . What about automating model definition? Is there a way ?

[2020-03-08 05:49] atwahsz commented on #643
Or is there a way defining a feature and the definition can only be used if the feature exists

[2020-03-08 06:38] w4nderlust commented on #643
For automatic model definition, I was thinking along the lines of a recommender, something where you provide the data and it suggests the types, but I didn't follow up on that a lot, because I believe specifying types is not that big of an issue for the user to be honest. And also, having to prioritize, this never made it to the top of the list.

Regarding the second question, if i get it correctl

[2020-03-09 18:11] mangleddata commented on #642
Thanks for looking into this. The fix you made did fix the load issue. I am able initialize the model from previous model results and it works great! One issue though, something got broke if I simply did a reinstall - not sure if some dependencies are messed up. So I had to manually merge the changes and that's good enough for me. I understand you may not have time, but it would be great if someon

[2020-03-09 18:41] ifokeev opened #650 "Output overrided in save_savedmodel"
**Describe the bug**
I was testing new `save_savedmodel` implemented method and was getting response full of probabilities for `category` output feature. I checked the definition and found that outputs are overriding https://github.com/uber/ludwig/blob/4039f93e605ed929e4f4a75c725bb70e148df92b/ludwig/models/model.py#L1419-L1430.

Providing PR of the fix.

[2020-03-10 00:56] w4nderlust commented on #642
What got broke when you reinstall? Can you try to start a fresh venv and see if that solves the problem?

Regarding the docker, there is a dockerfile in the repo, that doesn't work for you?

Will reach out to you regarding the project, I'm curious.

[2020-03-10 01:02] #650 closed

[2020-03-14 23:59] danielduckworth opened #656 "Error initialising wandb using the --wandb flag with the CLI"
**Describe the bug**
I'm trying to use the --wandb flag with the CLI using Google Colab.

First I log in to wandb:

!wandb login [hash]

Then I define the wandb project:

import wandb
wandb.init(project="isa-short-answer-scoring")

Then I run ludwig cli with the wandb flag.

!ludwig experiment --data_csv "file.csv" --model_definition_file "definition.yaml" --wandb

The error is below:

wandb.train

[2020-03-15 00:12] danielduckworth commented on #656
I figured out the issue. I don't need to initialise the wandb project separately from the ludwig CLI run.

[2020-03-15 00:12] #656 closed

[2020-03-15 20:14] w4nderlust commented on #656
Glad you solved it!

[2020-03-16 19:04] Budapresst opened #657 "Newbie Help"
Greetings...
I'm new to Ludwig and ML in general.  I'm looking for some guidance, because my first experiment didn't work. Please let me know if this is not the proper forum for help.

I have everything installed on my Linux server no errors so far.  I'm using the CLI and decided to see if I could "predict" antonyms. I created a CSV with ~5000 words and their opposites:
[code]
I created a yaml fil

[2020-03-17 02:32] w4nderlust commented on #657
Is your dataset made of all unique inputs and outputs? In that case, if you are not using some pretrained embeddings it's really unlikely you are going to obtain a model the produces opposites for words it has never seen, as it does not have any representation for an unseen word and has never predicted a word that's the opposite of the specified word.. Those words are unique and treated like categ

[2020-03-17 07:17] Budapresst commented on #657
Thank you... Your answer has cleared things up for me.  I knew that my first experiment was rather pointless, but I guess being my first interaction with deep learning, I wanted to see Ludwig repeat output based on controlled input before making the next step and getting into actual predictions.  But, I see now that my model was probably the issue and I will try some more appropriate experiments f

[2020-03-17 07:17] #657 closed

[2020-03-19 03:14] #534 closed

[2020-03-20 02:12] abhiravg opened #658 "Unable to install Ludwig on Macbook pro using pip"
**Describe the bug**
Unable to install Ludwig on Macbook pro 2019. Error:
`ERROR: Could not find a version that satisfies the requirement tensorflow-gpu==1.15.2 (from ludwig) (from versions: none)`
`ERROR: No matching distribution found for tensorflow-gpu==1.15.2 (from ludwig)`

**To Reproduce**
Steps to reproduce the behavior:
1. `python3 -m venv /path/to/venv`
2. `source /path/venv/bin/activate`

[2020-03-20 02:17] abhiravg commented on #658
tensorflow-gpu is not available for macOS and should not be a hard requirement for ludwig.

[2020-03-20 02:38] abhiravg commented on #658
Solution: Build from source - replace `tensorflow-gpu` with `tensorflow` in requirements.txt

[2020-03-20 03:39] w4nderlust commented on #658
@abhiravg thank you for let us know. People in the TF1 brunch made a bit of a mess, first removing the gpu version and merging it into the regular one then reintroducing it and telling that the gpu version also includes the non gpu setting, but now you are telling me thegpu version on mac can-t be installed...
This is unfortunate, I can try to fix it, although the next release of Ludwig will be ba

[2020-03-20 03:48] #658 closed

[2020-03-20 03:57] w4nderlust commented on #658
I actuall ydecided to address it immediately, now tensorflow CPU is the default, again :)

[2020-03-20 07:25] ifokeev commented on #658
@w4nderlust the best way for @abhiravg is using a docker container. I use `ludwig` with `tensorflow-gpu` on macos without any problems

[2020-03-20 10:00] donfour10 opened #659 "How can I assign test predictions to my input data?"
Problem:
When I performed a experiment, I get a csv. file whre I can find the predictions. But I do not know which prediction belongs to which row of my data.
Probably I just do not find the documentation for this because I'm sure there's a description somewhere of how to do that.

Use Case:
I am parsing some Websites from companies all over the world and want to get to know in which subject area

[2020-03-20 10:10] ifokeev commented on #659
you're able to`pd.concat` two arrays: one from your ground truth data and the second one with predictions.

Try this:
https://stackoverflow.com/questions/46069709/combining-two-csv-files-using-pandas

[2020-03-20 12:03] donfour10 commented on #659
Okay, thanks for now, but this is not exactly what i mean.
The problem I have is that I have no clue to which input the prediction belogs. When I execute a ludwig experiment the data randomly split the data into training, validation and test data (that's what ist says in the docs, so I have much more rows in my ground truth data as in my predictions).

I try to explain it a bit better:

In the pre

[2020-03-20 12:28] ifokeev commented on #659
If you have no index then assign by number of the row.
When you use `luwdig.predict` you have output the same length as the output.

[2020-03-20 18:55] w4nderlust commented on #658
@ifokeev thanks for providing an alternative solution. Anyway, I want Ludwig to be natively installed at least on Linux and Mac anyway, so I reverted back to non GPU default. The next version will use TF2 so the will not be any more problems about this.

[2020-03-20 19:37] pranavjha24 opened #660 "Wrong tensorflow version"
The detailed descriptions are

Using TensorFlow backend.
[code]

absl-py | 0.9.0 |  
-- | -- | --
arviz | 0.7.0 |  
astor | 0.8.1 |  
backend | 0.2.4.1 |  
ca-certificates | 2020.1.1 |  
cachetools | 4.0.0 |  
certifi | 2019.11.28 |  
cftime | 1.1.1.1 |  
chardet | 3.0.4 |  
click | 7.1.1 |  
cycler | 0.10.0 |  
dash | 1.9.1 |  
dash-core-components | 1.8.1 |  
dash-html-components | 1.0.2 |  
das

[2020-03-20 20:37] ifokeev commented on #660
use the latest `ludwig` version from the master

[2020-03-20 20:56] w4nderlust commented on #659
If you provide just the dataset, Ludwig, will split it automatically. If you save the preprocessed data, you can see the split in the hdf5 file that is saved (there's a split column, 0 means training, 1 means validation and 2 means test). This setting is useful if you want to train a model from a dataset and test it on a random split of the data.

In the case where you have already a split, you ca

[2020-03-20 20:56] #659 closed

[2020-03-20 20:58] w4nderlust commented on #660
Please provide more information. What did you try to run when you got the error? Also can you post the full trace please?

[2020-03-20 21:25] pranavjha24 commented on #660
Than you for the answer. However, I still face the same issue:
The deatiled descriptions are

Using TensorFlow backend.
Traceback (most recent call last):
  File "/Users/Pranav/Downloads/DL-hybrid-precoder-master/main_train_beamforming.py", line 7, in <module>
    from keras import back
ImportError: cannot import name 'back' from 'keras' (/Users/Pranav/opt/anaconda3/envs/Research_DL/lib/python3.7/

[2020-03-20 21:26] pranavjha24 commented on #660
Thank you for the response:

please find the details here

The detailed descriptions are

Using TensorFlow backend.
Traceback (most recent call last):
  File "/Users/Pranav/Downloads/DL-hybrid-precoder-master/main_train_beamforming.py", line 7, in <module>
    from keras import back
ImportError: cannot import name 'back' from 'keras' (/Users/Pranav/opt/anaconda3/envs/Research_DL/lib/python3.7/site

[2020-03-20 21:39] w4nderlust commented on #660
Oh you have the wrong tensorflow installed.
Please create a new virtualenv and install Ludwig there. The tensorflow version needed is 1.15.2

[2020-03-20 22:16] pranavjha24 commented on #660
Hi,
Thank you for your suggestion. I installed tf 1.15.2  and one file is working. rest two are still facing the same, can you please suggest something for them too.

Thank you.
pranav

[2020-03-20 23:17] pranavjha24 commented on #660
/Users/Pranav/opt/anaconda3/envs/Research_DL/bin/python /Users/Pranav/Downloads/DL-hybrid-precoder-master/main_train_beamforming.py
Using TensorFlow backend.
/Users/Pranav/opt/anaconda3/envs/Research_DL/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be under

[2020-03-21 00:56] w4nderlust commented on #660
Again, you installed the wrong version of tensorflow, you have 1.13.1, you need 1.15.2.
Please install in a fresh new virtual environment.
If you sill have problems please provide how to exactly replicate those (code / yaml / command / data) otherwise we are not able to help you.

Finally, please use the code markdown annotation (in the menu above the input textbox click on  Inserc code) when you

[2020-03-21 01:07] w4nderlust commented on #660
Also, was looking at this repo which seems the one you are referring to: https://github.com/pranavjha24/DL-hybrid-precoder/blob/master/main_train_beamforming.py
It doesn't look to me it is using Ludwig at all, so I'm not really sure of what you are asking here and why are you asking it here.
You should probably ask to the authors of the repo you forked.
So I'm closing, if you can provide an explan

[2020-03-21 01:07] #660 closed

[2020-03-21 01:10] pranavjha24 commented on #660
Hello w4N,

I followed your instruction and finally my both projects are running. I got few other issues but I think first I will contact the authors. Anyway, Thank you so much for your answers and in future I will write codes and questions in a precise manner.
Regards,
Pranav

[2020-03-21 21:58] yl642 commented on #210
Hey, did you solve that problem? I got this one too, but cannot get over it.

[2020-03-21 22:13] w4nderlust commented on #210
@yl642 and @Belginwls you need to provide some explanation for the error, just posting those 4 lines does not make it possible for us to help you, we are developers not magicians :) If you provide more context and replicable setup i can look into it, maybe you can open a different issue for that once you ave a reproducible example of the problem.

[2020-03-23 11:45] myzarak opened #661 "Difference between 'ludwig predict' and 'ludwig serve'"
# Description of the bug
Hello,

I find an issue with the contribution serve.py.

I tried to use 'ludwig serve' with a python client to send data to a trained model but I notice a difference if I send a csv file to 'ludwig predict' again sending file to 'ludwig serve' through python client.

After investigation, I deduce that the problem is due to a wrong managing of null input field.

Basically,

[2020-03-23 23:30] w4nderlust commented on #661
@myzarak thanksfor posting this, let me try to undesrand better the problem.
First of all, why do you want to send None?
Second, what is the difference in terms of outputs from the server and by running predict? Can you provide a specific example that I can reproduce?

In general, all lists associated with all input fields must contain the same number of values, so your example
[code]
is wrong, bu

[2020-03-25 00:26] danielduckworth opened #663 "Difference in accuracy between tensorflow-GPU and tensorflow-CPU with 10x kfold"
**Describe the bug**
I've been running some trials comparing results of ludwig using tensorflow with GPU and CPU.

With an identical dataset and using 10x kfolds there are significant differences in the mean kfold accuracy.

On three separate datasets I got the following mean kfold accuracy with tensorflow-gpu:

0.903
0.893
0.801

On the same datasets I got the following results with tensorflow-cp

[2020-03-25 00:52] w4nderlust commented on #663
Thanks for this @danielduckworth . It's indeed pretty weird, I would have expected slightly different results (do to appeoximation / randomization) but these diefferences are substantial.
I will definitely look into it. Would it be possible for you to share an entirely replicable setting, with data, script / command and yaml file?
If not, would it be possible to try to replicate using the dataset

[2020-03-25 01:55] danielduckworth commented on #663
I can't share the data but the model definition is below.

I'll have a go at using the dataset synthesizer and see if I can reproduce the results.

**CLI commands:**

!ludwig experiment --data_csv "file.csv" --model_definition_file "model.yaml" --k_fold 10

**Model definition:**

training:
 dropout_rate: 0.2
 epochs: 50

input_features:
-
 name: response
 type: text
 encoder: rnn
 pretrained_embed

[2020-03-25 02:15] danielduckworth commented on #663
@w4nderlust Do you have any examples for using the dataset synthesizer?

The dataset I want to emulate is about 2,000 text samples, with an average of 95 words and 3 categorical classes (0,1,2).

[2020-03-25 02:58] w4nderlust commented on #663
By looking at your model, I have a suspition it may have to do with `lstm_cudnn`. Could you please try with regular `lstm` for both GPU and CPU? Also, again, making sure you have 1.15.2 installed for both.

Unfortunately I don't, will want to create one eventually. Anyway, if you run `-h` you'll see help explaining a bit. The most important feature is `--features` and here is the definition, the d

[2020-03-25 11:22] myzarak commented on #661
@w4nderlust

Thank you for the answer.

Your right, due to my company policy I couldn't share data. I will try to send you fastly synthetic data and model to reproduce.

To respond to your questions:

When you train a model which have to process text, the text data is provide to ludwig inside a csv file. If one cell of the csv file is empty, the dataframe generate by ludwig return NaN value (equiv

[2020-03-26 01:31] w4nderlust commented on #661
Thanks for the additional details, we'll look into it!
@johnwahba maybe you can help on this?

[2020-03-26 01:45] johnwahba commented on #661
@myzarak if you can provide a synthetic model, a curl that repros, and what you want it to provide, that'll be ideal. :)

[2020-03-26 06:04] danielduckworth commented on #663
Hi @w4nderlust looks like you were right.

Running the model with just 'lstm' as the cell type fixed the issue.

Same datasets with GPU (without cudnn)

0.962
0.988
0.949

Almost exactly the same as the original CPU runs.

It has also solved what I thought was a second problem which was that for some dataset (not the three above) some folders were getting an accuracy of 0. I thought this might be

[2020-03-26 12:29] xirect opened #665 "Retraining a trained model with ludwig==0.2.2.3 results into key errors."
**Describe the bug**
Retraining a trained model with ludwig==0.2.2.3 results into key errors. Downgrading to ludwig==0.2.2 solved the problem

File "/usr/local/lib/python3.6/site-packages/ludwig/models/model.py", line 442, in train
[of['name'] for of in output_features] + ['combined']
ValueError: The specificed validation_field combined is not valid.Available ones are: ['class', 'combined']

**To

[2020-03-26 19:32] w4nderlust commented on #665
Already solved by the last commit: https://github.com/uber/ludwig/commit/49648aac505f5d6b584aabec531c254d27ec5e8e
You can install from master but there will be a 0.2.2.4 release incorporating it soon.

[2020-03-26 19:32] #665 closed

[2020-03-27 00:03] w4nderlust commented on #665
Here's the link to the new release that fixes the problem: https://github.com/uber/ludwig/releases/tag/v0.2.2.4
it's also already on [Pypi](https://pypi.org/project/ludwig/) ;)

[2020-03-27 00:18] w4nderlust commented on #663
@danielduckworth glad to hear this!
It would be grat if you could run a apple to apple test with tf 1.15.2, but don't worry if that's not feasible.
So closing this issue, please reopen if other issues pop up.

And yes, the dataset synthesizer is pretty cool :) I was planning on writing some documentation for it but never found the time so far. If by any chance you have the time to write a mini gui

[2020-03-27 00:18] #663 closed

[2020-03-27 00:35] w4nderlust commented on #421
@Chee-Foong any update on this? Did you try it out?

[2020-03-28 16:19] orthodoc opened #666 "ludwig serve fails to install"
`ludwig` serve needs the installation of `fastapi`.

`fastapi` has a hard requirement of `python 3.6`

The following commands
[code]
will succeed only if `python 3.6` is installed.

Possibly related to #473

[2020-03-28 19:32] w4nderlust commented on #666
Thanks for sending this. Judging from this https://pypi.org/project/fastapi/ any version above 3.6 works with fastapi. 3.6+ is anyway what we are testing in the CI anyway, from next version will make it an explicit requirement.

[2020-03-28 19:32] #666 closed

[2020-03-30 03:25] Jim2002 opened #668 "Is it possible to do multivariate timeseries binary classification using ludwig?"
**Describe the use case**
Is it possible to do multivariate timeseries binary classification using ludwig?
Pass something like the below csv to ludwig for training.
![time_series_df_example](https://user-images.githubusercontent.com/5688571/77871784-aadaf980-72a1-11ea-9ca1-1b709214c6bf.png)
(please disregard the the values in timeseries_data 1 ~ 4 are the same, they are meant to be different)
**De

[2020-03-30 04:37] w4nderlust commented on #668
@Jim2002 yes it is possible. You have a lot of flexibility: you can have one set of weights to encode timeseiries that is different for each time series and then combine them, or you can combine them first and encode all together with one set of weights. You can also first encode with timeseries specific weights and then combine with an additional set of weights.

In the first case, you need to cr

[2020-03-30 08:16] ifokeev commented on #668
@Jim2002 also you can try https://github.com/TDAmeritrade/stumpy to build matrix profile for each of your timeseries (= use it as the encoder) and passthrough it to RNN

[2020-03-30 09:08] Jim2002 commented on #668
@w4nderlust  @ifokeev  Thank you very much for the links and the info, I will have a read, will post questions here if I have some. Much appreciated.

[2020-03-30 20:20] w4nderlust commented on #668
@ifokeev that sounds like a nice way to do preprocessing for timeseries. We do something similar for audio features, they can be used both raw or processed, we could do the same for timeseries data, adding an optional preprocessing in Ludwig that calls this library. Would that be useful for you? Do you think you would be able to contribute something like this if I give you precise instructions?
Le

[2020-03-30 20:31] ifokeev commented on #668
@w4nderlust yeah, I want to contribute this. My pleasure is to help you. Should I want until TF2? Really, I have already a big codebase regarding `ludwig`, which I want to open source.

[2020-03-30 21:12] w4nderlust commented on #668
@ifokeev that’s great! This specific thing would have to do with data preprocessing, which right now is not touched by the tf2 porting so if we are willing we can start on this immediately. Other contributions may have to wait until tf2 porting is done.

[2020-03-30 21:15] ifokeev commented on #668
@w4nderlust ok then. Please, provide the instruction as you see the implementation. I'm familiar already with `ludwig` architecture, but anyway need your opinion. I'll try to PR this on the weekend

[2020-03-31 03:35] w4nderlust commented on #668
Sounds good. So the first instruction I can give you is to look at audio_feature.py specifically those lines: https://github.com/uber/ludwig/blob/master/ludwig/features/audio_feature.py#L134-L140 . The way it works is that if `raw` is specified, the input audio signal is left untouched,, and it's basically a univariate timeseries. If another type of preprocessing is specified, then `soundfile` is

[2020-04-01 03:12] Jim2002 commented on #668
@w4nderlust I finished reading through the sections from the user guide, I'm not sure if I understand it corrently but I tried building the first case model you mentioned, one input feature for each timeseries, with the same encoder with the same weights using the tied_weights. mechanism. Please see below. After running train, this is what I got printed on the console, does this mean that it's onl

[2020-04-01 05:50] w4nderlust commented on #668
@Jim2002 this is correct, the same weights are used to encode with an lstm all 4 features. Then they are reduced and concatenated (by default concat combiner is used, you can search for it in the user guide), and finally the binary classification is performed. This should already work as a starting point, then you can decide to use the additional mechanisms for improve performance.

[2020-04-01 06:57] theodor38 commented on #603
In these times in which we don't hear too many good news, I wanted to congratulate the Ludwig team and all who had contributed on the new version!.

Be safe and thank you for all the hard work!

[2020-04-01 09:38] Jim2002 commented on #668
@w4nderlust  Do you mean change different encoders, try second and third case to improve performance? The loss of the current model stays the same after 30 epochs.

[2020-04-01 10:06] ifokeev commented on #668
@Jim2002 try different learning rate / features /  window size / etc. Ludwig can't do magic without data science skills.

[2020-04-01 10:11] Jim2002 commented on #668
@ifokeev got it, thank you.

[2020-04-01 17:51] w4nderlust commented on #603
This is heartwarming @theodor38 , thank you so much!

There's a lot work that is also being put in the next version (you can look at the various TF2 related PRs) coming fomr several contributors, in particular @jimthompson5802 . Brace your self, many things will be changed and improved, and it will be the best version of Ludwig yet!

[2020-04-01 17:55] w4nderlust commented on #668
@Jim2002 I was referring specifically at the mechanism 2 adn 3 in my previous message, so at encoding multivariate features after concatenation and at encoding both before and after, using the sequence combiner, but aldo playing with any other hyperparameter as @ifokeev suggested is important for squeezing performance. In particular he is right, usually a smaller learning rate is a good idea if tr

[2020-04-02 07:58] Jim2002 commented on #668
@w4nderlust ok thanks a lot.

[2020-04-02 23:16] jplehmann opened #670 "MNIST Example fails with AttributeError: 'NoneType' object has no attribute 'read' if pillow>7.0.0"
**Describe the bug**
Trying to reproduce the MNIST demo.

**To Reproduce**
Steps to reproduce the behavior:

Follow instructions at: https://uber.github.io/ludwig/examples/#image-classification-mnist

I have a directory like so:
[code]

Please provide code, yaml definition file and a sample of data in order to entirely reproduce the issue.
Issues that are not reproducible will be ignored.

**Expec

[2020-04-03 05:58] w4nderlust commented on #670
I followed again all the steps in the example and it works fine for me.
You should look at the content of the training and testing and at the content of the 2 csv files, most likely the ath do not match. Did you move around the directories and files after having created them?
I suggest you anyway to restart from the beginning deleting what you have so far and following exactly the instructions in

[2020-04-03 07:25] gilga98 commented on #670
@w4nderlust This issue is persistent on windows and linux( I tried Ubuntu ). The exact same files seem to work without a glitch on mac

`$ ludwig train --data_train_csv ./train_data.csv --data_test_csv ./test_data.csv --model_definition_file model-definition.yaml

WARNING:tensorflow:
The TensorFlow contrib module will not be included in TensorFlow 2.0.
For more information, please see:
  * https:/

[2020-04-03 10:17] gilga98 commented on #670
Update:
Neither is the model serving working on both these environments

[code]

[2020-04-03 10:24] jplehmann commented on #670
That's funny @gilga98 , so you had no problems on OSX, but had problems on the other platforms?  That's opposite me.

I will try to start from scratch today.

[2020-04-03 15:01] jplehmann commented on #670
I followed the instructions again this time on a Debian box on GCE (9.12 (stretch)).  This time I only installing `ludwig` with pip, and didn't build it myself.  Ludwig version shows to be ('0.2.2.4').

Same exception.

[2020-04-03 15:14] gilga98 commented on #670
The issue is with pillow verison
7.0.0 worked fine for me on all platforms

[code]

[2020-04-03 15:23] jplehmann commented on #670
That's it -- I can confirm this works for me too.  Many thanks @gilga98!

[2020-04-03 17:44] edgetrader commented on #421
Hi, Sorry for the late reply.  I finally found time to test this.  I ran the updated notebook a couple of times with the latest ludwig==0.2.2.4.  See attached zip file.  Prediction results are consistent.

I am using a new dataset too: [http://boston.lti.cs.cmu.edu/classes/95-865-K/HW/HW2/reuters-allcats-6.zip]

I believe you can close this issue.  Thanks for your patience!

[issue_421_test_update

[2020-04-03 17:50] Chee-Foong commented on #421
Hi, Sorry for the late reply.

I finally found time to test this. I ran the updated notebook a couple of times with the latest ludwig==0.2.2.4. See attached zip file. Prediction results are consistent.

I am using a new dataset too: [Reuters Dataset](http://boston.lti.cs.cmu.edu/classes/95-865-K/HW/HW2/reuters-allcats-6.zip)

I believe you can close this issue. Thanks for your patience!

[issue_42

[2020-04-04 03:51] w4nderlust commented on #670
mmm that's weird.
Glad it is solved, will likely add a constraint for the pillow version in therequirements, and also try to see if in the meantime since I introduced the constraint on `scikit-image==1.14.2` the problems have been solved.
Will keep it open as a reminder.

[2020-04-04 03:54] w4nderlust commented on #421
@Chee-Foong thank you so much for confirming it!

[2020-04-04 03:54] #421 closed

[2020-04-05 16:47] ifokeev commented on #668
@w4nderlust FYI: found a bug in my implementation. Need time to fix and test.

[2020-04-09 01:29] jplehmann opened #679 "Image Decoder"
I know this is a feature being worked on, but I didn't see an issue for it.

E.g., I'd like to build a stacked CNN that removes noise from photos.

Any sense of how long until this is available?  Thanks!

[2020-04-09 03:59] w4nderlust commented on #679
@jplehmann thank you for opening this, it is indeed something we have in the backlog, but we are currently focusing on other aspects (see https://github.com/uber/ludwig/projects/1 , the image output features are in the triage section).
It's difficult to give a timeline for this. It will likely not be in v0.3 which will likely come out in the next two months, but it is likely that image outputs, to

[2020-04-09 10:53] jplehmann commented on #679
@w4nderlust I'm probably not the person to build this out right now, but thank you for the quick response (again) and info.  Really excited about this project.

[2020-04-11 08:39] FellCrustacean8 opened #683 "Issue With Predictions from API"
When running the trained model I get the following error
[code]

I'm giving input data through a dictionary. Here is the prediction script
[code]

Training Script
[code]

Modeldef file
[code]

[2020-04-11 08:44] FellCrustacean8 commented on #683
Just after writing this post it finally hit me. I forgot to specify argument name. Sorry about this post, I got stuck on the issue for a day and a half.

[2020-04-11 08:44] #683 closed

[2020-04-11 23:13] w4nderlust commented on #683
This is useful info anyway, it means that te docs or the mecanism for fetermining the input to the predict function are not super clear, will work on it. Glad you solved it anyway,

[2020-04-14 23:52] w4nderlust commented on #668
@ifokeev thank you so much, will take a look at it shortly.

[2020-04-18 19:23] GaganaB opened #690 "Complex Encoder-Decoder System for Titanic like Data"
Hi,

I was wondering if there is a way to use complex encoder system for titanic-like binary classification? What would you recommend to enhance performance on this data?

Thank you.

[2020-04-19 00:38] w4nderlust commented on #690
Hi @GaganaB , I'm not really sure what do you mean by "complex encoder system". My best guess is that it means a combination of parameters for the encoders of each feature that can squeeze more performance on that dataset, am I correct?
I don't have an easy answer here, because i haven't spent much time optimizing for that dataset specifically (as it is kinda pointless anyway, given the toy nature

[2020-04-19 10:14] jeffin07 commented on #206
Hello @w4nderlust  I would like to work on this issue.Can you help me with any details to start?

[2020-04-19 19:46] w4nderlust commented on #206
@jeffin07 thank you so much for being willing to help. Right now we are doing a big porting to TensorFlow 2 and this issue will solved there, so actually no need to worry I'll take care of it shortly.
But I really appreciate your willingness to help, maybe take a look at the tasks here to find something that you are interested in helping with: https://github.com/uber/ludwig/projects/1

[2020-04-20 02:38] GaganaB commented on #690
Thanks a lot. I think this works. Is there a way in Ludwig to try model ensembling?

[2020-04-20 03:14] w4nderlust commented on #690
@GaganaB you are welocme. And no there's no ensembling mechanism within Ludwig, you can easily build your own as training of Ludwig models in the API can be done in 2 lines of code, you can train a bunch, collect their predictions and probabilities and then train another one on top of those. Not sure doing it for the Titanic dataset makes sense though :)

[2020-04-20 03:15] #690 closed

[2020-04-20 23:27] jimthompson5802 opened #692 "TF2 porting: ImportError: cannot import name 'flatten'"
**Describe the bug**
@w4nderlust
I'm using this issue to report a problem I encountered, outside of the context of a PR.  Before  starting my next task, I ran the unit test `tests/integration_tests/test_simple_features.py`  This resulted in this error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  Position at this commit https://github.com/uber/ludwig/pull/682/commits/d76ec6c5fa7fc

[2020-04-20 23:43] w4nderlust commented on #692
I must have removed even if it was used buring cleanup. we can use `tf.keras.layers.Flatten` instead.

[2020-04-20 23:47] #692 closed

[2020-04-21 02:32] w4nderlust commented on #206
It took some time, sorry for that, but I actually implemented this today as part of the porting to TensorFlow 2 as you can see here:
https://github.com/uber/ludwig/blob/tf2_porting/ludwig/models/modules/sequence_encoders.py#L1204-L1242
You'll be able to use it in the next release of Ludwig.

[2020-04-21 02:32] #206 closed

[2020-04-21 07:16] jeffin07 commented on #66
@w4nderlust Is this issue still open or anyone working on ?

[2020-04-21 07:18] jeffin07 commented on #679
@w4nderlust i would like to work on this issue

[2020-04-21 08:00] ifokeev commented on #66
@jeffin07 all work now is around TF2, so if you're interested in this feature, you could provide the PR. Thanks.

[2020-04-21 11:25] donfour10 opened #694 "Visualization API AssertionError"
**Describe the bug**
I try to create the compare_performance chart with the visualization API and it throws an AssertionError.

**To Reproduce**
`from ludwig.visualize import compare_performance
`

`stats = [{'combined': {'accuracy': 0.0, 'loss': 21.042979235191247}, 'target_category': {'jaccard': 0.14934778770208643, 'loss': 21.042979235191247}}, {'combined': {'accuracy': 0.0, 'loss': 20.44405215

[2020-04-22 00:51] w4nderlust commented on #694
@donfour10 thank you for letting us know. That visualization was originally implemented for categorical output features, but yours is a set output feature. Let me fix the doce to work with any output feature type. Will keep you posted.

[2020-04-22 01:21] #694 closed

[2020-04-22 01:22] w4nderlust commented on #694
The most recent commit fixes this. please install from master and confirm it this soves your problem.
To install from master:
`pip uninstall ludwig` and then`pip install git+http://github.com/uber/ludwig.git`

[2020-04-22 01:32] w4nderlust commented on #679
@jeffin07 it would be great, but I would push it to after when we are done with TF2 porting, as this will require adding some modeling code.

[2020-04-22 04:38] slavakurilyak commented on #129
Any updates on semantic segmentation?

[2020-04-22 12:41] donfour10 commented on #694
thanks for the quickly fix!

[2020-04-22 16:35] EdwardFKit commented on #198
Has there been progress on this - this would be of great use!

[2020-04-22 22:34] w4nderlust commented on #198
@EdwardFKit this is currently not being worked on, there after the release of v0.3 (a month or so), we will reasses all users requests to rigure out priorities for v0.4 But we did not forget about this, it's just that with the resources at our disposal, it has not been prioritized yet.

[2020-04-22 22:40] w4nderlust commented on #129
@slavakurilyak Answering the same thing I answered for the GAN feature request.

[2020-04-24 05:43] jeffin07 commented on #679
@w4nderlust okay hope to work on this after TF2 porting

[2020-04-24 05:47] jeffin07 commented on #66
@w4nderlust Yes i would love to help in refactoring, which will also help me to understand the project more.I will checkout the branch you specified.Can you give me some guides so that it will be helpful

[2020-04-24 06:31] w4nderlust commented on #66
Sure definitely.
What I suggest you to do is to take a dataset and train a model with ludwig first. Take one of the examples in on the website, maybe text classification. I suggest you to put beakpoints everywhere in the preprocessing.py script to see what actually happens during the preprocessing, for instance how metadata is obtained and how preprocessing parameters are used and how the final da

[2020-04-24 10:06] sk1210 commented on #198
@w4nderlust, @EdwardFKit  I have now started working on this, I will keep you updated.

[2020-04-24 15:39] EdwardFKit commented on #198
Great – please do – FYI what we are working on is not image / gradient based – it is more related to NLP / Keyword / Phrase / special purpose text generation – basically to generate automated Keyword software test cases for software systems -

From: Shahrukh khan [mailto:notifications@github.com]
Sent: Friday, April 24, 2020 5:07 AM
To: uber/ludwig <ludwig@noreply.github.com>
Cc: EdwardFKit <kit@s

[2020-04-24 20:47] w4nderlust commented on #198
@sk1210 that sound great, thank you for being willing to help, that is hreatly appreciated.
Assing GANs to Ludwig is non trivial at the moment because of its architectures. Some of the changes we are making for v0.3 will definitely make it easier.
Because it's non trivial I suggest you to fisrt study in detail the codebase, the best way being training a model by going through it with a debugger, l

[2020-04-28 13:29] lucaventurini opened #702 "loss weight is not set to a default value"
**Describe the bug**

As in title. The bug appears when we set positive_class_weight

**To Reproduce**

The following:

[code]

throws an exception in:
``File "/usr/local/lib/python3.6/dist-packages/ludwig/features/base_feature.py", line 317, in concat_dependencies_and_build_output
    loss_weight = float(self.loss['weight'])``

This instead works:
[code]

**Expected behavior**
loss.weight should

[2020-04-28 19:36] #702 closed

[2020-04-28 19:37] w4nderlust commented on #702
Should be fixed, please confirm by installing from master:
[code]

[2020-04-28 19:58] donfour10 opened #703 "BERT Encoder - Training session killed"
**Describe the bug**
Everytime I try to run a training with a BERT Ecoder, the process killed after a few minutes before the first epoch of training started.

**To Reproduce**
My dataset consists of text as input and a set of categories as output. (If you need a sample of data, contact me and I see if I can provide something to you. But it's defenetly not the data because every other experiment wo

[2020-04-28 23:59] w4nderlust commented on #703
I suspect the reason is an out of memory error. Can you try with a small batch size, like 1? If that works you can increase it until you get the same error which will tell you how big of a batch size you can fir in ram /vram

[2020-04-30 20:25] theodor38 opened #704 "Category feature question?"
Please look at the following and my question is "is there a way to order the mapping of the category alphabetically rather than based on frequency?

Thank you in advance.

"Input1": {
        "idx2str": [
            "<UNK>",
            "4",
            "3",
            "5",
            "1",
            "2",
            "6",
            "7",
            "8",
            "9"
        ],
        "pr

[2020-04-30 21:45] donfour10 commented on #703
Your suspection was correct. Thank you very much!

[2020-04-30 21:45] #703 closed

[2020-04-30 22:11] w4nderlust commented on #704
At the moment there is no mechanism for that, but I'm curious, why do you need it? The predictions you get from `predict` are already mapped back to the original strings anyway.

[2020-04-30 23:30] mightyabra commented on #166
I installed my numopy and reinstalled numpy==1.18.2 or numpy==1.18.3. Both solved this issue for me.

pip install numpy==1.18.2

[2020-05-01 09:17] theodor38 commented on #704
I think i figured it out. I was just wondering.

Thank you for your response @w4nderlust

[2020-05-01 17:57] w4nderlust commented on #704
@theodor38 what did you figure out? If you explain to me your use case, if it makes sense, I can try to incorporate it, but I have to understand the reasons first. Cheers.

[2020-05-01 18:46] theodor38 commented on #704
@w4nderlust

I was hoping to use the model directly with TFServing. Which then forces me to manually change back the ordering. It would be great if you could implement an alphabetical ordering for those who wish the use the models in these ways.

[2020-05-01 22:09] w4nderlust commented on #704
@theodor38  Got it, i understand the issue, but there is a bigger one, which is the fact that data is preprocessed by Ludwig in python as well as it is postprocessed, which means that when serving the model with TServing you would have anyway to preprocess the data too, as well as postprocessing the model outputs. That's actually what `ludwig serve` does for you (although the model is not served b

[2020-05-01 22:21] theodor38 commented on #704
@w4nderlust

Thank you very much for all the detailed info. You are great!

I pretty much did something similar to what you suggested with wrapping.

I wish you best of luck with continued development of Ludwig!
Cheers

[2020-05-07 12:54] donfour10 opened #705 "Dst tensor is not initialized."
**Describe the bug**
I'm have trained a model with this definition on my GPU.

![image](https://user-images.githubusercontent.com/55831555/81293330-6c3d1980-906d-11ea-9e5b-50eb5b231413.png)

The training works properly but when I try to test or predict on this model, I get a ERROR:

---

2020-05-07 14:06:47.078732: I tensorflow/core/common_runtime/bfc_allocator.cc:818] total_region_allocated_bytes

[2020-05-07 14:42] donfour10 commented on #705
I don't know exactly, but my assumption is that the test command doesn't recognize the batch size. Because other experiments (with less computational effort) working with the GPU test.

Is that possible?

[2020-05-07 19:56] w4nderlust commented on #705
Will look deeper into it, but can you please try with `batch_size: 1` and `eval_batch_size: 1`?

[2020-05-07 20:41] donfour10 commented on #705
I'm currently running a training like that! Just to be safe: You mean to set these in the model_definition, right?

[2020-05-07 23:06] donfour10 commented on #705
Same error and behavior as before. Training completed but test/predict failed with the same error message. Keep me posted if you find anything! Thanks :)

[2020-05-08 20:34] w4nderlust commented on #705
Can you please provide me a reproducible example? Something I can run myself and breaks. it may be a python script or a yaml + dataset + command combination. If your data is private you can use the script in `data/dataset_synthesyzer.py` to obtain synthetic data.
Also, what GPU are you using? What amount of RAM does it have?

[2020-05-09 17:57] donfour10 commented on #705
GPU:

![image](https://user-images.githubusercontent.com/55831555/81456759-ea93db80-9193-11ea-8bd6-c06efb047a68.png)

Data + Model_definition + Commands/Script ->
https://drive.google.com/open?id=1Lkf_PxvVli5SjoMJM4ny23mTcxAobE-1

bert model:
https://storage.googleapis.com/bert_models/2019_05_30/wwm_uncased_L-24_H-1024_A-16.zip

For the training you can either run the python script or the command

[2020-05-15 12:45] donfour10 commented on #705
@w4nderlust
Hey,
I tried a bit if I find a way to predict on the model. Now I can predict on a BERT model I trained, but it's working olny on CPU. So I trained on GPU because on CPU it will last weeks :) and after that i use a predict/test command or python file on CPU to predict on that model. Even the prediction last a few hours  on CPU for the amount of data I tried it with.
But I still don't g

[2020-05-15 20:18] w4nderlust commented on #705
Thanks for the update. Yes there should be no reason why it should work on CPU and not on GPU. I looked at the data and it looked fine. I haven't had the time yet to dig deeper unfortunately (there's a lot going on with Ludwig at the moment). I'll get back to you as soon as I can.

[2020-05-15 20:22] donfour10 commented on #705
No problem. Thanks for looking into it! :)

[2020-05-18 23:54] ikramelmbarki commented on #243
I have a multivariate time series and I wanna use Ludwig, it will work for my case? and what type of algorithms work with ? the categorical data need an encoding before feeding them to Ludwig

[2020-05-19 00:04] w4nderlust commented on #243
There's a discussion on that topic where yo ucan find the answers: https://github.com/uber/ludwig/issues/668

[2020-05-19 00:09] ikramelmbarki commented on #124
could we work with multivariate time series(categorical+numerical+timestamps) to do the forecasting with Ludwig.
Tahnks for your time.

[2020-05-19 00:35] ikramelmbarki opened #710 "Ludwig for multivariate time series for regression and classification problem"
I read the issue #668 for multivariate time series with classification but the data contains only timestamps data as input and it's a classification problem.

My data look like this.
I wanna do prediction and create API to visualize the result, is Ludwig will do the following:
![image](https://user-images.githubusercontent.com/57155043/82271820-60543000-9968-11ea-8077-7a2fee4caa58.png)

1. Data pr

[2020-05-19 01:07] w4nderlust commented on #710
@ikramelmbarki  sorry from your message I can't really understand what are you trying to do. What are you trying to predict? and using which fields of your data?

Ludwig has a new hyperparameter optimization functionality which is now in a separate branch  but will be merged soon, which allows you to train several models with all the different architectures and all the different parameters which l

[2020-05-19 01:17] ikramelmbarki commented on #710
I'm trying to predict the continuous value' Montant engagé', and I could have other exogenous data like weather... and I'm wondering if I could use the same thing for classification problem or multiclassification problem

[2020-05-19 01:19] w4nderlust commented on #710
And using which input columns?

[2020-05-19 01:21] ikramelmbarki commented on #710
all the other columns except the target value and I could have another exogenous variable like vacancy, weather...

[2020-05-19 01:22] ikramelmbarki commented on #710
could I use this new hyperparameter optimization functionality now?

[2020-05-19 12:21] danielduckworth opened #711 "How to define max_seq_length for the BERT encoder?"
**Describe the bug**
When using the BERT encoder for a text input feature, is the 'word_sequence_length_limit' parameter used?

The examples given on the BERT github refer to a 'max_seq_length' parameter.

Is this defined at the level of the 'input_features' like the other encoders with the type 'text' or at the level of 'preprocessing' where the tokenizer parameter is defined?

**Additional conte

[2020-05-20 00:00] w4nderlust commented on #711
@danielduckworth it should be. Now there's a slight weirdness with using `text` the rather than `sequence` in that bert doesn't properly use words, this will be solved in future versions where words, chars and bpes will be treated the same way.
But for now `word_sequence_length_limit` if `text` and `sequence_length_limit`if `sequence` should do the job.

You can define it both at the input feature

[2020-05-20 01:35] danielduckworth commented on #711
OK, got it, thanks.

[2020-05-20 01:35] #711 closed

[2020-05-25 06:26] Harish2104 opened #713 "AttributeError: module 'tensorflow.python.keras.api._v2.keras.preprocessing.text' has no attribute 'text_dataset_from_directory'"
**Describe the bug**
Unable to load the function text_dataset_from_directory. I have installed tensorflow 2.2 and keras

**Expected behavior**
Not able to load the function.
**Screenshots**
![image](https://user-images.githubusercontent.com/7239271/82784274-cca9c480-9e7d-11ea-92dd-566c7896bc9e.png)

**Environment (please complete the following information):**
 - OS: [e.g. iOS] Windows
 - Version [

[2020-05-25 18:56] w4nderlust commented on #713
You should post this in the Keras repo, not her, this has nothingto do with Ludwig.

[2020-05-25 18:56] #713 closed

[2020-05-25 20:23] theodor38 opened #714 "Batch size manipulation on plateau"
Hi,

In my experience decreasing the batch size has provided better accuracy with the data set that I have.
Is there a way to reduce batch size on plateau instead of increasing?

I have tried using 0.5 instead of 2 with "decrease batch size on plateau rate" but this crashes.

Thank you in advance

[2020-05-27 04:38] w4nderlust commented on #714
@theodor38 Increasing the batch size is a practice that come from this paper: https://openreview.net/pdf?id=B1Yy1BxCZ
It has become pretty standard.
So no, there is no way at the moment to reduce the batch size on plateau.
I could consider this a feature request if you want.

[2020-05-27 21:51] theodor38 commented on #714
@w4nderlust  I mean I try both to increase and to decrease. Decreasing worked because I have a quite a large data set and starting with 128 batch as it is default takes a very long time to search for optimum hps. So having a decrease option on plateau would be beneficial as it would serve both hp search and accuracy simultaneously -at least in my case. starting with large batch number and then gra

[2020-05-27 22:16] w4nderlust commented on #714
I don't really understand how it can be faster :) The single batch surely is faster, but considering the timpe to complete an epoch (which is what matters) it will definitely be slower.

Also, a small batch size gives you a less accurate estimate of the true gradient (the gradient on all the dataset), so the rough intuition of that paper is that at the beginning of the training you may get a way w

[2020-05-27 23:07] theodor38 commented on #714
Since I am using an evolutionary strategy to tune hps at first, starting with a large batch size is faster to converge on optimal hps and then making batch sizes smaller and smaller improves accuracy.  smaller batch  size == slower epoch completion. Although this assumes the optimal NN structure with large Batch size will work as well with a small one. Albeit it seems to.

Intuition from the paper

[2020-05-27 23:20] theodor38 commented on #714
![IMG_4093](https://user-images.githubusercontent.com/52652380/83081552-d413ce00-a035-11ea-8066-1d33e323c172.JPG)

As you can see in this image. Evo algo was given a choice between 1000-20000 batch size to chose from. X axis is sorted by accuracy. It ends up converging to a low batch size every time!

[2020-05-28 00:12] w4nderlust commented on #714
If this is confirmed is definitely interesting to explore. Things I would look out for are: what is your fitness function? Meaning what is yout y axis on the plot? If it is training loss, you may be figuring out the parameters that best overfit :) if it is accuracy, make sure it's validation accuracy. Also make sure of minus sign if you are minimizing / maximizing, as you may actually be getting t

[2020-05-28 00:29] theodor38 commented on #714
``

Y axis on the plot is batch size. Sorry to have not done a proper names on axis. x is models ranked by accuracy and y s batch size. in the x axis there are ~1500 models ranked and left most is the best accuracy model. I have a very robust validation set and all accuracy is measured with the validation set. There is little to no over fitting as these models are also tested in live production.

[2020-05-28 00:55] w4nderlust commented on #714
Got it. It's an interesting finding then, worth exploring. I'm also curious about the production use cases you are using Ludwig for. Feel free to reach out to me privately to chat about it if they can't be discussed privately, as knowing about them can help me prioritize future developments.

Feel free to ask me if something is not clear :)

[2020-05-28 01:55] gaalocastillo commented on #558
Is there any way to know how many layers my networks has? For example, I am training a model with only numerical input features, but I think the default amount of layers (or how they are obtained) for that case is not specified in the documentation. I think the default amount of neuros is 256 per layer, but I am not sure.

[2020-05-28 02:07] w4nderlust commented on #558
Everything is specified in the documentation. You should look at the encoder, combiner and decoder you are using in the docs and look at the default parameters.
Moreover, when you run traini or experiment, you can set the logging level to debug and you'll get more details on the building of the models and the layers involved. Finally, you can look at the tensorboard in the graph section to see you

[2020-05-28 06:24] Paladinhanxiao commented on #566
Is there any other solution, without replacing tf?

[2020-05-28 06:28] w4nderlust commented on #566
Not sure wat you mean by replacing TF. You just ave to install the correct version listed in the set of requirements.

[2020-05-28 21:08] flozi00 commented on #558
A pretty nice tool is netron
https://github.com/lutzroeder/netron

Did you tried it out ?

[2020-05-28 23:54] w4nderlust commented on #558
Did not know about it, looks pretty neat! Will check that out! It has experimental support for TF models, so probably you don't need to do anything different to visualize a trained Lduwig model.

[2020-05-29 03:17] flozi00 commented on #558
@w4nderlust in my cases it worked without any problem for TF models using the web version

[2020-05-31 10:09] boulaziz opened #717 "Ludwig custom algorithms"
Dear Piero,
I hope all is well in these difficult.
I started using Ludwig and I have to admit that it a very promising package.
I have tested with the iris data. It worked fine. Still I want to force Ludwig to use the specific algorithms below and compare their outcomes:

LR, LogisticRegression (solver='liblinear', multi_class='ovr')
LDA, LinearDiscriminantAnalysis
KNN, KNeighborsClassifier
CART,

[2020-05-31 11:35] boulaziz commented on #558
I tried the tool netron with the json files generates by ludwig. It did not work. Here is the error message: Error loading model. Unsupported file content (7b0a2020202022636f6d6d616e64223a) for extension '.json' in 'description.json'

[2020-05-31 11:36] flozi00 commented on #558
You need to upload the model itself and not the Json description

[2020-06-01 00:25] w4nderlust commented on #717
@boulaziz thank you for your questions.
In the future release of Ludwig there will be a more abstract interface that would allow people to specify their own models more easily.
That said, Ludwig is a deep learning toolbox at the moment, and we do not plan to add or support non deep learning algorithms in the toolbox at the moment.
(You can do Logistic Regression for sure anyway, just use a binary

[2020-06-01 11:38] jmizgajski opened #720 "Do not re-load pre-trained embeddings for each feature if multiple input features use the same one"
**Is your feature request related to a problem? Please describe.**

When there are multiple input_features using the same pre-trained embedding ludwig loads the file from scratch for each feature which takes considerable time.

**Describe the use case**

Speed up training start-up time when there are multiple text features using the same pre-trained embedding.

**Describe the solution you'd like**

[2020-06-02 07:18] flozi00 opened #722 "[Feature request] Model hub"
An modelhub as huggingface transformers have too.
Basicly the same as huggingface transformers models hub is, just for ludwig.
Filtered by input and output features, so with the time more and more pretrained models are getting built with ludwig and the training process takes a lot less time than before.
The filtering could be done with the defitionion file as must have for the model description.
F

[2020-06-02 12:16] ShinobuChyan opened #723 "Document page not found"
![image](https://user-images.githubusercontent.com/27445302/83518789-7b4ca580-a50d-11ea-90eb-9715f668d718.png)

[2020-06-02 13:14] #723 closed

[2020-06-02 20:48] w4nderlust commented on #722
This is a lovely idea and something I've been thinking about for a log while. I would also want to provide pretraines encoders, decoders and combiners.
This has not ahppened so far mostly because of the time it requires, but it is definitely something I want to do.
If someone from the community is interested in helping on this, I would be glad to direct and support them!

[2020-06-02 20:54] flozi00 commented on #722
Hey, sounds good.
We don't have time to help you with programming but we would upload pretrained models as much as we can.
At the moment we are especially building CV models.
I'd love to support this sinces Ludwig is a great opportunity to give prototyping tasks to my colleagues who don't have any idea about DL ;)
A pretty lazy solution would be an GitHub repo with json file containing links to th

[2020-06-02 23:30] w4nderlust commented on #722
I would proably study how Hugging Face does it, as their solution works very well, and try to replicate it (or improve over it) to get this right once and for all, avoiding the super lazy solution, but I'm open to suggestions ;)

[2020-06-03 00:54] w4nderlust commented on #720
This is a good point. Let's discuss how to solve this in the PR you opened.

[2020-06-05 00:34] w4nderlust commented on #710
Yes, just pull from the hyperopt branch

[2020-06-05 00:35] w4nderlust commented on #710
If the other columns have values belonging to the datatype Ludwig supports, then definitely yes.

[2020-06-05 00:40] ikramelmbarki commented on #710
the column's type are objects or numerical and the date column that I use as index

[2020-06-05 00:42] w4nderlust commented on #622
1. yes, you can use the `clip` parameter in the numerical output feature to clip outputs to a specific range.
2. sure, you can specify all the supported losses, and if the loss you want is not available, you can add it.
3. that wouldn-t help, if you have positive inputs and 2 layers with negative weights, you'll get positive outputs, so it's not about the values of the weights.
4. I have no way to

[2020-06-05 00:43] w4nderlust commented on #710
Object is a pandas datatype, not a Ludwig datatype. You need to figure out what Ludwig datatype you should use.

[2020-06-05 00:45] ikramelmbarki commented on #710
it uses strings and numeric variables, should I transform my pandas' objects?

[2020-06-05 02:56] w4nderlust commented on #710
Strings can be encoded with either category, sequence or text, depending on what they actually are.

[2020-06-05 23:15] panoptikon opened #724 "Offer Ludwig as Anaconda application or package"
As a user of Anaconda – and not very proficient with lower-level code management – I'd like to install Ludwig from the Anaconda Navigator.
The Orange framework can easily be installed from the Navigator home screen and it's ready to use.
Having Ludwig properly installed in Anaconda by a smart automation will likely increase its adoption.

More tech info on building Anaconda Navigator applications

[2020-06-05 23:41] w4nderlust commented on #724
This is a good idea. I'm not an Anaconda user myself, but will look into it. If someone is more familiar with Anaconda than I am and wants to contribute this, it would be great.

[2020-06-05 23:50] w4nderlust commented on #705
@donfour10  a quick update: we are porting the entire Lduwig codebase to TF2, and by doing that we will also entirely change the BERT implementation. So if you don't mind, I'll postpone fixing this after the porting, as the new implementation would likely already fix it. If it doesn't, I'll make sure to fix it before releasing.

[2020-06-06 12:48] donfour10 commented on #705
@w4nderlust Thanks for the update! I'm totally okay with that. I as well now found a way to use another bert model now on the GPU. However, I still don't know why it wasn't working with others properly.

[2020-06-08 21:05] jmizgajski opened #729 "Combining 2 input sequences with `sequence` Combiner"
**Is your feature request related to a problem? Please describe.**
I am trying to figure out how to combine 2 input sequences with `sequence` Combiner and I am not sure if this is possible. It would be great if it would ;) Right now I am getting

[code]

if I try to put two sequences as inputs to `sequence` combiner.

**Describe the use case**
Consider following (simplified) features where `tag` i

[2020-06-09 03:34] w4nderlust commented on #729
Your task is exactly the reason why the sequence combiner exists :)

It looks like you did everything correctly apart from `reduce_inputs` in the output feature, which should be `reduce_input`. With that, the tesnor the error is complaining about should have the correct sapes.

Let me know if this fixes your issue. (this also suggests me to provide a mechanism to notify the user when wrong keys ar

[2020-06-09 10:53] jmizgajski commented on #729
Thank you for your fast reply, the promise of an easy way to use those advanced features was what has drawn me to Ludwig in the first place (after seeing you present at Interspeech 2019).

Unfortunately your recommendation does not solve the problem (same issue persists) - likely because `reduce_input` was set to `None` anyway as it is the default value for `tagger`.

As to your other points:

I t

[2020-06-09 15:50] jmizgajski commented on #729
Also it would be awesome to have a clear example for such a use-case in Examples :)

[2020-06-09 20:24] w4nderlust commented on #729
Nice :)

Let me try to fix it. Could you please provide a complete reproducible example with data, configuration and command? The data can be synthetic data generated using the script in `data/dataset_synthesizer.py` and can also be just a couple of lines, no need for the full dataset, as I believe the same problem will appear whith any amount of data.

These are good suggestions, thank you. Altho

[2020-06-09 21:01] jmizgajski commented on #729
this will generate the data
[code]

here is the `example.yaml`

[code]

and here is a command to reproduce

[code]

[2020-06-10 01:10] #729 closed

[2020-06-10 01:12] w4nderlust commented on #729
Thank you, I found the bug and fixed it. Can you please confirm it now works for you?
Please install from master with:
`pip uninstall ludwig & pip install git+http://github.com/uber/ludwig.git`

Also if you confirm your approval, I will add this to both examples and test.

[2020-06-10 08:56] jmizgajski commented on #729
I will do that first thing after the Wed meeting spree ;) Thank you @w4nderlust ! :)

You have my approval to use the examples I provided in any way you like, as they are purely synthetic :)

[2020-06-11 00:20] muhammad-yasir opened #731 "From ludwig import LudwigModel"
**Describe the bug**
I created a virtualenv first and installed ludwig using `pip install ludwig` command. The installation showed that it is installed successfully. However, when I ran the command `from ludwig import LudwigModel` it throws `ModuleNotFoundError: No module named 'ludwig'`.
When I ran the same import command directly from the command prompt (by enabling virtual env), it throws an er

[2020-06-11 10:55] jmizgajski commented on #729
@w4nderlust I guess we found another [bug in the docs](https://ludwig-ai.github.io/ludwig-docs/examples/#named-entity-recognition-tagging) then :) as it does say `word_format: space` in the tagger example. (or maybe I am looking at release docs and we changed to work with master throughout the development of this thread, not sure)

also adding these lines under the `text` feature like in the examp

[2020-06-11 15:33] lucaventurini opened #733 "The learning rate plot in Comet is not the expected one"
Hi! I've been trying the comet.ml integration and I must say this has been a great addition to the framework. 🙌

I wanted to exploit it to keep track of the learning rate updates, but the lr being plot is not the one that I expected, especially when trying the learning_rate_warmup_epochs option, which I set to 6 as suggested. The learning rate that is plot on comet is the one set in learning_rate,

[2020-06-11 15:42] dsblank commented on #733
@lucaventurini We'd be glad to take a look at that over on https://github.com/comet-ml/issue-tracking/issues

And glad you find it useful!

[2020-06-11 19:33] w4nderlust commented on #729
Good catch. yes `word_format` was an old name for `word_tokenizer`, I'm updating the docs right now. Regarding your model definition. You need only one `word_tokenizer: space`, either in the text feature or at the top level. The top level one applies to all text features, the one inside the feature applies only to that specific feature, but you have only one text feature so it makes no difference.

[2020-06-11 19:43] w4nderlust commented on #733
@dsblank let me know if you need help on my side.

[2020-06-11 19:46] w4nderlust commented on #731
As shown in the documentation https://ludwig-ai.github.io/ludwig-docs/getting_started/#programmatic-api the corret import is
`from ludwig.api import LudwigModel`.

[2020-06-11 19:46] #731 closed

[2020-06-12 09:35] jmizgajski opened #734 "Ludwig reports that validation loss improved while it shows it to increase - confusing"
**Describe the bug**
@w4nderlust

I am training a tagger [like in here](https://github.com/uber/ludwig/issues/729). I also specify class weights to force it to be more aggressive in assigning the class `X`. (to be honest I am not sure, if it takes effect)

[code]

What confuses me is that in the reports ludwig prints out I see the validation loss increase but ludwig reports that the loss improved

[2020-06-12 12:42] pingsutw opened #736 "How do I know what parameters should I specify in encoder?"
For example, when use `stacked_cnn`, I need to specify `num_filters`, `filter_size`, `pool_stride`, ..etc.
Are there any docs that contain
1. what encoder I could use?
2. what parameters should I specify in that encoder?
[code]

[2020-06-13 00:43] w4nderlust commented on #736
You look in the [User Guide](https://ludwig-ai.github.io/ludwig-docs/user_guide/) that specifies for each feature all the available necoers and for each encoder all the avialable parameters.

[2020-06-13 00:43] #736 closed

[2020-06-13 01:00] w4nderlust commented on #734
A bunch of things here:
1) the weighting on the classes should work, I can doublecheck to be sure, will look into it. In the mean time you can try using "sampled_softmax_cross_entropy" as loss where it should also make a difference.
2) the improvement is calculated on a "combined" output feature by default. The loss of "combined" is the sum of the losses of the individual output features plus regu

[2020-06-14 04:40] vkuzmin-uber opened #740 "Fix broken links to uber.github.io/ludwig"
I started to look at docs, examples and found that links to uber.github.io/ludwig are broken and it moved to ludwig-ai.github.io/ludwig-docs

I forked and cloned repo and so I am willing to provide PR with fix.

[2020-06-14 08:02] w4nderlust commented on #740
Thanks for your contribution!

[2020-06-14 08:02] #740 closed

[2020-06-15 22:28] tboneai opened #742 "'ProgressTracker' object has no attribute '_learning_rate'"
**Describe the bug**
Upgraded Ludwig (pip install) this weekend and now I am receiving an error when using learning rates. The file runs fine until it gets to the point that its called. When I remove the 2 lines from the mdf file it runs fine.

**To Reproduce**
Ran experiment command

Please provide code, yaml definition file and a sample of data in order to entirely reproduce the issue. Issues th

[2020-06-16 03:38] #742 closed

[2020-06-16 03:40] w4nderlust commented on #742
Pushed a commit that should have fixed the issue.
Cna you please install from master with `pip uninstall ludwig & pip install git+http://github.com/uber/ludwig.git` and confirm?

[2020-06-16 11:16] jmizgajski commented on #734
I did add regularization in my settings so this may be the case. I think printing the combined loss even if one feature is present would probably do it. Thank you.

[2020-06-16 23:11] w4nderlust commented on #734
Good, so after looking at the combined loss in the training_statistics.json file, can you confirm that the early stopping was performed at the right time?
Just to be sure there is not any logic issue, it's ont a reporting issue.

[2020-06-18 00:19] w4nderlust commented on #408
SpaCy added Chinese as language in release 2.3, this commit adds new Chinese preprocessing to Ludwig, so this issue should be considered solved.

[2020-06-18 00:19] #408 closed

[2020-06-18 00:19] w4nderlust commented on #581
SpaCy added Chinese as language in release 2.3, this commit adds new Chinese preprocessing to Ludwig, so this issue should be considered solved.

[2020-06-18 00:19] #581 closed

[2020-06-18 00:21] w4nderlust commented on #648
In the meantime, spaCy added Chinese as language in release 2.3, this commit adds new Chinese preprocessing to Ludwig.
We are still thinking about adding a more flexible way to specify custom spacy models though.

[2020-06-18 00:23] w4nderlust commented on #122
Release 2.3 of spaCy introduces Chinese tokenization. This commit adds it to Ludwig: https://github.com/uber/ludwig/commit/2ad48fd896a8c46ccfb91c3ffd448f0c442985ee .

[2020-06-18 07:42] rajatjain2310 commented on #391
I was doing a text classification project, where I have created the sentence vectors in a different algorithm. Now when I am training the same and giving output feature as mentioned in the example:

name: level1
type: category

The sample output column is here:
0           cancellation
1    query_not_specified
2           cancellation
3           order_status
4    query_not_specified
5           o

[2020-06-18 09:05] w4nderlust opened #743 "Category output feature question"
I was doing a text classification project, where I have created the sentence vectors in a different algorithm. Now when I am training the same and giving output feature as mentioned in the example:

name: level1
type: category

The sample output column is here:
0           cancellation
1    query_not_specified
2           cancellation
3           order_status
4    query_not_specified
5           o

[2020-06-18 09:07] w4nderlust commented on #743
@rajatjain2310  please be more precise in describing your problem. What you are describing shouldn't lead to any error.
Please provide a sample fo the data, the model definition and the command you used for training. Alternatively, please provide the code you are using.

[2020-06-18 09:22] rajatjain2310 commented on #743
Piero,

I figured out the problem myself. I was trying to give vector input in a
dataframe rather than the solution prescribed in your docs.
You can please go ahead and close the thread.

On Thu, Jun 18, 2020 at 2:37 PM Piero Molino <notifications@github.com>
wrote:

[2020-06-18 18:57] #743 closed

[2020-06-19 06:21] Karthik1904 commented on #108
Hi SachitNayak,
I'm using venv - pandas & numpy are installed but still I'm facing same issue
ImportError: Missing required dependencies ['numpy']

Kindly please tell me the rectification you done on env

[2020-06-19 07:13] ifokeev commented on #108
@Karthik1904 check if you have 2 python version inside your venv. Try `which pip` and `which pip3`. If they are different so you're doing something wrong with your package installing.

[2020-06-19 07:19] Karthik1904 commented on #108
Hi @ifokeev, I tried which pip & which pip3 inside venv. I got below
/var/www/app/app/env/bin/pip
/var/www/app/app/env/bin/pip3

[2020-06-19 08:19] ifokeev commented on #108
@Karthik1904 check please how did you install `ludwig`? Using `pip` or `pip3`? Try `which ludwig` also. You have to install in packages dir where packages are searched for on script runtime.

[2020-06-19 22:18] KhaledKhawajki opened #744 "."

[2020-06-21 01:49] #744 closed

[2020-06-22 15:14] StuckinPhD opened #745 "How to format model architecture for image captioning with multiple captions per image?"
Hi,

Im trying to perform image captioning following the example here: https://ludwig-ai.github.io/ludwig-docs/examples/#image-captioning

The example is written for a single caption against each image with the model definition being:

[code]

But I'm using the flickr8k dataset that has 5 captions per image. Is it possible to use such a dataset with Ludwig or do I have to strip the rest of the cap

[2020-06-22 16:24] StuckinPhD opened #746 "Image pre-trained model for transfer learning"
Hi,

I have a relatively small image dataset and would like to utilize transfer learning to get better results. I could not find much details related to transfer learning online, and the only mention of it is in the update post here related to BERT: https://eng.uber.com/ludwig-v0-2/.

I am still unsure about how to perform image transfer learning as is possible with using pretrained models on imag

[2020-06-23 08:15] nosa999 commented on #137
I have the same error in colab

[2020-06-23 10:17] w4nderlust commented on #137
Please provide a link to the colab to reproduce the issue.

[2020-06-23 10:19] w4nderlust commented on #746
At the moment there areno pretrained image models importable in Ludwig, from version 0.3 on we will start to add them. I'll consider this a feature reqeust.

Also let me know if you would be interested in collaborating in adding this feature, it would be pretty easy.

[2020-06-23 10:20] w4nderlust commented on #745
Just add more output features. Output features is a list.

[2020-06-23 10:26] StuckinPhD commented on #746
Id be happy to work on this.
Ive never contributed to any repo before but let me know what I need to do and I'll do my best :)

[2020-06-23 19:21] w4nderlust commented on #746
Great! Thank you for being willing to help.
We are now orking a lot on porting to TF2, so any contribution should start from the `tf2_porting` branch.
Ludwig has this concept of encoders for input features that makes it easy to add  new pretrained image encoders.
If you look at the `features/image_feature.py` you'll find a disctionary of encoder associated with the input feature.
Ideally you may w

[2020-06-24 15:52] kanishk16 opened #748 "version as a sanity check for ludwig"
### **Is your feature request related to a problem? Please describe.**
It is sometimes seen (#168, #731) users face an ambiguity to know if ludwig is installed properly or not.

### **Describe the use case**
Sanity check for ludwig being installed as intended. Moreover, this would become important when ludwig further scales up and starts being developed in full swing.

### **Describe the solution

[2020-06-24 20:01] rajatjain2310 commented on #645
Any idea still how can we connect a GPU while training on Colab, can't find much resources arund it.

[2020-06-24 20:19] w4nderlust commented on #645
This may help you: https://colab.research.google.com/notebooks/gpu.ipynb

[2020-06-24 20:21] w4nderlust commented on #748
Ludwig package already has a `__version__`.

[2020-06-24 20:22] #748 closed

[2020-06-24 21:45] rajatjain2310 commented on #645
I tried to check the GPU available in my environment and found the following:

![image](https://user-images.githubusercontent.com/54935284/85630727-d0558480-b691-11ea-8aff-1eb2e244c44c.png)

The command executes without any issues but still the GPU is not utilized (iter/s =  1.1). Sorry to bother but do you have any idea on what can cause this issue?

[2020-06-24 23:17] w4nderlust commented on #645
Before starting the training of epoch 1, it should print a bunch of tensorflow log information, can you poste it here for me to see? make sue to use `--logging_level debug`.

Something that looks like:
[code]

[2020-06-25 08:34] rajatjain2310 commented on #645
2020-06-25 08:31:25.899317: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
2020-06-25 08:31:25.905057: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2300000000 Hz
2020-06-25 08:31:25.905273: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x9994e00 initialized

[2020-06-25 20:22] w4nderlust commented on #645
Looked into it and it looks like in Colab they removed the GPU option for TesnorFlow 1:

[code]

Even if you try to uninstall and reinstall manually, it still doesn't work:
[code]

The problem is with Colab, not with Ludwig.

Anyway, the next version of Ludwig will work with TF2 so there will not be any problem in this regard anymore.

[2020-06-26 17:21] nosa999 commented on #137
https://colab.research.google.com/drive/14f5gmYx8WudZXFHS5RCyogmmVqUhdCrb#scrollTo=7IZTvyEQv7uq&line=1&uniqifier=1
This link is useful?

[2020-06-26 19:56] w4nderlust commented on #137
It isn't accessible.

[2020-06-30 22:18] kanishk16 commented on #645
As suggested, Ludwig works completely fine with GPU in Colab with TensorFlow v1. Just making a minor amendment to the above suggestion worked for me while manually uninstalling and installing TensorFlow v1.15: `!pip install tensorflow-gpu==1.15` Perhaps this might be because Colab doesn't come pre-installed with tensorflow-gpu v1.15.

[2020-06-30 23:49] w4nderlust commented on #645
Testing your suggestion out. The following code did not work for me on colab:
[code]
with the following error:
[code]

Can you please share either the content of a setup cell that works or an entire example Colab? That would be very useful.

[2020-07-01 22:03] kanishk16 commented on #645
After switching to GPU in colab (in the menu Runtime > Change runtime type > None to GPU) and installing Ludwig, simply follow as suggested previously also:
[code]
* There is no need of using `%tensorflow_version 1.x` in the code cell while importing tf as installing Ludwig simply uninstalls the pre-installed tf v2.2.x and installs the v1.15.3 (cpu), making the latter default tf version to be used

[2020-07-01 23:08] w4nderlust commented on #645
Tested and it works. This is great news, thank you @kanishk16 !

[2020-07-02 22:43] w4nderlust commented on #733
@lucaventurini  @dsblank where you able to solve the issue?

[2020-07-03 01:05] dsblank commented on #733
@Lothiraldan you have some insight into the current status? (I'll be back from vacation next week).

[2020-07-04 19:12] tboneai opened #751 "Numerical outputs"
**Describe the bug**
I am getting mixed outputs in my files and I am not sure why. I have added and removed multiple features trying to track down the cause with no luck. Some of the results I receive are numeric, some are not, and some files just repeat the same result.
Changing the inputs to category resolves the issue and I am fairly certain using sequential inputs work as well (tested previous

[2020-07-05 06:36] w4nderlust commented on #751
This is indeed pretty weird, would want to llok into it, but we are actually in the midst of porting to TF2, would you mind testing if you get the same problems if you run with the code in the `tf2_porting` branch? Because if the ported code solves the problem as i suspect I may not spend time trying to figure out this problem in the TF1 code.

[2020-07-05 21:08] Narragansett opened #752 "Ludwig API does not have experiment method like CLI does."
Ludwig API does not seem to have an experiment method like CLI does. Yes? No? Documented?

[2020-07-05 23:34] tboneai commented on #751
I’ll check it out. Its no rush. This is just a learning project for me. 

Sent from Yahoo Mail for iPhone

On Sunday, July 5, 2020, 2:36 AM, Piero Molino <notifications@github.com> wrote:

This is indeed pretty weird, would want to llok into it, but we are actually in the midst of porting to TF2, would you mind testing if you get the same problems if you run with the code in the tf2_porting branch

[2020-07-05 23:48] w4nderlust commented on #752
As you can see from the API page in the docs ( https://ludwig-ai.github.io/ludwig-docs/api/LudwigModel/ ) there is no exposes counterpart of the `experiment` CLI command at the moment.
It is easy to replicate it programmatically by using the `train` method and the `test` method, but if you actually need one I may consider introducing it as a feature request.

[2020-07-06 14:15] dsblank commented on #733
@lucaventurini Did you solve your problem? I didn't see an issue in the comet.ml tracker.

[2020-07-12 02:21] w4nderlust commented on #306
Closing this as the `tf2_porting` branch, which will become v0.3 already solved this issue ;)

[2020-07-12 02:21] #306 closed

[2020-07-15 13:43] MarijnQ opened #770 "Save Luwdig Experiment in Google Colab"
Hi guys,
So thanks to Hamlet Basista I finally got a grip of Ludwig and I love it.
However, in this [article](https://www.searchenginejournal.com/automated-intent-classification-using-deep-learning-part-2/318691/) he uses the BERT encoder.
I have a laptop that does not have a GPU, so running the code takes me many hours. This is not a massive problem since the results are much more accurate.
I ran

[2020-07-15 19:26] w4nderlust commented on #770
I wasn't aware of that article, thanks for sharing!

There are a few ways you can persist the files in Colab.
Check this: https://colab.research.google.com/notebooks/io.ipynb
The one i usually use is mounting the hdrive and then work with that, but there's other options too.
Closing, let me know if this doesn't solve your issue.

[2020-07-15 19:26] #770 closed

[2020-07-16 07:40] MarijnQ commented on #770
Thanks for your response.
Colab has a weird thing that on the left side panel you can see the files and download them. But only the files. Not the folders.
Anyway, I just copied those, saved them in my Drive in a folder that I created just fir Python experiments and now I can reuse those.
Thanks!

[2020-07-16 10:58] muhammad-yasir opened #773 "Bert Ludwig: Program killed during training"
Hi there,

I am using Python 3.6. and downloaded L-12 H-768 A-12 Bert config and vocab from github. When I train the program, it started training. On Epoch 1: it shows 1% progress for a while (about 20 minutes) and the program killed. I took the snapshot of program for better understanding.
<img width="926" alt="Screen Shot 2020-07-16 at 22 48 57" src="https://user-images.githubusercontent.com/256

[2020-07-16 20:17] w4nderlust commented on #770
You are welcome!

[2020-07-16 21:28] w4nderlust commented on #773
From the screen it looks like you are running training on a CPU. That's very very slow with BERT (it will take several hours if not days, depending on your data).
That said, I don't see any error on screen so i don't know what is actually goign on.
What's your configuration? In particular how much RAM do you have? It is possible that with the default batch size the process is running out of memory

[2020-07-18 00:42] muhammad-yasir commented on #773
Thanks for the reply. Ram size is 8 GB. I will try on GPU

[2020-07-18 00:56] w4nderlust commented on #773
With 8gb of ram, out of memory is very likely the issue. I would thance the training batch size in the model configuration. You can try 16 and if you still encounter the problem, decrease up to 1. let me know if this enables you to train.

[2020-07-19 22:13] muhammad-yasir commented on #773
Thanks. Changing batch size to 16 enabled me to complete the training.

[2020-07-20 04:21] w4nderlust commented on #773
You are welcome.

[2020-07-20 04:21] #773 closed

[2020-07-22 11:28] seekayel commented on #597
Reproduced this exact issue. My platform variable is `darwin`

As suggested: `mpl.use('agg')` ran without issue.

Got same error when I updated `examples/titanic/multiple_model_training.py` (as referenced in [matplotlib#9017](https://github.com/matplotlib/matplotlib/issues/9017)):
[code]

Other suggestions?

[2020-07-22 11:56] aspenforest opened #783 "Rework Ludwig to use TF2 and Py >= 3.8"
**Is your feature request related to a problem? Please describe.**
I need to use python 3.8, but Ludwig does not work on recent python versions, because TF 1 is not available on Python 3.8.

**Describe the use case**
Use Ludwig with recent python versions.

**Describe the solution you'd like**
Replace TF1 with TF2 in Ludwig.

**Describe alternatives you've considered**
Keep Ludwig outdated and on

[2020-07-22 20:00] w4nderlust commented on #783
This is already going on, see the https://github.com/uber/ludwig/tree/tf2_porting branch and the tasks being worked on here https://github.com/uber/ludwig/projects/1 .

I don't like the tone of these comments. Please refrain to use this tone again.

We have been working on porting Ludwig to TF2 for months, it's not an easy task as TF2 changes entirely the paradigm of its APIs and many choices in L

[2020-07-22 20:00] #783 closed

[2020-07-22 23:00] w4nderlust commented on #597
@seekayel Thank you for reporting on this.
Could you please tell us what's your version of MacOS and your version of Python and matplotlib?
Asking because we introduced that if with TKAgg specifically for mac users because it was solving the problem they were encountering with matplotlib, while now it looks like that is the source of the problem, so I suspect it may have to do with different versi

[2020-07-23 01:21] seekayel commented on #597
@w4nderlust

I am using pyenv to install my pythons and pipenv w/ Pipfile to manage dependencies and virtualenv creation.

MacOSX: 10.15.6
Python: 3.7.7 via pyenv
matplotlib: 3.3.0 via pipenv

[code]

Output:
[code]

Anything other info you need?

[2020-07-26 21:32] w4nderlust commented on #597
I tried to replicate the issue, but was not able to.
Could you please try a couple things to see if they solve your issue? In that case i would at least have narrowed down the issue.

1. Can you please do clean install of ludwig with a new virtual environment using `virtualenv` instead of `pyenv` and `pipenv`? Here my suspicion is that there are some differences in the way those tools install matp

[2020-08-05 06:53] danielduckworth opened #799 "Record tensorflow version in description.json"
**Is your feature request related to a problem? Please describe.**

I've been cross checking the score_predictions.csv stored when running a Ludwig experiment with running the Ludwig predict from the CLI. I've been getting slightly different results in some cases and very different results in others.

**Describe the use case**
Including the tensorflow version along with the Ludwig version would ma

[2020-08-06 00:50] w4nderlust commented on #799
@danielduckworth  thanks for the suggestion, definitely adding it.

[2020-08-06 01:03] #799 closed

[2020-08-07 19:50] ifokeev opened #803 "bug: predict 'NoneType' object is not subscriptable"
master branch:

<img width="681" alt="Screenshot 2020-08-07 at 22 48 14" src="https://user-images.githubusercontent.com/2017148/89682917-31fb4680-d900-11ea-9048-9a41b20e9278.png">

should be the checker, I think.

This is a bug note. Still researching

[2020-08-07 23:15] w4nderlust commented on #803
#804 fixes it, we can close, thank you!

[2020-08-07 23:15] #803 closed

[2020-08-08 07:56] ifokeev opened #805 "bug: ludwig.hyperopt module conflict"
Because of the current naming there are no way to import from `ludwig.hyperopt` correctly
<img width="525" alt="Screenshot 2020-08-08 at 10 54 38" src="https://user-images.githubusercontent.com/2017148/89705404-c2b83d80-d965-11ea-8611-808d0e9798e1.png">

<img width="466" alt="Screenshot 2020-08-08 at 10 57 02" src="https://user-images.githubusercontent.com/2017148/89705417-ea0f0a80-d965-11ea-9453-

[2020-08-08 08:16] ifokeev opened #807 "bug: experiment ValueError on NaN"
<img width="838" alt="Screenshot 2020-08-08 at 00 18 32" src="https://user-images.githubusercontent.com/2017148/89705768-77ebf500-d968-11ea-886f-f370f946560c.png">

If the dataset has some `null` values inside then this bug popping.
To prevent this there are a good idea to add new `drop_row` missing strategy inside the preprocessing.

[2020-08-08 11:04] jimthompson5802 opened #810 "Enrich TF2 encoder output structure with feature `type`"
**Is your feature request related to a problem? Please describe.**
Request is to address a temporary work-around in dealing with the situation in the `SequenceConcatCombiner` class where `main_sequence_feature=None`.  Current work around is to check tensor rank to determine if it is a  sequence or not.  It is better to have a more explicit test that checks feature `type` value.

**Describe the use

[2020-08-08 21:25] w4nderlust commented on #807
Merged #808 thank you!

[2020-08-08 21:25] #807 closed

[2020-08-08 21:32] w4nderlust commented on #805
Good catch, thanks!

[2020-08-08 21:32] #805 closed

[2020-08-12 07:19] carlogrisetti opened #818 "[Feature Request] Force balancing of output classes \ binary in preprocessing"
It often happens that data is unbalanced, and this leads to a model that reaches 80% accuracy very fast (ie: predicting that all items are true, just because 80% of the items are true), and the learning path towards an 80,1% is very very hard if not impossible to achieve in a timely manner.

I know this is not an ideal solution, since you would have to get more data regarding the minority class\bi

[2020-08-12 23:07] w4nderlust commented on #818
this is a good feature, it would be worth adding it. We can find some time to prioritize it after the release of v0.3. If you'd like to contribute it, more than open to guide you.

[2020-08-13 10:04] ifokeev commented on #818
Yeah, good idea

[2020-08-13 16:50] ifokeev opened #819 "TF2 is slower than TF1, improve speed"
https://github.com/tensorflow/tensorflow/issues/33487

Getting the same result: epochs became longer because of switching to TF2.
I noticed also that it's using less memory than TF1, but slower epochs are killing this advantage.

TF 2.3 – less epoch time, but still slow.

Looks like there are some issues with `experimental_run_functions_eagerly`.
Very disappointed. Going to switch back to ludwig 0

[2020-08-13 18:01] ifokeev opened #820 "[bug] ErrorScore should operate with tensors"
<img width="1200" alt="Screenshot 2020-08-13 at 20 59 52" src="https://user-images.githubusercontent.com/2017148/90169993-0d8fe600-dda8-11ea-9479-0d4c0618a402.png">

The issue is some here:
https://github.com/uber/ludwig/blob/master/ludwig/modules/metric_modules.py#L97

Getting this with `experimental_run_functions_eagerly(False)`

[2020-08-14 07:48] carlogrisetti opened #822 "Latest master (TF2) doesn't honor validation_measure"
Ludwig from master with all requirements installed from fresh
yaml containing only one output classification feature
yaml containing validation_measure: accuracy in the preprocessing section

a combined output is generated with only the "loss" output value and no combined "accuracy", with the model being saved on loss improvements (also console output explicitly says so).
This could be either due

[2020-08-14 08:07] carlogrisetti opened #823 "Latest master (TF2) dropout on RNN is broken"
Issue presents with this input feature combination
Feature type: timeseries
Encoder: rnn
Dropout: true

It's correctly working with these two input feature combinations
Feature type: timeseries
Encoder: rnn
Dropout: false

Feature type: timeseries
Encoder: stacked_cnn
Dropout: true

(thus it seems to be related to rnn+dropout)
Here it is the stack trace:

Traceback (most recent call last):
  File

[2020-08-14 11:38] carlogrisetti commented on #453
@w4nderlust FYI, the same thing happens between ludwig 0.2 and ludwig 0.3, although this seems more obvious due to the huge framework change underneath. Might be worthy of mention in a v0.3 changelog. Errors are more or less in the same ballpark on missing\different parameters for the optimizers

[2020-08-14 14:27] carlogrisetti commented on #823
This also happens with different cell types within the RNN encoder, and also happens with CNNRNN encoder, and also does *NOT* happen with parallel_cnn (other than already it does not happen with stacked_cnn)

[2020-08-14 23:27] w4nderlust commented on #819
There are a couple optimizations we'll implement before releasing v0.3 that will hopefully improve speed (using Inputs for "compiling" the graph beforehand and disabling running functions eagerly. Will keep you posted. Although this is not really a Ludwig bug as you can understand.

@tgaddair FYI. We may want to use `experimental_run_functions_eagerly` only when `debug=True` for instance, but need

[2020-08-14 23:31] w4nderlust commented on #820
Yes we are already working on this. @jimthompson5802 FYI this happens if `experimental_run_functions_eagerly(False)`.

[2020-08-14 23:34] w4nderlust commented on #822
Thanks for pointing this out, looking into it.

[2020-08-14 23:37] jimthompson5802 commented on #820
Acknowledging that I'm working on this.

[2020-08-14 23:39] w4nderlust commented on #822
Can you provide the model definition?
ecuase if I try setting just the validation metric without changing the validation field I correctly get:
[code]

[2020-08-14 23:48] #822 closed

[2020-08-14 23:49] w4nderlust commented on #822
Figured it out, it should work now, please confirm.

[2020-08-15 00:02] w4nderlust commented on #453
Yes this is expected, there are a bunch of different parameters for encoders and decoders too and other changes to the interface, will make sure to document those both in the Changelog and in the User Guide.

[2020-08-15 00:07] w4nderlust commented on #823
The dropout logic is different in v0.3 (the user guide does not reflact this yet).
Now instead of a single float `dropout` parameter in `training` and several binary `dropout` parameters in the encoder/combiner/decoder you have a `dropout_rate` parameter in each encoder/combiner/decoder.

Try replacing `dropout: true` with `dropout_rate: 0.x`.

[2020-08-15 00:16] tgaddair commented on #819
Hey @ifokeev @w4nderlust, my guess at this point is that not enough of the code is being compiled into a graph, and is instead running eagerly.  I will make it a priority to dig into this before the v0.3.0 release.  To help with repro, is there a particular dataset / config you're running with that's showing this behavior?

[2020-08-15 04:37] w4nderlust commented on #820
@ifokeev would you mind testing out the current master after the merge of the PR that should solve this issue?

[2020-08-15 06:20] carlogrisetti commented on #823
Well... In this case is reversely broken, since with all the other encoders it still accepts dropout: true without a flinch :)

Sorry for that misunderstanding... Now that you say that I remember discussing this in a previous instance

[2020-08-15 06:35] w4nderlust commented on #823
Upon inspection, it looks like Redurrent stack indeed uses dropout instead of dropout_rate.
All other encoders just ignore the parameters, but the recurrent one actually uses it and expects it to be a float between 0 and 1.

So this suggests a couple actions:
- produce a warning when a parameter passed to an encoder is ignored (which would have given you insight on what's happening)
- use the same

[2020-08-15 06:36] carlogrisetti commented on #823
...or either it should disregard the binary dropout flag as it does in the other encoders and not try to apply it like it seems to be doing.
It's almost like dropout didn't get renamed to dropout_rate and it's trying to apply the binary true (that I passed) to the float rate parameter it is expecting.

[2020-08-15 06:40] w4nderlust commented on #823
Yes that's exactly what's happening. All others have dropout?rate, so dropout end in kwargs. This one actually has the dropout name instead of dropout_rate, but expects it to be within [0,1]. Now the `rnn` encoder has also a `recurrent_dropout` parameter ( look here for more details, now the exposed parameters match more closely those of TF2 layers 823 )
Will most likely rename everything dropout

[2020-08-15 06:41] carlogrisetti commented on #823
Simultaneous :)

Yes I know it's an alpha, but since I'm starting the object detection/reading project I talked to you about, I didn't want to start it on an old framework and then be tied to that forever.
0.3.0 seems way more stable than I expected (I already got it all working from end to end, apart from that dropout thing, up to the actual inference embedded in the code) and I plan on keeping o

[2020-08-15 08:12] carlogrisetti commented on #822
Hum... I still don't see an accuracy column in the combined section, and it's still not working, basing the training on loss instead of accuracy.

Here's my yaml
[model_definition.zip](https://github.com/uber/ludwig/files/5078358/model_definition.zip)

[2020-08-15 08:48] carlogrisetti commented on #822
FYI, the combined accuracy value is not generated in the logs either, since there is no corresponding value in the tensorboard visualizations. It's like it's not even being calculated within the "combined" measures

[2020-08-15 10:23] w4nderlust commented on #822
The combined accuracy has been removed for the time being. The reason is that if you have say a numerical feature and a categorical feature, combined accuracy doesn't have a meaning. Plus the way we are calculating metrics right now is different and would make calculating combined accuracy tricky.
Still thinking about ways to reintroduce it before the release of v0.3 though, in particular if all o

[2020-08-15 17:14] carlogrisetti commented on #822
You should *really* put a warning to show that an unknown yaml parameter have been specified, or you'll have *LOTS* of "this doesn't work anymore" to reply with "we changed that in 0.3.0, read the docs"

Ok then, anyway I am hugely fond of the combined accuracy metric, and I would be OK in having it only when all output features have an accuracy output (otherwise I agree with you, it's nonsense to

[2020-08-15 17:30] carlogrisetti commented on #822
PS: if you're not calculating a combined accuracy anymore... how the heck is ludwig supposed to decide whether to save the model or not, based on accuracy?

[2020-08-16 00:02] w4nderlust commented on #822
either on combined loss (default), or on any metric of any output feature (including loss)

[2020-08-16 06:10] carlogrisetti commented on #822
Oh ok.
In any case, specifying `validation_field: combined` (the default value you pointed out earlier) works fine, whilist specifying `validation_metric: loss` (which should already be the default value now) gives this error:

Traceback (most recent call last):
  File "c:\program files\python36\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "c:\program files\pyth

[2020-08-16 07:34] carlogrisetti opened #828 "gpu_memory_limit only works if gpus parameter is specified"
I'm trying to use the new gpu_memory_limit parameter introduced by TF2 as opposed as the gpu_fraction one.
One thing I noticed is that it only works if `--gpus` is also specified, as per
https://github.com/uber/ludwig/blob/b31ce876f6cd364471f7154740485656ab4ea6c9/ludwig/utils/tf_utils.py#L87-L107
Once you both specify `--gpus 0 --gpu_memory_limit 4000` (for example), allocated GPU memory is correc

[2020-08-16 16:44] tgaddair commented on #828
Hey @carlogrisetti, thanks for reporting this issue.  I'll take a look at this today.

[2020-08-16 16:54] tgaddair commented on #828
@carlogrisetti please take a look at #829 and let me know if it addresses the issue for you.

[2020-08-16 20:15] w4nderlust commented on #822
This commit from yesterda https://github.com/uber/ludwig/commit/80ea6e99dfe6342cbb419e979b3f6ec5394825ca should have solved the issue. Please pull from master ;)

[2020-08-16 22:12] #828 closed

[2020-08-16 22:13] w4nderlust commented on #828
Automatically closed when I merged the PR, @carlogrisetti let us know if this fixes it please.

[2020-08-16 22:42] w4nderlust commented on #823
This commit solves the issue https://github.com/uber/ludwig/commit/5770df1fc77b85ffd153ccc9bdc17ea019839896 .
Now the parameter name is `dropout` and it's available in the different encoders/combiners/decoders and it's expected to be a float.

[2020-08-16 22:42] #823 closed

[2020-08-16 22:43] w4nderlust commented on #820
Closing for the time being. Let us know if the problem is still there and we can reopen it.

[2020-08-16 22:43] #820 closed

[2020-08-16 23:16] carlogrisetti commented on #828
Works fine

[2020-08-16 23:21] carlogrisetti commented on #823
Fixed, but i think this is redundant now (and not used anymore), right?
https://github.com/uber/ludwig/blob/5770df1fc77b85ffd153ccc9bdc17ea019839896/ludwig/utils/defaults.py#L51

[2020-08-17 18:36] w4nderlust commented on #823
Fixed that one too, thank you for noticing it.

[2020-08-17 18:39] carlogrisetti commented on #823
Seen that :)

[2020-08-18 14:10] ifokeev opened #833 "[bug] test_statistics calculates for the last epoch"
https://github.com/uber/ludwig/blob/d70bc4aff35e6ac3c4a17a828e080e703e33bce6/ludwig/experiment.py#L388

The issue here that I see test/validation statistics for the last epoch,  not last improved.
Is that a bug or the feature?

[2020-08-19 08:01] ifokeev commented on #819
Hey @tgaddair ,

I see @jimthompson5802 and you merged the fix, so the dataset is not needed anymore.
Thank you for the fix. Will try soon.

[2020-08-19 14:20] flozi00 commented on #722
@w4nderlust
my first suggestion for a model hub

example usage:
base url with github pages: "https://flozi00.github.io/modelhub/" + folder (models / encoders / decoders / combiners) + username + modelname
https://flozi00.github.io/modelhub/models/flozi00/titanic_model.json

https://github.com/flozi00/modelhub

[2020-08-19 19:34] tgaddair commented on #819
Thanks @ifokeev.  We'll wait to close the issue until we have confirmation that performance is where it should be for your model.

[2020-08-19 20:57] w4nderlust commented on #833
Let me look inot it. Also, that part of the code will undergo quite some substantial reworking before v0.3 exits the alpha stage anyway, so this it is great that if this is an error we are catching it now.

[2020-08-20 02:38] w4nderlust commented on #722
Thank you, this is a very nice starting point :)

n alternative for the entries:
[code]

[2020-08-20 04:33] flozi00 commented on #722
I am thinking about replacing the description with an markdown file as huggingface does for the description, comments, code snippets and model definition file in yaml format.

The type is already defined with the folders, is it necessary to do it twice ?
Today I would start with generating an merged list of all files, is it okay when the type get filled there automatically ?
When the list is ready

[2020-08-20 07:53] rajatsahay commented on #746
Hey there!
Is anybody still working on this? I would love to help.

[2020-08-20 18:29] w4nderlust commented on #746
@rajatsahay thank you for being willing to help! The instructions in my previous message, combined with the instructions in the developer guide should be a good starting point. Let me know if after reading them you still have doubts :)

[2020-08-20 21:22] w4nderlust commented on #722
Sounds good, curious to see how it looks like after the change ;)

I wold say yes, i can see how it can seem redundant, but if in the future we want to place a little elasticsearch instance in front of it to do search, having the field may be useful.

That sounds great, thank you!

[2020-08-21 10:01] carlogrisetti opened #839 "decay, decay_rate and decay_steps not implemented"
Using latest master it seems to me that `decay`, `decay_rate `and `decay_steps `are not affecting the learning rate at all. Looking in the trainer model, they don't even seem to be used in the train function.
https://github.com/uber/ludwig/blob/62430e4a0dd7a4fda08d6dcd615fbdbbf53c5377/ludwig/models/trainer.py#L166-L195

`learning_rate `and `learning_rate_warmup_epochs` instead work fine (and I see

[2020-08-21 12:33] carlogrisetti opened #840 "Caption on training improvement misleading"
Hello :)
This piece of code
https://github.com/uber/ludwig/blob/62430e4a0dd7a4fda08d6dcd615fbdbbf53c5377/ludwig/models/trainer.py#L1316-L1318
although procedurally correct (I want to track whether there has been an improvement since the last plateau and learning rate reduction, to look for the next plateau) leads to a technically wrong statement in the CLI output.
Let's assume that the model is tr

[2020-08-22 00:10] carlogrisetti opened #841 "[Feature Request] add CLI command to convert LudwigModel to SavedModel"
Could be a nice addition, but I don't know how much effort does it take, and how much it would be appreciated by end users:

I think having the ability to one-shot convert the usual `LudwigModel` to a TF `SavedModel` format would be nice to have, even since I suppose it could be a quick addition for you to do.
I tried manually doing that with the model.save_savedmodel as per the unit tests example

[2020-08-22 01:41] #840 closed, assigned to nobody

[2020-08-23 01:27] w4nderlust opened #844 "Exporting a savedmodel from a loaded model"
**EDIT: nevermind... it's already marked as a TODO TF2**
https://github.com/uber/ludwig/blob/f167981683c067b50be6a3656cbf553efbf192e9/ludwig/models/trainer.py#L1116-L1145

Do you want a separate issue for the actual issue?
In any case, here's the code I tried to use (several variations, but with the same outcome)
`from ludwig.api import LudwigModel`
`ludwig_model = LudwigModel.load('C:\\blabla\\mo

[2020-08-23 20:25] flozi00 commented on #722
I tried this out and it seems like you can't create an PR using the GitHub Apis this way.
I found examples where users cloned repos or committed to existing but I found no way to create an PR programmatically without automating the browser using selenium or something similar.

What's the biggest size of an zipped model ?
GitHub allows uploading files smaller than 100mb, with Ludwig 0.2 I didn't fi

[2020-08-24 10:35] elgalu opened #847 "SQL data sources? or TFIO support?"
Beyond CSV and WIP Parquet support, is it planned for example to leverage TF/IO https://github.com/tensorflow/io ?

[2020-08-24 23:08] w4nderlust commented on #847
As a general rule, we want to support as many data sources as possible.
Obviously it's a matter of resources and prioritization ;)
Although preprocessing and adding data sources will be one of the main priorities of v0.3.
Mark this as a feature request, feel free to add the data formats and sources you wish Ludwig would support.

[2020-08-24 23:19] w4nderlust commented on #722
Got it. It's a shame, but it's fine to do without ;)

I don't think it's forbidden, but 100mb is a pretty small size. It may be fine for now, but probably in the future we want users to either post the models and we manage saving them somewhere and keeping hte links, or they can provide a link to download the zip and we have some code that downloads it. I would prefer the first option, but it look

[2020-08-25 04:48] flozi00 commented on #722
There is no limit in this case.
We take the username by GitHub oauth, create an folder named by this, outside of the repo.
The models get stored on the hosting server then.
It's pretty similar to HF modelhub, anyone can upload models but the model cards needs to be reviewed from the team.

Which way to use ?
Hosted by GitHub pages or custom infrastructure ?

[2020-08-25 07:17] carlogrisetti commented on #490
Just for a reference, I am very proficiently using ImgAug (https://github.com/aleju/imgaug) for image augmentation.
Has *lots* of augmentation possibilities, and correctly maps points\vectors\shapes\segmentations\etc on the destination image\array.
It takes account of any chained modifications on the image (multiple transformations do not require multiple adaptations of the other features, but are

[2020-08-25 09:55] flozi00 commented on #722
The following might be a suggestion:
https://github.com/flozi00/modelhub/tree/master/models/flozi00

In this version the paths are relative and you can host it on any server, you just have to enter the base url in the client.
Only the UI needs PHP support.

The models can be checked before they are merged, the functionality can be done somehow via the github actions.

Via git lfs (https://docs.git

[2020-08-26 01:23] w4nderlust commented on #490
I think it could be fine to have several options (like tokenizers for text) which could be domain specific as long as the user can decide what to use fro the model definition :)

[2020-08-26 01:26] w4nderlust commented on #722
This looks convincing :) If lfs allow for bigger files, that sounds pretty nice to me.

[2020-08-26 09:58] flozi00 commented on #722
Okay, then I will check the automated test using Github actions, trying to make the css looking better and then we could start integrating it into ludwig.

[2020-08-26 16:53] carlogrisetti opened #850 "[Feature Request] Stratify on non-output feature"
I would like to be able to specify a stratify parameter on a feature that is not part of the output features of the model.
The scenario is that I want to randomly split my dataset with the force_split: true and split_probabilities parameters, but I want to be sure of having an uniform distribution of samples in all datasets, using a field I'm not going to define in the output features (but yes, if

[2020-08-27 00:52] w4nderlust commented on #850
Right now there is a check if the column name is in output features, the reason is that we can actually stratify only on categories and binary values. I could include input features too, but in your usecase looks like there is an additional column in the dataset that is neither  an input nor an output feature, correct? In that case one thing I can do is to transform the value errors that arise fro

[2020-08-27 01:05] carlogrisetti commented on #850
That's exactly my use case. I know the dataset has different properties based on a field I "humanly" know, but don't want to give it in input (because I won't have it in the actual input in production unless manually tagged) and I don't care about it in the output (so no need to waste neurons trying to predict that, and also I don't want it's loss/accuracy to affect training).

If that error/warni

[2020-08-27 16:42] carlogrisetti commented on #850
Created PR #854 to "solve" this.

[2020-08-28 01:39] #850 closed

[2020-08-28 01:40] w4nderlust commented on #844
@tgaddair as you merged the last fix on saved model, would you mind checking this out? I believe just obtaining the connected model should solve the issue.

[2020-08-28 02:19] tgaddair commented on #844
Sure, I'll take a look.

[2020-08-28 13:19] carlogrisetti commented on #850
Everything's good... but there's the annoying warning popping up on model load when trying to predict... and in that case the stratify parameter means absolutely nothing so it shouldn't even be checked for.
It all works fine however, so it's just an aesthetic improvement on the outputs.

[2020-08-29 21:46] #844 closed

[2020-08-29 21:51] w4nderlust commented on #850
mmm yes that same code is called when the model is loaded too and if stratify is outside inputs and outputs it will complain. i may replace stratify with none at saving time, but I don't know if the model will be loaded and trained again, in which case stratify may be useful.
So I would say let's live with that, and if you are very sure you don't want to train that model again, substitute the valu

[2020-08-29 22:05] w4nderlust commented on #710
Closing this due to lack of activity, can reopen if needed.

[2020-08-29 22:05] #710 closed

[2020-08-31 19:23] Teladoc-juanse opened #857 "I tryed this in Google Collab and on my Mac."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

Please provide code, yaml definition file and a sample of data in order to entirely reproduce the issue.
Issues that are not reproducible will be ignored.

**Expected behavior**
A clear and concise descr

[2020-08-31 19:32] Teladoc-juanse opened #858 "Ludwig serve doesn't work"
I tried this in Google Collab and on my Mac.

*Environment*
- Google Collab : Python 3.6.9
- Mac : Python 3.7.6
- pip install 'ludwig[serve]'  done, no errors

`sudo -H pip install 'ludwig[serve]'
Requirement already satisfied: ludwig[serve] in /Users/macmini/opt/anaconda3/lib/python3.7/site-packages (0.2.2.8)
Requirement already satisfied: pandas>=0.19 in /Users/macmini/opt/anaconda3/lib/python3.

[2020-09-01 01:07] w4nderlust commented on #858
you have t ospecify the path to the model, not to the experiment. In your specific case, add `/model` to the path you are providing.

[2020-09-01 01:07] #858 closed

[2020-09-01 01:08] #857 closed

[2020-09-01 08:23] Teladoc-juanse commented on #858
I have the same problem : [https://p479.p0.n0.cdn.getcloudapp.com/items/X6uNKepR/Image%202020-09-01%20at%2010.23.31%20AM.png?v=bcb4256b9eaddfcd61b2457b6ffe1a46](url)

[2020-09-01 08:24] Teladoc-juanse commented on #858
I still have the same problem [screenshot](https://p479.p0.n0.cdn.getcloudapp.com/items/X6uNKepR/Image%202020-09-01%20at%2010.23.31%20AM.png?v=bcb4256b9eaddfcd61b2457b6ffe1a46)

[2020-09-01 18:35] w4nderlust commented on #858
Are you sure you are running from the virtual environment where you installed ludwig[serve]? Does the model directory contain the model files (weights, hyperparameters and train set metadata)?

[2020-09-01 20:23] Teladoc-juanse commented on #858
Yes,  I used the same virtual environment. I installed FastAI and launched a server with the Ludwig API and it worked but when I use
`ludwig serve` I always have the same issue.

Since I need to put into production 2 models at the same time I will keep the FastAI option, but it's a pity that the error thrown  by `ludwig` was not more explicit about the origin.

[2020-09-01 20:54] w4nderlust commented on #858
This is the code that generates your error:
[code]

It means that you problem has to do with your environment and your dependencies.

Could you please try to open a python prompt and load those dependencies one by one? i expect one of them will fail, and we can figure out from there.

[2020-09-01 20:59] w4nderlust commented on #858
Also I just pushed to master a commit that prints the full error: https://github.com/uber/ludwig/commit/42ed14f9183bf698c7a2ec382db5e235c0ab4557

Can you please install ludwig from master and try again?

`pip uninstall ludwig & pip install git+http://github.com/uber/ludwig.git`

[2020-09-01 21:09] Teladoc-juanse commented on #858
Hello,
Since I was using FastAPI for the server I was not using `ludwig serve` anymore since this afternoon (Paris time). I tried what you suggested (the import of all the dependencies) and they passed so I tried `ludwig serve` again and it worked this time. However what I noticed when I was installing FastAPI manually is that Pydantic causes some problems during the installation and you have to t

[2020-09-01 21:35] w4nderlust commented on #858
I see, thank you for reporting on that.
Glad things worked out anyway :)
If you happen to be able to post here what error were you encountering without ht sudo -H I can try to dig deeper.
Thank you so much anyway!

[2020-09-03 01:41] w4nderlust commented on #833
Can you please check the commit above? it should solve the issue.
If the model was saved during training, i.e. we have a way to recover the model saved at the epoch where max performance on validation is reached, we load it before runnign the prediction.
If the model was not saved during training, we can only use the model at the last epoch, which is what the training process returns.
Please confi

[2020-09-03 07:58] flozi00 commented on #722
[code]

This library handles all the necceassary steps, the above function can successfully download and unzip the model from model hub.

[2020-09-03 22:33] w4nderlust commented on #722
Looks pretty cool! Only thing I suggest: when creating paths, use `os.path.join()` as it will respect the current os path separator (the current code won't work on windows, but with my suggestion it will for instance).

[2020-09-04 17:22] swayll opened #863 "Port Ludwig to Google Coral Dev board"
Tried to install Ludwig to Coral Dev board, but have many errors. Please will port Ludwig to this platform.
Thank you for Ludwig!

[2020-09-04 19:14] w4nderlust commented on #863
@swayll I'm not familiar with it, I'm guessing it is this one: https://coral.ai/products/dev-board/
On the website it suggests that " TensorFlow Lite models can be compiled to run on the Edge TPU".
Models from Ludwig are TF models, not TF Lite models.
I'm guessing you can try converting them to TF Lite models, but I have no experience with that.
I'll mark this as a feature request. Would gladly ac

[2020-09-05 07:41] carlogrisetti opened #865 "Dockerfile has not been updated to reflect TF2 porting"
I know it's not core right now, but just to keep in mind that those need to be updated in the future.
Might need that for a test I'll do next week, and if so I could upgrade and check for issues.

https://github.com/uber/ludwig/blob/a8fe093581fa2e0b3a28cde9d2b73b5e6a7a630c/Dockerfile#L10

https://github.com/uber/ludwig/blob/a8fe093581fa2e0b3a28cde9d2b73b5e6a7a630c/Dockerfile_dev#L12

[2020-09-05 18:11] tgaddair commented on #865
Thanks for raising the issue, @carlogrisetti.  Should be pretty straightforward to update following the structure of [.travis.yml](https://github.com/uber/ludwig/blob/master/.travis.yml).

[2020-09-09 00:48] w4nderlust commented on #833
@ifokeev did you have time to check this out?

[2020-09-09 00:49] w4nderlust commented on #751
Update: the code in master now is fully TF2, @tboneai would you be so kind to check if the error persists?

[2020-09-09 00:50] w4nderlust commented on #720
This has been merged ;)

[2020-09-09 00:50] #720 closed

[2020-09-09 00:51] #833 closed

[2020-09-09 03:44] tboneai commented on #751
I'm pretty busy this week but I start on this next Monday
    On Tuesday, September 8, 2020, 08:49:43 PM EDT, Piero Molino <notifications@github.com> wrote:

Update: the code in master now is fully TF2, @tboneai would you be so kind to check if the error persists?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-09-09 23:34] carlogrisetti commented on #844
FYI, it works perfectly now :)

[2020-09-19 00:12] #865 closed

[2020-09-19 00:33] w4nderlust commented on #661
@myzarak do you have any update for us? can you provide a reproducible example? Even a manually defined 2 lines csv would suffice, but without being able to reproduce the issue we won't be able to solve it.

[2020-09-19 00:56] w4nderlust commented on #661
I also improved the test of the server to make sure that the outputs from it are the same you obtain from a local model: https://github.com/uber/ludwig/commit/e576bcaf331ce34d8569197ad9fc7c0eab4a7d0f

I would be happy to include tests for corner cases with None inside but I need an example of that.

[2020-09-19 01:47] #819 closed

[2020-09-19 06:07] w4nderlust commented on #839
#898 solves this. Let me know if it's not ok.

[2020-09-22 22:31] YassLight07 opened #915 "Column Features"
Hello,

Can you please give me an example for each of the following feature types: SET and BAG. You only give an example for the "vector" type. It would be great to do the same for all column types.

Thank you

Kind regards,

Yassin

user guide: https://ludwig-ai.github.io/ludwig-docs/user_guide/#spacy-based-word-format-options

[2020-09-23 00:22] w4nderlust commented on #915
@YassLight07 thanks for asking this question. I updated the source of the user guide to include this information. It will be visible the next time the website is updated.

This is what I added:
Set features are expected to be provided as a string of elements separated by whitespace, e.g. "elem5 elem9 elem6".
bag features are the same, but some elements may be present more than once.

Closing this

[2020-09-23 00:22] #915 closed

[2020-09-26 14:28] kaykumar opened #920 "Deploy directly to AWS sage maker / Azure ML Studio / GCP"
**Is your feature request related to a problem? Please describe.**
A lot of custom work to deploy the model.

**Describe the use case**
 I build this model using ludwig, now It will be great if I can provide my AWS /AZURE credentials and it gets deployed and an endpoint is returned, that will help with quick model deployments.

**Describe the solution you'd like**
Ludwig --experiment -- > Ludwig -

[2020-09-26 19:10] w4nderlust commented on #920
Thanks, this is a good idea.
Added to the list of feature requests.
Would gladly accept contributions for this.

[2020-09-26 19:40] shparki commented on #920
I can definitely help with the Sagemaker deployment automation piece.

[2020-09-26 21:02] w4nderlust commented on #920
That would be great!

[2020-09-28 03:03] kaykumar commented on #920
Is ludwig already saving the tf model in SavedModel format?

[2020-09-28 04:26] w4nderlust commented on #920
Yes, Ludwig can export the model as SavedModel, but you need to preprocess the incoming data in the right way and postprocess the model outputs correctly if you want the results to make sense, So uploading only the SavedModel wouldn't do it.

One option is to use the export Neuropod functionality, with also perfroms preprocessing and postprocessing.

An additional option is to use the `ludwig serv

[2020-09-28 16:24] carlogrisetti opened #927 "0.3.0 does not allow to evaluate a specific dataset split"
I don't know if this is wanted or not, because it seems a backwards step to elimitate this, but in 0.3.0 there is no --split parameter anymore. I understand that someone having separate train, vali and test datasets is not impacted, but if you're using a single dataset file this could be problematic.
Am I missing something (like some sort of strange yaml parameter somewhere) or is that feature rem

[2020-09-28 16:29] carlogrisetti commented on #927
Oh... just for a reference, this happened during the great purge within https://github.com/uber/ludwig/commit/b7a1ade7b7ac4c835f31877cd532d3fe0deb1bbc

[2020-09-28 21:55] w4nderlust commented on #927
Yes the functionality was removed for simplicity.
v0.3.0 is more API-centric, and the API now returns the preprocessed data when you run train() so you can run evaluate and predict on the split you want programmatically.
In #924 I reintroduced the parameter, this time in experiment() calling it `eval_split`.
I believe your main concern is with predict and evaluate CLI command, right?
I can re-add

[2020-09-28 22:13] carlogrisetti commented on #927
The only use case I can think of is within evaluate, to run comparisons on the test dataset across multiple models. (Or validation, if test is not used).

On a side note, how should predict use the split parameter? I don't see a scenario on when you would want to run predict on part of the dataset, having a dataset splitted between training, validation and test, which seem unuseful in a "predict"

[2020-09-28 22:17] w4nderlust commented on #927
The logic is 99% the same for predict and evaluate, and as I'm adding it back to evaluate will add it back to predict too, but I agree, it makes less sense. It just makes it handy if you have an already preprocessed hdf5 file.

[2020-09-28 22:19] carlogrisetti commented on #927
Oh well, if it's so convenient I agree... There will always be that special someone who will make use of it :)

Thanks

[2020-09-28 22:29] w4nderlust commented on #927
This PR addresses the issue: #929

[2020-09-28 23:57] w4nderlust commented on #927
Merged

[2020-09-28 23:57] #927 closed

[2020-09-28 23:58] w4nderlust commented on #705
Another update: the new BERT encoder and all the other transformers are now added to master. you can check them out! This issue does no longer apply, so I'm closing it, but feel free to open a new one if you find issues with the new ones.

[2020-09-28 23:58] #705 closed

[2020-09-29 00:00] w4nderlust commented on #734
We fixed thsi and changed the logic, improved prints and now it should work fine. Let me know if you still have problems.

[2020-09-29 00:00] #734 closed

[2020-09-29 00:01] w4nderlust commented on #733
@lucaventurini was the problem solved? Can you please try with the latest version on master?

[2020-09-29 00:02] w4nderlust commented on #661
Closing due to staleness. I believe the recent changes for v0.3 solved the issue, but if not please post again here and i will be happy to fix any issue.

[2020-09-29 00:02] #661 closed

[2020-09-29 00:03] w4nderlust commented on #622
@ robertburbidgedata  could you be so kind to retry using the latest code on master? It should have solved the issue.

[2020-09-29 00:04] w4nderlust commented on #595
Closing due to staleness, feel free to reopen if this is still an issue.

[2020-09-29 00:04] #595 closed

[2020-09-29 00:05] w4nderlust commented on #66
This has been recently added. Closing.

[2020-09-29 00:05] #66 closed

[2020-09-29 00:06] w4nderlust commented on #96
The regression isntability issue should have been solved. Please reopen if it is still an issue.

[2020-09-29 00:06] #96 closed

[2020-09-29 00:09] w4nderlust commented on #216
Right now Ludwig has more than 800 tests, with a test coverage of about 70%.
We still want to improve the coverage, but the current suite, despite not covering all the corner cases, is quite robust.
We welcome help from the community to increase the coverage and number of tests.

[2020-09-29 00:09] w4nderlust commented on #841
This is now added.

[2020-09-29 00:09] #841 closed

[2020-09-29 00:10] w4nderlust commented on #752
This was indeed added in v0.3.

[2020-09-29 00:10] #752 closed

[2020-09-29 00:12] w4nderlust commented on #295
Closing due to staleness. Anyway now one can easily obtain the train_set_metadata from the API.

[2020-09-29 00:12] #295 closed

[2020-09-29 00:15] w4nderlust commented on #257
Getting back to this after a long time. We implemented a hyperparameter optimization component. it doesn't yet itnegrate with Ray, but that integration will be our next step.
Thank you for sharing your example!

[2020-09-29 00:19] w4nderlust commented on #478
Closing due to staleness, feel free to reopen if needed.

[2020-09-29 00:19] #478 closed

[2020-09-29 09:06] carlogrisetti commented on #453
FYI, models trained before 0.3.0-rc1 need to be retrained. There is a breaking change somewhere that causes prediction results to be highly incorrect as compared as pre-0.3.0-rc1.
Once retrained all works fine, so it's just a FYI if some issues get opened for this.
"normal" users won't notice this and should only stick to "0.2.0 not compatible with 0.3.0" as per this original issue

[2020-09-30 13:01] catr1ne55 opened #933 "Multi-label classification for Text throws an error on /predict when "ludwig serve""
**Describe the bug**

When I am trying to serve a trained ludwig model for multi-label classification, on `/predict` I always get an Internal server error

**To Reproduce**
Steps to reproduce the behavior:
1. create a model_definition.yaml:
[code]

2. create a text_data.csv
[code]

3. train the model
[code]

4. start `serve` command on the newly created model
[code]

5. Run `/predict` request
[cod

[2020-09-30 20:24] w4nderlust commented on #933
@catr1ne55 thank you for posting this and for the detailed instruction for reproducing. Ludwig had a JSONEncoder that deals with numpy arrays (utils/data_utils.py::NumpyEncoder). We'll replace the current JSON decoder with that and this should work fine. Will keep you posted.

[2020-10-01 00:59] #933 closed

[2020-10-01 01:01] w4nderlust commented on #933
Pushed a commit that solves the issue. Please confirm if you can by using the code on master.

[2020-10-01 01:04] w4nderlust commented on #933
Some minor comments on you example that may be useful:
1. you don't need the " in the YAML file
2. When you have a set column, you cna format it in many ways, by default it is formatted with whitespace, meaning your column value should look like: "hello world stupid"
3. you don't need the quotes in the CSV unless the specific value contains a comma

[2020-10-01 08:58] catr1ne55 commented on #933
@w4nderlust After updating and retraining model everything works as expected.
Thank you very much for quick fix and comments!

[2020-10-01 14:18] carlogrisetti opened #935 "Duplicate category value across features crash during training evaluation"
Training a model with multiple output features results in a valueerror in the evaluation phase of the first epoch.
It's not related to the tied category value, even two "simple" categorical outputs gave the error.
Switching to a single categorical value (one or the other) solves the issue and allows for the training to continue.

[multiple_output.zip](https://github.com/uber/ludwig/files/5312625/m

[2020-10-01 15:56] carlogrisetti commented on #935
Error has the first shape member set to the batch size. Changing the batch size of course changes the error details but presents the same issue.
Other "main-level" parameters do not affect the behavior and still produce the error.
Preprocessing the input images does not fix the issue (not related to the actual images)
Having a text input does not fix the issue (not related to image input)
Adding a

[2020-10-01 16:01] carlogrisetti commented on #935
Both output features to text *DOES* solve the issue
One output feature category and one output feature text *DOES* solve the issue

I do not have a dataset and time to test 2 category + 1 text, but it seems almost like the combination of 2 category output features is breaking something. As long as there is only one category output, it works fine

[2020-10-01 21:53] tgaddair commented on #935
Hey @carlogrisetti, is it possible that training and eval sets have a different number of distinct values for the categorical features?  Looks like there is an off-by-one error between the output and target, suggesting different vocab sizes.

[2020-10-01 22:21] carlogrisetti commented on #935
Ok, found out how to repro, and can include full sample dataset.
Issue arises where you define two category columns that share the same category names. Ludwig maps them onto a distinct list, hence the shape difference.

Here it is:
[multiple-output-same-category.zip](https://github.com/uber/ludwig/files/5315085/multiple-output-same-category.zip)

Once you get different category names across differ

[2020-10-02 01:46] w4nderlust commented on #935
I figured out what the issue is, working on a fix. Very good catch, thank you, this only show up when you have two output features of the same type.

[2020-10-02 02:24] #935 closed

[2020-10-02 02:25] w4nderlust commented on #935
Should be solved, please confirm if that's true also for your real usecase.

[2020-10-02 02:47] TuanNguyen27 commented on #216
@w4nderlust could you suggest a few places in the code base that could benefit from more unit tests ? Thank you ! :)

[2020-10-02 13:15] carlogrisetti commented on #935
Confirmed, thanks!

[2020-10-03 01:15] w4nderlust commented on #216
Thanks for being willing to help @TuanNguyen27 ! We'll release v0.3 shortly, and then I'll get back to you with some precise info. i want identify the areas more in need with a pytest run coverage and use that to decide together where you can help the msot ;)

[2020-10-03 20:27] kishorkumar89 commented on #154
Please provide the correct URL its not working

[2020-10-03 21:17] w4nderlust commented on #154
updated to the current url

[2020-10-03 23:34] Vfitstory commented on #535
woah, came here looking for a answer but if a Nvidia V100 is having a issue with this then i guess is shouldnt complain that my rtx2080 is having this issue, either how, any updates on this?

[2020-10-03 23:47] w4nderlust commented on #535
There is no update, you get cuda out of memory when the combination of model weights and actications is too big to fit in memory. There are only two options: decrease the size of your model so that you have either less weights in memory or and the size of the activations are smaller, and/or decrease the batch size. I'm actually closing this for staleness and because there are no other solutions to

[2020-10-03 23:47] #535 closed

[2020-10-04 10:40] bharatsewani1993 opened #942 "Spoken Digit Speech Recognition Example Failed! (Not working)."
**Describe the bug**
I performed all the things step by step mentioned in
https://ludwig-ai.github.io/ludwig-docs/examples/#spoken-digit-speech-recognition
But it is not working and returning the error.

*Output log*
2020-10-04 16:05:51.078440: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library cudart64_101.dll
███████████████████████
█ █ █ █  ▜█ █

[2020-10-04 15:16] bharatsewani1993 commented on #942
I performed the same steps in Linux Ubuntu operating system and got the same error.
This example is no more working.
https://ludwig-ai.github.io/ludwig-docs/examples/#spoken-digit-speech-recognition
.
.
Help is appreciated.
Thanks in advance.

[2020-10-04 15:18] bharatsewani1993 commented on #942
Output in Linux system:

(venv) bharat@bharat-pc:~/Desktop/awesome_python_project/ludwig/speech_recog_digit_data$ ludwig experiment -g 0 --dataset /home/bharat/Desktop/awesome_python_project/ludwig/speech_recog_digit_data/spoken_digit.csv --model_definition_file /home/bharat/Desktop/awesome_python_project/ludwig/model_definition_file.yaml
2020-10-04 20:44:56.235117: W tensorflow/stream_executor/pl

[2020-10-04 18:16] kanishk16 commented on #942
@bharatsewani1993 Try `'dropout': x (0<x<1)` instead of  `'dropout': True` in the model definition. Also, you may skip defining `'dropout_rate': x (0<x<1)` in the training part of the model definition. Let us know if the error still persists.

We would be updating the docs soon.

[2020-10-05 04:35] bharatsewani1993 commented on #942
Thanks, @kanishk16,
It worked for me. :)
Help is really appreciated.
<3

[2020-10-05 04:35] #942 closed

[2020-10-05 08:16] ifokeev opened #945 "Use lightgbm to hypertune and feature importance"
I was researching `autokeras` codebase and noticed that it uses `lightgbm` inside `preprocessing` and I think it's a good idea

https://github.com/keras-team/autokeras/blob/52bf3afefb1eb4eae09f6786596a75b9b9ca5b25/autokeras/hypermodel/hyperblock.py

If we will integrate `lightgbm` or `xgboost` in `ludwig` then will gain more accurate and speed tuning.

[2020-10-06 09:49] mikechen66 commented on #535
I have used the following section of code to solve the the issue.

[code]

Cheers!

[2020-10-09 19:13] YassLight07 opened #950 "preprocessing methods"
Hello,

What preprocessing methods are applied to data before the training phase? It would be nice to have a brief summary of all these steps in the doc.  By preprocessing, I mean: one-hot-encoding, normalization, imputation, etc.

Thank you,

Yassine

[2020-10-09 19:55] w4nderlust commented on #950
The docs contain such information.
Check the [Preprocessing section in the User Guide](https://ludwig.ai/user_guide/#preprocessing) and then the preprocessing sections of each datatype in the user Guide.
If you still have questions, please feel free to ask them here. Closing in the meantime.

[2020-10-09 19:55] #950 closed

[2020-10-11 21:18] aminaBm opened #951 "AssertionError: Some objects had attributes which were not restored"
My code used to work perfectly till I upgraded TensorFlow and Ludwig it shows me this error

[code]

[2020-10-12 03:41] w4nderlust commented on #951
H@aminaBm can you give us more details on what you are trying to achieve?
I'm guessing you are trying to load a model trained with Ludwig 0.2.x in ludwig v0.3. If that is the case, unfortunately it's not going to work, as we explained in the [changelog](https://github.com/uber/ludwig/releases/tag/v0.3), because v0.3 runs on TensorFlow 2 instead of TensorFlow 1, which brakes compatibility.
If my hy

[2020-10-12 09:16] Juggernaut1997 opened #952 "Evaluate not found"
INFO:tensorflow:Restoring parameters from results/simple_image_experiment_single_model/model\model_weights

AttributeError                            Traceback (most recent call last)
<ipython-input-18-1e5cdef68648> in <module>
     15
     16 # make predictions
---> 17 test_stats, pred_df, _ = model.evaluate(dataset=test_df, data_format='df', collect_predictions=True, collect_overall_stats=True)

[2020-10-12 12:21] aminaBm commented on #951
Thank you @w4nderlust I retrained my  @model and it works perfectly

[2020-10-12 12:51] #951 closed

[2020-10-13 00:58] w4nderlust commented on #952
This is not how we want the issues to be provided.
Pasting an error without any context makes our work of trying to help you solve your issues very hard and is very disrespectful toward us.
We are not a search engine, nor a pattern matching answer bot, we are human being that put effort and passion in an open source project for the benefit of everyone.
Please provide context of what you are trying

[2020-10-13 01:23] jimthompson5802 commented on #216
@TuanNguyen27   I'm reaching out on behalf of the Ludwig project.  I'm a contributor and will be looking to improve the project's unit tests.  I'd love to have help with this and discuss possible ideas with you.  Let me know if you're still able to help with this.

[2020-10-13 01:28] TuanNguyen27 commented on #216
@jimthompson5802 Yes i am! How can we proceed ?

[2020-10-13 01:49] jimthompson5802 commented on #216
Here is my perspective of where we can improve the unit tests:
* With the exception of some recent tests, most of the tests, when writing out results, use the same output directory name.  This is not necessarily an issue except if we try to run tests in parallel.  For these tests, we'd like to put the output in a temporary directory.  This way it will avoid conflicts.
* Many tests run multiple sce

[2020-10-13 04:37] w4nderlust commented on #216
@TuanNguyen27 to give you context, @jimthompson5802 wrote many of the tests in v0.3 and he is definitely the authority on tests in Ludwig :) Also if you want we can add you to our chat so that alll of us in the core team can answer your questions as they emerge. Feel free to send me a private email and I can add you there.

[2020-10-13 06:39] Juggernaut1997 commented on #952
So, I was trying the MNIST example you have provided. But while running its visualization part, I got stuck at the line where model.evalute starts.

[2020-10-13 19:09] aminaBm opened #953 "FileNotFoundError model_hyperparameters.json"
When loading a trained model using LudwigModel.load

  `  model = LudwigModel.load("/LudwigModels/model")`

I got this error :

FileNotFoundError: [Errno 2] No such file or directory: '/LudwigModels/model/model_hyperparameters.json'

however, when I open the directory I can found it

it works perfectly when I load other models

[2020-10-13 20:20] jimthompson5802 commented on #952
@Juggernaut1997   Just for clarity when you write "trying to MNIST example you have provided," are you referring to the Jupyter notebook called `examples/mnist/visualize_model_test_results.ipynb`?    For me, this notebook works.

It will help me if you can be more specific on what example file you are trying to run.

One last thing, if you are running the Jupyter notebook, please do the following

[2020-10-14 03:49] w4nderlust commented on #953
Are you sure the path is correct? It would be weird to have a `LudwigModels` directory in the root.

[2020-10-14 07:27] aminaBm commented on #953
@w4nderlust this is the path _/LudwigModels/sentiment/2/results/api_experiment_run/model_

[2020-10-14 21:02] kanishk16 commented on #953
@aminaBm Did you try using this path while loading the model? If not try and let us know if you still run into issues.

[2020-10-14 23:59] w4nderlust commented on #953
It is an absolute path, so you have the LudwigModels in the root of you file system?
If that is true, are you sure you have the rights to access the files? (by default the owner is likely going to be root).

Maybe you could consider placing the models in user space, like `~/LudwigModels/...` and the issue will likely be solved.

[2020-10-15 03:18] TuanNguyen27 commented on #216
@jimthompson5802 i think all of your suggestions make a lot of sense and are doable for beginners to the code base. I'm most interested in the 3rd bullet point, refactoring some test to reuse previous trained model results. Could you give a few specific tests in https://github.com/uber/ludwig/tree/master/tests that I can read more?

Wondering if you can also give an example of what you mean by "sh

[2020-10-15 09:56] aminaBm commented on #953
now it shows `No training data is provided!`

[2020-10-15 21:10] w4nderlust commented on #953
Probably you have the same issue with th data, try placing it in a place where it can be accessed.

[2020-10-15 21:56] jimthompson5802 commented on #216
@TuanNguyen27  good to hear back from you.  We can discuss the specifics in the chat platform that Piero(@w4nderlust)  set up for the Ludwig project.  Piero offered to add you to the chat platform if you send him a private email with your email address.  This is where we are coordinating our work.  You can get Piero's email address from his GitHub profile.

[2020-10-19 03:22] brightsparc opened #960 "Save SavedModel fails for SetInputFeature"
**Describe the bug**
Error when attempting to call `save_savedmodel` for a model that containers a set property.  See error:

[code]
https://github.com/uber/ludwig/blob/master/ludwig/features/set_feature.py#L127

**To Reproduce**

Create a model definition with a set property - in my case I had two set properties for a regression output.

[code]

Sample dataset for the three fields above:

[code]

[2020-10-19 21:44] DLWCMD opened #961 "Cannot Install [test] Dependencies"
After successfully installing base Ludwig 0.3 packages, I cannot install test dependencies using the following:

`pip install ludwig[test]`

After lengthy reporting of already satisfied requirements, the process fails as shown in the terminal output below, reporting that it cannot build wheels for horovod or sci-diet image and mentioning PEP 517.

I realize the terminal output is long and dense, b

[2020-10-19 22:37] w4nderlust commented on #960
Thanks for reporting this, looking into it.

[2020-10-19 22:38] w4nderlust commented on #961
In order to format the output, just put 3 backticks before and after. Also, as it is very long it would appreciated if you could save it into a file and attatch the file rather than pasting all of it, you may actually just past the salient part.

[2020-10-19 22:54] tgaddair commented on #961
Hey @DLWCMD, for Horovod, the issue appears to be that you don't have `libuv` or `openmpi` installed.  Try running `brew install libuv` and let us know how it goes.

[2020-10-19 23:19] w4nderlust commented on #961
In general, for installing Horovod please follow the steps here: https://github.com/horovod/horovod#install

[2020-10-20 00:27] w4nderlust commented on #960
I confirm I was able to reproduce.

[2020-10-20 01:26] DLWCMD commented on #961
Thanks very much.

David L. Wilt

3272 Bayou Road

Longboat Key FL 34228

dwilt1947@gmail.com

540-420-0844

From: Piero Molino <notifications@github.com>
Reply-To: uber/ludwig <reply@reply.github.com>
Date: Monday, October 19, 2020 at 7:19 PM
To: uber/ludwig <ludwig@noreply.github.com>
Cc: DLWCMD <dwilt1947@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [uber/ludwig] Cannot Install

[2020-10-20 01:27] DLWCMD commented on #961
Thanks very much for the guidance.

David L. Wilt

3272 Bayou Road

Longboat Key FL 34228

dwilt1947@gmail.com

540-420-0844

From: Piero Molino <notifications@github.com>
Reply-To: uber/ludwig <reply@reply.github.com>
Date: Monday, October 19, 2020 at 6:39 PM
To: uber/ludwig <ludwig@noreply.github.com>
Cc: DLWCMD <dwilt1947@gmail.com>, Author <author@noreply.github.com>
Subject: Re: [uber/ludwig]

[2020-10-20 06:59] catr1ne55 opened #963 "Iterating over tf.Tensor is extremely slow in set_feature postprocess"
**Describe the bug**
"Postprocess" function in `set_feature.py` is super slow because of one loop over tf.Tensorflow prediction results

**To Reproduce**
Steps to reproduce the behavior:
1. Create any big model with "set" output feature (my case was multilabel (tags) classification with ~10000 train dataset)
2. run "predict" on big dataset (~3000 rows to predict on and ~10000 tags in the `idx2str`

[2020-10-20 16:38] tgaddair commented on #963
Thanks for the detailed issue @catr1ne55.  Can you take a look at #964 and let me know if it addresses the performance issues for your model?

[2020-10-21 03:54] w4nderlust commented on #952
@Juggernaut1997 if you could please be precise about the error and how to reproduce it we can look into it. Also in my case the notebook works, so I'm trying to figure out what is actually the issue.

[2020-10-21 03:56] w4nderlust commented on #961
@ DLWCMD so where you able to solve the issue following the guidance? Can we close this issue?

[2020-10-21 06:56] catr1ne55 commented on #963
Thanks for the quick fix @tgaddair! Now the performance issue is resolved.

[2020-10-21 08:46] #952 closed

[2020-10-21 10:52] Juggernaut1997 opened #965 "Assertion Error while running hyperopt notebook"
Hi, From last couple of weeks I am exploring Ludwig. While exploring I came across the Hyper-parameter optimization visualization done in Ludwig. So, I forked the repo and start looking into it. While doing that I got an error related to multiprocessing pool which I am not sure what it is. So I am mentioning the error below, please look into it and guide me what's causing this error and how I can

[2020-10-21 12:21] jimthompson5802 commented on #965
@Juggernaut1997   I'm trying to understand your set up where the error occurs.

You referenced [hyperopt notebook](https://github.com/uber/ludwig/blob/master/examples/hyperopt/model_hyperopt_example.ipynb) from the Ludwig examples.  I ran this notebook, including the parallel grid search example, and was not able to reproduce your error.

A few questions:
* Did you modify the notebook in anyway?
*

[2020-10-21 13:19] DLWCMD commented on #961
Piero,

Thanks for the follow-up, and the short answer is no. One of the many problems is that, on installation, wheel creation fails in several cases. Frankly, this situation is beyond my ability to rectify.

However, for me, this problem is indirect: I am not interested in the environments horovod supports, but it seems a requirement when I attempt to install Ludwig[test]. Thus, I assume that th

[2020-10-21 14:05] tgaddair commented on #961
Hey @DLWCMD, Horovod is only needed for testing Horovod itself.  If you don't wish to test the Horovod related tests, you can remove it from `requirements-horovod.txt` in your local environment.  Just be aware that some unit tests (those that test Horovod functionality) will fail.

[2020-10-21 14:07] DLWCMD commented on #961
Thanks very much and understood.

David L. Wilt

3272 Bayou Road

Longboat Key FL 34228

dwilt1947@gmail.com

540-420-0844

From: Travis Addair <notifications@github.com>
Reply-To: uber/ludwig <reply@reply.github.com>
Date: Wednesday, October 21, 2020 at 10:05 AM
To: uber/ludwig <ludwig@noreply.github.com>
Cc: DLWCMD <dwilt1947@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [uber/lu

[2020-10-21 18:28] #963 closed

[2020-10-21 18:30] w4nderlust commented on #961
Closing this for now, let us know if you have further problems.

[2020-10-21 18:30] #961 closed

[2020-10-21 18:32] w4nderlust commented on #952
@Juggernaut1997 as you closed the issue I believe you solved it, could you please post here about the solution so that is some one else encounters your problem they can use your solution too?

[2020-10-21 18:40] DLWCMD commented on #961
Thanks. I appreciate your support, and I can make good use of Ludwig without horovod.

I realize horovod may not find much traction in mac world. However, I would encourage you to test installation on MacOS/Catalina as time permits, based on my experience.

Thanks again. Keep up the good work with Ludwig, and I look forward to further exploring your tool.

David L. Wilt

3272 Bayou Road

Longboat

[2020-10-21 19:02] tgaddair commented on #961
Hey @DLWCMD, we do run Horovod integration in macOS, but due to the nature of having to compile native code at install time, any number of things can go wrong.  If at some point you'd like to dig into this issue, feel free to open an issue on the Horovod GitHub and I'll take a look.

[2020-10-21 19:06] DLWCMD commented on #961
Travis,

Thanks very much, and that is very gracious offer. I understand you have a lot on your plate crafting this new product, and your responsiveness has been outstanding.

I am particularly interested in time series, and one of your examples suggest Ludwig’s support is evolving. I may have something to contribute. Would such content be of interest?

David L. Wilt

3272 Bayou Road

Longboat Key

[2020-10-21 19:12] tgaddair commented on #961
Absolutely!  It would be great to hear more about what you have in mind.

Feel free to open an issue describing what you would like to implement, that could serve as good starting point for future conversation.

[2020-10-21 19:17] DLWCMD commented on #961
Will do. I have a method that allows for easy configuration and random generation of ‘synthetic’ time series, which are very useful to comparing different encodings and hyperparameter testing. I will add details in an issue.

Talk soon and take care.

David L. Wilt

3272 Bayou Road

Longboat Key FL 34228

dwilt1947@gmail.com

540-420-0844

From: Travis Addair <notifications@github.com>
Reply-To: u

[2020-10-22 02:35] jimthompson5802 commented on #965
@Juggernaut1997   I've been looking at your issue and have some ideas on a solution.  However to know if these ideas will work, I need answers to the questions I posted earlier.  The most important one is see the code you have written and trying to execute.  For image data, you may need to use another Ludwig api `ludwig.data.preprocessing.preprocess_for_training()`.

Looking forward to your respon

[2020-10-22 04:24] Juggernaut1997 commented on #965
Hi @jimthompson5802 , Following are the replies to your information you needed to understand the error. Please take a look and let me know if you need any other information too.

1. Did you modify the notebook in anyway?
-> Yes

2. Does the error occur in your modified code? If yes, please post the modified code.
-> I am trying to implement the Hyperopt on the MNIST handwritten digits dataset. The

[2020-10-22 04:29] Juggernaut1997 commented on #965
@jimthompson5802 You mentioned `ludwig.data.preprocessing.preprocess_for_training()`, can you suggest where I can find the details on it. Like what inputs needs to be given and how can I use this API?

Thank you once again. :)

[2020-10-22 12:06] jimthompson5802 commented on #965
@Juggernaut1997

re: response to "Does the error occur in your modified code? If yes, please post the modified code."   I was hoping to see the code you are executing vs a verbal description.  Without seeing the actual code, I don't know if the suggestion shown below will work for your context.  Unless I can recreate the problem with your code, the following may or may not work for you.

Give the

[2020-10-22 13:24] Juggernaut1997 commented on #965
@jimthompson5802

I am not sure if this is working or not for me, because it keep on loading. So I am putting the notebook below, please take a look.

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-10-23 01:08] Bandit253 opened #966 "Unable to install"
I have tried a couple of times, on 2 versions of python, to install following instructions but it fails at installing neuropod

(venv) G:\_ludwig\venv\Scripts>pip install ludwig[full]
Collecting ludwig[full]
  Using cached ludwig-0.3.tar.gz (212 kB)
Collecting Cython>=0.25
  Using cached Cython-0.29.21-cp37-cp37m-win_amd64.whl (1.6 MB)
Collecting h5py>=2.6
  Using cached h5py-2.10.0-cp37-cp37m-win

[2020-10-23 02:13] w4nderlust commented on #966
@Bandit253 thanks for noticing us about it, we'll look into it. My best guess is that the issue lies with neuropod and Win10, but I have to verify it.

As a temporary workaround, if you don't need neuropod specifically, i would suggest you install just `ludwig` and optionally all the subpackages that are useful for you usecase. `neuropod` is inclused in the `serve` subpackage at the moment, so if