[2020-10-23 02:59] Bandit253 commented on #966
Thanks I will do that for now.

[2020-10-23 06:48] Juggernaut1997 commented on #965
Can you tell, how much time it will take run this section of code?
[code]

[2020-10-23 11:32] jimthompson5802 commented on #965
Without knowing the config settings and your setup, it is hard to say.  The primary driver for run-time will be the amount of data and the number of epochs.  Do you have sufficient cpus to support 4 parallel tasks?

To help you, I've been using a 20% subset of training data.  10 random samples, 4 parallel workers with 5 epochs takes about 5 minutes on my MacBook with 4 cores (8 threads of executio

[2020-10-24 22:15] JDface opened #967 "Jupyter Notebook"
Hello:

I have simple questions. I want to use ludwig in my Jupyter Notebook and i need help with examples how to do that.

If ludwig cannot be imported in jupyter notebook, please let me know.

Any help is greatly appreciated.

Thanking in advance.

[2020-10-25 02:42] AschHarwood opened #969 "Replicating Keras architecture for text classification in Ludwig"
Hi,

Thanks so much for the the impressive tool you've put together. I have an feed forward sequential model that has been performing quite well for my problem at hand, which is predicting hourly google search trend volume for particular keywords based on aggregated news articles (basically, I take all the tokens from articles that were published at a particular time and concatenate them into one

[2020-10-25 12:00] jimthompson5802 commented on #967
@JDface It possible to use Ludwig in a jupyter notebook.  There are several example notebooks in the Ludwig's example directory.  Here is one example: https://github.com/uber/ludwig/tree/master/examples/kfold_cv

[2020-10-25 19:01] JDface commented on #967
thank you for your help & link, I appreciate you.

[2020-10-25 19:01] #967 closed

[2020-10-25 21:43] w4nderlust commented on #965
It also depends on your gpu availability.

[2020-10-25 21:51] w4nderlust commented on #969
@AschHarwood the specific model you are importing from the tensorflow hub is currently not supported in Ludwig. You can likely add it as a text encoder.
Alternatively you could use any of the sequence and text encoders that Ludwig already provides, both training them from scratch or using pretrained one, depending on your usecase and the amount of data you have available.
Let me know if you have f

[2020-10-26 07:27] flozi00 commented on #722
So, only the ludwig implementation is missing now.
The models can be stored everywhere (I will upload them to our S3 storage), the URL needs to be given in models json.
Every commit to the repo gets synced to the webserver instantly.
I will try to make the CSS looks better, could you insert the download function to ludwigs code ? I don't know where to do so exactly.
Actually I am training an addre

[2020-10-26 07:31] flozi00 opened #971 "[Feature request] saved model example codes"
I think a cool feature for model serving would be generating example codes for the export of saved model, which can be used in TF-JS and so on.
If you want to serve your model as webapp in JS and ludwig generates the function you only need to call, you don't even need to learn JS so much.
Only need to copy existing apps and insert the model + generated function in place where you need.
Same for ot

[2020-10-26 07:36] flozi00 opened #972 "[Feature request] huggingface datasets"
The huggingface datasets library contains very much datasets for NLP tasks, what about an native implementation of these ?
Lazy loading for example is already done by the library.

[2020-10-26 14:36] jenishah opened #973 "Possible bug with calculation of jaccard similarity"
Firstly, thanks a lot for this wonderful library and also for adding transformers in the latest release.

**Describe the bug**
I trained a model for multi-label classification. After training, when I compute the jaccard similarity on predictions on test set, by calculating intersection over union, the score does not match with the results given by the library. test_statistics reported jaccard of 0

[2020-10-26 16:57] DLWCMD opened #974 "Synthetic Time Series Data"
**Is your feature request related to a problem? Please describe.**
Uber/Ludwig wishes to enhance its support for time series modeling and analysis. While there are many existing time series available for downloading, such as the LA Weather Archive used in a Ludwig TS example, a 'self-contained' Ludwig application would offer many benefits as a test bed for TS analysis with Ludwig, including compar

[2020-10-26 20:35] mangleddata opened #975 "Train throws AttributeError: module 'tensorflow.keras.losses' has no attribute 'softmax_cross_entropy'"
**Describe the bug**
ludwig train fails with error "AttributeError: module 'tensorflow.keras.losses' has no attribute 'softmax_cross_entropy'

**To Reproduce**
I can build a reproducer after cleaning data, but want to see if there's some library mismatch that you can spot.

**Environment (please complete the following information):**
 - OS: 18.04.1-Ubuntu
 - Version 18
- Python version 3.7.6
- Lud

[2020-10-26 23:04] w4nderlust commented on #972
Unfortunately it's not a sufficiently generic solution for Ludwig as it doesn't account for datatypes other than text.
That said, the library is very well done and we'll likely take inspiration from some design decisions.

[2020-10-26 23:11] w4nderlust commented on #973
Thank you for the report. We indeed modified the calculation of the jaccard index in v0.3. You example will help us determine if we introduced an error.
Let us look into this.
Maybe @jimthompson5802 can help with this as he implemented the current calculation.

[2020-10-26 23:12] w4nderlust commented on #971
We'll consider this, thanks!

[2020-10-26 23:14] jimthompson5802 commented on #973
@w4nderlust   got it...let me take a look.

[2020-10-26 23:22] w4nderlust commented on #975
@mangleddata the Ludwig / TF / Python versions look fine to me.
You can use the data synthesizer commad to create a dataset that looks like yours to reproduce this.
I'm guessing you are useing class weights,is that correct? In that case I may actually know what the issue is.

[2020-10-27 00:56] mangleddata commented on #975
I created a reproducer with all the files. Please see
https://github.com/mangleddata/repro_cw
Indeed, I was using class weights. So I poked around and with strong google skills, I modified softmax_cross_entropy_with_class_weighting to use tf.losses.softmax_cross_entropy function and it started making progress.

[code]

However, when I tried on multi GPU, it failed with timeout after few epochs. I

[2020-10-27 01:22] jimthompson5802 commented on #973
@jenishah Thank you for providing complete and detailed description of the issue.  I was able to use the code and data you provided to reproduce the issue on my side.  I'm still in the process of looking into the root cause.  One thing I can relate.  Instead of manually calculating the metric, Ludwig is using the keras metric class `MeanIOU` in v0.3.  Right now I'm looking to assess how the differ

[2020-10-27 01:58] w4nderlust commented on #975
This sound like a separate issue (one @tgaddair can probably help with), but could you try without horovod and report on that? It would be great to help me reproduce. It's likely even a small dataset will reproduce the issue.

[2020-10-27 03:49] mangleddata commented on #975
@w4nderlust I reduced the file size and was able to reproduce the issue (module 'tensorflow.keras.losses' has no attribute 'softmax_cross_entropy). Could you check if run.sh from repo above reproduces on your end ?

[2020-10-27 05:28] Juggernaut1997 commented on #965
Hi @w4nderlust @jimthompson5802 ,

This [solution ](https://github.com/uber/ludwig/issues/965#issuecomment-714447393) worked. It just took an hour to process, which is fine because we have a image dataset. It will take time to process.
So thank you for your time and solution you guys provided.

Thank you once again and be safe!
😉 👍

[2020-10-27 05:33] w4nderlust commented on #965
That's great to hear! We'll keep the issue open as we still need to fully solve it, but glad the workaround helped!

[2020-10-27 17:13] carlogrisetti opened #977 "Weird in_memory behavior results in whole .hdf5 load at startup"
Hello, can you just confirm me that the documentation is still up to date and this:

![image](https://user-images.githubusercontent.com/4464640/97336653-8b2fa200-187f-11eb-9311-d56624d8493c.png)

is still a valid in_memory declaration? (I correctly see it applied in the hyperparameters sumup that ludwig prints out prior to actually doing anything, but I just wanted to check)
I have only a single i

[2020-10-27 23:44] w4nderlust commented on #977
Your config should be correct. Let me look into this.

[2020-10-27 23:56] w4nderlust commented on #975
@mangleddata thank you, I was able to reproduce, Will look into it.

[2020-10-28 01:42] w4nderlust commented on #973
We merged the PR #979 . We figured out that the notion of MeanIoU in TF2 is different from our previous calculation of the jaccard inde (which was the same as yours), so we re-implemented the old calculations, and added a test that uses some of your outputs to test the calculation is correct. We should be good to go, please test it by installing Ludwig from master and let us know if there are stil

[2020-10-28 01:42] #973 closed

[2020-10-28 05:27] jenishah commented on #973
I checked and it's giving correct results. Thank you very much for this quick fix! :)

[2020-10-28 16:01] carlogrisetti commented on #839
I am finally able to test decay and decay_rate, but it seems that the learning rate reduction due to decay is only applied one time, and then never again

ie: I set LR to 0.1, decay to true, decay_rate to 0.9 and LR goes down to 0.09986 after the first epoch and then stays that way forever

Can you check this? Do you prefer to have a new issue opened?

Thanks

[2020-10-29 00:31] w4nderlust commented on #839
So this is kinda weird. inspecting this I figured out some issues with the way the learning rate is computed. I'm fixing them, but yours is different. Also, changing the reporting of the learning rate per batch, as the decay (and the warm up) ar applead on a per batch basis.
Will probably put up a PR soonfor you to try.

[2020-10-29 01:19] w4nderlust commented on #839
Allright, this is the new behavior after the fixes.

Fixes the place where the lr computation is done and some parameters.

Now this happens without warmup and decay:
![nothing](https://user-images.githubusercontent.com/349256/97513485-a961d480-1949-11eb-8bfc-ac898d6cb6d9.png)

This when warmup is on
![warmup](https://user-images.githubusercontent.com/349256/97513499-b1217900-1949-11eb-8be1-b7334e

[2020-10-29 07:37] carlogrisetti commented on #839
That looks good from your comment, will try and see today.
Warmup was already okay, I don't understand if you found some more issues there or if was just an FYI mentioning warmup also.

There's only the first graph that is suspiciously aligned with 0, and I noted that it happens when the LR is waaaay too low, and maybe there are some precision/rounding mechanisms that set it to zero in the graphs

[2020-10-29 08:29] carlogrisetti commented on #839
I had a weird feedback, like that warmup was always set to 10, but this is due to the fact that i have mistaken step_learning_rate for epoch_learning_rate.

It is all correct and working fine!

[2020-10-29 08:31] w4nderlust commented on #839
In the first graph, I guess the range set by the tensorboard doesn't allow to see it was actually a 0.01 learning rate, but i manually checked, and the 0.01 just stayed constant throughout.

Glad this worked, merging the PR and closing.

[2020-10-29 08:31] #839 closed

[2020-10-29 17:45] nieag opened #983 "Frame based audio features"
**Is your feature request related to a problem? Please describe.**
Currently the audio pre-processing feature is limited to fixed length audio examples which are either padded or cut to match the `audio_file_length_limit_in_s` argument. An alternative (or extension) of this is to allow varying length audio files, which at a later stage are cut into fixed length "frames" that may or may not be over

[2020-10-30 13:01] AschHarwood commented on #969
@w4nderlust I appreciate you taking a look at this for me. I was able to apply the GLOVE model. However, I'm still struggling about how to replicate the basic architecture with three hidden layers with descending node size. Are there any examples you could point me toward to replicate this?

Thanks!
Asch

[2020-11-01 13:23] rang21c opened #984 "Can I translate the README.md file into Korean?"
Hello, I am a university student from Korea and I am interested in deep learning.

So I'd like to translate README.md file of this project.

If you are interested in this, please comment below. Thank you!

[2020-11-02 16:51] carlogrisetti opened #987 "Cannot perform evaluation on trained image model using either resnet or stacked_cnn"
CLI evaluation on a model trained with a resnet input feature crashes.
This works correctly on a numerical\categorical input. Only an image input feature seems to have this issue, either with resnet encoder or stacked_cnn encoder (I tried both)

Attached the sample model definition I used and the stack dump

[model_definition.txt](https://github.com/uber/ludwig/files/5476557/model_definition.txt)

[2020-11-02 17:42] aminaBm opened #988 "ludwig train: error: one of the arguments -c/--config -cf/--config_file is required"
command line : `ludwig train --data_csv DataSet.csv --model_definition model_definition.yaml`

my model_definition file :
[code]
how my dataset looks like
[code]

and it shows me this error
`usage: ludwig train [options]
ludwig train: error: one of the arguments -c/--config -cf/--config_file is required
`
Could someone help me to find out the problem ? :(

[2020-11-02 18:08] jimthompson5802 commented on #988
Several breaking changes were introduced with v0.3.  See here for details: https://github.com/uber/ludwig/releases/tag/v0.3

You can refer to the updated documentation for the `ludwig train` command here: https://ludwig-ai.github.io/ludwig-docs/user_guide/#train

For your specific example, I suggest trying this
[code]

[2020-11-02 18:44] #988 closed

[2020-11-02 22:02] w4nderlust commented on #953
@aminaBm I'm guessing you solved the issue, could you please post the solution so that other people with the same issue would know how solve it?

[2020-11-02 22:07] w4nderlust commented on #984
@rang21c thank you for your interest! That sounds great. The only thing is that I wouldn't know how to expose it. What were you thinking? Another README_KR.md file? or something different?

[2020-11-02 22:20] w4nderlust commented on #987
@carlogrisetti looking into this. Can you check if `predict` works?

[2020-11-02 22:33] carlogrisetti commented on #987
For now I can sell you that I can run inference from the APIs, so calling ludwigmodel.predict works fine in any scenario tested (both resnet and stacked_cnn)
Also the evaluation within the training cycle seems to always works fine (but since I'm having issues in converging to a solution on a project I'm working on, I'm not so sure about that... At least it's not crashing and results don't look sus

[2020-11-03 01:58] w4nderlust commented on #987
Looked into it. generated a dataset, trained a model, run predict and run evaluate from cli and everything works.
I'm guessing there's something else going on, could you please create a reproducible example using synthetic data? (now there's a symthesize_dataset command).

[2020-11-03 02:03] w4nderlust commented on #983
@ nieag  I believe I understand the request. It's interesting and worth investigating. Do you have a reference for this that we can study? In the links you added it looks like `waveform_to_log_mel_spectrogram_patches` is the function we would need to replicate for this, but I'd like to look at some papers / systems that do this to use as a reference if you happen to know them. Thank you

[2020-11-03 02:06] w4nderlust commented on #974
Thanks @DLWCMD for this feature request. At the moment when we generate synthetic datasets for timeseries we just use random values (as the intent is just to test if things work end to end rather than testing performance) amd what you are suggesting sounds like a nice improvement!
Would you have any interest in helping out implementing this? We can provide guidance in case ;)

[2020-11-03 02:13] w4nderlust commented on #969
You could replicate this part:
[code]
by specifying the layers of the combiner as describide in `fc_layers` here: https://ludwig-ai.github.io/ludwig-docs/user_guide/#concat-combiner

It will look like:
[code]

And then in the training section:
[code]

[2020-11-03 02:17] DLWCMD commented on #974
Good to hear from you, and yes, I would like to contribute. I have been working on understanding Mackey-Glass (MG) equation and generating sequences and time series from them. One of the benefits of using these equations is that the degree of “chaos,” that is the challenge of modeling and predicting the associated TS, can be varied by changing the equation parameters.

I have some examples that su

[2020-11-03 03:07] songchelchel opened #989 "Negative dimension size caused by subtracting 5 from 4 for '{{node ecd/image_input_feature/stacked2dcnn/conv2d_stack/conv2d_layer_1/max_pooling2d_1/MaxPool}} = MaxPool[T=DT_FLOAT, data_format="NHWC", ksize=[1, 5, 5, 1], padding="VALID", strides=[1, 5, 5, 1]](ecd/image_input_feature/stacked2dcnn/conv2d_stack/conv2d_layer_1/activation_1/Relu)' with input shapes: [128,4,4,112]."
**Describe the bug**
hey there, i'm using ludwig for training cifar10 datasets, and keep getting this error. the code could run before i update ludwig, i don't know what's wrong in it.

part of trainning code:
def training(path,id_number):

    resultsDirName = "results"

    data_train,data_test = data_read()
    #train Ludwig on the train dataframe
    lm = LudwigModel(config=path,logging_level=

[2020-11-03 07:29] carlogrisetti commented on #987
Sure, there has to be something weird since I can't evaluate older models too, I found out. This means it's not specific to the model/ludwig version, but to my environment (I tried rolling back the code to 0.3.0-rc1 with no avail, but I didn't roll back all the other pip packages in the dependencies).

Might be something related to pip packages versions: i recently upgraded all packages with the e

[2020-11-03 08:06] aminaBm commented on #953
@w4nderlust in fact, I thought the problem was solved when it wasn't, although I retrained the data still showing me the same "no training data" message

[2020-11-03 08:25] nieag commented on #983
Of course, the best example of a working system are probably the research repos from Google [AudioSet](https://github.com/tensorflow/models/tree/master/research/audioset), the papers hold some info regarding the audio framing, but I think the readme's of the two repos are more informative regarding the audio pre-processing.

Here's another very recent paper that utilises the same approach for hand

[2020-11-03 08:59] rang21c commented on #984
@w4nderlust
Thank you for your comment!
I thought a lot about that part, and looked a lot of the case of other projects.

I think there are two main ways.
1. Creating README_KR.md file as you said
2. Attaching a Korean-translated GitHub link to the top of an existing README.md file
However, the second method seems to have some difficulties when other Koreans find errors and raise issues.

I will f

[2020-11-03 09:33] carlogrisetti commented on #987
I uninstalled and reinstalled several components, even trying a support matrix between trained and evaluated versions of tensorflow... and as soon as i tried downgrading to tensorflow 2.2.0 i was able to evaluate models trained with 2.2.0. I was not able to evaluate models trained with 2.3.1 thou... After some fiddling around it all works now, but I can't repro the issue\solution steps. I have ano

[2020-11-03 11:08] carlogrisetti commented on #987
On the second machine nothing I tried working... aligning versions, removing and adding packages...
I have the two machines perfectly aligned on the same pinned versions... but that did not work.
I was using a different model for testing (the real one on the production machine and a different, testing one, on the test machine), and using the same "test" model it works on both machines. I cannot po

[2020-11-03 19:28] aminaBm opened #991 ""No training data is provided!" message while prediction"
I loaded and saved my trained model
[code]
and when I try to predict, it shows **No training data is provided!**
`predictions = model.predict(data_csv = "tweet.csv")`

[2020-11-03 21:16] carlogrisetti commented on #987
I can't find out what is going wrong with that machine or how I fixed it on the other one.
I'll update if I find out how to fix that and do not resort to destroying the whole machine :)

[2020-11-03 21:22] tgaddair commented on #991
Hey @aminaBm, can you try changing the param `data_csv` to `dataset` and let me know how that goes?

[2020-11-03 22:02] carlogrisetti opened #992 "Large dataset causes error in hdf5 generation during training"
While training a big dataset (25GB unprocessed, I suppose around 30GB in hdf5 format), during the preprocessing phase when hdf5 generation should occur, Ludwig allocates some memory, peaks (well below any resource limit) and then spits out this message:
[CLI-output-1.txt](https://github.com/uber/ludwig/files/5484242/CLI-output-1.txt)
One CTRL+C after, this gets out
[CLI-output-2.txt](https://githu

[2020-11-03 22:06] carlogrisetti commented on #977
Aaaaand this does not happen anymore after reinstalling a whole lot of packages...
Might have been environment-related. Sorry for reporting this.

[2020-11-03 22:06] #977 closed

[2020-11-03 22:39] tgaddair commented on #989
Hey @songchelchel, can you provide a few additional pieces of info to help with debugging:

- How did you obtain the CIFAR-10 dataset?  Did you do any additional processing of the data after download?
- Which version of TensorFlow are you using?  2.3.1?
- Can you share the full `config.yaml` file?

I tried reproducing locally, but was unsuccessful initially.  Hopefully with this extra info we can

[2020-11-04 00:25] tgaddair commented on #992
Looks like this issue may be related to sending large payloads back to the main thread:

https://stackoverflow.com/questions/47692566/python-multiprocessing-apply-async-assert-left-0-assertionerror

However, sounds like that specific issue should have been resolved in Python 3.8.

How large is each image in this dataset?  If you limit the number of examples to say 10%, does the issue persist?

[2020-11-04 03:56] tgaddair commented on #960
Hey @brightsparc, can you try running with #980 and let us know if it addresses the issue for you?

[2020-11-04 06:06] songchelchel commented on #989
Hey Travis,
thank you for such quick response.
-I obtain the cifar10 from the official website, and I just generated the
path of images like example of ludwig did, didn't process any.
-and yes, my tensorflow version is 2.3.1
-attachment is my yaml file.
thank you so much
song

Travis Addair <notifications@github.com> 于2020年11月4日周三 上午6:39写道：

[2020-11-04 06:54] w4nderlust commented on #987
Ok so closing for now, if you end up replicating the issue open to reopen and llok into it ;)

[2020-11-04 06:54] #987 closed

[2020-11-04 07:15] aminaBm commented on #991
@tgaddair the same message, it doesn't change anything

[2020-11-04 07:29] carlogrisetti commented on #992
A smaller dataset works, I've been training on this since last month, and I just tried expanding the dataset to around 200k samples.
Each image size varies a lot, since it is a mix of .bmp and .png, 224x224 rgb images.
Will get some statistics for you, and double-check the dataset (in the past a much bigger image slipped in the dataset, but the message was different)

[2020-11-04 07:54] aminaBm commented on #991
it works perfectly now thank you

[2020-11-04 07:54] #991 closed

[2020-11-04 07:55] aminaBm commented on #953
[the solution](https://github.com/uber/ludwig/issues/991#issuecomment-721381093)

[2020-11-04 07:55] #953 closed

[2020-11-04 15:07] carlogrisetti commented on #992
Just retried with an older dataset of 100k samples and works like a charm.

100k samples dataset: average image size is 120kb, for 12GB total size, and an HDF5 file generated of around 14.5GB
200k samples dataset: average image size is 116kb, for 23GB total size, and an HDF5 file never gets generated, but I expect something around 25GB

Do you have any other suggestion to check?

[2020-11-04 16:32] tgaddair commented on #989
Hey @songchelchel, looks like the YAML file didn't come through.  Can you try uploading on the GitHub page?

[2020-11-04 16:44] tgaddair commented on #992
@carlogrisetti, have you tried setting the preprocessing parameter `'in_memory': False` for the image feature?  It may be that the system just doesn't have enough RAM to read the dataset into memory.  How much RAM does this machine have?

[2020-11-04 16:50] carlogrisetti commented on #992
56GB RAM, 100GB swapfile

I'll try anyway :)

[2020-11-04 19:21] carlogrisetti commented on #992
100k samples work fine with or without in_memory: False
200k samples does not work with or without in_memory: False

It seems it has the same exact behavior (also because the hdf5 build seems to happen in memory no matter what)

[2020-11-04 20:17] tgaddair commented on #992
@carlogrisetti do you know at what line in Ludwig the error is coming from?  My original suspicion was that it was coming from [here](https://github.com/uber/ludwig/blob/master/ludwig/features/image_feature.py#L298), but that cannot be the case when `in_memory: False`.  Unfortunately, the provided stack traces are outside the main thread, so it's unclear what part triggered this multiprocessing po

[2020-11-04 20:35] #960 closed

[2020-11-04 20:37] carlogrisetti commented on #992
I tried running ludwig train with debug set, and loglevel to debug, but it does not spit out anything more. Am I doing something wrong? Can you confirm me the correct syntax?

I will try to see if I can run a debugger in there in the meantime

[2020-11-04 20:37] w4nderlust commented on #960
Merged the PR, which automatically closed the issue. @brightsparc if you are still experiencing it we can reopen it.

[2020-11-04 21:45] tgaddair commented on #992
@carlogrisetti, can you share the config file you used for `in_memory: False`?

[2020-11-04 22:00] carlogrisetti commented on #992
sure
[model_definition.yaml.txt](https://github.com/uber/ludwig/files/5490719/model_definition.yaml.txt)
it's basically the same, with the in_memory: False in the preprocessing section

[2020-11-04 22:48] carlogrisetti commented on #992
Oh by the way, it gets stuck exactly [there](https://github.com/uber/ludwig/blob/master/ludwig/features/image_feature.py#L304) even if I specified in_memory False, and I checked the value for in_memory and it is obviously True like it's not being correctly loaded...
Only if I specify in_memory: false under an image: header it gets applied. (is this on purpose? I would suppose that not specifying i

[2020-11-04 23:18] tgaddair commented on #992
Hey @carlogrisetti, looks like the config for `in_memory=False` is not specified correctly.  Can you put the preprocessing into the image feature, like this:

[code]

[2020-11-04 23:40] carlogrisetti commented on #992
@tgaddair See the previous comment... if specified under an image tag (even within the preprocessing) it works as a workaround. I was indeed specifying it as a "global" preprocessing parameter, which I tought Ludwig was designed to manage, but it was not :)

[2020-11-05 00:03] tgaddair commented on #992
Hey @carlogrisetti, sorry missed that part of the comment.  Glad it worked.  Global preprocessing parameter idea is interesting.  At the least, we want to be able to parse the config file so these sorts of errors are surface up front.

[2020-11-05 02:05] songchelchel commented on #989
[mdf0.yaml.zip](https://github.com/uber/ludwig/files/5491479/mdf0.yaml.zip)

try this

[2020-11-05 22:11] jithincheriyan opened #997 "Hi, Ludwig 0.3 and Tensoflow 2.3.1 versions are not compatible, any recent updates on the same?"
**Describe the bug**
A clear and concise description of what the bug is.

![image](https://user-images.githubusercontent.com/52187221/98302587-860de800-2021-11eb-9307-8d0c45f2ec70.png)

**Environment
 - OS: Windows 10
- Python version 3.7
- Ludwig version 0.3

[2020-11-06 00:52] w4nderlust commented on #997
Hi @jithincheriyan , trying to understand a few things:
- what makes you think that the error you are getting has to do with TF 2.3.1 specifically? We haven't encountered any problem with it so far.
- Can you provide a reproducible example so that we can look into it? A screenshot without an explanation of how it was obtained doesn't allow us to fix a problem or to spot the problem in what you are

[2020-11-06 01:04] w4nderlust commented on #975
#994 should have fixed the issue, so I'm closing. @mangleddata Please confirm if this solves your specific issue, if not I'll reopen.

[2020-11-06 01:04] #975 closed

[2020-11-06 01:17] w4nderlust commented on #984
@rang21c thank you! So I would say let's go the first route, and if in the meantime we decide differently we can always change. To me the best idea would be to have such a separate file and link to it from the main one, but let's see how it shapes up before making a final decision ok? Looking forward your contribution!

[2020-11-06 01:26] w4nderlust commented on #992
@carlogrisetti and @tgaddair you can actuall yspecify it at a global level, but still on a per feature type basis:
[code]

The reason is that `force_split` is a global preprocessing parameter while `in_memory` is image specific. (so Travis' suggestions of putting `in_memory` in the feature preprocessing is correct, but `force_split` should not be placed there, it will have no effect)

The logic is

[2020-11-06 02:01] jithincheriyan commented on #997
H i @w4nderlust ,

I tried Ludwig versions 0.2.2.8 and 0.3 with Tensorflow versions 2.3.1. But in both cases, it ended up in some errors. Finally I had to comedown to Ludwig 0.2.2.8 with TF 1.15.4 to make it work.

I have uploaded the example that I have been working on for your reference.

[Ludwig Classifier.txt](https://github.com/uber/ludwig/files/5498429/Ludwig.Classifier.txt)

[2020-11-06 03:30] w4nderlust commented on #997
By looking at your file I have the suspicion that you trained a model previously and now you want to use it with a different version of Ludwig. In particular with v0.3 that does not work, because of the different TF version and because of many other changes.

So I suggest to retrain the model, and I took the libery to adapt your code to v0.3, let me know if it works.

[code]

[2020-11-06 03:54] jithincheriyan commented on #997
Hi @w4nderlust ,

Yes, you are right, I trained the model using 0.2.2.8 and the present model is 0.3.
Still I tried a new training with the code you had provided with TF 2.3.1 and got the following error.

![image](https://user-images.githubusercontent.com/52187221/98324279-b91ba000-2050-11eb-8ecf-806444a0251e.png)

[2020-11-06 04:34] w4nderlust commented on #997
The line that is giving you an error is not present in my code. I replaced all the dataset_csv with dataset. Make sure to actually use my code or to fix your code according to the changes in v0.3 ;)

[2020-11-06 04:52] jithincheriyan commented on #997
Hi,

Sorry for the mistake, ran the previous file itself. Now your code started training with Ludwig 0.3 and TF 2.3.1

Thank you for the support. I will update you in case of any error on training or testing.

[2020-11-06 06:08] jithincheriyan commented on #997
Hi,

The training went well and the model got stored in the "results" directory. However, while testing, came across the following error.

![image](https://user-images.githubusercontent.com/52187221/98332330-58499300-2063-11eb-9aeb-e902a1c753aa.png)

Any suggestions....?

[2020-11-06 07:25] carlogrisetti commented on #992
I already tested that and it works. The thing is that it's not a resources issue, (which on another machine got me to use in_memory from the start and works fine).

It's perfectly fine if you want to consider this a wontfix (also because it's most likely a python issue, and not a ludwig issue per se)

[2020-11-06 07:33] w4nderlust commented on #997
yes, sorry, `test` was replaced with `evaluate`.

[2020-11-06 07:40] w4nderlust commented on #992
I guess the issue then would be to try to figure out if there's a way to make a machine with 50gb of ram load a 30gb dataset, right?

I would say, maybe if you could figure out a synthetic dataset with the same properties as yours  by using the synthesizer (same size of images, channels and number of images), we can create the same using the same command one and try. Although right now I only have

[2020-11-06 07:49] carlogrisetti commented on #992
It is for sure not urgent, since we even have a workaround (generating the hdf5 file with the in_memory: false and then running the training in-memory).
I even thought it was not "interesting" enough for you to spend time on, that's why I was suggesting a wontfix.

An "automatic workaround" would also be to force non in-memory hdf5 generation for large datasets (maybe comparing the dataset size to

[2020-11-06 11:26] jithincheriyan commented on #997
Thank you, it worked, though the predicted results are not good as the previous version.

Thank you for the support

[2020-11-06 11:26] #997 closed

[2020-11-06 19:20] w4nderlust commented on #997
That's unexpected. it should work as well if not better because many improvement we did. I suggest you to adjust some parameters (the learning rate in particular) as it may influence training substantially, and we fixed a few things about it.

[2020-11-07 01:51] Kev-kutkin opened #1000 "Error Occurred: Non-Zero Exit Code(1) in Pycharm"
**Error Occurred: Non-Zero Exit Code (1)**
I was unable to import and install ludwig library in my PyCharm Pro. This is because I received an error message saying

  Could not find a version that satisfies the requirement tensorflow>=2.2 (from ludwig) (from versions: 0.12.1, 1.0.0, 1.0.1, 1.1.0rc0, 1.1.0rc1, 1.1.0rc2, 1.1.0, 1.2.0rc0, 1.2.0rc1, 1.2.0rc2, 1.2.0, 1.2.1, 1.3.0rc0, 1.3.0rc1, 1.3.0rc2,

[2020-11-07 08:39] carlogrisetti commented on #977
Oh... I found out why... I was setting `in_memory: false` as a global preprocessing parameter, and not as a parameter of the `image:` class.
Sorry for the inconvenience!

PS: this brings me more and more towards some system of a blocking error telling you that you tried to set a non-existent parameter

[2020-11-07 08:52] carlogrisetti commented on #1000
Could you try updating PIP as suggested by the commandline?
`pip install --upgrade pip`

It's a very old version, and it might be that it lacks references to newer packages and\or has bugs with specific systems, or in any case this would be the first thing to try in my opinion.

[2020-11-07 09:02] carlogrisetti commented on #841
@w4nderlust just to let you know that you still have the card in "to do", and I think you can move it in done :)
https://github.com/uber/ludwig/projects/1#card-44109355

[2020-11-07 14:36] rang21c commented on #984
@w4nderlust
Thank you for your permission!
I will do my best in this translation work and try to make more Koreans to know the convenience of Ludwig.
I will reply when the translation is complete.

[2020-11-07 21:55] tgaddair commented on #992
@carlogrisetti one thing worth calling out here, is that we're in the process of adding support for distributed data processing using Dask / Ray.  Once that's in place, a lot of these issues should be resolved for working with large datasets.

I think for now we can leave this as a wontfix, as you suggest.  But happy to revisit this in the future if it turns out the Dask / Ray stuff doesn't fully

[2020-11-07 21:55] #992 closed

[2020-11-07 22:11] w4nderlust commented on #841
Thanks :)

[2020-11-07 22:15] w4nderlust commented on #1000
Agree with @carlogrisetti , this part of the error message is the key:
[code]
Pretty sure that is you install the new version of pip it will be able to find TF2.

[2020-11-07 22:17] w4nderlust commented on #977
Yes that's what i was pointing out in my previous message :)
And again yes, as we are converging towards a more stable syntax for the config file, we are considering introducing some (ideally lightweight and sustainable) mechanism for pointing out errors in the model definition. Let me actually add a card in the project for this.

[2020-11-08 18:19] tgaddair commented on #989
Hey @songchelchel, still not able to reproduce the exact error message, though I am getting an error with this configuration:

[code]

I imagine this can be resolved by playing around with the filter sizes at each layer.  Can you give that a shot?

@w4nderlust has anything changed with the defaults here that may have had an effect?  If not, then this is likely a change from TensorFlow 1 to TensorF

[2020-11-09 03:26] jithincheriyan commented on #997
Hi,

I would like to know whether visualization is there for LudwigAPI. I tried the same for learning rate optimization but cannot find a function for that. If yes, will you please be able to inform me along some examples.

[2020-11-09 03:55] w4nderlust commented on #997
Sorry I'm not sure what do you mean by learning rate optimization. I guess you mean hyperopt, in which case here's the user guide section for you: https://ludwig-ai.github.io/ludwig-docs/user_guide/#hyper-parameter-optimization
Regarding the visualization, please check the user guide section: https://ludwig-ai.github.io/ludwig-docs/user_guide/#visualizations and the API section: https://ludwig-ai.

[2020-11-09 03:58] w4nderlust commented on #989
It is possible tha some parameters may have been changed. Although, in general, the size of the filters receptive field and the pooling should be proprtionate to the size of the inputs, so in this case it seems like in this case the field is shrinked too much wrt the size of the inputs. Playing around with the filter size shoudl shovle the issue I believe.

[2020-11-09 10:16] jithincheriyan commented on #997
Hi,
Thank you for the directions.
I just wanted to plot the loss function to adjust the learning rate for better results. I believe the present API documentation is for Ludwig 0.3, but while coding, it  does not come up with visualization function.

Will you please be able to mention how visualization can be done for loss function for the model detailed below.

from ludwig.api import LudwigModel
m

[2020-11-09 19:34] w4nderlust commented on #997
I'm not sure what you mean by "while coding, it does not come up with visualization function".
For visualizing the loss over time you cna use the `learning_curves` function: https://ludwig-ai.github.io/ludwig-docs/api/visualization/#learning_curves or open a tensor board.

[2020-11-10 08:53] donfour10 opened #1002 "BERT-Encoder: Icorrect Jaccard calculation and differences from v0.2.1 to v0.3"
**Describe the bug**
After the update to Ludwig version 0.3 I'm struggeling to define a similar model as is version 0.2.1. I am trying to do a multi-label classification on text with the bert encoder.

Additionally I think that the jaccard calculation of ludwig is incorrect. When I calculate it manually I get a completely smaller numbers than the numbers calculated by ludwig. (We rebuild from gith

[2020-11-10 14:00] carlogrisetti commented on #927
@w4nderlust actually I didn't have the time to test this, but it doesn't seem good to me (partially at lease)
This is the output I get when trying to run evaluate with a specific split, having an .hdf5 already generated from the training session. If I don't use the split parameter, it works like it's supposed to.
It seems like you changed the tag under which you save the "tag" representing the spl

[2020-11-11 00:38] w4nderlust commented on #1002
@ donfour10  we are going to release a v0.3.1 that fixes some of thsoe issues. In particular we already fixed the calculation of the jaccard score, and we improved tokenization and default parameters for the text encoders. You can try it already by installing from master.
Regarding the changes, now we only use the huggingface models. You don't need to specify config_path, tokenizer, vocabulary etc

[2020-11-11 04:09] w4nderlust commented on #927
It looks like the hdf5 case was the only one that did not work, this should fix it https://github.com/uber/ludwig/pull/1003 . Please confirm.

[2020-11-11 15:34] carlogrisetti commented on #927
Confirmed working

[2020-11-11 16:04] donfour10 commented on #1002
we actually rebuilt from master about a week ago. Just to be sure we just rebuild again are trying to verify - i can probably give you additional results in 2 days

[2020-11-11 17:05] carlogrisetti opened #1005 "Binary output probabilities counterintuitive (0.0-0.5 false, 0.5-1.0 true)"
During inference\prediction, using ludwig's API, I'm seeing that the binary output probabilities is actually a rough transposition of the binary value itself, being that anything true will have a probability > 0.5, whilist anything false will be < 0.5, thus having to postprocess in my own code a "classic" confidence value that will be 0.0-1.0 in each case

if binary_output_value: # (or if raw_outp

[2020-11-12 02:59] w4nderlust commented on #1005
The output probabilities produced by a binary classifier are the probabilities of the positive class, as the probabilties of the negative class are always `1- p(pos)`. Does this clarify the issue?

[2020-11-12 06:11] carlogrisetti commented on #1005
Oh well yes and no. If you consider p and 1-p they'll never get above 0.5
Naively I expected a result comparable to a classifier, where each possible result (true or false) had its own probability ranging from 0% to 100%.

Thanks

[2020-11-12 06:58] w4nderlust commented on #1005
Probably I was not clear. There are two classes, pos and neg. the reported probability is the confidence if the classifier in pos, because being there only two classes and because probabilities sum up to one, the probability of neg is 1-p(pos). If you sum the probability of pos (p(pos)) and the probability of neg (1-p(pos)) you get p(pos)+1-p(pos)= 1.

[2020-11-12 07:09] carlogrisetti commented on #1005
Sorry, my bad explaining this: i expected there could have been a predicted positive output with, let's say, 40% confidence, which would translate to a predicted confidence value of 0.4 if it was a classifier. In this case what I interpret as true with 40% confidence is 0.7, because true with 0% confidence (like saying "it's probably true but I'm so uncertain about that it could be as well false"

[2020-11-12 07:13] carlogrisetti commented on #1005
Of course this would be a breaking change, and if this behavior was by design it has to stay like this

[2020-11-12 07:14] #1005 closed

[2020-11-12 11:03] donfour10 commented on #1002
So i started a first run with the variable `trainable: True` in the model_definition and it produces completely the same stats as before with the same data after a few epochs.

I will put all variables to default in the model_definition to start a new experiment and will report back when i have the results.

If you have any ideas how I can solve this problem, I would be very interested in it.

[2020-11-12 20:29] w4nderlust commented on #1002
@donfour10  yes `trainable: True` by default is one of the changes we made, glad it solved the issue.
So now you are getting the correct performance again, so what is the problem you still want to solve?

[2020-11-12 20:35] w4nderlust commented on #1005
I understand your point about user friendliness, but consider there is a `threshold` parameter that you can also set for binarization, by default it's 0.5 but you can set it to different values and it influences precision and recall. So the only correct way to make it more use friendly would anyway be to return both p and 1-p as two separate column, but then the prediction could still seem weird,

[2020-11-12 22:00] carlogrisetti commented on #1005
Yes, I perfectly understand.
Both approaches are valid, the current one is more technical and "deep".
I suspect that having an added (this semi-hidden) output would defy the purpose of having it noob-friendly, so I don't really know what to do :)

[2020-11-13 10:02] donfour10 commented on #1002
sorry I think I was not clear. The results are still very different (worse) than with the previous streamlit/tf version.

They are similiar to the results i shared in this issue.

[2020-11-13 21:19] w4nderlust commented on #1002
Got it. One thing that may explain the difference is preprocessing. Do you have a cached hdf5 from previous trainings? In case remove it and make Ludwig perform preprocessing again, because the tokenizers used are different and it can make quite a big difference.

As a side note, we are adding a feature that checks if the hdf5 cache files are "fresh" to avoid these kind of problems in the future:

[2020-11-14 18:09] Mr-Vinti commented on #337
sug pula

[2020-11-16 01:04] jithincheriyan commented on #997
Hi @w4nderlust ,

I resolved the issues by updating and reinstalling Ludwig (0.3) and Tensorflow (2.3.1).

But now I am facing another issue of " Intra op parallelism cannot be modified after initialization".
Besides Ludwig, I also use pipeline from transformers for another related task.
These two, Ludwig and transformers works fine independently, but shows the following error when combined togeth

[2020-11-16 01:31] w4nderlust commented on #997
@jithincheriyan glad to hear you solved the issue. The screen that you posted is not sufficient for me to solve the issue, I need more information. One guess is that you are either playing around with tensorflow config before using Ludwig in your script or you are trying to change those reproducibility parameters within ludwig in a way that is not supported, but without knowing the code i can't re

[2020-11-16 02:02] jithincheriyan commented on #997
Hi,

Thank you for the response.

I used one classifier using Ludwig, the code of the module is:

def Ludwig_classifier(Comment):
    Comment = {"Comment_Text": Comment, "Personal": '', "Racial": '', "Swearing": '', "Normal": ''}
    Df = pd.DataFrame(columns=["Comment_Text", "Personal", "Racial", "Swearing", "Normal"])
    Df = Df.append(Comment, ignore_index=True)

    model_definition={'input_f

[2020-11-16 02:21] w4nderlust commented on #997
I can't be sure, but I guess they both try to set come tensorflow parameters that can be set only independently, so i suggest you to use only one. Anyway, all the important encoders in transformers are already available in Ludwig. If you specify `{'name': 'Comment_Text', 'type': 'text', encoder: bert}` you will be using bert, and can also specify the specific `bert-base-uncased` if you want, look

[2020-11-16 02:47] jithincheriyan commented on #997
Hi,
Thank you for the suggestion.
I changed both the encoders to _bert-base-uncased_ and it works.
Thank you so much for the help.

[2020-11-16 04:40] mangleddata opened #1009 "Preload fails with ludwig"
I am using ludwig on cpu only mode on multicore system. I run as below

horovodrun -np 24 -H localhost:24 --binding-args="-bind-to socket -map-by socket" ludwig train --training_set train.csv --validation_set valid.csv --random_seed 42 -cf ${MODELFILE} --model_name ${MODELNAME}

Now I am trying to preload the model file for a different run (all else being the same. Infact, exact same data file eve

[2020-11-16 18:11] tgaddair commented on #1009
Hey @mangleddata, thanks for reporting this.  This does look like a bug on our side when specifying the `model_load_path`.  The root of the problem, I suspect, is that we are no plumbing the parameters [here](https://github.com/uber/ludwig/blob/master/ludwig/train.py#L162), resulting in attempts to initialize TensorFlow with different parameters.  I'll take a look at this today.

[2020-11-16 19:57] tgaddair commented on #1009
Hey @mangleddata, can you try #1011 and let me know if it addresses your issue?

[2020-11-16 21:56] #1009 closed

[2020-11-17 07:12] brightsparc commented on #648
Hi @w4nderlust, would this be a way to also support the new fast [tokenizer](https://huggingface.co/transformers/main_classes/tokenizer.html) to improve speed up pre-processing (esp for multi-threadding)?

[code]

How would this work when using the ludwig CLI, is there a way to configure this - I wondering if this something that you could bundle with the main codebase?

https://github.com/uber/lud

[2020-11-17 19:46] w4nderlust commented on #648
@brightsparc  the code you posted will likely work. To make it available through the CLI one would have to add it among the other tokenizers in `string_utils.py`.
Although my understanding is that in the next version of transformers, the fast tokenizers will be the default, so maybe that would be sufficient.
Alternatively, one could add the `use_fast` parameter to init as you have shown, it would

[2020-11-17 21:49] brightsparc commented on #648
Okay, I tested with adding this custom tokenizer in the registry and it worked.

@w4nderlust If `use_fast` will become the default, can we just add this to the AutoTokenizer for now, or are you saying that you would like to be able to pass this down through configuration?

[2020-11-17 21:59] w4nderlust commented on #648
@brightsparc good to hear!

Regarding the `use_fast` I'm not 100% sure why it is not the default already, but if it isn't there's probably some compatibility issue they are ironing out, so setting it to true in Ludwig by default before HF does doesn't seem a good idea to me. So either we wait or we set it to false by default and allow people to pass it down through configuration (which, again, is

[2020-11-18 02:33] brightsparc commented on #648
Hi @w4nderlust I am happy to support a PR to pass through configuration, but it's not clear how I would go about that.  I see there is a `kwargs` parameter - is that were I should check the value from?  I also notice that truncate and padding is setup to true in the code, should these also be optional arguments?

[2020-11-18 03:32] w4nderlust commented on #648
truncate and padding should be set like that. @ANarayan can give more context, but I believe they shouldn't be touched.
Regarding `use_fast`, one would add it to function signature, and then look for all the occurrences of the `tokenizers_registry` that are related to tet features (for instance inside `create_vocab` and `add_data` and `add_metadata` inside `text_feature.py`) and add the parameter

[2020-11-18 04:00] ANarayan commented on #648
Hi @brightsparc , so truncation is set to true because when working with pre-trained encoders, if length of the encoded sequence is greater than the model's maximum admissible input size, this leads to errors in downstream training. With regards to the padding being set to true, sequences in Ludwig are tokenized one at a time and the padding is done internally so the value assigned to padding does

[2020-11-18 04:14] brightsparc commented on #648
Okay thanks @ANarayan  this makes sense.  @w4nderlust  I have created a PR #1012 for this fix and have tested with my fork.

Also, FYI I am working on a AWS SageMaker example that I should be able to share with the community shortly.

[2020-11-18 04:39] brightsparc commented on #960
@tgaddair confirming this fix is working.

[2020-11-18 09:44] ericxsun opened #1013 "support GAN training procedure?"
**Is your feature request related to a problem? Please describe.**

The process of training a GAN could be:

- step 1, the discriminator trains for one or more epochs
- step2, the generator trains for one or more epochs
- step3, repeat step 1 and step 2 to continue to train the generator and discriminator networks

It is quite different from the ECD (Encoder-Combiner-Decoder) procedure. So how cou

[2020-11-18 13:11] rang21c commented on #984
@w4nderlust
Translation work almost done.
Where can i link translated README file with original README file? (especially which line of original file)
Thank you

[2020-11-19 13:00] donfour10 commented on #1002
Sorry for the late answer.

I'm relatively sure that i don't have a hdf5 cached because it's default on false but I don't know how to check it. Is there a command I can use to check it?

[2020-11-19 13:24] donfour10 opened #1018 "Set as Input feature"
**Describe the bug**
I have a Set of categories as one input_feature. When I change the order of these within the set, the probability of the prediction changes.

I am not sure if I misunderstood the "set" but this surprises me.

**To Reproduce**

This is one of my input features:
`        {
            'name': 'company_category_list',
            'type': 'set',
            'preprocessing': {

[2020-11-19 15:39] tgaddair commented on #1018
Hey @donfour10, can you try changing the preprocessing parameter `format` to `tokenizer` like so:

[code]

Looks like the documentation is out of date, as this parameter was changed in the most recent version.

[2020-11-19 16:17] tgaddair commented on #1013
Hey @ericxsun, great suggestion!  I think Ludwig definitely should support more elaborate training procedures like GANs, it's just a question of what the right user experience is in these situations.

If we take the generator and discriminator individually, each of them can be represented as distinct Ludwig model definition.  The complexity then lies in the training procedure itself.  Specifically

[2020-11-19 16:25] tgaddair commented on #1013
One other thing worth mentioning is that something like this should be doable programmatically using the [train_online](https://github.com/uber/ludwig/blob/master/ludwig/api.py#L530) API today.  Something like:

[code]

Using this approach, the only missing piece at the moment is the custom loss function for the generator, but this should be solvable.

[2020-11-19 20:34] w4nderlust commented on #1002
Cached hdf5 and meta.json files are created in the same directory of the original dataset, with the same name, so you have to check there.

In the meantime we fixed some issues with learning rate scheduling and and released v0.3.1. I suggst you update to that version before training again.

[2020-11-20 02:20] ericxsun commented on #1013
That's great, I'll take a look. Thanks a lot.

[2020-11-20 13:57] donfour10 commented on #1018
Thank you very much! Worked now ;)

[2020-11-20 13:57] #1018 closed

[2020-11-20 22:37] w4nderlust commented on #1013
i second @tgaddair , although there is a caveat, which is the fact tht at the moment there is no support in Ludwig for gradients flowing between two instances of LudwigModel. This means that when you train the discriminator the generator would not be updated.
We have to thing about ways to make that happen that are potentially impactful on the internals.
Ther is also another alternative we are con

[2020-11-20 23:04] w4nderlust commented on #984
I would say you can add a "Translated in Korean" link at the top of the main readme ;)

[2020-11-21 10:20] rang21c commented on #984
Thank you 😄
Then, I will look over the work for the last time and make pull request in a few days.

[2020-11-23 21:22] donfour10 commented on #1002
sorry to report back the issue remains the same. I removed all hdf5 files which were in the directory. we have also checked / tried various standard parameters that could somehow be different. if you have any other ideas, we would be very keen on trying them out. I can also share a sample set of the data / model with you, if you think it might help.

[2020-11-25 00:25] w4nderlust commented on #1002
This is very surprising, all other models I tested with the new encoders worked as well as before.
Yes sharing something, even privately, would be great and would help me try to figure out what's the issue. Feel free to reach out privately.

[2020-11-26 07:52] brightsparc commented on #920
Hi @kaykumar I have created an example on how to build, train and deploy a ludwig model with sagemaker including building a container from source so you have the latest ludwig code.
see: https://github.com/aws-samples/amazon-sagemaker-ludwig-transformer

[2020-11-27 01:49] w4nderlust commented on #920
@brightsparc this is great, thank you so much! Do you mind if we reference this on the website in the exampels section as a deployment example?

[2020-11-27 02:40] brightsparc commented on #920
@w4nderlust sure would be great to get these referenced.

[2020-11-28 05:38] mangleddata commented on #1009
@tgaddair Thanks for fixing it. I am able to preload now.

[2020-11-28 15:04] mangleddata commented on #1009
One related question. I have the following scenario
Run 1: Have features_{0..100} and have a trained model.
Run 2: I now have a new feature feature_101 added to the same data set and have a new features added to the model file.  Now using the pretrained model in run 1 for run 2 still seems to run - but from what I could tell, it drops the newly added feature (I don't see the feature in the input_f

[2020-11-28 15:08] mangleddata opened #1028 "Loading pretrained model when features change"
I had previously opened https://github.com/uber/ludwig/issues/1009 (resolved now, thanks!) - but found the following behaviour.

Run 1: Have features_{0..100} and have a trained model.
Run 2: I now have a new feature feature_101 added to the same data set and have the new features added to the model file (all else being the same). Essentially added one more column. Now using the pretrained model i

[2020-11-28 20:09] michaelbzhu opened #1030 "Hyperopt metric_score uses last epoch instead of best epoch"
`hyperopt()` generates a `hyperopt_statistics.json` file which contains `training_stats` and the `metric_score` from each sample

I'm optimizing for validation accuracy, but I noticed that the final `metric_score` that gets reported in the json file uses the validation accuracy from the last epoch during training rather than the best epoch during training

Below is the output from my `hyperopt_sta

[2020-11-29 01:30] w4nderlust commented on #1028
Yes, right now there is no mechanism in Ludwig to load a model trained with a different model definition (even if only different by one feature) as a starting point for another model.
What happens in your case is that the model definition of the model you are loading is what ends up being used instead.
So yes, this is expected behavior right now.

I guess we can turn this into a feature request.
I

[2020-11-29 01:46] w4nderlust commented on #1030
This is not expected behavior, you are correctly pointing out that the best score should be returned.

There could be a couple explanations for this. In particular if the model is not saved during the training part of an experiment, the model at the last epoch is used for evaluation, so I suspect this is what's happening. So if your `skip_save_model=True` that could explain the behavior.

Anyway,

[2020-11-29 02:33] w4nderlust commented on #1030
This PR is a first attempt at fixing the issue: https://github.com/uber/ludwig/pull/1031

[2020-11-29 04:08] mangleddata commented on #1028
What you wrote is exactly what I wanted to do! Thanks for considering the feature request.

[2020-11-29 16:19] jenishah commented on #1028
We can use `model.get_weights()` and `model.set_weights()` to keep the previous weights for the new model. This can be used if the architecture does not change, but only the number of hidden units.
@w4nderlust, if you think this can be used, please let me know.  I would like to work on this.

[2020-11-29 20:47] w4nderlust commented on #1028
@jenishah thanks! Yes we can do that, the issue are some layers that may end up being different depending on the architecture, so there needs to be something like a check that figures out for ech encoder combiner and decoder if the name match and if the size matches and only in that case load the weights and communicate with modules have ben loaded and which have not been loaded.

[2020-11-30 03:04] jenishah commented on #1028
@w4nderlust will include these factors while iterating. Thanks!

[2020-11-30 12:52] grigo210 opened #1036 "training a simple chatbot model"
Hi!
I tried to create a model for a chatbot based on a data set created by me and I got an error:

- csv file:

Eu,Chatbot
salut,salut
ce faci?,bine

- config.yaml:

input_features:
    -
        name: Eu
        type: text
        level: word
        encoder: rnn
        cell_type: lstm
        reduce_output: null

output_features:
    -
        name: Chatbot
        type: text
        level: wor

[2020-12-02 18:23] ifokeev opened #1039 "hyperopts overtraining"
Is it possible to tune `hyperopts` based on `test` or `validation` loss? I'm getting overtraining due to good params for `train` but it's moving crazy on `test`

train stats:

<img width="732" alt="Screen Shot 2020-12-02 at 21 22 39" src="https://user-images.githubusercontent.com/2017148/100914748-84cac080-34e4-11eb-954e-e89779ef032a.png">

test stats:

<img width="741" alt="Screen Shot 2020-12-02

[2020-12-03 10:12] michaelbzhu commented on #1039
What does your configuration look like?
Under the hyperopt section you can specify the split that you want to use
Also, I think `hyperopt` and `train` should normally use validation metrics by default

[code]
Hope this helps!

[2020-12-04 02:16] w4nderlust commented on #1039
@michaelbzhu 's answer is correct. let me know if that soulds your issue @ifokeev .
You cal also set what validation metric to use for determining early stopping within each single run of the hyperopt (for early stopping purposes).

[2020-12-04 02:33] w4nderlust commented on #1036
This should actually work. Let me look into it. Also @jimthompson5802 who previously helped on sequence decoding may have insights.

[2020-12-04 06:39] michaelbzhu opened #1040 "Hyperopt: Category feature preprocessing in hyperopt raising Attribute Error"
So I'm running `hyperopt()` with the following arguments
[code]

and I'm getting a `AttributeError: 'int' object has no attribute 'strip'` during the data preprocessing step
[code]

**Environment :**
 - Run on Google Colab
- Python version: 3.6
- Ludwig version: Using ludwig from github repo up to commit fcb01e3b18c0b3304c4ff0b1f0b8b4ede518f762

Seems like this is related to the recent commits (on

[2020-12-05 06:54] tgaddair commented on #1040
This is probably related to a change made in #1038 that changes the data type casting during preprocessing.  I'll take a look.

[2020-12-05 17:38] tgaddair commented on #1040
Hey @michaelbzhu, can you try #1042 and let me know if it solves your issue?

[2020-12-06 03:18] michaelbzhu commented on #1040
@tgaddair yeah it worked when I used #1042

[2020-12-06 10:59] carlogrisetti opened #1044 "decay_rate behaves differently based on batch_size"
Seems to me, purely based on an empyrical observation (I did not check within the code), that `decay` (and more specifically `decay_rate`) is computer at a per-step (or per-batch) time, and not over the epoch.

I don't know if this is the intended behavior (decreasing the learning rate within the same epoch, having the first steps\batches using a higher learning rate than the last ones), but it co

[2020-12-06 11:06] carlogrisetti commented on #1044
same exact model config with `learning_rate: 0.001` and `decay_rate: 0.90`, but with...

`batch_size: 50`
![image](https://user-images.githubusercontent.com/4464640/101278393-41f63a80-37bb-11eb-8578-83055034e4d2.png)

`batch_size: 50`
![image](https://user-images.githubusercontent.com/4464640/101278388-386cd280-37bb-11eb-9d50-abbf1b9f8962.png)

[2020-12-06 19:52] #1040 closed

[2020-12-06 19:53] w4nderlust commented on #1040
Merged ;)

[2020-12-08 00:10] tboneai commented on #751
I am no longer seeing the mixed output and numbers repeating so that appears to be resolved.
The results still include irrational numbers? in them

0.00047587976
0.0002978705
-0.0042092577
9.056553e-05
0.0016669892
-0.001928445
0.000567548
-0.0015795492
1.4830381e-05
0.0040690303
0.0028433092

[2020-12-08 00:15] w4nderlust commented on #751
Glad this is solved. We also introduced a cache freshness check that recreates the hdf5 wen needed, so that may have helped too. Not sure about irrational numbers, if you are referring to numbers returned in scientific notation, that's because they are particuarly small or big, but that should be fine, it's just a matter of visualization.
Closing, let me know if you have further issues.

[2020-12-08 00:15] #751 closed

[2020-12-08 09:13] brightsparc commented on #614
@jenishah I have published a sample on how to build, train and deploy a Ludwig model with Amazon SageMaker if you want to check it out: https://github.com/aws-samples/amazon-sagemaker-ludwig-transformer

[2020-12-08 20:08] AUnicornWithNoLife opened #1047 "Unable to install on macOS"
**Describe the bug**
Ludwig fails to install on macOS

**To Reproduce**
Steps to reproduce the behavior:
1. pip3 install ludwig

Please provide code, yaml config file and a sample of data in order to entirely reproduce the issue.
Issues that are not reproducible will be ignored.

**Expected behavior**
correctly installs ludwig

**Screenshots**
Output:
`Collecting ludwig
  Using cached ludwig-0.3.1

[2020-12-08 23:15] tgaddair commented on #1047
Hey @AUnicornWithNoLife, looks like you're not able to install tensorflow.  You may need to try upgrade `pip` and `setuptools`:

[code]

If that doesn't work, please try running `pip3 install tensorflow` before `pip3 install ludwig` and let me know how it goes.

[2020-12-09 17:37] anakin87 opened #1049 "Can't split set features by comma"
**Describe the bug**
In python, while defining set feature (with format='comma'), can't split it by comma.

**To Reproduce**

    import pandas as pd
    df=pd.DataFrame({'feat': ['di maio, salvini', 'conte, della loggia'], 'target': [0, 1]})

    import ludwig
    from ludwig.api import LudwigModel
    model_definition={'input_features':[ {'name':'feat','type':'set', 'format':'comma'}],

[2020-12-09 18:50] tgaddair commented on #1049
Hey @anakin87, the `format` param was changed to `tokenizer` in v0.3.  Apologies that this hasn't been updated in the official docs yet.

Try changing your input features as follows:

[code]

[2020-12-09 21:06] w4nderlust commented on #1049
Updated the website to reflect this.

[2020-12-10 17:01] #1049 closed

[2020-12-10 19:38] AUnicornWithNoLife commented on #1047
when i try

pip3 install --upgrade pip3
pip3 install --upgrade setuptools

it will install setup tools, but says it cannot find a matching version for pip, and then will give the same error for tensor flow.

[2020-12-10 19:44] tgaddair commented on #1047
Hey @AUnicornWithNoLife, can you share the exact error message?  Sounds like the problem lies in your Python environment.  I would suggest creating a virtualenv.

[2020-12-11 05:30] michaelbzhu opened #1051 "Dataset config files are installed by pip"
I was trying out the mnist example but I got the following error when I tried to run

`training_set, test_set, _ = mnist.load(split=True)`

[code]

When I look into where ludwig is installed it seems that the mnist dataset's `config.yaml` file isn't installed

[code]

I checked for sst2, sst5, reuters, and ohsumed and they were all missing their config.yaml files

**Environment:**
 - OS: I tried t

[2020-12-11 15:29] tgaddair commented on #1051
Thanks for reporting, @michaelbzhu.  Most likely we forgot to add these files to the manifest.  I'll take a look.

[2020-12-11 15:34] tgaddair commented on #1051
Looks like we added the yaml files to the manifest shortly after the v0.3.1 release.  Can you try installing from the master branch?  They should be there now / in v0.3.2.

[2020-12-11 23:16] michaelbzhu commented on #1051
Thanks @tgaddair! Yeah it's working when I pip install from the master branch

`pip install git+https://github.com/uber/ludwig.git`

[2020-12-11 23:16] #1051 closed

[2020-12-12 04:38] SutirthaChakraborty opened #1052 "Time series beat/non-beat classification"
Hi,
I am a newbie. I have a dataset with 5 columns.

1. timestamp
2. signal-1
3. signal-2
4. signal-3
5. 0/1  [marked 0 if it's not a beat and 1 if it a beat ]

I wanted to train a model, which would try to predict beats and non-beats. It is a time-series problem. There are too many numbers of zeros. So, models can't learn the number of ones.

The  model definition is  -
`model_definition = {

[2020-12-12 20:55] w4nderlust commented on #1052
@SutirthaChakraborty  can you give us a bit more insight into the data? If i understand correctly the input is one long time series, with each row being a sample in a specific timestamp with a binary label (beat, non beat) associated with it. If this is correct, there are several ways to approach the problem with Ludwig. The way you did it looks as each value of each row to determine if is a beat,

[2020-12-12 20:56] w4nderlust commented on #1051
Confirm the issue was already solved.

[2020-12-13 03:19] SutirthaChakraborty commented on #1052
Thanks, @w4nderlust  for the detailed answer.

**Dataset-**
When I plot the columns, the red lines are the beat. Others are the input signals.
![image](https://user-images.githubusercontent.com/47362033/102001670-c6e0d700-3d1a-11eb-8280-d8bf6ac41d36.png)

**Preprocessing -**
For `add_sequence_feature_column ` , I have multiple columns. Or I need to concatenate features side by side with space and

[2020-12-13 07:41] AUnicornWithNoLife commented on #1047
thank you,

managed to get it working with a virtual env

[2020-12-13 15:50] tgaddair commented on #1047
Great!  Glad you got it working.

[2020-12-13 15:50] #1047 closed

[2020-12-15 14:48] tgaddair opened #1055 "Use openpyxl instead of xlrd for reading newer Excel files"
With the release of xlrd 2, support for newer Excel formats like xlsx has been dropped.  It is recommended to use openpyxl instead and to only use xlrd for legacy Excel formats.

See: https://stackoverflow.com/questions/65254535/xlrd-biffh-xlrderror-excel-xlsx-file-not-supported

[2020-12-16 15:30] #1055 closed

[2020-12-16 15:39] avinashkurup opened #1057 "undefined symbol: encountered while training model in Docker container."
Hi,
    Im facing an issue for the last 2 days while running a training model using Ludwig which gives me errors as shown in the attachment. It looks like a version mismatch between tensorflow and tensorflow-addons. Could you please suggest a fix for this issue.

[Ludwig-Dockerbuild-issue.txt](https://github.com/uber/ludwig/files/5703694/Ludwig-Dockerbuild-issue.txt)
[requirements.txt](https://git

[2020-12-16 17:26] tgaddair commented on #1057
Hey @avinashkurup, thanks for including the log output.  Looks like there are two things here:

1. `tfa-nightly` needs to be updated for the TensorFlow 2.4.0 release.  You can do this by running `pip install tfa-nightly==0.12.0.dev20201215223743` (unfortunately, they have not yet released an official version with TF 2.4.0 support).  I am also bumping this version in #1058.
2. Looks like Horovod al

[2020-12-16 21:44] #1057 closed

[2020-12-17 16:20] avinashkurup commented on #1057
Hi Travis, Thank you for your reply. I added the versions to the requirements.txt but the issue still persists. I see the following lines in the log.

[2020-12-17T16:05:13.199Z] [PID 23218] [614468 ms] ERROR: tensorflow 2.4.0 has requirement absl-py~=0.10, but you'll have absl-py 0.9.0 which is incompatible.
ERROR: tensorflow 2.4.0 has requirement numpy~=1.19.2, but you'll have numpy 1.18.1 which

[2020-12-17 16:33] tgaddair commented on #1057
Hey @avinashkurup please try building from master, which includes the changes in #1058.

Also, it looks like your Docker image comes with an old version of TensorFlow (v2.1).  Can you try using a newer Docker image or uninstalling TensorFlow before installing Ludwig?  The core issue here is that Horovod is installing with the old version of TensorFlow, which is later overwritten.

[2020-12-17 20:41] bakirillov opened #1060 "audio training doesn't work"
**Describe the bug**
When training on audio classification, the following error happens:
ValueError: could not broadcast input array from shape (1920,2) into shape (1920)

The following code reproduces the error:
`model_definition = {
    "input_features": [{
        "name": "file",
        "type": "audio",
        "preprocessing": {
            "audio_file_length_limit_in_s": 5.0,
            "au

[2020-12-17 21:13] w4nderlust commented on #1060
@bakirillov  can you please provide a reproducible example? In particular we would need the full stack of the error, the configuration which you already provided a small sample of the data where the problem occurs so that we can debug. If you can't share the data, you cna use the s`synthesize_dataset ` command https://ludwig-ai.github.io/ludwig-docs/user_guide/#synthesize_dataset

[2020-12-20 06:31] mangleddata opened #1063 "Using validation_metric: accuracy doesn't work."
My trainer below throws an error ``` ValueError: The specified metric accuracy is not valid. Available metrics for combined output feature are: ['loss'] ```.  Any idea why ?

[code]

[2020-12-20 18:56] mithila2806 opened #1064 "Unable to train the modelwith Ludwig v0.3.1"
**Describe the bug**
Getting 'Value Error' while training my model using Ludwig.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://github.com/mithila2806/Automate-Title-with-Ludwig.git'
2. Find the code - 'Automate Title with Ludwig(From SEJ Article).ipynb'
3. Run all the cells.
4. Scroll down to '.ludwig train --dataset hootsuite_titles.csv --config config.yaml'
5. See error
*

[2020-12-21 21:52] khaliljouma opened #1065 "Ludwig train NOT executing. Ludwig0.3.2-dev1 KeyError: 'content'"
**Describe the bug**
Getting KeyError: 'content' while training CSV using Ludwig0.3.2-dev1.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/khaliljouma/trainingLudwig/blob/main/log'
2. Click on 'log'
3. Scroll down to 'KeyError: 'content''
4. See error

Input File:
https://github.com/khaliljouma/trainingLudwig/blob/main/Tweets.csv

YAML Code:
https://github.com/khal

[2020-12-22 02:17] w4nderlust commented on #1065
Hi khaliljouma . It seems you have no column in your data named `content`, but you have one named `text` so i suppose that's the one you want to use. Let me know if it fixes the issue.

[2020-12-22 02:25] w4nderlust commented on #1063
@mangleddata we changed the logic of validation slightly.
First, `combined` doesn't have `accuracy` any more.
Second, if you don't specify the field, now Ludwig tries to figure out the output feature that has the specified metric, so simply removing `validation_field: combined` should work.
Third, if you specify the output feature as thevalidation field, it will also work `validation_field: catego

[2020-12-22 10:20] khaliljouma commented on #1065
Thank you so much @w4nderlust !

[2020-12-22 10:21] #1065 closed

[2020-12-23 13:13] modernlearner opened #1067 "Missing Usage examples in documentation for visualizations"
It looks like the documentation is still missing code examples of how to use the visualizations: https://ludwig-ai.github.io/ludwig-docs/api/visualization/#compare_performance

It would be nice to see an example of the `test_stats_per_model` parameter:

[code]

My code looks like this:

[code]

And this is what I've tried:

[code]

All of them raised errors. I've seen a blog where the code example

[2020-12-23 22:29] jimthompson5802 commented on #1067
@modernlearner   I understand the problem you are facing is the inability to generate the Ludwig learning curve visualization.  When you attempt to run `learning_curves()` function you receive error messages.

First, here is a small program that uses the `learning_curves()` api.
[code]
This is the output from the `learning_curves()` call.
![image](https://user-images.githubusercontent.com/1425269/

[2020-12-24 02:11] #1030 closed

[2020-12-24 02:28] w4nderlust commented on #1067
@modernlearner we recently changed the syntax a bit, so the blogpost you was may not be up to date.
Anyway, I second @jimthompson5802 example, hopefully it helps.
I aslo add that yout
[code]
should actually be correct, so I would be curious to see the error to try to debug it.

[2020-12-24 04:02] modernlearner commented on #1067
Thanks for the example @jimthompson5802

@w4nderlust here's what I'm trying to do:

[code]

So for the `.train` call I would simply use `visualize.learning_curves([training_stats], ...)`. Which does indeed work, thanks again for the example!

How about for the `.evaluate`? Would it be the same thing or would I need to do something else for an already trained model that's been loaded?

[2020-12-24 05:28] jimthompson5802 commented on #1067
@modernlearner   re: `.evaluate`.  This function evaluates predictions derived from a trained model and reports the performance metrics.  Since `.evaluate()` does not do training there is no per epoch `loss` value returned by the `.evaluate()` function.  Hence there is no data for the `learning_curves()` function to display.

The `training_stats` dictionary returned by `.train()` has a different s

[2020-12-24 05:45] jimthompson5802 commented on #1067
P.S. In the case of `.evaluate()`, what are you trying to do with the `evaluation_statistics`?  This data structure will contain the performance metrics from evaluation.  One way to see the performance metric is converting the `evaluation_statistics` dictionary into a pandas dataframe and display the contents.  Here is an example
![image](https://user-images.githubusercontent.com/1425269/103063773

[2020-12-24 12:32] jimthompson5802 commented on #1067
@modernlearner  In writing about the different content between `training_statistics` and `evaluation_statistics` and showing the content of the difference, I forgot to point out Ludwig's `compare_performance` visualization that works with `evaluation_statistics`.  Here is an example of its use.
![image](https://user-images.githubusercontent.com/1425269/103088796-f49b0b00-45b9-11eb-831e-6a27444cbe6

[2020-12-24 13:28] modernlearner commented on #1067
@jimthompson5802 I thought `.evaluate` would be the simplest way to get the stats after loading the model from a file instead of re-training (or trying to load the training stats from a JSON file). I did notice that the evaluate stats were missing the epoch data it wasn't clear which other visualizations would work with both training and evaluate stats.

Thanks again for the thorough examples! I c

[2020-12-24 13:28] #1067 closed

[2020-12-28 01:18] mangleddata commented on #1063
Apologies for the delay. Yes, I see the new changes now. Closing this.

[2020-12-28 01:18] #1063 closed

[2020-12-28 13:40] Bhavesh-Joshi opened #1070 "TypeError: Failed to convert object of type <class 'list'> to Tensor."
**Describe the bug**
An error occurred while saving model with method **save_savedmodel**

**TypeError: Failed to convert object of type <class 'list'> to Tensor. Contents: [None, -1]. Consider casting elements to a supported type.**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://gist.github.com/Bhavesh-Joshi/4db376e4aa6a2ef808c4e54618acc987#file-vqa_train-py'
2. Run vqa_trai

[2020-12-29 02:14] w4nderlust commented on #1064
Thanks forletting us know @mithila2806 . It's an issue related specifically to T5 that happens with the newest version fo transformers. Will fix it soon, in the meantime please try using transformers < 4 and this should work.

[2020-12-29 02:17] w4nderlust commented on #1070
Thanks @Bhavesh-Joshi will look into it.

[2020-12-30 15:56] mithila2806 commented on #1064
@w4nderlust Thanks very much, WIll try doing that:)

[2020-12-30 17:42] SabineMa opened #1071 "Broken link on website"
**Describe the bug**
Here  [https://ludwig-ai.github.io/ludwig-docs/community/ ](https://ludwig-ai.github.io/ludwig-docs/community/ ) s a link to [https://gitq.com/ludwig-ai/ludwig](https://gitq.com/ludwig-ai/ludwig) which does not work

[2021-01-04 08:34] omshinde opened #1072 "Addition of Point Clouds feature type"
Hello Team,
Thank you for the amazing work. I really appreciate the efforts in making the development so seamless and easy to use. I just tried the visual question-answering example with images and it saves so much more time in implementation.

I would be grateful to know about the addition of point cloud feature type, I could see it as mentioned in the [What additional features are you working on

[2021-01-11 13:37] jimthompson5802 commented on #1071
@SabineMa   Thank you for point this out.  We are looking into this issue.

[2021-01-11 13:47] jimthompson5802 commented on #1072
@omshinde   Thank you for suggestion.  We'll note this as a feature request and your feedback will help prioritize our backlog.

Would gladly accept contributions in regards to this request.

[2021-01-11 13:51] omshinde commented on #1072
@jimthompson5802 Thank you! :)

[2021-01-11 22:35] w4nderlust commented on #1072
I can add that this is something we already wanted to have since quite a while and that I believe it's a useful and exciing feature :)

Adding a set of tensors, or even a set of vectors as input datatype should be pretty straightforward, and we could reuse the same encoders we have for set features, but skipping the embedding layer.
Plus we could also have an approach like we do for images and aud

[2021-01-12 02:13] jimthompson5802 commented on #1070
@Bhavesh-Joshi   I wanted to follow-up with you re: the error you encountered.  First thank for the information you provided.  Using that information  I was able to receate the error you are seeing.  Although I'm still doing research into root cause to figure out a fix, I wanted to provide you a quick status update.

Lastly, thank you for taking the time to report the issue and helping us improve

[2021-01-12 02:59] jimthompson5802 commented on #1070
@Bhavesh-Joshi  I forgot to ask in the previous posting, if it is possible to get a copy of the image you used `Antenna.jpg`?

[2021-01-12 06:40] omshinde commented on #1072
Thank you very much for the insightful comment. Yes, I agree, plethora of opportunities with this feature. :)

Re using set of tensors or vectors: Yes, that's what I could think of as it is very much possible due to the modularity of the code (Special thanks :)). It would also be generalised and not restricted to specific 3D file formats and other unstructured data (maybe for using graphs as input

[2021-01-12 07:34] Bhavesh-Joshi commented on #1070
![Antenna](https://user-images.githubusercontent.com/29869080/104283455-8ff71000-54d6-11eb-9cce-32868b9c637c.jpg)

Thanks for the update the @jimthompson5802. Please find the attached Antenna.jpg

[2021-01-13 22:10] mangleddata opened #1075 "Overwriting pretrained model file"
This is probably a feature request that is related to https://github.com/ludwig-ai/ludwig/issues/1028. I believe overwriting all the model parameters when pretrained model is loaded could be improved. Here's the scenario.
Run 1: Run 100 epochs, set early_stop to be say 10 epochs. Model file is ready now.
Run 2: New data and new model file, but the only change in the model is setting early_stop to

[2021-01-14 00:11] jimthompson5802 commented on #1075
@mangleddata  Thank you for the comment.

[2021-01-15 01:26] ihamieh commented on #1000
i dont think upgrading pip would solve this issue as I tried it! I'm having the same issue!!

[2021-01-15 02:25] carlogrisetti commented on #1000
Just to double-check the command line now no longer prompts you to upgrade pip and now shows a much newer version than 8.x?

All the other info are still the same?

Can you try manually issuing a `pip install ludwig` from the command line and seeing if this changes anything?

Bye

[2021-01-16 15:38] mangleddata opened #1076 "Setting sequence limit with timeseries input"
I am attempting to use LSTM encoder with timeseries data. Is there a way to preprocess to set a limit on the sequence ? I see ```sequence_length_limit ``` parameter - but not sure if this would achieve that. So the use case is, my input training file may have a timeseries input col which has a sequence of 16 values, but if I want to trim it to say 4, I would want the trailing 4 values to be used.

[2021-01-17 08:37] carlogrisetti opened #1078 "hdf5 being rebuilt too often"
ludwig from master (and since 0.3.2 at least), on different systems

when changing the config.yaml file, even just changing the dropout values (which nothing has to do with the hdf5 preprocessed file), Ludwig says that the checksum has changed, hence it has to rebuild the hdf5 file.
This happens also switching the batch size parameter, for example. I am suspecting it happened to me also without ch

[2021-01-17 11:39] humanID opened #1079 "reduce_dependencies for numerical values"
I am trying to predict two numerical outputs of the same value measured at different time intervals. One is the final value, whereas the other one is an intermediate value, always smaller than the final one. Is there a way of telling Ludwig this relationship, besides defining a dependency?

[code]
**Questions:**

1. I saw that I can **_reduce_dependencies_**, but I'm not sure if this declaration s

[2021-01-17 16:43] carlogrisetti commented on #1078
Just happened with the same exact data, config, etc.
Might have something to do with the fact that I'm working on image data in input?

I will find the time to debug this

[2021-01-18 00:40] w4nderlust commented on #1078
The logic is the following: https://github.com/ludwig-ai/ludwig/blob/master/ludwig/data/preprocessing.py#L1798-L1811
which means the data is preprocessed when the following things change:
- ludwig version
- dataset modification date
- any parameter in the preprocessing section of the config
- any name or type of any feature
- any preprocessing section of any feature

If a feature parameter like dr

[2021-01-18 00:51] w4nderlust commented on #1079
Thank you for flagging the typo, we'll fix it!

Regarding your questions:
1. dependencies in Ludwig mens what something depends on, so I would say final depends on intermediate, not the other way around
2. The way dependencies work is that the final representation before the prediction of a feature is used as an additional input to another feature (the one where you specified the dependency). This

[2021-01-18 01:56] ericxsun opened #1081 "cannot use tf.keras.models.load_model to load SavedModel"
**Describe the bug**
save the trained model in format of SavedModel and reload it using `tf.keras.models.load_model` won't suceed with the following exception:

[code]

**To Reproduce**
using the example [mnist-simple-train](https://github.com/ludwig-ai/ludwig/blob/master/examples/mnist/simple_model_training.py)

step 1: train the model with the following code
[code]

when finished, one could got

[2021-01-18 02:12] carlogrisetti commented on #1078
Here it is...
when checking the config, the `'preprocessing': {'in_memory': False, 'num_processes': 6}` i specified gets thrown out, and that line 1313 only looks at a config that has `'preprocessing': {}` in it, hence being different from the actual one.
When saving the meta.json file, in row 1591, the full config (including `'preprocessing': {'in_memory': False, 'num_processes': 6}`) gets passed

[2021-01-18 03:15] jimthompson5802 commented on #1076
@mangleddata  Thank you for submitting your question.

First, in researching your question, I found the Ludwig documentation requires an update related to time series.  To limit the number of values returned from a time series the correct `preprocessing` parameter is one called `timeseries_length_limit`, i.e.,  `timeseries_length_limit: 4`.   Use of `sequence_length_limit` is not applicable to a t

[2021-01-18 04:27] jimthompson5802 commented on #1081
@ericxsun Thank you for reporting this issue.

It appears your issue is a variant of Issue #1070.  A PR in underdevelopment to fix the issue.  If you wish, you can monitor the status of PR #1074.  Right now the PR addresses the issue you point out regarding `tf.reshape()` call.  Additional work is need to address the warning messages you point out.

[2021-01-18 05:05] ericxsun commented on #1081
Thanks a lot.

[2021-01-18 08:31] carlogrisetti commented on #1078
Ok... needed some sleep :)
The part that changes in the info dataset you're building before calculating the hash is the last bit:

`'feature_preprocessing': [{}, {}, {}, {}]}` (when comparing to decide whether to rebuild)
https://github.com/ludwig-ai/ludwig/blob/576b74b26cf7c289761ee3c6fcb45bef732ba8ce/ludwig/data/preprocessing.py#L1313
vs

`'feature_preprocessing': [{}, {'in_memory': False, 'num_

[2021-01-18 23:46] jimthompson5802 commented on #1081
In Ludwig's unit test, we use `tf.saved_model.load()` to test restoring a saved model.  Give that a try to see if resolves your issue.

[2021-01-19 03:50] ericxsun commented on #1081
YES, you're right. Thanks a lot

with `tf.saved_model.load` solved my problem.

[2021-01-19 10:24] carlogrisetti commented on #1078
@w4nderlust I don't know how to manage this without breaking that last code... I'd say I'm passing this to you guys hehe :)
The issue should be easily reproducible. If not, just ask me for more details.

[2021-01-19 16:16] jimthompson5802 commented on #1081
@ericxsun   Good to hear the last posting helped.  If this addresses your concern, I'll close the issue.

[2021-01-20 00:47] #1081 closed

[2021-01-20 20:47] w4nderlust commented on #1078
Looks liek a bug then, will look into it!

[2021-01-25 08:31] humanID commented on #1079
Great explanations. And a great piece of software. Thank you.

[2021-01-25 08:31] #1079 closed

[2021-01-25 21:58] w4nderlust commented on #1079
Glad this helped!

[2021-01-27 02:14] w4nderlust commented on #1064
@mithila2806 this should be fixed now, so I'm closing, please let me know if you still ahve problems and i can reopen.

[2021-01-27 02:14] #1064 closed

[2021-01-27 18:21] gustavorps commented on #501
Any updates about this feature?

[2021-01-27 18:45] w4nderlust commented on #501
@gustavorps unfortunately no, we have focused on other aspects in v0.3 and are now focusing on data preprocessing for v0.4. This feature will likely come in v0.5, but we would gladly accept contributions for this, which may accelerate the process.

[2021-02-04 23:18] AschHarwood commented on #969
Hi,
Somehow I missed this response. I really appreciate your help! Going to close this issue now. Thanks!

[2021-02-04 23:18] #969 closed

[2021-02-07 16:22] jimthompson5802 opened #1093 "Reported epoch loss value for single output feature model does not match reported epoch combined loss"
**Describe the bug**
For a single output feature model, the per epoch training/validation/test output feature loss value does not equal the `combined` training/validation/test loss values

**To Reproduce**
Steps to reproduce the behavior:
1. Run `examples/mnist/simple_model_training.py` with `logging_level=logging.INFO`
2. See following extract of log file.  The output feature `label`'s loss value

[2021-02-13 00:26] tgaddair opened #1096 "sampled_softmax_cross_entropy broken for machine translation example"
Config:

[code]

Error (eager execution enabled):

[code]

[2021-02-13 00:28] tgaddair opened #1097 "Text decoder broken for machine translation example"
Config:

[code]

Error (eager execution):

[code]

Workaround is adding `reduce_input: null` to output feature config.

[2021-02-15 22:40] purekaarnage commented on #190
aaa just spent 3 hours on this. why they dont just do that then

[2021-02-17 02:34] Jhixx24 opened #1099 "pip install ludwig[text]..etc does not work"
cant install pip install ludwig[text] or any other.

[2021-02-17 02:38] jimthompson5802 commented on #1097
@tgaddair   I talked with @w4nderlust   It looks like the machine translation example in the ludwig-docs is missing the `reduce_input` parameter.  I busted a PR to update the example documentation.

[2021-02-17 04:42] jimthompson5802 commented on #1099
@Jhixx24   Please attach the output from the `pip install ludwig[text]` that is failing.  This will help us in assisting you.

[2021-02-18 04:08] sabersf opened #1100 "Importing the output of the best model"
**Describe the use case**

The output of the optimal model is stored in the "model" folder. It includes the model_weight files as well as the training checkpoints. Now I'd like to import that model in a different project and use them as the initial input for that model. It would be nice if you could provide an example for that.

**Describe the solution you'd like**
An example in the example folder

[2021-02-19 02:26] w4nderlust commented on #1100
If by output you mean "the best set of weights over the course of training" like I believe, and if by initial input you actually mean "initial weights or weight initialization", the way to load it is very simple:
[code]
And then you cna use `my_model` to do what you want, like fine tuning on another dataset or using it for prediction.
Was this helpful? Otherwise please give me a bit more context s

[2021-02-19 22:10] camaya7 opened #1101 "Mac M1 Support"
Hi, I'm wondering if Ludwig currently has support for the Mac M1? I have tried to install it several times through the steps on the website and no luck.

I've downloaded Tensorflow 2.4.0-rc0 (the only one available for M1) separately as it wasn't getting anywhere through the "pip install ludwig" command. I kept getting dependency conflict errors and I corrected them for the most part but there see

[2021-02-20 01:20] sabersf commented on #1100
Thanks, that answered my question. I wanted to import the model into a TF model but that works as well.

[2021-02-20 01:20] #1100 closed

[2021-02-20 01:26] sabersf opened #1102 "Adding probability to the available datatypes"
It would be great if you could add probability type to the available datatype.

[2021-02-20 08:58] muhammad-yasir commented on #69
I tried to generate confusion matrix for the prediction_statistics by using following command.

ludwig visualize --visualization confusion_matrix  --prediction_statistics ./results/experiment_run_0/prediction_statistics.json
However, I got the following error
/Users/yasirmuhammad/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdty

[2021-02-20 16:15] jimthompson5802 commented on #69
@muhammad-yasir   Let me see if I can help.

One thing I noticed in the information you provided is that the command arguments do not appear to be correct.  Starting in v0.3 breaking changes occurred in cli arguments.  Here is the [current documentation](https://ludwig-ai.github.io/ludwig-docs/user_guide/#confusion-matrix) for the `confusion_matrix` visualization.

Here is an example of the comman

[2021-02-21 02:07] muhammad-yasir commented on #69
Thanks Jim. It worked. I was using ludwig==0.1.12. I upgraded to the recent
one and it worked.

On Sun, Feb 21, 2021 at 5:15 AM Jim Thompson <notifications@github.com>
wrote:

[2021-02-21 02:13] jimthompson5802 commented on #69
@muhammad-yasir
Great to hear that the advice solved the issue.

If you encounter other problems, feel free to open new issues so we can help you.

[2021-02-21 02:33] jimthompson5802 commented on #1096
@tgaddair   While working on a PR #1103 to address Issue #1093, I encountered an issue with the sampled_softmax_cross_entropy.  Although the failure symptoms I see are different, I think our issues may be related.  I'll keep you posted on what I find.

[2021-02-21 17:17] tgaddair commented on #1101
Hey @camaya7, can you share the full log when you attempt to run `pip install ludwig`? Also, do you already have TensorFlow installed before you attempt to install Ludwig?

There shouldn't be any incompatibility with Ludwig and this version of TensorFlow. The issues are likely arising due to the way TensorFlow names their pip packages for specific hardware, which often conflict with the standard p

[2021-02-22 22:31] camaya7 commented on #1101
Hey @tgaddair, attached is the log, not sure if this is what you're looking for as it's a bit long.

[screen.log](https://github.com/ludwig-ai/ludwig/files/6025531/screen.log)

Tensorflow was installed as Tensorflow 2.4.0-rc0. For some time there I tried downloading Ludwig first and then TF but came around to the same problem with conflicting dependencies. Please let me know what you think here. I

[2021-02-23 01:29] w4nderlust commented on #1101
Ludwig v0.3.3 supports tensorflow>=2.3.1 so in theory this should work, not really sure what is causing the issue.
One thing i would suggest to try is to clone ludwig locally, modify requirements.txt to contain `tensorflow==2.4.0-rc0` and install py running: `pip uninstall ludwig & pip install .` from the ludwig directory.
Let us know if this helps as a workaround.

[2021-02-23 12:22] plantroots opened #1104 "Error training a model for Named Entity Recognition Tagging"
I am trying to train a NER model with this configuration:

[code]

The error that I am seeing is:

[code]

The input data looks like this:
[code]
OS: Ubuntu 18.04.5 LTS
Ludwig version: 0.3.3
Python version: 3.6.9

[2021-02-23 21:27] camaya7 commented on #1101
Hi @w4nderlust, I've tried the steps you suggested and got the following error message:
ERROR: Could not find a version that satisfies the requirement tensorflow==2.4.0-rc0 (from ludwig)
ERROR: No matching distribution found for tensorflow==2.4.0-rc0

This keeping in mind that the same Tensorflow version is active in the same virtual environment as Ludwig's. I also ran the install without the Tens

[2021-02-24 03:34] jimthompson5802 commented on #1104
@plantroots Thank you for submitting the issue.  Using the information you provided,  I'm able to recreate the issue.

We'll now have to do a more deeper dive to identify root cause and a solution.

[2021-02-24 21:25] ZaneL opened #1106 "visualize.learning_curves() error"
When using ludwig-0.3.3 on Kaggle, I get this error when running `visualize.learning_curves([train_stats],None)`:

[code]

This same code ran perfectly fine back in 2019 when using an older version of Ludwig. I haven't changed my code at all.

[2021-02-24 22:13] jimthompson5802 commented on #1106
@ZaneL Starting with v0.3, there were many breaking changes.  Here is [the link](https://ludwig-ai.github.io/ludwig-docs/api/visualization/#learning_curves) to the current `learning_curves()` api doc.

I recommending looking over the updated documentation to see what other changes may be required in your code.

If after making changes to your code for v0.3.x, you still are experiencing problems, p

[2021-02-25 00:30] ZaneL commented on #1106
I don't know what could be wrong. I've looked at the breaking changes and I think I'm still doing everything correctly.

[code]

This code is still throwing that same error in the visualize function.

[2021-02-25 00:45] jimthompson5802 commented on #1106
@ZaneL   Let me refer you to the [updated API doc for `train()`](https://ludwig-ai.github.io/ludwig-docs/api/LudwigModel/#train).  If you scroll down to where the return is described, you'll see that `train()` returns a tuple of three data structures:
<img width="716" alt="image" src="https://user-images.githubusercontent.com/1425269/109085397-91237b80-76d7-11eb-8f73-241de337b9be.png">

So your co

[2021-02-25 01:21] ZaneL commented on #1106
That worked perfectly, thank you!

[code]

and then to predict...

[code]

[2021-02-25 01:21] #1106 closed

[2021-02-28 02:37] tgaddair commented on #1101
Hey @camaya7, you may want to try unpinning tfa-nightly and installing the latest version. It appears that specific version is not available with M1.

[2021-03-05 09:14] sourabhx003 commented on #201
Used ludwig package still suffering from the error.

1. Case

data_dir = "/kaggle/input/all-products-from-myntracom-2019/home/sdf/marketing_sample_for_myntra_com-ecommerce__20190601_20190831__15k_data.csv"

df = data_utils.read_csv(data_dir)

"""Output"""
Failed to parse the CSV with pandas default way, trying \ as escape character.

2. Case

data_dir = "/kaggle/input/all-products-from-myntracom-2

[2021-03-05 11:37] jimthompson5802 commented on #201
@sourabhx003   Thank you for submitting the issue.

After reading your description, let me state what I think you are trying to do.
* It appears you are trying to read a csv formatted file and create, I assume, a `pandas` dataframe.
* You are using Ludwig's `data_utils.read_csv()` function to accomplish this task.

If the above is a correct interpretation, let me offer the following advice:
* Func

[2021-03-05 20:49] camaya7 commented on #1101
Hey @tgaddair, I've unpinned tfa-nightly and have tried installing the latest version separately yet I keep running into the same error:
ERROR: Could not find a version that satisfies the requirement tfa-nightly
ERROR: No matching distribution found for tfa-nightly
It may have to do with the TF connection to tfa-nightly but I haven't quite found the workaround.

[2021-03-05 20:57] w4nderlust commented on #1101
@camaya7 debugging this is a bit tricky because of the specific machine, sorry about that. I'm wondering: can you, in general, independently of Ludwig, install a tf + tfa combination that works on M1? In case you can find such a combination, then you should be able to use that in Ludwig.

Alternatively, you may remove the tfa dependency from Ludwig, as it is used specifically in a single module (s

[2021-03-05 21:14] w4nderlust commented on #201
To add to @jimthompson5802 's answer: Ludwig's `read_csv`does not have an `escape_char` parameters (should probably add it), and it is supposed to work only with comma separated values. If you want to use a different separator you can use `read_xsv` instead, but that function too does not support the `escape_char` parameter.
If your intent is to just load a CSV file in memory and you ca just use `

[2021-03-05 21:15] camaya7 commented on #1101
@w4nderlust it's okay, the tech needs to catch up. So far I've only found a TF build that works on M1 but not a tf + tfa combination. I'm going to continue searching for one so that I could use it with Ludwig--in that case would I just install Ludwig without the tf, tfa-nightly dependencies per the requirements.txt file?

I'm also going to try to remove the tfa dependency altogether as I wouldn't

[2021-03-06 10:03] justinepdevasia commented on #548
#### Hi,

#### When I tried to do machine translation from english to hindi, I am getting the following error,
#### I am getting the same for italian also
#### The config file is given below
`input_features:
    -
        name: english
        type: text
        level: word
        encoder: rnn
        cell_type: lstm
        reduce_output: null
        preprocessing:
          word_tokenizer: eng

[2021-03-07 03:40] jimthompson5802 commented on #548
@justinepdevasia  There is a known error we are working to address involving the `sampled_softmax_cross_entropy` loss function.  Please monitor this issue for status updates: https://github.com/ludwig-ai/ludwig/issues/1096

[2021-03-07 22:55] w4nderlust commented on #1104
Merged the PR, it should solved the issue. @plantroots can you confirm please?
Closing for now, will reopen if needed.

[2021-03-07 22:55] #1104 closed

[2021-03-07 23:38] w4nderlust commented on #1071
We moved the discussion to GitHub now, so this is fixed.

[2021-03-07 23:38] #1071 closed

[2021-03-07 23:47] w4nderlust commented on #1102
Curious to hear about the usecase.
I imagine that for inputs there would be no difference with numerical, but maybe you are thinking at the output so that you can provide a probability as supervision and optimize with cross entropy?

Right now you actually have a workaround of using a vector feature and using crossentropy, but I see how having a probability type may make things mroe straightforwar

[2021-03-08 00:12] w4nderlust commented on #1000
@ihamieh latest releases should have solved this. Can you please run `pip install ludwig` now and check if the issue is sovled?

[2021-03-08 01:06] w4nderlust commented on #1078
Working on it #1114

[2021-03-08 08:03] plantroots commented on #1104
@w4nderlust Training seems to work now. Thank you!

[2021-03-08 08:58] muhammad-yasir commented on #462
Hi there,
I am using ludwig 0.3.3. I am trying to train the model using --k_fold option. I have two issues:

1) When I run the following command, it gives me  this error (ludwig train: error: unrecognized arguments: --k_fold=10):
ludwig train --dataset train.csv --config_file model_definition.yml --output_directory results --k_fold=10

2) Secondly, Please clear my confusion.  If I am not mistaken,

[2021-03-08 12:08] jimthompson5802 commented on #462
@muhammad-yasir Thank you for submitting your questions.

**re: #1**.
With v0.3 some breaking changes were introduced that affected cli parameters.  The k-fold functionality is now part of the ludwig `experiment` function.  Please refer to the [updated user guide for details on how to invoke k-fold cv](https://ludwig-ai.github.io/ludwig-docs/user_guide/#experiment).

If the above advice does not s

[2021-03-10 20:57] #1078 closed

[2021-03-11 14:05] guiscaranse commented on #1104
@w4nderlust I was also having this issue, any idea when this is going in a release?

[2021-03-11 20:21] w4nderlust commented on #1104
The issue is solved, so the next release of Ludwig will contain the fix. In the meantime you can install Ludwig from the git repo: pip uninstall ludwig & pip install gut+http://github.com/ludwig-ai/ludwig.git

[2021-03-12 06:22] muhammad-yasir commented on #462
Thanks Jim. It worked. Thanks for your positive response.

On Tue, Mar 9, 2021 at 1:09 AM Jim Thompson ***@***.***>
wrote:

[2021-03-12 09:05] MrTalon63 opened #1118 "Cannot export saved model"
**Describe the bug**
After training model I can't use `ludwig export_savedmodel -m path/to/the/model -od /path/to/saved/model` as it errors out https://paste.co.pl/uyatidufep.sql

**To Reproduce**
Steps to reproduce the behavior:
1. Run ludwig export_savedmodel -m results\experiment_run\model -od savedmodel\
2. Get error shown in hastebin

https://c.mczop.co.pl/u/issue.zip < Here is the used datas

[2021-03-12 09:23] MrTalon63 commented on #1118
I just looked at other issues and I think it is the same problem as #1070

[2021-03-16 06:46] muhammad-yasir opened #1122 "Ludiwg experiment and predict the test data set"
Hi there,

I am newbie and trying to learn the ludwig.

I am using ludwig=0.3.3. in CLI.

I am trying to train the model using cross-fold validation. I have test and train the dataset separately. I read the documentation (https://ludwig-ai.github.io/ludwig-docs/user_guide/#experiment), according to documentation Ludwig experiment command combines training and evaluation into a single command. So I

[2021-03-17 00:06] jimthompson5802 commented on #1122
@muhammad-yasir

Re:

The `model_path` parameter does refer to the json file.  This parameter refers to the `model` sub-directory.  For example, if you run with the default settings for the parameters: `experiment_name`, `model_name` and 'output_directory`, you should see the following directory structures:
[code]
Note the above is only a subset of what will be created.  Also note that the sub-dir

[2021-03-19 20:52] muhammad-yasir commented on #1122
Hi Jim,

Thanks for your response. I tried your instruction. I first trained the model using default setting using following command:
ludwig experiment --dataset train.csv --config_file model_definition.yml -kf=10

When the training completed it does not save into the directory structure as mentioned in your reply (i.e. results/experiment_run/model). In fact, I noticed that the output of the exper

[2021-03-19 22:11] jimthompson5802 commented on #1122
@muhammad-yasir   The intent of the `k_fold` parameter is to provide an assessment of the model performance that is more robust than a single performance report on a single test dataset.  This is done by building by building a model on the different folds of the training data and reporting the performance on each different fold.  In other words, there are as many models built with a different subs

[2021-03-21 08:54] muhammad-yasir commented on #1122
Thanks, Jim. I really appreciate your response. Now I understood the purpose.

[2021-03-21 08:54] #1122 closed

[2021-03-26 12:34] farazk86 commented on #1036
Hi, were you able to solve this?

I am getting this same error after updating ludwig. Previously using the pre tensroflow2 update the same dataset and model_definition worked. But after update the same code and data gives the error:

[code]

[2021-03-26 13:29] farazk86 opened #1130 "ValueError: Invalid reduction dimension 2 for input with 2 dimensions for translation model training after updating Ludwig"
**Describe the bug**
Hi,
I previously used Ludwig when it was using the ``Tensorflow1.x`` backend. And I created a machine translation project using it. But now after updating ludwig to the latest version, I can no longer run the same project.

I am basically following the configuration mentioned in the example for translation: https://ludwig-ai.github.io/ludwig-docs/examples/#machine-translation

[2021-03-27 02:13] jimthompson5802 commented on #1130
@farazk86   thank you for submitting the issue.  With the information you provided, I was able to recreate the issue on my end.

[2021-03-28 20:22] zhisbug opened #1132 "Dask Scalar is not json serializable when generating dataset metadata on a dask dataframe"
**Describe the bug**
When calling the `precompute_fill_value` during generating the dataset metadata, if the `dataset_df` is a dask.dataframe (which is a requirement when running distributed ludwig on Ray), calling `df.mean()` for FILL_WITH_MEAN returns a symbolic value, which later cannot be serialized into JSON.

**To Reproduce**
See my repo on running ludwig on ray with the petfinder dataset:
h

[2021-03-28 21:20] zhisbug opened #1134 "Parquet dataset does not have a `self.features` attribute, which is needed in the IterableBatcher"
**Describe the bug**

The `IterableBatcher` will loop through all the features of a dataset (see[ this line of code](https://github.com/ludwig-ai/ludwig/blob/master/ludwig/data/batcher/iterable.py#L40)) object via an attribute `self.features` of a `Dataset` object

When the dataset is a parquet dataset (a new feature merged to master in [PR#1090](https://github.com/ludwig-ai/ludwig/commit/01d114ba

[2021-03-28 21:40] zhisbug opened #1135 "The `self.reshape_features` is empty when working on petfinder dataset"
**Describe the bug**
This issue is related with #1134.

I tried to replace the `reshape_features` with `features` to workaround the bug caused by `IteratableBatcher` (see #1134  for the detailed descriptions about the issue), but when working on the petfinder dataset, the `self.reshapes_features` is empty after applying the following code between L35-L39 of [parquet.py](https://github.com/ludwig-a

[2021-03-28 22:13] zhisbug commented on #1135
See PR#1136 my workaround on this

[2021-03-28 22:54] zhisbug opened #1137 "`model.set_weights()` with ray backend throws an error when EARLY STOPPING"
**Describe the bug**
When training petfinder dataset (see [here ](https://github.com/zhisbug/ludwig-petfinder/blob/master/petfinder-adoption-prediction/train.py)for example code) using Ray backend, after a few epochs when EARLY STOPPING is triggered, an error is thrown with the following trace:
[code]

Seems that the `model.set_weights` function under Ray backend has issues because this won't happ

[2021-03-29 15:07] tgaddair commented on #1134
Hey @zhisbug, thanks for the detailed repro. Can you try #1138 and see if it fixes the issue?

[2021-03-29 15:07] tgaddair commented on #1137
Hey @zhisbug, I ran across a similar issue after fixing the IterableBatcher. The PR #1138 fixed it for me. Can you try running again with this branch?

[2021-03-29 15:10] tgaddair commented on #1135
Hey @zhisbug, are you running with image features? If not, then it's expected that `rehshape_features` should be empty (as there are no features that need to be reshaped when loaded from the Parquet file). Is this still an issue after applying #1138?

[2021-03-31 04:56] zhisbug commented on #1135
Yep seems that #1138  fixed it!

[2021-03-31 04:57] zhisbug commented on #1134
yes, #1138 fixed it.

[2021-03-31 04:57] zhisbug commented on #1132
#1133 should fix it.

[2021-03-31 20:27] w4nderlust commented on #1118
The issue should be solved, could you please confirm @ MrTalon63  ?

[2021-04-01 02:38] tgaddair commented on #1132
Fixed by #1133.

[2021-04-01 02:38] #1132 closed

[2021-04-01 18:19] zhisbug commented on #1135
Yes!

[2021-04-01 18:19] #1135 closed

[2021-04-02 00:13] #1134 closed

[2021-04-02 13:56] mangleddata opened #1142 "Ludwig silently fails after first epoch (best_increase_batch_size_eval_metric": Infinity)"
I have a dataset with timeseries data and my run silently fails after first epoch (i.e my overnight run just got killed with no specific error in any of the logs). Poking around, I see training_progress.json has this.
[code]
I couldn't tell if this is after first epoch or has anything to do with the run failure (for example, it does look like it is initialized that way). Just pointing it out, if a

[2021-04-02 15:30] ifokeev commented on #1142
check your memory, possible OOM

[2021-04-02 15:46] mangleddata commented on #1142
Not memory because if I run it again with preloading the last saved model, it runs again for few epochs. Plus I use small batch size and don't see memory usage getting close.

[2021-04-03 00:48] jimthompson5802 commented on #1142
@mangleddata   we need more information to help identify the error.  Please post the following:
* The command used to start Ludwig
* complete log output where the error occurred
* the config.yam file
* sample of training data

Thank you.

[2021-04-03 11:34] zuliani99 opened #1143 "ValueError fill value must be in categories."
Hi,
I'm trying to create a semple prediction of a dateset downloaded from openML using thier own API. In Addition to that I've create a function to automate the creation of the configuration dictionary.
The problem is that when I try to train the model the "ValueError: fill value must be in categories." appears, but the train dataframe hasn't any nan value inside, infact train.isna().sum() display

[2021-04-03 13:29] mangleddata commented on #1142
@jimthompson5802 I will look into generating a synthetic data set that would show this issue (I need to clean up things). My command typically looks like this -

``` horovodrun -np 2 --stall-check-shutdown-time-seconds 300 ludwig train --training_set train.csv --validation_set valid.csv --random_seed 42 -cf model.yaml -uh --model_name train_model  >> runlog/train_model.log ```

And when it fails,

[2021-04-03 14:47] jimthompson5802 commented on #1142
@mangleddata  thank you for the command and log output.  When you have a synthetic data set and `model.yaml` ready, please post.

[2021-04-03 15:10] jimthompson5802 commented on #1143
@zuliani99   Thank you for submitting the issue.  To help the Ludwig Team assist you, we need additional information.  Please post the complete log output.  I also suggest adding the following code fragments:

Add to your imports `import logging`

When creating the `model` instance add the parameter
[code]

After creating `train` do following and post the output.
[code]

Thank you.

[2021-04-03 20:26] zuliani99 commented on #1143
**Output from the print commands and ludwig:**
[code]

**Log errors:**
[code]

Thank you a lot for the support I appreciate, I also hope you have a great Easter holiday

[2021-04-04 03:01] jimthompson5802 commented on #1143
@zuliani99   Thank you for the additional info.  From the error stack trace, the issue appears to be in the pandas library.  I've searched for known issues and there may be some candidate issues.    To help me pin down root cause please post a small sample of the `train` data set that experiences the error.  I suggest writing `train` to a csv and post the csv to this issue.  With that I'm hoping t

[2021-04-04 03:06] jimthompson5802 commented on #1143
@zuliani99   I took a closer look at your code and I just noticed you're using a packaged sklearn dataset.   Ignore my request to post a data set.  I should be able to recreate the dataset on my side.

If I'm unable to recreate a dataset, I'll reach back out.

[2021-04-04 04:41] w4nderlust commented on #1142
It would be great to be able to replicate with the synth data to figure out what is actually happening. It's pretty weird that there is no error and the process dies silently.

[2021-04-04 16:34] tgaddair commented on #1142
Hey @mangleddata, looks like you're only redirecting stdout to the log file. Can you try also redirecting stderr and then sharing the full log output when it crashes?

https://stackoverflow.com/questions/876239/how-to-redirect-and-append-both-stdout-and-stderr-to-a-file-with-bash

[2021-04-04 17:35] w4nderlust commented on #1143
Hi @zuliani99 , after looking into it in detail, your usecase uncovered an issue in the way Ludwig treats the filling on NaN values for pandas category columns. We are working on it to find a clean solution in the codebase, but in the meantime you have a couple workarounds.
1. you can specify the value to fill the NaNs with for the day feature as one of the possible values of that column, say "Mon

[2021-04-04 21:52] jimthompson5802 commented on #1143
@zuliani99   In addition to what @w4nderlust  suggested as a short-term work-around, you'll need to remove this line of code:
[code]

The `close()` api is relevant to an earlier version of Ludwig.  This api was removed starting in v0.3 and other breaking changes occurred.  Please refer to the [current API doc](https://ludwig-ai.github.io/ludwig-docs/api/LudwigModel/) for the current API behavior.

[2021-04-05 02:36] zhisbug commented on #1137
@tgaddair re-tested and it works now. thanks!! We can close this issue!

[2021-04-05 02:36] #1137 closed

[2021-04-05 09:27] zuliani99 commented on #1143
All right, @w4nderlust, @jimthompson5802 thank you a lot for the support.
With all the changes suggested by you two and other little changes, code finally works.
By the way, is suggested to cast categorical features to object features for make ludwig works?
And an other question, how can i get the mean accuracy from a classification problem? Should I read the training_statistics.json file from the

[2021-04-05 10:37] jimthompson5802 commented on #1143
@zuliani99   re: reporting on accuracy.

I suggest you look at Ludwig visualizations.  This [link](https://ludwig-ai.github.io/ludwig-docs/user_guide/#compare_performance) shows the example of the `compare_performance` report.  This [link](https://ludwig-ai.github.io/ludwig-docs/api/visualization/#compare_performance) describes the Ludwig api to generate that report from a Python program.  This [l

[2021-04-05 22:06] marcmm opened #1144 "The directory used for HDF5 cache is not configurable as a preprocessing property"
**Is your feature request related to a problem? Please describe.**
This is causing problems in cloud environment like Azure ML, because input datasets are stored in read-only location.

**Describe the use case**
It would be great to be able to pass a separate directory path to use for the HDF5 data preprocessing cache and not choose to write it in the same folder as the input data.

**Describe the

[2021-04-07 21:21] #1143 closed

[2021-04-07 21:37] zuliani99 opened #1145 "Maybe a conflict between pakages of auto-sklearn and ludwig"
I'm trying to do a benchmark of autosklearn and ludwig like this:

[code]

 When I lunch the single algoritm stand alone with a test dataset it works, but when I try to lunch first autosklearn and then ludwig, the first one finish but with lots of worning regarding tensorflow, I don't know why tensorflow because autosklearn does not use it, and then ludwig finish with all these stuff:

[code]

In

[2021-04-08 17:29] w4nderlust commented on #1145
This is peculiar. I suspect autosklearn and TensorFlow are interacting in a weird way around emcee. Just to doublecheck, if you run autosklearn and ludwig independently with the same code everything works fine?

[2021-04-09 08:28] zuliani99 commented on #1145
It depends on the order of the import.
But anyway now i'm able to run sklearn and ludwig in sequence. The new problem is that if I want to test other AutoML algorithms in sequence like this: Tpot, autokeras, h2o and finally ludwig, the last one will not perform and end with this log:
[code]

As I mentioned before all algorithms terminate successfully if runned standalone

[2021-04-09 15:35] tgaddair opened #1147 "TabNet combiner test failing on nightly"
There was a changed pushed at https://github.com/ludwig-ai/ludwig/commit/1f32d282957a14a804de0a5a60dec4d92771fca5 that broke the `test_tabnet_combiner` tests, and thereby caused CI to fail.

Will temporarily disable this test.

[2021-04-09 17:26] w4nderlust commented on #1147
Yes will fix later today, it was a little interface change that was not reflected in the test.

[2021-04-09 17:30] w4nderlust commented on #1145
Then I believe what is happening is that other libraries are initializing TF, and Ludwig also needs to initialize TF and that's what's causing the issue. In your shoes I'd likely run the different frameworks in different script.

Also, let me att that Ludwig is not really comparable with those tools, in Ludwig you have a configuration and you can find the hyperparameters with the hyperopt script,

[2021-04-09 23:58] #1147 closed

[2021-04-13 10:52] muhammad-yasir opened #1151 "OOM when allocating tensor with shape[128,12,256,256] and type float on"
**Describe the bug**
I am using the google colab to run the Ludwig in Python program. I am running on GPU. Here is my program:
**To Reproduce**
import pandas as pd
from ludwig.api import LudwigModel
from ludwig.utils.data_utils import add_sequence_feature_column

model_definition = {'input_features': [{'name': 'Review_Text', 'type': 'text','encoder': 'bert',
'config_path': 'bert_config.json',
'che

[2021-04-13 13:04] jimthompson5802 commented on #1151
@muhammad-yasir   the OOM error indicates you are running out of GPU memory.    Some things to try:

* The simplest way to reduce gpu memory demand is to reduce batch size.  You could half the batch size to see if that makes a difference.
* If reducing batch size does not resolve OOM, then you'll need to understand how much GPU memory is available and what your `bert` config parameters are requiri

[2021-04-14 11:59] farazk86 commented on #1130
Hi,

Thanks for verifying the bug. Is there any update on this? Is the problem related to Tensorflow 2? Would going to an earlier version of ludwig fix this?

[2021-04-14 12:15] farazk86 opened #1152 "Is it possible to get the Top-k predictions from ludwig test and the probability/confidence of each?"
Hi,

I am using ludwig to train a translation model between two notations. Due to a bug in the current version(https://github.com/ludwig-ai/ludwig/issues/1130) I am forced to use the ``Tensorflow 1.x`` version of ludwig.

But my question is that, when running ``ludwid test`` and ``ludwig predict``, is it possible to get the Top 5 possible translations for the given input along with the confidence

[2021-04-14 20:57] jorgegarcia197 opened #1154 "Load a model from a SavedModel file"
Hello,
  I was able to train several models using the Ludwig API but I was wondering if currently I can load a LudwigModel object by just the path of the SavedModel file instead or it only works with a model folder.

Hope you can help me out!
Thanks in advance

[2021-04-14 23:45] jimthompson5802 commented on #1130
@farazk86  re: the `sampled_softmax` issue.  We are still looking at it.   In the meantime, you should be able to use the regular softmax cross entropy loss function.

[2021-04-14 23:55] jimthompson5802 commented on #1154
@jorgegarcia197 If I understand your question correctly, I think the answer is the model can be loaded from any directory as long as the contents of that directory is consistent to the file structure that is created when Ludwig saves the model.

For example if you recursively copied the contents of the `model` folder to another location, e.g., `new_model_dir`, I believe you should be able to load

[2021-04-15 15:55] jorgegarcia197 commented on #1154
@jimthompson5802  what I am trying to do is to create a script that trains the model and just saves the .pb file with `LudwigModel.save_savedmodel(path)` but what I was wondering if when a do `LudwigModel.load(path)` can I reference the SavedModel path file generated by the prior command or is it only with the `model` folder path.

[2021-04-16 02:21] jimthompson5802 commented on #1154
@jorgegarcia197   AFAIK, what you want do is possible.

Have you tried it and did it fail?  If that is the case, please post the log file and minimal code to recreate the problem.

[2021-04-16 20:52] w4nderlust commented on #1154
@jorgegarcia197 Unfortunately no, you can't load the SavedModel as a Ludwig model. The SavedModel format lacks many pieces of information needed for building a proper Ludwig model (preprocessing and postprocessing for instance). So we consider it only a one way export format.

[2021-04-16 20:52] #1154 closed

[2021-04-16 20:54] w4nderlust commented on #1151
For BERT models, a batch size of 16 fits in most modern desktop GPUs, can you try that please?

[2021-04-17 18:59] stremovskyy opened #1156 "How to use trained model in Golang?"
How to use trained model in Golang?

I have several trained models and application written on Golang
Now I have used several instances “ludwig serve” and send requests to it
Is three any way to use this models in Golang program directly?

[2021-04-17 19:40] jimthompson5802 commented on #1156
@Karmadon Thank you for submitting this question.

As of this point Ludwig supports only Python bindings.

I'll mark your questions as potential feature request.   At this point, however, it is not in scope.

[2021-04-17 20:31] Karmadon commented on #1156
@jimthompson5802 Thx for your work!

[2021-04-21 18:20] farazk86 commented on #1130
I am still getting the same error with ``softmax_xross_entropy`` :(

below is my model file:

[code]

error:

[code]

Please advise. :(

[2021-04-23 07:01] Peetee06 opened #1163 "Predictions on single audio data points from memory using python api"
Hi,

I want to build an application that gets audio data from a microphone audio stream and makes live predictions of chunks of 1 sec audio with 2 categories using a pre-trained ludwig model. As far as I know it is only possible to predict audio data using saved files in the filesystem. In order to make live predictions it would be much faster if there was a way to feed single python objects or wa

[2021-04-24 00:01] w4nderlust commented on #1152
@farazk86 thanks for asking. We are working on a fix for the issue you reported.
Regarding your question here:
- right now there's no mechanism to obtain the top k most likely predictions. We are planning to add that capability in the future, but right now it is not available.
- the probability file is the log probability of each generated sequence. In the newer version we made that a log probabil

[2021-04-24 00:38] w4nderlust commented on #1163
@ Peetee06 right now unfortunately it is not possible, but I completely agree with you that it's a very much needed feature. We have a similar issue for the image features, as they behave similarly (both read from files right now).
We'll make this a priority after we are done with some internal refactoring we are doing for v0.4 .

In the meantime, as you have already figured out, the solution is t

[2021-04-24 00:43] w4nderlust commented on #1152
Closing for now, let me know if you have further questions.

[2021-04-24 00:43] #1152 closed

[2021-04-24 00:44] w4nderlust commented on #1145
Were you able to solve by running different scripts?

[2021-04-24 08:04] zuliani99 commented on #1145
No I couldn't find out what was wrong, by the way after you told me that compare ludwig with the others specified algorithm wasn't the best choice I find out a new one

[2021-04-24 18:54] w4nderlust commented on #1145
You can compare it with the others, but you need to run the hyperparameter optimization. The regular training doesn't give you the best optimized model, but just the model with default parameters for your set of inputs and outputs.
Anyway, closing this, happy to reopen if needed.

[2021-04-24 18:54] #1145 closed

[2021-04-26 08:08] Peetee06 commented on #1163
@w4nderlust looking forward to the feature. Will go with the workaround in the mean time as you suggested.

Thanks for the great work on Ludwig! :)

[2021-04-29 02:42] tgaddair commented on #1144
Hey @marcmm, thanks for the feature request. This is actually something we have planned to do for the next release. There's a programmatic implementation in #1164 that works like this:

[code]

In a follow-up PR, we'll add the ability to specify the cache directory in the config file so this works with the `ludwig` CLI as well. Also, the above PR should also simplify the process of reading / writi

[2021-04-29 15:12] tgaddair commented on #1156
Hey @Karmadon, one option for you would be to export your Ludwig model to a [Neuropod](https://github.com/uber/neuropod), which we have an API for [here](https://github.com/ludwig-ai/ludwig/blob/master/ludwig/export.py#L59).

Once exported to Neuropod, you can use its [C++ API](https://neuropod.ai/docs/stable/cppguide/) in conjunction with [cgo](https://golang.org/cmd/cgo/) to perform inference on

[2021-05-02 04:37] Karmadon commented on #1156
Thank you @tgaddair ! I will try this way,
Where to find c bindings for neuropod? or are they not in the public repos?

[2021-05-04 00:17] tgaddair commented on #1156
@vkuzmin-uber @VivekPanyam are there still plans to add Golang bindings to Neuropod?

I see there's this issue that is still open: https://github.com/uber/neuropod/issues/294

Any updates?

[2021-05-14 13:31] redfalcoon opened #1179 "Error using Named Entity Recognition Tagging"
Hi Ludwig Authors,
I'm trying to use ludwig to create a NER extractor from italian text, but I got always an error message that preclude the model generation. Maybe I'm using in a wrong way the ludwig training so I'm sorry to create trouble.
My csv file contains the following data:

frase,mappa
Lorenzo Liparti e' nato a Roma nel 2000,P P O O O C O D
Giancarlo vive a Milano dal 2011,P O O C O D
Nel

[2021-05-15 13:58] ericxsun opened #1180 "How Could I share the encoder with in Siamese Networks"
**Is your feature request related to a problem? Please describe.**

Define the structure with the following `config.yaml`:

two encoders are given in the `input_features`, and both using the `stacked_cnn` module. Is it possible to share the `stacked_cnn`(I mean, share stacked_cnn struct and all weights) and How?

Any idea will be highly appreciated.

[code]

[2021-05-16 10:52] jimthompson5802 commented on #1179
@redfalcoon   This seems be related to an error that was fixed in PR #1105.  This fix is planned to be incorporated into the next release.  Until that occurs, I suggest uninstalling Ludwig 0.3.3 and install from Github the main branch, i.e.,
`pip install git+https://github.com/ludwig-ai/ludwig.git`

Let me know if this addressed the issue.

[2021-05-16 14:50] redfalcoon commented on #1179
@jimthompson5802  I've done the steps that you suggest and after install also the petastorm now the training phase goes well without issue.
Now I will investigate further the solution to check the potentialities.
I wish to thank you for your valuable support and all the team for the great solution

[2021-05-16 14:54] jimthompson5802 commented on #1179
@redfalcoon   Thank you for letting me know that the suggestion works.   I'm going to close this issue.

[2021-05-16 14:54] #1179 closed

[2021-05-16 21:09] w4nderlust commented on #1180
Hi @ericxsun , you are already sharing the encoder and the weights, as the mechanism to do that is `tied_weights: image_path_1`. Closing this, feel free to ask further questions.

[2021-05-16 21:09] #1180 closed

[2021-05-16 21:32] VivekPanyam commented on #1156
Hi! Sorry for the delay; the last few weeks have unfortunately been quite taxing

@Karmadon The C API is [here](https://github.com/uber/neuropod/blob/master/source/neuropod/bindings/c/c_api.h) and here's a [test](https://github.com/uber/neuropod/blob/a7c36633e75e4d99eb94961f22131c19e404b068/source/neuropod/bindings/c/test/test_c_api.c#L56) that shows example usage

In order to use it, you'll need

[2021-05-19 15:42] Karmadon commented on #1156
@VivekPanyam  Thank you so much! It looks like this is exactly what I need. I will try to write POC. If it works, I will definitely share it.

[2021-05-20 23:46] jimthompson5802 opened #1181 "ZeroDivisionError in audio feature prediction with only a single record"
**Describe the bug**
When generating a model prediction  involving an audio feature and the data set contains only one record, a `ZeroDvisionError` exception is raised in `ludwig.utils.audio_utils.calcuate_var()` function.  The error occurs because the variable `count = 1` which results in a zero in the denominator of this expression:
[code]

**To Reproduce**
Steps to reproduce the behavior:
Run u

[2021-05-21 06:25] carlogrisetti commented on #1078
Never saw this message, sorry @w4nderlust . It does indeed fix the issue. I just had it resurface in a non-master updated install... and as soon as I updated to master it worked flawessly

[2021-05-22 01:24] w4nderlust commented on #1078
great to hear!

[2021-05-23 01:13] w4nderlust commented on #484
It took a while from the original request, but PR #1174 addresses this issue, closing it, please let us know if this works for you @Jim2002 .

[2021-05-23 01:13] #484 closed

[2021-05-23 01:13] w4nderlust commented on #268
It took a while from the original request, but PR #1174 addresses this issue, closing it, please let us know if this works for you @Felix-N  .

[2021-05-23 01:13] #268 closed

[2021-05-23 01:14] w4nderlust commented on #268
@carlogrisetti this should be a welcome feature for you too I believe ;)

[2021-05-23 07:43] carlogrisetti commented on #268
It most definitely is!
Gonna test it as soon as I can :)

[2021-05-23 08:04] carlogrisetti commented on #1101
@camaya7 I have had the same pip behavior recently (cascading between different package versions and then ultimately failing).
Solution was to uninstall the package I was trying to install and reinstall it, and\or installing with `pip install ludwig --force` which tells pip to reinstall all packages involved.

In my case there was some cache\temp corruption, and this fixed it

[2021-05-25 21:26] carlogrisetti opened #1185 "Latest master expects a test.hdf5 no matter what"
(hahahahaha I opened this issue on another project, and was wondering why it took so long for you guys to respond, since you're really quick usually hahah)

Training from latest master, with a force_split = False and the valued split column in the dataset.csv file.
If you only specify split 0 and 1 (to have only the training and validation dataset), this works correctly when no .hdf5 is present an

[2021-05-27 19:27] tgaddair commented on #1185
Thanks for reporting @carlogrisetti. This will be fixed by #1176, but there are currently some test failures / design tradeoffs being explored there.

cc @w4nderlust

[2021-05-27 20:14] camaya7 commented on #1101
@carlogrisetti Hi Carlo, thanks so much for the tip, you're the man. It installed Ludwig correctly for the most part.

I'm dealing with with an "zsh: illegal hardware instruction" error whenever I try to run anything like `ludwig train` or `ludwig experiment`. Any idea what this could be? I've installed Tensorflow 2.4.0-rc0 separately in case that's what was missing but nothing yet.

[2021-05-28 05:38] carlogrisetti commented on #1101
This may help you
https://github.com/apple/tensorflow_macos/issues/143

[2021-05-30 01:21] farazk86 opened #1188 "How to provide class weights for an imbalanced datasets?"
Hi,

I have a fairly imbalanced dataset. I am using this to learn a feature and am replying on dependency learning to get better results, i.e. [as explained here](https://ludwig-ai.github.io/ludwig-docs/user_guide/#output-features-dependencies), I have a coarse feature, who identification helps in identifying a fine feature.

Below is my model configuration for the above goal:
[code]

The problem

[2021-05-30 11:46] jenishah commented on #1130
Hi @jimthompson5802 , I admire this library and I would like to contribute.

I think https://github.com/ludwig-ai/ludwig/blob/9f03752c093949b6216f4a004549e0f0865fa442/ludwig/features/base_feature.py#L474

is causing the error. I tried by commenting out while keeping the loss type `softmax_cross_entropy` and it worked. I am not sure if that could have undesirable effects.

If you think I can work o

[2021-05-30 12:17] jimthompson5802 commented on #1130
@jenishah  thank you for the positive feedback on Ludwig.

Re: the issue you are reporting.   Please provide a the `config.yaml` and a small dataset, if possible, to see if I can reproduce the error.

[2021-05-30 21:02] farazk86 commented on #1130
Thanks for identifying the cause of this error :)

Did you find any effect of commenting this line out on your final result?

[2021-05-30 21:11] jimthompson5802 commented on #1130
@farazk86  @jenishah I forgot to mention a PR was recently merged that fixed the `sampled_softmax` issue.  This fix will be in the next release of Ludwig.  In the meantime, if you want to see if the fix addresses this issue, just uninstall Ludwig and reinstall from Ludwig's main branch using this command:
[code]
Let me know if this helped or not.

[2021-05-31 13:22] farazk86 commented on #1130
Hi Jim,

Thanks for the reply. I was excited that the problem was resolved and uninstalled previous ludwig and installed from the above location as mentioned, but unfortunately I am getting the same error as before for the same dataset in my first post :(

[code]

I tried with ``sampled_softmax_cross_entropy`` and ``softmax_cross_entropy``.

by installing from git link my ludwig version is : ``0.4

[2021-05-31 14:12] jimthompson5802 commented on #1130
@farazk86 thank you for the feedback.  Looks like there may be another subtle issue still left over from the latest PR.  Let me take a look at it.

[2021-05-31 22:55] w4nderlust commented on #1188
Hi @farazk86 , you may be right and the dealing with the class imbalance of the mode can potentially improve your results.

My suggestions in that case would be to do either of two things:
1. use oversampling on the training set for obtaining more datapoints belonging to rare classes. This you should do outside Ludwig. You can make all classes equal in count for instance, or you may just oversampl

[2021-06-01 05:48] mangleddata opened #1190 "Combined loss does not match"
Not sure if this is expected or not, but for single output feature I see the reported loss value don't match with combined value. It looks like below
[code]

In some cases, the combined loss corresponding to validation set is significantly different than other metric. Any idea ?

[2021-06-01 19:11] tgaddair commented on #1185
Hey @carlogrisetti, can you try #1189 and let me know if it fixes the issue for you?

[2021-06-02 01:37] #1185 closed

[2021-06-02 11:55] jenishah commented on #1130
I was able to run the code with that.. But I did not get chance to look deep enough and verify if it is safe to add flag to skip that part.

[2021-06-03 00:25] w4nderlust commented on #1190
@mangleddata  did you get this using Ludwig 0.3.3? This PR should have fixed this already: https://github.com/ludwig-ai/ludwig/pull/1103

Anyway, in some cases the combined loss may still not match. For instance that is true if you have regularization, as the combined loss is the weighted sum of the losses of each output plus regularization.

Closing for now, let me know if the problem persists on

[2021-06-03 00:25] #1190 closed

[2021-06-03 00:28] w4nderlust commented on #1097
This has been fixed in https://github.com/ludwig-ai/ludwig/pull/1103

[2021-06-03 00:28] #1097 closed

[2021-06-03 00:29] w4nderlust commented on #1096
https://github.com/ludwig-ai/ludwig/pull/1103 fixed this

[2021-06-03 00:29] #1096 closed

[2021-06-03 00:31] w4nderlust commented on #548
@justinepdevasia the issue was solved in https://github.com/ludwig-ai/ludwig/pull/1103 Let me know is you still encouter the issue

[2021-06-03 00:31] #548 closed

[2021-06-03 14:32] farazk86 commented on #1130
Hi @jenishah did you manage to run the code with the line of code you refered to earlier commented out or did your installation of github run on my data without any modification to the code?

Thanks

[2021-06-03 23:45] farazk86 commented on #1188
Thanks for the reply @w4nderlust

I calculated the ``class_weights`` for each class using the following formula for each ``mode`` value:

`wj=total_samples / (n_classes * n_samplesj)`

and provided the weights in a dictionary format as suggested:

[code]

This was calculated from a cleaned dataset that does not have any empty rows or columns and does not have any nan values (to the best of my know

[2021-06-04 00:55] w4nderlust commented on #1188
@farazk86 this looks good to me, I would have computed the weight in a slightly different way as I reported above, but if the logic of ho the weights are computed, then go for it.
Regurding UNK, the importance of it depends on how big the vocabulary of classes is and how many missing ones your dataset contains, but setting it to 1 is definitely a reasonable default.

[2021-06-04 02:46] jenishah commented on #1130
I ran on your data, and you yaml file, but I commented out the line that I mentioned. Also, it worked only with `softmax_cross_entropy` loss

[2021-06-04 10:33] farazk86 commented on #1188
@w4nderlust  Thanks for the reply.

I got the formula mentioned above from a medium article talking about how to handle class imbalance.

Can you please suggest an alternative better way?  :)

Thanks

[2021-06-04 20:30] w4nderlust commented on #1188
No that sounds totally fine to me :) I was suggesting `min(class_frequencies)/class_frequency` just because that has an upper bound of 1 for rare classes and all others would have a score less than 1, but I didn't have a specific theory to support it, I was just following intuition.
Would actually be great if you could post the source of that formula here so that otehr people with the same problem

[2021-06-07 11:06] farazk86 commented on #1188
Yes, sure.

Below is the code I used to print out a dictionary with the calculated weight of each class in the ``mode`` column, and then just copied this dictionary into the model configuration file.

[code]

[2021-06-08 15:53] mangleddata opened #1197 "Is it possible to disable shuffle ?"
Is there a way to disable shuffle of data during the processing of mini batches ? Let's say I have organized my train data = [0...1000] and my batch size is 256. I would like to force mini batches to process data in the same order without any randomization or shuffling.
batch 0 = [0..255]
batch 1 = [256..511] and so on..

[2021-06-08 19:07] tgaddair commented on #1197
Hey @mangleddata, good question. It's not supported in the latest release, but I just added #1198 which should allow you to configure this:

[code]

[2021-06-08 19:17] mangleddata commented on #1197
@tgaddair That's great and thank you! I will give this a try.

[2021-06-10 13:09] farazk86 opened #1204 "<PAD> is not used as the padding token when tagger decoder is used"
**Describe the bug**
When a ``generator`` decoder is used then the predicted output contains the ``<PAD>`` keywords which can be easily removed. But when a ``tagger`` decoder is used, a character from the input string is used as the pad token and it is really difficult to differentiate between the actual data and the padded tokens.

Due to https://github.com/ludwig-ai/ludwig/issues/1130 I cannot u

[2021-06-10 21:33] camaya7 commented on #1101
@carlogrisetti thanks for the tips. In an attempt to resolve the previous issue, I uninstalled ludwig and haven't been able to get it up and running again. It seems my cache is corrupt and there are conflicts with Tensorflow and other packages.  Tensorflow-2.4.0-rc0 throws "Could not find a version that satisfies the requirement" errors so I've removed it from the requirements.txt file although I

[2021-06-10 21:47] w4nderlust commented on #1101
Debugging package dependencies issues is always tricky. Would creating a new virtualenv an option? that may be the most straightforward way.

[2021-06-14 17:44] victoriayue opened #1208 "Can't install latest version on macOS"
**Describe the bug**
I follow the installation guide to install Ludwig using a virtual environment. But the version I can only install is 0.1.0.
I try to use `pip install --upgrade ludwig`, but the ludwig version didn't change
and I try to use `ludwig experiment` like the first example, it's also not working.

**To Reproduce**
Steps to reproduce the behavior:
1. `virtualenv -p python3 venv`
2. (af

[2021-06-14 17:56] jimthompson5802 commented on #1208
@victoriayue  Sorry to hear you're having trouble installing Ludwig.  To be able to assist you, I need a better understanding of the situation.
* You write about installing Ludwig v0.1.0.  The current release of Ludwig is v0.3.3.  Is there a reason you're installing an older version?
* You identify the OS as MacOS Big Sur.  I just want to confirm the hardware platform.  Is your Mac based on the In

[2021-06-14 18:11] victoriayue commented on #1208
Thanks for the quick reply! @jimthompson5802

* because I would like to install the latest version which is v0.3.3, but when I type cmd `pip install ludwig`, it install the version v0.1.0 automatically. I don't know which part was wrong.
* the processor is Intel Core i9

[2021-06-14 18:15] jimthompson5802 commented on #1208
One thing you can try is to be explicit on the version, e.g., `pip install ludwig==0.3.3`

Let me know if this helps.

[2021-06-14 18:26] victoriayue commented on #1208
@jimthompson5802 I just try the cmd, here is the result looks like

Collecting ludwig==0.3.3
  Using cached ludwig-0.3.3.tar.gz (233 kB)
Requirement already satisfied: Cython>=0.25 in ./venv/lib/python3.9/site-packages (from ludwig==0.3.3) (0.29.23)
Collecting h5py<2.11.0,>=2.6
  Using cached h5py-2.10.0.tar.gz (301 kB)
Requirement already satisfied: numpy>=1.15 in ./venv/lib/python3.9/site-packag

[2021-06-14 19:11] jimthompson5802 commented on #1208
@victoriayue   I ran the `pip install` command you tried and was able to install ludwig 0.3.3.  I noticed from the install log provided, some of the components appear to be already stored in the local pip cache.  In my case, I'm installing into an empty environment and all components are downloaded.

As a test can you try an install that bypasses the local pip cache, i.e., force a download of all

[2021-06-14 19:23] victoriayue commented on #1208
@jimthompson5802  :(

 % pip install --no-cache-dir ludwig==0.3.3

Collecting ludwig==0.3.3

  Downloading ludwig-0.3.3.tar.gz (233 kB)
     |████████████████████████████████| 233 kB 1.6 MB/s
Requirement already satisfied: Cython>=0.25 in ./venv/lib/python3.9/site-packages (from ludwig==0.3.3) (0.29.23)
Collecting h5py<2.11.0,>=2.6
  Downloading h5py-2.10.0.tar.gz (301 kB)
     |██████████████████

[2021-06-14 19:30] jimthompson5802 commented on #1208
For some reason, the pip install does not seem to be able to pickup `tfa-nightly==0.12.0.dev20201215223743`, which is one of the dependencies for ludwig 0.3.3.

As a separate test, please try this pip install command.  We're now trying to see if there is a problem in installing that dependency.
[code]

[2021-06-14 19:41] victoriayue commented on #1208
@jimthompson5802 looks like the tfa-nightly doesn't have 0.12.0.dev20201215223743 version? just guess

pip install tfa-nightly==0.12.0.dev20201215223743

ERROR: Could not find a version that satisfies the requirement tfa-nightly==0.12.0.dev20201215223743 (from versions: 0.13.0.dev20210514172808, 0.13.0.dev20210514175928, 0.13.0.dev20210515174335, 0.14.0.dev20210515174343, 0.14.0.dev20210515190502,

[2021-06-14 19:57] jimthompson5802 commented on #1208
@victoriayue   I may have an explanation.

the `tfa-nightly` dependency is for the `tensorflow_addons` package.  It appears that this version of the package was built for only Python 3.6, 3.7 and 3.8.  Here is a screenshot of the [available downloads](https://pypi.org/project/tfa-nightly/0.12.0.dev20201215223743/#files) for this package:
<img width="881" alt="image" src="https://user-images.github

[2021-06-14 21:17] victoriayue commented on #1208
@jimthompson5802 Thanks for the help. I try python 3.8 and it works!

[2021-06-14 21:17] #1208 closed

[2021-06-14 21:58] camaya7 commented on #1101
Thanks, I tried out a new virtualenv and it helped in installing ludwig and its packages but I'm still getting an "illegal hardware instruction" error once I try to train a model, even with TF correctly installed. I'm getting the feeling I'm going to have to use another machine...

[2021-06-18 11:18] flutterq commented on #201
All Possible Working Solution Added [[Solved] pandas.parser.CParserError: Error tokenizing data. C error: Expected 2 fields in line 3, saw 12](https://flutterq.com/solved-pandas-parser-cparsererror-error-tokenizing-data-c-error-expected-2-fields-in-line-3-saw-12/)

[2021-06-22 19:26] vreyespue commented on #261
@w4nderlust I think in the last version of ludwig (0.4) this is happening again.
I get as well the mentioned error message, i.e.
[code]
Could you maybe double check?
If so, should we reopen this issue, or create a new one?
Many thanks and best regards.

[2021-06-22 23:51] w4nderlust commented on #261
@vreyespue it's a different error.
Can you please open a separate issue about it with instructions on how to reproduce it?
I run the `simple_model_training.py` in the `examples/titanic`, which I believe is what you were running, and it works fine.

[2021-06-23 00:40] jimthompson5802 commented on #1204
@farazk86   In regards to the tagger decoder, you don't have to use <PAD> to determine the sequence length.  When a prediction is returned, the length of the sequence is returned as the second element in the tuple.  For the Tagger use the length tensor to determine the output sequence.

Hopefully, this answered your question.

[2021-06-23 12:00] farazk86 commented on #1204
Thanks Jim, but it looks like I the I can see the length of the sequence using the ludwig python api. I'm using the console to run ludwig, would this be possible using the command line or do I have to use the api?

Thanks

[2021-06-23 12:37] vreyespue commented on #261
Hi @w4nderlust I got this issue both in macos and linux, simply by doing a `pip install ludwig` and executing `simple_model_training.py` in the `examples/titanic` folder. Actually I think it is because [here](https://github.com/ludwig-ai/ludwig/blob/master/examples/titanic/simple_model_training.py#L24) we call the api with config as str (i.e. file path), and [in the api](https://github.com/ludwig-

[2021-06-28 23:34] victoriayue opened #1218 "can the sparse vector be the input"
**Describe the bug**
Hello! I'm trying to input a list of sparse vectors and train a model. I don't know whether it's okay to do that or I need to convert that to a dense vector. And if that's acceptable, where should I put the shape, indices, and values of the sparse vector.

(I don't know whether the bug report is the correct label. Please help me correct it if I use the wrong label. )

**Expect

[2021-06-29 00:28] jimthompson5802 commented on #1218
@victoriayue If I understand your question, I believe you need to convert the sparse vector to a dense one.  Ludwig's Vector input Feature is a space delimited series of numbers.  Here is an example of a csv training dataset composed of a Vector Feature (vector_feature) and Binary Feature (binary_feature)
[code]

As you can see, the vector feature is a series of floating point numbers separated by

[2021-06-29 00:31] jimthompson5802 commented on #1204
Right now it requires use of the api.

[2021-06-29 00:42] victoriayue commented on #1218
ok, I got it! Thanks for the help!

[2021-06-29 00:42] #1218 closed

[2021-06-29 00:47] #1093 closed

[2021-06-29 00:47] jimthompson5802 commented on #1093
Closed by #1103

[2021-06-30 10:10] ericxsun opened #1221 "Why create a MultiHeadSelfAttention class instead of using tf.keras.layers.MultiHeadAttention"
In attention_modules, why could we create a new class **[MultiHeadSelfAttention](https://github.com/ludwig-ai/ludwig/blob/b1bfb823d2dbfe638e859f4140dbcbe689b9a06e/ludwig/modules/attention_modules.py#L40)**, but does not use the implementation in **tf.keras.layers.MultiHeadAttention(ref [doc](https://www.tensorflow.org/api_docs/python/tf/keras/layers/MultiHeadAttention), [code](https://github.com/t

[2021-06-30 19:34] w4nderlust commented on #1221
THat class was introduced in TF 2.5 and we want to be compatible with older versions too at the moment. When we'll get to the point where 2.5 is the minimum version we support, then we can do the switch. Anyway, there should not be any functional difference between our implementation and the TF one.

[2021-06-30 19:34] #1221 closed

[2021-06-30 21:09] Derrick56007 commented on #261
Can confirm this issue on linux with ludwig==0.4.

[2021-06-30 23:03] w4nderlust commented on #261
The PR #1213 was merged.

[2021-07-02 17:25] amholler commented on #1101
FWIW, here's how I set up my mac m1 for ludwig.
https://docs.google.com/document/d/1Q1t9x4GN9rMnilMt2MohaiplmjUPOTcBkS2KpeT_p3s/edit?usp=sharing

[2021-07-03 19:29] camaya7 commented on #1101
@amholler Thanks for this, I'm going to give it a shot and report with results.

[2021-07-04 00:01] amholler commented on #1101
Sounds good, @camaya7 .  BTW, I updated the google doc to indicate that I just successfully got through the first epoch of
my experiment of running "python train_higgs_small.py" with the update to reduce eval_batch_size.  Woohoo.
The less good news is that my activity monitor memory status is yellow; AFAICT, the python train is swapping.  Maybe
I should reduced batch size.  I have 16G; how bout yo

[2021-07-06 19:25] camaya7 commented on #1101
@amholler, I went through your setup procedure but stalled in the ludwig install with a `Installing build dependencies ... error` so I tried to install the requirements through Miniforge/conda but it didn't help. Any suggestions? It's great you were able to get through that first epoch. I've yet to test a model on my M1 (8G) but will hopefully find out how the memory status responds soon.

[2021-07-06 19:55] amholler commented on #1101
Hmm, @camaya7 not sure what the issues are.  Just to verify, you did the steps in my google doc
under "Install Tensorflow" into a conda environment and you were on the step of trying to run
"pip3 install ." from a local copy of the ludwig source tree?  What error did you see?

[2021-07-06 20:03] camaya7 commented on #1101
@amholler, yeah, I followed the steps in setting up the conda environment and got to the "pip install ." step from the source tree. Then, that I ran into a bunch of errors from individual packages not installing correctly an so on.  So, I installed all the ludwig reqs separately and ludwig installed all the way through. However, when I try to run a model, I'm now getting the error:  "illegal hardw

[2021-07-06 20:10] amholler commented on #1101
yeah, I believe that that means you are running the wrong version of TF.
Does your "conda list" output look like mine (in the last section of the doc)?
Did you install TF by running the following in your conda environment?
pip install --upgrade --force --no-dependencies https://github.com/apple/tensorflow_macos/releases/download/v0.1alpha3/tensorflow_macos-0.1a3-cp38-cp38-macosx_11_0_arm64.whl htt

[2021-07-07 00:10] camaya7 commented on #1101
@amholler, I was pretty much running into the same errors as you so I followed through with your file, thanks so much for documenting it all.  Ludwig is finally properly installed on my machine.

[2021-07-16 17:12] w4nderlust opened #1234 "Predictions not getting saved"
Hi there, I'm super new to ML and Ludwig, so I'm almost certainly missing something. I'm trying to complete an example in the getting started guide, but I'm stuck when it comes to getting predictions to work.

I'm using the `epinions-1.csv` (CSV file with a `class` and a `text` column) as suggested in the getting started guide and I'm running Ludwig using the official Docker container. The followi

[2021-07-16 22:09] jimthompson5802 commented on #1101
I just noticed this on Anconda's blog re: Apple's M1 chip support.  It was published yesterday, 15Ju.
https://www.anaconda.com/blog/apple-silicon-transition

Conclusion of the posting
![image](https://user-images.githubusercontent.com/1425269/126013063-d10abaa6-d9dc-440f-8fb9-c747dce2b078.png)

[2021-07-16 22:50] w4nderlust commented on #1101
To be honest, I don't agree with that assessment.
It is true that today (July 2021) doing data science on an M1 Mac is more difficult than doing it on an Intel Mac, but the reason is not that the machine are "not aimed at the data science and scientific user yet", the reason is that most of the data science stack in Python actually relies on libraries with heavy C/C++ bindings that need to be comp

[2021-07-22 14:08] carlogrisetti opened #1241 "Output sequence tagger has wrong probabilities output"
**Describe the bug**
In Ludwig 0.1.x and 0.2.x when having an output feature using a tagger (like in the https://ludwig-ai.github.io/ludwig-docs/examples/#natural-language-understanding example), all the various slots were correctly tagged, and for each slot you were presented with an array of confidence values, representing each possible slot tag confidence.
In 0.4.0 (and also happens in 0.3.x) y

[2021-07-26 21:10] w4nderlust commented on #1241
The reasoning for removing all the probabilities was that the output tensor would be very big (imagine batch x 256 words x 1000 classes) and in some cases that led to issues.
So here i see two things we may want to do:
1. first of all make sure that the output probabilities reproting the highest probability have the same length of the input (that should be a straightforward fix)
2. maybe add an op

[2021-07-26 21:18] carlogrisetti commented on #1241
In my use case I would only need the probability associated with the chosen tag, but I understand the dilemma.

Could a generator be of any use? It should not instantiate objects unless an actual read is performed (I think this is the perfect use case but I wouldn't know how to integrate it)

In any case there's also something else behind that thing... In the probabilities array I now see escaped

[2021-08-02 00:31] Losbal opened #1249 "mpirun/horovod not using multiple GPUs"
I am trying to run an experiment via the CLI on a single node of a remote HPC cluster with 4 Tesla K80 GPUs, but running nvidia-smi shows that only of the GPUs is actually being utilized, even though I do see 4 PIDs listed for each of the GPUs in the list of processes. I am aware of previous issues with Horovod -- namely [https://github.com/ludwig-ai/ludwig/issues/143](https://github.com/ludwig-ai

[2021-08-02 01:19] tgaddair commented on #1249
Hey @Losbal, thanks for reporting this. Let me see if I can reproduce the error. Can you tell me what version of TensorFlow, Horovod, MPI, and Ludwig you're using.

[2021-08-02 01:33] tgaddair commented on #1249
One thing that stands out is the use of `-g 0 1 2 3`. Can you try removing this and let me know what happens?

[2021-08-02 01:46] Losbal commented on #1249
Hey @tgaddair - thanks for replying so quickly! Removing `-g 0 1 2 3` appears to have solved it... I can see through nvidia-smi that all 4 GPUs are now being utilized between 88% and 95%. I was going nuts over here and you have no idea how much I appreciate your help - thanks a lot!

[2021-08-02 01:46] #1249 closed

[2021-08-02 01:48] tgaddair commented on #1249
Awesome! Feel free to reach out if anything else comes up.

[2021-08-02 17:40] w4nderlust commented on #1249
The logic is that the gpus parameter is a parameter assigned for each worker, so if you run without horovod it would assign 4 gpus to one regular worker (not very useful). If you run with horovod, each of the n workers will have 4 gpus assigned. If you don't specify gpus, horovod+Ludwig will figure out the assignment (in this case 1 gpu per worker).
Hopefully this makes sense, and we should probab

[2021-08-03 15:03] Losbal opened #1250 "Ensuring Teacher Forcing During Prediction of Seq2Seq Experiment"
I am running `ludwig experiment` in the CLI to train a transformer model with just one input feature and one output feature as part of a grammatical error correction task, where the input is an English sentence which may contain an error and the output is the corrected version of that sentence, if any errors and any corrections are to be made at all. Both features are tokenized at the word level w

[2021-08-04 07:18] #1250 closed

[2021-08-17 08:58] m-kazuya opened #1259 "ValueError: Could not find a format to read the specified file in single-image mode"
Hi,
I'm trying create a face recognition model using the following dataset: http://vis-www.cs.umass.edu/lfw/, however,  I cannot start training because of the following error:
...

Building dataset (it may take a while)
Loading training file...
done
Loading validation file..
done
Loading test file..
done
Concatenating files..
done
multiprocessing.pool.RemoteTraceback:
"""
Traceback (most recent ca

[2021-08-17 19:52] victoriayue opened #1261 "ModuleNotFoundError no module named 'tensorflow.contrib'"
**Describe the bug**
Hello, sorry for asking the dummy question again.
when I run `ludwig train ...` in terminal, it shows `ModuleNotFoundError: No module named 'tensorflow.contrib'`

I faced the problem before when I start using Ludwig for the first [time](https://github.com/ludwig-ai/ludwig/issues/1208 ).
And the developer helped me fix that by changing the python version to 3.8
However, at this

[2021-08-18 01:32] jimthompson5802 commented on #1261
@victoriayue   I'll need some additional information to help you.

* What computer hardware you are using and the OS version?
* Please post the full `ludwig train ....` command issued
* Please post the `config.yaml` describing the model
* Please post the full run log where the error occurs.
* Please post output from `pip list` command.

[2021-08-18 02:07] jimthompson5802 commented on #1259
@m-kazuya

My first impression based on the information provided is that the `image_path` value in the csv data set may be incorrect.  The value should be the fully qualified path location for an image.  the sample value shown does not appear to be that.  I would have expected `image_path` value would be something like `<parent_directory_paths>/hogehoge.jpg`
[code]

Are you showing an actual row i

[2021-08-18 02:27] jimthompson5802 commented on #1259
@m-kazuya   This link is to a section in Ludwig's User Guide on image classification, it shows what I wrote about re: `image_path`: https://ludwig-ai.github.io/ludwig-docs/examples/#image-classification

[2021-08-18 06:37] m-kazuya commented on #1259
@jimthompson5802 Thank you for your reply.
As you said, there was a mistake in image_path. The csv was included some data except for jpg data.
I can clear the error and create the model!
Thank you once again!

[2021-08-18 06:37] #1259 closed

[2021-08-18 09:03] michaelbzhu commented on #1261
I'm getting the same issue when I try to run the [mnist](https://github.com/ludwig-ai/ludwig/tree/master/examples/mnist) example. I've run the following commands

[code]
I get the following error traceback:
[code]

It seems like the issue may be because `tensorflow.contrib` only existed in tensorflow v1 and not v2 according to this [post](https://stackoverflow.com/questions/55082483/why-can-i-not-

[2021-08-18 09:56] Peetee06 commented on #1261
I have the same issue on a new Ubuntu 20.04 installation. Got Python 3.9 and ludwig 0.4.
Tried with tensorflow 2.6 and 2.5.1
It worked 3 weeks ago using tf 2.4.1 on Ubuntu 18.04 with Python 3.8.8. Can't reproduce that setup because though as I replaced it with Ubuntu 20.04..

[2021-08-18 11:04] jimthompson5802 commented on #1261
@michaelbzhu  the stack trace you provided imply that you're running a version 0.2.x version of Ludwig, when it was built on top of TF1.x.  The line numbers cited in the stack trace, coincide with Ludwig v0.2.x
[code]

The line numbers in the stack trace do not match code in Ludwig v0.3 and later.

It appears your software environment may not be correct.

if you run `pip list | grep ludwig` what d

[2021-08-18 12:21] Peetee06 commented on #1261
I just purged the pip cache using `pip cache purge` and reinstalled ludwig[serve] (as this seems to be the root cause of ludwig[full] failing as well] with `pip install ludwig[serve]`.
Full output:
[code]
for some reason it still downloads older versions of ludwig after `Collecting ludwig[serve]`.

[2021-08-18 14:24] tgaddair commented on #1261
@Praneet460 can you try forcing v0.4 by running `pip install ludwig[serve]==0.4.0`? That way, if there is a package conflict or similar, we can see what the error is.

[2021-08-18 14:26] tgaddair commented on #1261
@michaelbzhu, can you try using a version of Python lower than 3.9? Ludwig doesn't yet support it. I suspect that may be part of the issue.

[2021-08-18 15:12] jimthompson5802 commented on #1261
@michaelbzhu @tgaddair   I can confirm building with Py3.9 I can reproduce the error with pulling in older versions for Ludwig.  However building with Py3.8, the ludwig build occurs correctly, no older versions of Ludwig are pulled in.

[2021-08-18 15:36] jimthompson5802 commented on #1261
With Python 3.8 the tail of `pip install ludwig[serve]` results in ludwig 0.4.0 installed
[code]

With Python 3.9 the tail of `pip install ludwig[serve]` results in ludwig 0.1.0 installed
[code]

For the record full `pip install` logs
[pip_install_with_py39.txt](https://github.com/ludwig-ai/ludwig/files/7008400/pip_install_with_py39.txt)
[pip_install_with_py38.txt](https://github.com/ludwig-ai/lud

[2021-08-18 15:41] jimthompson5802 commented on #1261
Looks like with Py3.9, with `pip install ludwig[serve]==0.4.0` results in this error
[code]

[2021-08-18 19:49] jimthompson5802 commented on #1261
@victoriayue @Peetee06 @michaelbzhu  Based on information for the `neuropod` package, there is no Py3.9 distribution file.  The highest supported version is Py3.8.  The work-around is to use Py3.8.

![image](https://user-images.githubusercontent.com/1425269/129962425-ba5a317b-3a89-4fd5-b504-354247d1f486.png)

Let me know if Py3.8 and reinstalling Ludwig 0.4  solves the `ModuleNotFoundError`.

[2021-08-18 23:28] victoriayue commented on #1261
sorry for the late reply. @jimthompson5802 and I use python 3.8

* computer hardware: macbook pro 2019, macOS Big Sur
* the full ludwig train .... command: `ludwig train --dataset trainset.csv --config config.yaml`
* the config.yaml:
[code]
* Please post the full run log where the error occurs.
[code]
* Please post output from pip list command.
[code]

[2021-08-19 00:08] jimthompson5802 commented on #1261
@victoriayue  I understand you believe you are using Py3.8.  However, the string  `File "/usr/local/lib/python3.9/site-packages/...` in each line of your stack trace imply you are running Py3.9.

At your command line please do the following and let me know what it says
[code]
your output should look something like this
[code]

[2021-08-19 00:11] jimthompson5802 commented on #1261
@victoriayue   one more question.   Are you using any kind of Python virtual environments, like conda or env?

If you are using a python virtual environment software, please confirm what is the active environment when you run Ludwig and do a pip list in the active virtual environment.

[2021-08-19 01:28] michaelbzhu commented on #1261
@jimthompson5802 @tgaddair you're right on the issue with python 3.9; I was able to resolve the `ModuleNotFoundError no module named 'tensorflow.contrib'` issue by uninstalling the ludwig, removing the executable, switching to python 3.8 with pyenv and reinstalling ludwig.

[2021-08-19 01:36] jimthompson5802 commented on #1261
@michaelbzhu   Thank you for confirming the use of Py3.8 solved the issue.

[2021-08-19 04:49] victoriayue commented on #1261
@jimthompson5802 that's also my confusion part. i feel like I use py3.8 but the error message seems weird.
% which python
/Users/vyue/.local/share/virtualenvs/my_model-0PDuhZ6R/bin/python

% `which python` --version
Python 3.8.2

as for environment, I use `pipenv` and the `pip list` result is from active environment.

[2021-08-19 08:00] Peetee06 commented on #1261
I can confirm aswell that ludwig[serve] installs ludwig v0.4 successfully on python 3.8.

For @victoriayue 's issue it looks like for some reason `ludwig train` doesn't use the virtual environment but the base system one. Compare
`/usr/local/lib/python3.9/[...]`
of the stack trace and
`/Users/vyue/.local/share/virtualenvs/my_model-0PDuhZ6R/bin/python`
output of which python --version

[2021-08-19 10:03] jimthompson5802 commented on #1261
@Peetee06   Thank you for confirming that Py3.8 addresses the issue as well.

@victoriayue  I'm not familiar with `pipenv`.   I'm not sure what advice to offer.  Based on the experiences of @michaelbzhu  and @Peetee06 if you can correct your setup and use Py3.8 for the ludwig install, then the `ModuleNotFoundError` should get resolved.

[2021-08-19 13:41] Yard1 opened #1262 "Support for distributed training for hyperparameter optimization"
It should be possible to use distributed training (with eg. Horovod) when running hyperparameter optimization.

[2021-08-19 13:41] Yard1 commented on #1262
@tgaddair Please assign me!

[2021-08-19 17:39] victoriayue commented on #1261
@jimthompson5802 thank you and i'll double-check the `pipenv` part. Thanks for letting me know at least it's not Ludwig problem. can I close this issue?

[2021-08-19 17:59] jimthompson5802 commented on #1261
@victoriayue   If you're comfortable that the analysis points to an issue in setup of your environment and not Ludwig, I recommend closing the issue.  If after the setup question is resolved and you still encounter the issue, you can open an issue.

[2021-08-19 18:18] mbui0327 opened #1263 "Problem with resume training"
**Describe the bug**
I used the following command to resume a training:
[code]
The model did exist in `results/api_experiment_model_11/` as an output of the previous run.
But I got the following error. Wonder what is the proper way of resume training? Thanks.

[code]

[2021-08-19 20:18] #1261 closed

[2021-08-19 22:54] tgaddair commented on #1262
Awesome! Thanks for looking into this @Yard1!

[2021-08-19 23:42] w4nderlust commented on #1263
@mbui0327 it's likely an issue with documentation, we should make it more clear what's the distinction with experiment output directory and model output directory.
You would likely solve the problem by specifying:
```model_resume_path='results/api_experiment_model_11/model'```
Let me know if that solves your issue.

[2021-08-20 03:09] lrocholl opened #1265 "Multi-label classification"
I'm running some experiments using multi-label classification of movies in one or more genres based on their plot.

My model definition is the following:
model_definition = {
    'input_features':[
        {'name':'plot', 'type':'text', 'level': 'word', 'encoder': 'parallel_cnn'}
    ],
    'output_features': [
        {'name': 'genre_new', 'type': 'set'}
    ]
}

My training dataset looks like th

[2021-08-21 13:56] mbui0327 commented on #1263
@w4nderlust It does not work either with `.../model`. I got something like this
[code]

[2021-08-21 18:02] w4nderlust commented on #1263
Got it. I need to investigate a bit more in detail then, and sorry for the misleading previous answer (you ned to specify the `model` piece of the path when loading a trained model for initialization, not when resuming).

Can you provide a script to replicate the behaviour? You can use lLudwig dataset synthesizer if data is an issue. Another question is: are you resuming the training in another pr

[2021-08-25 05:35] ShreyaR opened #1270 "AttributeError: 'DataFrame' object has no attribute 'repartition' while loading datasets in ludwig.datasets"
**Describe the bug**
Running `examples/titanic/simple_model_training.py` results in the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Expected behavior: Training dataset to be loaded as a dataframe.

**Environment (please complete the following information):**
 - OS: macOS 10.15.6
- Python 3.7.11
- Ludwig version: 0.4

**Additional contex

[2021-08-29 18:24] w4nderlust commented on #1265
@lrocholl thank you for asking this question.
I believe the issue steams from the way you are providing the multiple labels.
When yo uspecify type to be `set` in Ludwig, the current expectation is that a string is provided for each row with the set of classes expresses as a whitespace separated list.
So, instead of `['Short Film', 'Documentary']` it shoudl look like `'Short_Film Documentary'`.
Try

[2021-09-02 23:42] amholler opened #1281 "Address issue that Ludwig often reports root_mean_squared_error_percentage being infinity"
This seems to be happening when target value is 0, due to divide by 0.  One example is trial_9b499_00018
in Sarcos/Hband/Tabconcat.

Piero and I discussed this; his comments:

Also, AFAICT we aren't multiplying the overall result by 100.0 to convert to percent FWIW.

[2021-09-07 11:59] plantroots opened #1291 "Performance consistency between consecutive training on the same data not achieved even if the random_seed is constant"
summary:
I have tried to train a model on the same dataset with the same random_seed (42 default) and I always get a different final model (text classifier: negative, positive, neutral categories). I might be doing something totally wrong or the random_seed parameter isn't controlling all the variability.

env:
OS: Ubuntu 20.04.2 LTS
Python:  3.8.10
ludwig_version: '0.3.3'
tf_version: '2.4.3'

tex

[2021-09-09 23:30] redwrasse commented on #1101
Out of curiosity, has anyone figured out a better way of building ludwig on an m1 at this point?  I'm dealing with this same class of problems on other projects.

[2021-09-10 00:37] WhereAmO opened #1296 "Unable to generate predictions "OSError: [Errno 22] Invalid argument""
Everytime I train a model and then try to run "ludwig predict", it does everything seemingly normally then suddenly throws an error at the end stating "OSError: [Errno 22] Invalid argument: 'results\\experiment_run_0\\Answers_probabilities_<UNK>.npy". It generates .npy files but they are all only 1kb. Any help?

[2021-09-10 01:29] jimthompson5802 commented on #1296
@WhereAmO   More information is needed about the issue you are encountering.  Please provide the following:
* the exact command you are executing.
* the `config.yaml` file describing the network model
* most importantly, the log file from a failing run.

[2021-09-10 02:59] WhereAmO commented on #1296
Scratch that, I manged to get it working. I think I was using "category" wrong in the config, I should've been using binary. Though now after fixing that I am running into a completely different issue, there is no generated .csv file when it finishes doing the prediction. Everything else generates, including "predictions.parquet", but no generates .csv file. This was my config, also logs are below

[2021-09-10 19:35] w4nderlust commented on #1296
@WhereAmO thanks for posting the details!
We are running into a bit of confusion as the docs haven't been updated yet, but right now there is not CSV that gets generated, only the parquet file. The contents are the same though, so if you load the parquet file with pandas for instance, you will find the predictions in there.
There's ongoing work to reinstitute the CSV output too: https://github.com

[2021-09-10 23:38] WhereAmO commented on #1296
It indeed contained the predictions, I managed to convert the .parquet file to a .csv and it worked perfectly.

[2021-09-13 21:59] w4nderlust commented on #1296
Great to hear!
Will keep you posted regarding the final solution to the issue though!

[2021-09-16 21:41] w4nderlust commented on #1060
@bakirillov were you able to solve the issue? In case would you be so kind to share your solution so that anyone with the same will be able to solve it too?

[2021-09-17 10:53] bakirillov commented on #1060
I did nothing, the update solved it for me;)

[2021-09-17 12:15] tboo opened #1302 "Accuracy values during multi-GPU training"
Hi,

exploring ludwig 0.4 for the first time after a long ludwig break. love the improvements. Great job, as always.

I came across some strange behavior when training with multiple GPUs using Horovod in an image classification problem. When training on a single GPU (w/o) horovod I get an accuracy <1 that progresses toward 1 during training. So far so good. Now, when I use Horovod this accuracy so

[2021-09-17 17:22] w4nderlust commented on #1060
That's great :)

[2021-09-24 05:48] ShreyaR opened #1314 "Migrate Set Features to PyTorch"

[2021-09-24 07:04] carlogrisetti opened #1315 "Missing imports if partial install"
Installing ludwig directly from master without the dask module:
pip install git+https://github.com/ludwig-ai/ludwig.git#egg=ludwig[text,image,viz]

try to run a training (for example)
execution stops due to ludwig\data\dataset\partitioned.py trying to use DataFrame which is not defined (due to missing dask in installation).

Adding dask to the requirements selection fixes the issue... ie:
pip inst

[2021-09-24 17:52] w4nderlust commented on #1281
RMSPE numerical stability t's a nasty issue and there's no consesus, see here: https://stats.stackexchange.com/questions/86708/how-to-calculate-relative-error-when-the-true-value-is-zero
That said, I believe hasing a `max(epsilon, abs(y))` as the denominator instead of `y` is a very reasonable choice.

[2021-09-24 20:40] ShreyaR opened #1318 "Migrate audio features to PyTorch"

[2021-09-24 20:55] ShreyaR opened #1319 "Migrate vector features to PyTorch"

[2021-09-24 20:56] ShreyaR opened #1320 "Migrate binary features to PyTorch"

[2021-09-24 21:01] ShreyaR opened #1321 "Migrate text features to PyTorch"
Spreadsheet for tracking Text Feature Migration

https://docs.google.com/spreadsheets/d/1X4UBsdXlue5WZ88G_nH4dzhDXKrB-x6tXdRFJnIuwio/edit#gid=0

[2021-09-24 21:02] ShreyaR opened #1322 "Migrate bag features to PyTorch"

[2021-09-24 21:04] ShreyaR opened #1323 "Migrate time series features to PyTorch"

[2021-09-24 21:04] ShreyaR opened #1324 "Migrate combiner to PyTorch"
Tabnet to be converted last.

[2021-09-26 08:30] #1181 closed

[2021-09-27 17:47] ShreyaR opened #1328 "Migrate date features to PyTorch"
- Decompose date into month, day of the year, etc
- Each component is embedding in own space

Differences from H3 features
- Day of the week, day of the month: encoded into sinusoidal

[2021-09-27 17:47] ShreyaR opened #1329 "Migrate H3 features to PyTorch"

[2021-09-27 22:07] ShreyaR opened #1330 "Make inputs to all loss and metric modules consistent"
Context at: https://ludwig-ai.slack.com/archives/C02CK64TKGQ/p1632422632009400

[2021-09-27 22:31] #1318 closed

[2021-09-27 23:44] tgaddair opened #1331 "Migrate RayExecutor to Ray SGD"
The Ray SGD v2 API is effectively an abstraction over the Horovod RayExecutor:

https://docs.ray.io/en/master/raysgd/v2/raysgd.html

The advantage of this approach is we can swap out Horovod for DDP or in the future DeepSpeed or FairScale. The only downside is the training function still needs to use the backend APIs directly. There are plans to provide a higher level API, but it's still TBD.

We

[2021-09-28 19:19] ShreyaR opened #1333 "Sequence Output Generation"
Remaining tasks:

- [ ] sequence outputs
- [ ] text outputs
- [ ] sequence and sampled softmax losses
- [ ] sequence and sampled softmax metrics
- [ ] `recurrent_modules.py`

[2021-09-28 19:36] #1323 closed

[2021-09-28 22:27] manivannansp commented on #1296
I am new to python and using Ludwig. i am just trying your test sample

ludwig train --dataset C:\data\train.csv --config "{input_features: [{name: doc_text, type: text}], output_features: [{name: class, type: category}]}"

Created the model

When i execute

ludwig predict --dataset C:\data\data.csv --model_path "C:\results\experiment_run\model" --output_directory "C:\data\predictions"

Getting be

[2021-09-28 23:28] w4nderlust commented on #1296
@manivannansp this looks like a separate issue, would you be so kind to open a new one for it? Thank you.

[2021-09-28 23:42] manivannansp opened #1334 "OSError: [Errno 22] Invalid argument: 'C:\data\predictions\class_probabilities.npy'"
**Describe the bug**
I am new to python and using Ludwig. i am just trying your test sample

ludwig train --dataset C:\data\train.csv --config "{input_features: [{name: doc_text, type: text}], output_features: [{name: class, type: category}]}"

Created the model

When i execute

ludwig predict --dataset C:\data\data.csv --model_path "C:\results\experiment_run\model" --output_directory "C:\data\pre

[2021-09-29 01:18] w4nderlust commented on #1334
Thanks for posting it in a separate Issue, will try to replicate and get back to you soon.

[2021-10-01 02:46] #1314 closed

[2021-10-02 06:20] litanlitudan opened #1341 "ValidationError: None is not of type 'string' while loading a trained model"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Train the model with the following config
[code]
2. Load it with the ludwig api
[code]

**Expected behavior**
The model should be loaded without an error.

**Screenshots**
<img width="1351" alt="image" src="https://user-images.githubusercontent.com/4970420/135705934-46a8bc3c-4e5e-4b2b-a41e-5dfe94162810.png">

**Envir

[2021-10-02 12:25] jimthompson5802 opened #1342 "Enhance Combiner Unit Test"
Update combiner unit test to confirm adding other data structures to the combiner's output dictionary, such as the `encoder_output_state` data structure from the "main input feature" sequence.   Confirm correct functioning of this code fragment in the combiners
[code]

[2021-10-02 19:28] tgaddair opened #1343 "Add Ludwig schema definition to JSON Schema Store"
We can enable auto-complete for Ludwig configs by uploading the definition to a common repo like https://www.schemastore.org/json/, which will make it available for folks using IntelliJ, VSCode, etc.

This should also follow from the work being done to improve validation coverage.

[2021-10-02 20:16] tgaddair commented on #1343
We can also look at a few schemas for reference of how we might restructure some things:

https://github.com/SchemaStore/schemastore/blob/master/src/schemas/json/lsdlschema-1.0.json

[2021-10-02 20:25] tgaddair commented on #1343
Tutorial on adding schema with autocomplete to VSCode: https://dev.to/brpaz/how-to-create-your-own-auto-completion-for-json-and-yaml-files-on-vs-code-with-the-help-of-json-schema-k1i

[2021-10-02 20:34] #1341 closed

[2021-10-03 00:09] jimthompson5802 commented on #1342
Pending future discussion after pytorch port.

[2021-10-03 00:09] #1342 closed

[2021-10-05 01:45] #1328 closed

[2021-10-05 05:37] #1320 closed

[2021-10-06 02:07] #1322 closed

[2021-10-06 16:13] tgaddair opened #1353 "[ray] Replace flatten/unflatten ops for Ray Datasets with tensors"
Following #1260, we introduced steps for [flattening](https://github.com/ludwig-ai/ludwig/blob/e201953c9d97a291ec7cd02ef41b68181e4a050e/ludwig/backend/ray.py#L243-L244) and [unflattening](https://github.com/ludwig-ai/ludwig/blob/e201953c9d97a291ec7cd02ef41b68181e4a050e/ludwig/backend/ray.py#L194-L195) the probabilities column.

However, Ray Datasets has [tensor column support](https://docs.ray.io/

[2021-10-06 16:15] tgaddair opened #1354 "[ray] Use RayDatasets for training"
This would replace the existing Petastorm data loader in Ludwig.

A few key advantages of using Ray for this:

- Pipelining
- Locality-aware splitting
- Distributed windowing for per-epoch shuffling

To unblock this, we need to add an API to Horovod-on-Ray for getting the worker actor handles in order to use Datasets’ locality-aware splitting, but that’s something that we could add pretty quickly

[2021-10-06 18:45] tgaddair commented on #1354
https://docs.ray.io/en/latest/data/dataset.html

[2021-10-06 18:54] tgaddair commented on #1354
Good example of sharded training here:

[code]

Open question: do we need to re-shard per epoch, or does the shard handle this automatically somehow? cc @clarkzinzow

[2021-10-06 21:39] tgaddair commented on #1354
Got it, this is great. Looking forward to chatting more soon.

[2021-10-10 00:10] jimthompson5802 opened #1365 "Migrate TabNet to PyTorch"

[2021-10-10 01:07] tgaddair commented on #257
Just a heads up to folks on this thread that Ludwig does now support Ray Tune for hyperopt.

https://ludwig-ai.github.io/ludwig-docs/user_guide/hyperparameter_optimization/#ray-tune-executor

[2021-10-10 01:14] tgaddair commented on #314
Hey @iXanthos @manugarri @ballcap231, a few updates on this thread:

1. Ludwig does now support a (very experimental) AutoML API you're welcome to try out [here](https://github.com/ludwig-ai/ludwig/tree/master/ludwig/automl). We will be releasing this officially in Ludwig 0.6, but you're welcome to try it out now or contribute if interested.
2. There is now a way to specify the training time both

[2021-10-10 01:14] #314 closed

[2021-10-10 01:36] tgaddair opened #1366 "[automl] Implement rules-based filtering pipeline for determining search space"
Currently, the process for generating the search space is based on a handful of heuristics that select from a handful of pre-defined configs based on properties of the dataset.

Going forward, we want to introduce a rule-based filtering pipeline that starts with a monolithic "set" of hyperparams to search over, and then applies a series of rules to "filter out" params based on the dataset and othe

[2021-10-10 04:25] tgaddair opened #1367 "[ray] Default gpu_resources_per_trial to 1 when GPUs are available"
Currently, we default `gpu_resources_per_trial` to 0 if unspecified (see [here](https://github.com/ludwig-ai/ludwig/blob/master/ludwig/hyperopt/execution.py#L924)). However, this is counter-intuitive for users running on a GPU clusters. They would most of the time prefer to have it default to something like 1 GPU per trial.

We've already accounted for this somewhat in automl ([here](https://githu

[2021-10-11 23:42] ShreyaR opened #1373 "Test and remove any regressions in modeling performance due to PyTorch migration"
Test performance regressions on key datasets

- [x] ATIS
- [x] MNIST
- [x] Titanic

These are tests that are triggered periodically that train lightweight models on standard datasets and confirm that there aren't any performance regressions.

[2021-10-11 23:44] ShreyaR opened #1374 "Remaining cleanup for PyTorch migration"
- [x] Log statements
- [ ] shape vs. size
- [ ] Rename fc_size to output_size everywhere
- [ ] Replace `module.name` with `module.__get_name()`
- [x] Remove `training`, `mask` arguments from `forward` calls --- not remove mask for sequence, text, time series.
- [ ] Names and parameters of optimizers are consistent with PyTorch naming (E.g. FCStack)
- [ ] Double check defaults (`defaults.py`)
- [ ]

[2021-10-11 23:45] ShreyaR opened #1375 "Adding unit tests and fixing integration tests"
- [x] Pass all existing integration tests
- [x] Add unit tests for updated modules, encoders, decoders (Added as separate issue #1492)
- [x] Add tests for image reading utils in image_utils.py (Added as separate issue #1571 )
- [x] Add input_shape/output_shape sanity test for sequence encoders (jim)

[2021-10-12 13:06] jimthompson5802 commented on #1324
TabNet Combiner to be submitted under a new PR.

[2021-10-12 13:06] #1324 closed

[2021-10-12 17:40] #1330 closed, assigned to ShreyaR

[2021-10-13 22:05] Yard1 opened #1387 "`data.preprocessing.py::get_split` can assign no data to a split"
**Describe the bug**
[`data.reprocessing.py::get_split`](https://github.com/ludwig-ai/ludwig/blob/8095b112c4fbd332804f274be3aa9d897d7f57a9/ludwig/data/preprocessing.py#L1337) uses a stochastic method of assigning parts of dataset to splits (train, validation, test). There is therefore a chance that a split will not receive any data. That chance is magnified with very small datasets.

I would eithe

[2021-10-14 22:34] #1321 closed

[2021-10-15 04:58] tgaddair commented on #1101
Hey @luisrh01, you can try using TF 2.6 with Ludwig, most things should work, though we ran into a few issues related to distributed training (so if you're not doing distributed training, it should be generally supported). We'll also be completing a migration to PyTorch in the next few weeks, which could help simplify things here as well.

[2021-10-15 10:05] carlogrisetti opened #1389 "Plateau batch size increase does not correctly update CLI output values"
Latest master on python 3.9 on Windows with all the components updates, training with the `increase_batch_size_on_plateau` enabled.

When the batch size increase happens, the training total batches number is not changed. This causes the statistics\graphs output in the CLI to be mismatched with the actual training that is being performed.

Also, I expected that the training\validation\test evaluati

[2021-10-15 11:13] sizhky opened #1390 "REFS_OK flag was not enabled"
**Issue**
I'm getting above error on trying to train mnist in colab

Here's the last stack trace -
[code]

**To Reproduce**
Run this notebook - https://gist.github.com/sizhky/adac2821f76335cb0f72592ab332673a

**Environment (please complete the following information):**
 - Whatever is the latest in google colab

[2021-10-15 18:50] justinxzhao opened #1394 "Add precommit hooks enforcing style"
The formatter / styler that we choose have easy integrations with common editors like PyCharm and VCcode.

Suggested options:
- black (https://pypi.org/project/black/)
- flake8 (https://flake8.pycqa.org/en/latest/)
- pylint (https://pylint.org/).

Once the precommit hooks are active, the developer guide should be updated with this information.

[2021-10-17 12:24] #1262 closed

[2021-10-20 04:59] tgaddair commented on #1390
Hey @sizhky, sorry for the late reply. Do you also get this error when you run the official mnist example [here](https://github.com/ludwig-ai/ludwig/tree/master/examples/mnist)?

[2021-10-20 07:11] tgaddair opened #1400 "[ray] Use Ray Train trainer for distributed hyperopt"
Currently distributed hyperopt has been implemented to use the legacy Ray Executor / Petastorm trainer. We should migrate it to use the new Ray Train / Ray Datasets trainer following #1391.

[2021-10-20 14:52] tgaddair opened #1401 "[ray] Implement automatic scale-up of workers over time"
One of the key takeaways from the [Elastic Horovod](https://eng.uber.com/horovod-ray/) work was that there are cost, throughput, and convergence benefits to incrementally scaling up over time, similar to the `increase_batch_size_on_plateau` on param.

For distributed training, we can adjust this behavior to, instead of increasing the per-worker batch size (which we can assume is already set to max

[2021-10-20 20:33] #1389 closed, assigned to nobody

[2021-10-21 00:07] tgaddair opened #1403 "Eval batch size does not scale at runtime with train batch size"
The eval batch size is only set once at the beginning of training. However, the train batch size can scale up during training. When this happens, we should also increase the eval batch size, if possible, as any batch size that works for training should also work for inference.

https://github.com/ludwig-ai/ludwig/blob/master/ludwig/models/trainer.py#L909

Specifically:

[code]

See #1389.

cc @car

[2021-10-21 00:12] tgaddair opened #1404 "Allow eval_batch_size=auto in the config"
The eval batch size can be set arbitrarily large without consequence in most cases, particularly if the user has a GPU. We just need to make sure we don't OOM. Similar to supporting this for the train batch size, we should support setting it for the eval batch size as well.

[code]

See #1389.

[2021-10-21 00:28] carlogrisetti commented on #1389
@tgaddair `tune_batch_size` is simply sweet. Never thought of adding this, but in retrospective this could have been a much wanted feature.
Thanks!

As for the eval_batch_size not increasing when train_batch_size increases, that's exactly what I meant. The autotuning would be great there also.

[2021-10-21 00:33] w4nderlust commented on #1403
Makes total sense.

[2021-10-21 00:34] w4nderlust commented on #1404
Also this one makes a lot of sense. because of the lack of gradients i expect the eval batch size could grow to up to 2x the the already optimized train batch size.

[2021-10-21 05:03] tgaddair opened #1406 "[ray] Implement evaluation on Dask DataFrames"
Currently, `LudwigModel.evaluate` only works with the Pandas backend. We should make it work with Ray by enabling support for passing in Dask DataFrames.

[2021-10-21 17:04] tgaddair opened #1409 "[ray] Fix auto batch size and learning rate detection with remote backend"
In the current implementation, both the `tune_learning_rate` and `tune_batch_size` methods of the Trainer are not implemented for remote backends. This means they will default to running locally, but this is not useful if the remote trainer uses a GPU, as the head node will not have a GPU in its context.

Similarly, the current implementation sets the batch_size and learning_rate properties on the

[2021-10-24 20:14] tgaddair opened #1416 "[ray] Perform preprocessing before hyperopt when possible"
Currently, we perform preprocessing for every trial separately regardless of whether any preprocessing params are being tuned. This is inefficient, and also seems to cause a deadlock when using RayDatasets with dynamic resource allocation during tuning.

Instead, we can perform preprocessing up front, and then reuse the RayDataset among all the trials. It may be the case that we need to persist to

[2021-10-25 19:58] #1403 closed, assigned to tgaddair

[2021-10-25 19:58] #1404 closed, assigned to tgaddair

[2021-10-28 10:34] jimthompson5802 opened #1438 "Support for Attention reducer for dependencies in PyTorch"
The `attention` reducer requires knowing the `output_shape` of a dependent feature.  Current setup in `ECD` does not support providing that information when initializing the dependency `attention` reducer.

At present, disabled `attention` reducer test cases in `test_dependencies.py`   Need to re-enable once above is resolved.

[2021-10-29 17:54] tgaddair opened #1441 "[ray] Fix dynamic resource allocation with RayDatasets"
Seems there is a deadlock that arises when using Ray Tune with dynamic resource allocation + RayDatasets. When we set `cache_format = 'parquet'`, everything works fine, but when we use the new default `cache_format = 'ray'`, trials will hang, presumably because RayDatasets are locking out some of the resources needed by dynamic allocation.

Even if we bump up the number of resources in the cluster

[2021-10-30 06:19] #1416 closed

[2021-11-01 18:21] justinxzhao opened #1451 "Migrate SavedModel to torchscript"

[2021-11-02 20:36] tgaddair opened #1460 "[torch][ray] Fix distributed metrics computation"
By default, torchmetrics will use DDP APIs to sync metrics across workers using this function:

https://github.com/PyTorchLightning/metrics/blob/master/torchmetrics/utilities/distributed.py#L96

This function can be overrideen by the parameter [dist_sync_fn](https://github.com/PyTorchLightning/metrics/blob/master/torchmetrics/metric.py#L80). There use to be a Horovod implementation of this here, b

[2021-11-10 19:11] ShreyaR opened #1477 "Enable GPU training for PyTorch"

[2021-11-12 11:12] jimthompson5802 opened #1479 "Log messages generated during training have intermittent formatting errors"
**Describe the bug**
Log messages generated during the training run have formatting errors.  This occurs in the Ludwig PyTorch implementation.

Example mis-formatted output:
[code]

**To Reproduce**
Steps to reproduce the behavior:
Run `examples/mnist/simple_model_training.py`

[2021-11-13 20:18] jimthompson5802 opened #1484 "Higgs Tabnet example terminates with out-of-memory error"
**Describe the bug**
`examples/tabnet/higgs/train_higgs_small.py` terminates with exit code 137 (out-of-memory).  During training this Warning message appears:
[code]

**To Reproduce**
Steps to reproduce the behavior:
Execute `python examples/tabnet/higgs/train_higgs_small.py`.
Note: to reduce run-time to reproduce error, I specified a local `cache_dir` to download data only once and use only a 5%

[2021-11-14 01:38] jimthompson5802 commented on #1484
Out-of-memory error is related to the combination of amount of memory on the computer and setting of `eval_batch_size` parameter in the `training` section.  If `eval_batch_size` is not adjusted to accommodate the available memory, then the out-of-memory error will occur.  For example, `eval_batch_size=500000` on a 16GB computer will result in an out of-memory error.  Setting `eval_batch_size <= 12

[2021-11-14 01:38] #1484 closed

[2021-11-18 20:38] ShreyaR opened #1492 "Add missing unit tests for all modules, encoders, decoders and features"
[Tracking sheet](https://docs.google.com/spreadsheets/d/1fYIZs3SKCFV0AsUtsUeKroONTcxpU4EZd66MK-dInVw/edit#gid=0)

[2021-11-18 21:32] ShreyaR opened #1494 "Refactor integration tests into unit tests"
Tests to refactor:

- [ ] test_audio_feature.py
- [ ] test_sequence_encoder.py
- [ ] test_sequence_features.py
- [ ] test_timeseries_feature.py

[2021-11-18 21:45] ShreyaR opened #1495 "Add tests for modeling performance regressions."
These are tests that are triggered periodically that train lightweight models on standard datasets and confirm that there aren't any performance regressions.

[2021-11-18 21:52] ShreyaR opened #1496 "Add tests to check for gradient updates"
Add tests to sanity check that doing a forward and backward pass updates model weights.

[2021-11-18 21:54] ShreyaR opened #1497 "Benchmark tf vs torch scaling performance"

[2021-11-18 21:55] ShreyaR opened #1498 "Re-evaluate support for sparse embeddings."
As part of the torch migration, support for sparsity was removed from a few modules, including embeddings.

Tasks for this issue include:
- Evaluating if it's feasible to support sparsity support in torch
- If needed, add a PR that supports sparsity.

[2021-11-19 00:57] maragato2000 commented on #1334
Hello same here with not a very different and simple model. In my case the error shows OSError: [Errno 22] Invalid argument: 'results\\class_probabilities_<UNK>.npy'

**the exact command I am executing >>>>**   (ludwigenv) C:\Users\GT>ludwig predict --dataset C:/GT/TestKyri/Jan2018AplicarMod.csv --model_path C:/Users/GT/results/experiment_run/model

**the config.yaml file describing the network mo