[2022-08-29 18:43] arnavgarg1 opened #2427 "Remove UNK token in category features when num tokens == num classes"

[2022-08-29 21:27] tgaddair commented on #2406
Awesome! Closing this for now then.

[2022-08-29 21:27] #2406 closed

[2022-08-29 21:33] ShreyaR commented on #2401
Thanks for filing this issue @Jeffwan! We're currently looking into this to see if we can repro the issue and will post more updates soon.

[2022-08-29 21:38] ShreyaR commented on #2403
@Jeffwan thanks for filing this issue. A-priori, it seems like there may not be enough CPU resources to perform the map batches call. I'm working on reproing this issue however to confirm if this is the issue, and will let you know my findings.

[2022-08-29 21:38] arnavgarg1 commented on #2403
Thanks for posting this question @Jeffwan!

I had a couple of questions to better understand when you're seeing this behavior so we can reproduce it correctly:

1. What version of Python are you using?
2. What version of Ludwig are you on?
3. What scheduler are you using in the config?
4. Are you able to confirm that you're trying this on Ray 1.13 as specified in your cluster configuration? Did yo

[2022-08-29 21:40] arnavgarg1 commented on #2403
@ShreyaR Agreed that it seems like there aren't enough resources to even start training any of the trials. That being said, I believe that Ray does account for this case (and we have a warning that we log about trials not starting) and it should not result in this behavior.

[2022-08-29 23:04] Jeffwan commented on #2402
Let me follow your steps and see how it goes. I will bring more details back later

[2022-08-31 22:23] #2427 closed

[2022-09-01 01:37] #2319 closed

[2022-09-03 00:26] qiagu opened #2448 "render config failed with key error for combiner registry in v0.5.3-v0.5.5"
**Describe the bug**
When having explicit combiner in config,  ludwig render_config fails with key error as follows

[code]

**To Reproduce**
run:

`ludwig render_config --config_str '{"input_features": [{"name": "A", "type": "number"}], "output_features": [{"name": "B", "type": "category"}], "combiner": {"type": "concat"}}'`

**Expected behavior**
key error

**Environment (please complete the fol

[2022-09-03 01:25] qiagu commented on #679
Any update on this?

[2022-09-03 22:18] arnavgarg1 commented on #2448
Thanks for raising this issue @qiagu, I'm taking a look. Will revert back with fix once I have one!

[2022-09-03 22:34] arnavgarg1 opened #2449 "[Hyperopt] `num_samples` doesn't work well with only `grid_search` parameter spaces"
Say you have the following search space:

[code]

When `num_samples` is set to 1 in this case, it produces 27 trials as expected. However, if `num_samples` is set to 2, then it produces 54 trials, which essentially includes a duplicate of each of the 27 trials.

**Expected behavior**: Ludwig can detect this and modify `num_samples` to 1 if only grid_search parameters are being used in the search s

[2022-09-04 03:55] tgaddair commented on #2448
Looks like it is working on master, but only due to luck. The combiners are getting registered due to an indirect import path, but not because we're being intentional about importing them here:

[code]

We should add explicit imports of combiners and other self-registering components here, and add unit tests for the `render_config` CLI code path (testing the CLI path should help detect this issue,

[2022-09-04 04:05] tgaddair commented on #2449
My preference here would be:

1. If `num_samples` is not provided, default to 1 (I believe this is already the default, but if this ever changes, we should be sure to account for this case).
2. If the user specified `num_samples > 1` but is using only grid search, we should issue a warning to the user, but allow trials to proceed anyway. Reason being there may be some odd scenario where the user w

[2022-09-05 02:14] jimthompson5802 opened #2450 "Tutorial colab notebooks fail"
**Describe the bug**
The MNIST tutorial notebook fails with a colab kernel restart error at the start of the training cycle.
![image](https://user-images.githubusercontent.com/1425269/188345869-c1ff54ff-75be-41b5-8c61-e18cf4c1386f.png)
![image](https://user-images.githubusercontent.com/1425269/188345896-4bf54f69-dd86-4995-8b82-9ea9fd82a6d7.png)

**To Reproduce**
Steps to reproduce the behavior:

R

[2022-09-05 14:11] jimthompson5802 commented on #2450
Possible work-around, uninstall tensorflow before installing ludwig, i.e.,
[code]

[2022-09-05 17:41] tgaddair opened #2451 "[tests] Ray nightly tests fail due to OOMs"
Ray nightly tests are failing for the Horovod + Hyperopt tests due to OOMs. These tests are the longest running and most resource intensive (7 CPUs per Ray cluster), so it is not surprising that if any tests would fail due to resource issues, these would be the ones.

[code]

Note the issues do not repro locally, where we have more memory.

https://github.com/ludwig-ai/ludwig/runs/8177672264?check

[2022-09-05 17:52] tgaddair opened #2452 "[tests] Ray nightly image tests with pandas+numpy fails with TensorDType error"
[code]

https://github.com/ludwig-ai/ludwig/runs/8177672264?check_suite_focus=true#step:10:7153

For some reason this does not repro locally, so could be an issue with different versions of pyarrow or another dependency.

[2022-09-06 16:07] dalianaliu commented on #2450
Thanks @jimthompson5802, we'll take a look. Have you resolved the issue?

[2022-09-06 18:34] arnavgarg1 opened #2458 "Learning rate tuning failure in tests/integration_tests/test_ray.py::test_tune_batch_size_lr"
[code]

[2022-09-07 07:29] ShreyaR commented on #2343
Hi @Jeffwan, great question!

The most straightforward way to get hyperopt trial status would be the `experiment_state-<datetime>.json` file that is created inside the results logdir. This file contains a list of checkpoints, where each checkpoint is a dictionary that contains information about a trial. You can take a look at the `status` key for each dictionary, and the checkpoints list overall,

[2022-09-07 16:52] arnavgarg1 opened #2464 "[Hyperopt] Trials on multi-worker clusters seem to randomly get scheduled on head/cpu/gpu workers"
**Describe the bug**
It seems like each of the trials can run anywhere, i.e., on the head node, the CPU workers, or the GPU workers. If the same experiment is run repeatedly, the trials get scheduled randomly across each of these three node types. This isn't ideal since I'd want training to happen only on the GPUs.

**Ideal outcome**
The head node should be the main driver of hyperopt while each t

[2022-09-08 08:22] ShreyaR opened #2465 "[Hyperopt] Ensure resource availability for Ray Datasets workloads when running on CPU clusters"
Running on a CPU only cluster when the number of CPUs < the number of samples currently fails. This is because the trials reserve all cores, leaving no CPUs available for Ray Datasets tasks.

From the ray team:

Some potential workarounds:

- Check to see if the number of CPUs is < the number of trials. In this case, set the `max_concurrent_trials` argument to be 1 less than the total number of CP

[2022-09-08 08:27] ShreyaR commented on #2403
@Jeffwan after looking into this more, I can confirm that this issue is caused by lack of enough CPU resources.

In your current setup, all CPU cores are reserved by the trials, and so there are no cores available for RayDataset tasks like data loading and map batches calls.

I've filed an issue #2465 that will allow Ludwig to manually throttle the number of concurrent trials you can train when th

[2022-09-08 17:03] arnavgarg1 commented on #2452
Seems to be okay on the CI now - will investigate this if it starts showing up again

[2022-09-09 03:18] arnavgarg1 commented on #2344
@jeffkinnison

[2022-09-09 16:49] arnavgarg1 commented on #2452
Seems like the issue is back, will investigate: https://github.com/ludwig-ai/ludwig/runs/8273624112?check_suite_focus=true

[2022-09-09 17:04] tgaddair commented on #2452
@arnavgarg1 the CI was okay because the test is being skipped. We still need to fix it...

[2022-09-10 20:21] arnavgarg1 commented on #2392
This is fixed

[2022-09-10 20:21] #2392 closed

[2022-09-10 20:27] #1400 closed

[2022-09-11 21:05] jimthompson5802 opened #2474 "Memory leak with resnet image encoder"
**Describe the bug**
While testing using synthetic image data, encountered this error during `model.train()` with Ludwig ResNet image encoder.

[code]

The error occurs in a 12GB Docker container.  The error occurs ONLY with the `resnet` encoder.  All the other encoders (`stacked_cnn`, `map_mixer` and `vit`) WORK as expected.

**To Reproduce**
Steps to reproduce the behavior:

Run this reproducibl

[2022-09-12 21:24] tgaddair commented on #2322
Possible duplicate of #2451.

[2022-09-13 01:34] jimthompson5802 commented on #2474
Here is some additional data on the memory issue.

Following are output from Image encoder code that have been instrumented to print amount of memory used at the entrance and exit of the `forward()` method of the image feature and the `resnet` and `stacked_cnn` encoders.

Both of the following runs involved 20 synthetic images size 224 X 244 and 3 channels.  Each group of output messages represent

[2022-09-13 02:10] jimthompson5802 commented on #2474
Tried a test with TorchVision ResNet-18 model for point of comparison.  Here are results.

|Encoder|Memory used entering image forward()|Memory used exiting image forward() method|
|-------|:----------------------------------:|:----------------------------------------:|
|tv_resnet 1st batch|640.57MB|1111.27MB|
|tv_resnet 2nd batch|1120.56MB|1296.54MB|

torchinfo parameter count for `tv_resnet`:  1

[2022-09-13 02:22] jimthompson5802 commented on #2474
Another piece of the puzzle....with the Ludwig `resnet` it appears that `Conv2dLayerFixedPadding` is adding aobut 100MB of memory used and there are numerous calls to that layer

[code]

[2022-09-13 21:16] Jeffwan opened #2483 "nightly Ludwig seems use ray air API incorrectly"
**Describe the bug**

`hyperopt` throws an error and seems it's incorrect usage on ray air API.

**To Reproduce**
Steps to reproduce the behavior:

[code]

logs

[code]

**Expected behavior**
The job should finish successfully.

**Screenshots**

![image](https://user-images.githubusercontent.com/4739316/190010540-23681dac-9ef8-44e9-8731-1bec5f596b74.png)

**Environment (please complete the followi

[2022-09-13 22:48] jimthompson5802 commented on #2450
@dalianaliu   from my perspective, uninstall tensorflow "fixed" the issue.  Kind of a hacky solution but it allowed me to continue testing.

No sure what else we can do at this time.

I'll close the issue.

[2022-09-13 22:48] #2450 closed

[2022-09-13 23:34] tgaddair commented on #2483
Hey @Jeffwan, thanks for reporting the issue. This is indeed an incompatibility on our side with Ray 2.0. Should be a quick fix. I'll take a look and get back to you.

[2022-09-14 00:24] tgaddair commented on #2483
@Jeffwan #2485 should address the issue. Let me know if you still run into any issues!

[2022-09-14 00:47] justinxzhao commented on #2474
Hi @jimthompson5802, thanks for looking more deeply at the memory usage.

I agree with your sense that there's not a memory leak happening per se, but our implementation is just using more memory.

Are there strong reasons to keep our own implementation of ResNet around, or does it make sense to switch over to torchvision's?

[2022-09-14 03:54] Jeffwan commented on #2483
Thanks! I will wait for the new image and give it a try.

[2022-09-14 04:53] #2483 closed

[2022-09-14 05:47] ShreyaR opened #2489 "PyArrow error while preprocessing CSV dataset via the CLI"
**Describe the bug**
Failure in dataset preprocessing when running the hyperopt CLI.

**To Reproduce**
`ludwig hyperopt --config rotten_tomatoes_config.yaml --dataset rotten_tomatoes.csv`

**Stacktrace**
[code]

**Environment**

- Python version: 3.8.5
- Ludwig version: 0.6.dev

**Other context**

The dataset was downloaded from [this link](https://ludwig-ai.github.io/ludwig-docs/0.5/data/rotten_t

[2022-09-14 05:52] arnavgarg1 commented on #2350
This seems to happen when `time_budget_s` is hit but the trials never started training and we see the following warning message:

[code]

The trials seem to have terminated by this point, but training seems to start after the trials have terminated and then we see something like the following:

[code]

[2022-09-14 07:02] Jeffwan commented on #2483
I can verify this has been fixed. @tgaddair Can you help cherry-pick this change to 0.6.0 release?

[2022-09-14 16:23] tgaddair commented on #2483
Thanks for verifying @Jeffwan! I've now merged this into the 0.6 release branch in #2491.

[2022-09-14 21:48] arnavgarg1 commented on #2458
This is the intended behavior, closing.

[2022-09-14 21:48] #2458 closed

[2022-09-14 23:45] camaya7 opened #2496 "Timeseries forecasting results inquiry"
Hi all,

I'm having trouble understanding what the output represents in a timeseries forecasting experiment similar to [this example](https://ludwig-ai.github.io/ludwig-docs/0.5/examples/weather/). I'm using the following data and config file:

x, x_feature
9.8,9.8 9.8 10.0 7.2 8.4 9.9 9.5
9.8,9.8 9.8 10.0 7.2 8.4 9.9 9.5
10.0,9.8 9.8 10.0 7.2 8.4 9.9 9.5
7.2,9.8 9.8 10.0 7.2 8.4 9.9 9.5
8.4,9.8 9

[2022-09-15 02:37] Jeffwan opened #2497 "Examples to use large remote dataset(s3 or minio)"
**Is your feature request related to a problem? Please describe.**

I want to use remote dataset hosted in S3 or minio. Do you have any examples? Seems most examples in ludwig website are inbuilt dataset or local files. Do you have guidance using S3 or minio?

[code]

[code]

1. I personally tried it `import dask.dataframe as dd; dataset_df = dd.read_csv('s3://bucket/myfiles.*.csv')` but notice I

[2022-09-15 03:16] Jeffwan commented on #2409
Sorry for late response.

no, I didn't specify any experiment name

Here it is.
[config.yaml.zip](https://github.com/ludwig-ai/ludwig/files/9571444/config.yaml.zip)

BTW, seems `path_to_best_model ` is removed in master now. I am using `auto_train_results.experiment_analysis.best_checkpoint._local_path` now.

[2022-09-15 03:23] tgaddair commented on #2497
Hey @Jeffwan, yes we support s3 / minio and any remote object storage supported by [fsspec](https://filesystem-spec.readthedocs.io/en/latest/).

Reading the data from minio with Dask is one way to do it. This is the easiest way to go if your environment is not configured to automatically connect to the remote storage backend. We provide a wrapper `ludwig.utils.data_utils.use_credentials` that simp

[2022-09-15 04:02] Jeffwan commented on #2403
Sorry for late reply. I was busy with other projects and get a chance to take a look.

I was using `ludwigai/ludwig:nightly` I think it's python3.8 with ludwig 0.6-dev

I didn't customize the config. I used
`ludwig init_config --dataset /data/rotten_tomatoes.csv --target=recommended --hyperopt=true --time_limit_s=300 --output /data/rotten_tomatoes.yaml` to generate the config.

[code]

I can confi

[2022-09-15 04:04] Jeffwan commented on #2403
@ShreyaR

It makes sense. I will give it a try and come back with update

[2022-09-15 04:13] Jeffwan commented on #2402
[code]

![image](https://user-images.githubusercontent.com/4739316/190312101-b5d617cf-3052-4c81-8b48-67c866942554.png)

-----
If I change `batch_size` to 128, it's same the same.

![image](https://user-images.githubusercontent.com/4739316/190312458-5e904994-bce2-4699-b134-02b2856bb3e0.png)

I feel the problem is training steps is super large number and even there's any progress, it's still 0%.

[2022-09-15 04:18] Jeffwan commented on #2343
I feel it's good to write status in file but it's hard to check status real time. Currently, I copy all files to remote once it's done. If I provide a service to check trial status, that means my backend service needs to find the file and parse it to get status which doesn't seem very promising. But I think it's still helpful to understand the statistic. For example, how many trials failed etc

[2022-09-15 04:30] Jeffwan opened #2498 "best practice to tune configs to avoid OOM issue"
I created an issue https://github.com/ludwig-ai/ludwig/issues/2154 in the past and get some clues. When I get my hands dirty, I feel it's still hard.

I tried to read files remotely and notice ray dataset consumes lots of memory and may lead to OOM issue.
Currently, each trial consumes 1 cpu. then total cpu available decides the parallelism. However, in this case, it's hard to estimate the memory

[2022-09-15 04:36] Jeffwan opened #2499 "TypeError: '>' not supported between instance of 'str' and 'int' when tune_for_memory is True"
**Describe the bug**
I tried to set tune_for_memory to True and meet TypeError.

![image](https://user-images.githubusercontent.com/4739316/190315290-4a7c7aad-a53a-4568-a907-b4ebe8dc8481.png)

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
tune_for_memory should be working without any expected error

**Environment (please complete the following information):**

-

[2022-09-15 06:25] Jeffwan commented on #2497
Let me give `ludwig.utils.data_utils.use_credentials` a try.

I asked this question is because I was not sure whether using dask dataframe is the recommended pattern since the image doesn't have it. Now it makes more sense.

[2022-09-15 06:53] Jeffwan commented on #2497
I have following envs defined:
[code]

### Option 1:  ludwig.utils.data_utils.use_credential -> failed
I tried `aws_access_key_id` or w/o credential. it shows permission denied.
[code]

### Option 2:  storage_options -> success

[code]

There's a follow up question. Seems  there's some issue reported from `dataframe.samples()`

https://docs.dask.org/en/stable/generated/dask.dataframe.DataFrame.sam

[2022-09-15 06:56] Jeffwan commented on #2497
There's a follow up question. Seems  there's some issue reported from `dataframe.samples()`. Did I miss any configuration?

https://docs.dask.org/en/stable/generated/dask.dataframe.DataFrame.sample.html#dask.dataframe.DataFrame.sample

[code]
![image](https://user-images.githubusercontent.com/4739316/190334440-20c88f29-e928-4b1e-9634-76940ffdb6e5.png)

[2022-09-15 18:54] ShreyaR commented on #2401
@Jeffwan this issue was caused because we register the trainable function used in `tune.run`, and retrieve the registered trainable on the worker nodes. This caused an issue because `register_trainable` uses the KV store in Ray, which is probably not available when using Ray client.

I've updated the code to account for this, and a fix is in progress in #2501. This fix will be included in the upco

[2022-09-15 19:05] arnavgarg1 commented on #2409
@Jeffwan

Got it! I think we might default to that from Ludwig internally

A couple of things I wanted to share:

1. I was actually wrong about the checkpoint weights and the model weights in `/hyperopt_tabnet` are equal. The weights in `/hyperopt_tabnet` are actually from Ludwig and are updated every time we run evaluation. The weights in `checkpoints` are saved based on the performance of that e

[2022-09-15 19:50] #2401 closed

[2022-09-16 00:32] tgaddair commented on #2497
Hey @Jeffwan, I see the issue here. We typically take only the first 10k rows from the Dask DF for the type inference portion to speed things up, but looks like we weren't doing that automatically in this code path. Should be fixed in #2508.

[2022-09-16 04:17] tgaddair commented on #2497
Regarding the issue with `use_credentials`, I gave you the format incorrectly. It should actually be as shown in this example: https://github.com/ludwig-ai/ludwig/blob/master/tests/ludwig/utils/test_data_utils.py#L118

So:

[code]

But if Option 2 works well for your use case, then that works too.

For reading from files given as string paths (so not needing to manually load from Dask), what would

[2022-09-16 05:18] tgaddair commented on #2499
Thanks @Jeffwan for pointing this out. We haven't been using `tune_for_memory` internally and it's experimental at the moment, but I managed to fix the issue in #2508. We should be able to land this into the 0.6 release tomorrow.

[2022-09-16 16:30] tgaddair commented on #2498
Hey @Jeffwan, do you happen to know where in the Ludwig process the error occurred? In the screenshot I didn't see any stack from the Ludwig side.

8 CPUs and 8GiB per node is pretty low. I typically run with about 3-4GiB RAM per CPU core. If you do need to run with this configuration of pod resources, you can try restricting the number of trials per node by increasing the `cpu_resources_per_trial

[2022-09-16 17:15] #2499 closed

[2022-09-16 17:49] w4nderlust commented on #2474
Our implementation was the original TF1 code from the official ResNet repo back in the days, we ported it to TF2 and then to PyTorch. it's possible that in the process  there were some suboptimal choices made. For instance, i would be curious to see what layer are they useing in the torchvision implementation instead of `Conv2dLayerFixedPadding`.
Anyway, @justinxzhao no big reason to keep our own

[2022-09-16 17:55] jimthompson5802 commented on #2474
@w4nderlust  @justinxzhao   retiring the old one and converting to the tv one sound reasonable.

[2022-09-16 19:00] jppgks commented on #2496
Hi @camaya7, thanks for trying out time series with Ludwig!

I tried reproducing your issue using the following code, but did get the expected output:
[code]

gives one prediction per row:
[code]

[2022-09-16 20:19] camaya7 commented on #2496
Hi @jppgks,

Thanks for your reply and for clarifying the results. Including the prediction after training does the trick.

In terms of using the predictions, would it be better to train/predict on one row only in order to use that specific prediction/forecast for the feature? Excuse my ignorance but, what's the point in having a prediction for each row if the time series features contain roughly

[2022-09-17 01:47] w4nderlust commented on #2496
@camaya7 thanks for the question. Ludwig's way of dealing with time series is indeed peculiar, we will likely improve it in the future, but let me try to explain the way it works.

Let's assume we have a time series with values starting at 0 and increasing by 1 until 100, so 0, 1, 2, ..., 99, 100.

Usually, in a timeseries dataset, those values are provided all in a column.
Ludwig's time series da

[2022-09-17 06:39] Jeffwan commented on #2498
It failed in the ray tune phase, the Ludwig process can not allocate more memory. I gradually increase the limit to 3 GiB per worker and eventually succeed.   auto-detecting feature would be super helpful.

[2022-09-17 06:46] Jeffwan commented on #2497
We programmatically generate the config file. I feel either way works for us. My program will receive custom `endpoint_url` and the program will override the config in user config. All of above options work for us and I don't have preference at this moment.

[2022-09-18 03:22] jimthompson5802 commented on #2474
Closing.  No action.

[2022-09-18 03:22] #2474 closed

[2022-09-18 22:26] camaya7 commented on #2496
Hi @w4nderlust, thanks for the explanation, it does ease things up in general. Specifically though, what would be a sample function that windows the data into the time series column?

I tried training with the following data:
  | x | y
-- | -- | --
0 1 2 3 | 4
1 2 3 4 | 5
2 3 4 5 | 6

using:
[code]

and got these results:
 x_predictions
0       0.005117
1       0.005408
2       0.005689

I'm just

[2022-09-19 07:00] arnavgarg1 commented on #2378
This is done here: https://github.com/ludwig-ai/ludwig/commit/0ab41a299cc690940b750a79b704d69544315702
Closing this issue.

[2022-09-19 07:00] #2378 closed

[2022-09-19 15:15] arnavgarg1 opened #2526 "Hyperopt tests fail with Ray 1.12"
Currently seeing the following tests fail locally with Ray 1.12/Ray 1.12.1

- tests/integration_tests/test_hyperopt.py::test_hyperopt_search_alg[random]
- tests/integration_tests/test_hyperopt.py::test_hyperopt_search_alg[bohb]
- tests/integration_tests/test_hyperopt.py::test_hyperopt_executor_with_metric

It seems to be related to the fact that with the bump to allow for Ray Air compatibility, we

[2022-09-19 16:56] dalianaliu commented on #2411
Piero and Jim already chatted about this. @jimthompson5802 what's the next step for this?

[2022-09-19 18:49] #2526 closed

[2022-09-20 01:36] dalianaliu commented on #2415
Hi @DrRaja, I'm closing this now. If it doesn't work with Ludwig v.5 or v.6(launching soon), please re-open it.

[2022-09-20 01:36] #2415 closed

[2022-09-21 05:24] Jeffwan commented on #2402
@justinxzhao Do you get a chance to look at this issue?

[2022-09-21 05:53] justinxzhao commented on #2402
@Jeffwan Not yet, thanks for the ping. I'll plan to look at this tomorrow.

[2022-09-21 16:40] dalianaliu commented on #2448
Hi @qiagu, I'm closing this one for now. If Travis's comment hasn't addressed your issue, please re-open again.

[2022-09-21 16:41] dalianaliu commented on #2411
Hi @jimthompson5802 looks like you have chatted with Piero. Would you like to resolve this or leave it open for next steps?

[2022-09-21 17:16] qiagu commented on #2448
Does the `Resolved` mean that the issue has already been fixed? I don't see any PR relating to the issue though.

[2022-09-21 17:18] arnavgarg1 commented on #2448
This issue hasn't been fixed yet, but we'll probably roll out a fix as a part of Ludwig 0.6 which comes out soon. Does that work @qiagu?

[2022-09-21 17:21] qiagu commented on #2448
@arnavgarg1 Sure. V0.6 is great.

[2022-09-21 17:24] Jeffwan opened #2541 "Support different stop strategies and enable time_budget_s for ludwig train"
**Is your feature request related to a problem? Please describe.**

Currently, I think the stop condition for ludwig train job is if there's no more improvement after a few steps, then it's stopped.
Sometimes, I want to stop my job after xx minutes/hrs. Current policy is not flexible enough.

**Describe the use case**

As an end user, I hope I have multiple ways to stop the job or use a combined s

[2022-09-21 17:34] w4nderlust commented on #2496
Each datapoint represents a pair of history and forecast.
Not super sure why you are getting those predictions, a fully reproducible script / notebook would be great.
Finally, for a function for windowing, The function here could be a good reference: http://ludwig.ai/0.5/examples/weather/

[2022-09-21 18:17] tgaddair commented on #2402
I wonder if this was addressed by #2455, where we disable auto batch size computation on CPU. @arnavgarg1 can you verify the behavior with batch size 128 and batch size 32768?

[2022-09-21 20:01] justinxzhao commented on #2402
@tgaddair there's a chance that #2455 may help, but it looks like @Jeffwan is getting the same super large number of training steps even when he tried setting `batch_size=128` manually.

That said, I'm still not able to reproduce. @Jeffwan would you be able to share the backend configuration / ray cluster that you are using?

For the record, @arnavgarg1 and I have tried:
- local and ray backends
-

[2022-09-21 20:08] #2449 closed

[2022-09-21 20:42] dalianaliu commented on #2307
Hi @henchaves, would you like to submit a PR for the fix you proposed?

[2022-09-22 00:03] tgaddair commented on #2541
Hey @Jeffwan, we can definitely come up with a solution for this in the config. If you're looking for a programmatic workaroumd, you can achieve this using `ludwig.callbacks.Callback`:

[code]

Let me know if this works to unblock you for the short-term.

[2022-09-22 00:08] Jeffwan commented on #2402
Let me give it another try using before & after #2455 and I will come back with the results soon.

[2022-09-22 23:36] Jeffwan commented on #2409
Sounds good. It would be great to see new properties are added soon. I am good on my side and let me close the issue

[2022-09-22 23:36] #2409 closed

[2022-09-22 23:46] camaya7 commented on #2496
@w4nderlust thanks for that, understood. I was able to fix the configuration and get coherent predictions. The only question that remains is if there's any way to predict on two variables at the same time? So far I've had to train on each attribute separately.

[2022-09-23 00:23] w4nderlust commented on #2496
@camaya7 great that you managed to get something reasonable :)
Regarding the two variables, you can do it, and you can also have two outputs, so for instance your dataset can look like:

ts1_window, ts1_next, ts2_window, ts2_next
0 1 2 3, 4, 0.1 0.2 0.3, 0.4

Be sure to window them in the same way.
You will also need to specify two input features and two output features in the config obviously.

Y

[2022-09-23 08:14] seifhjh commented on #501
Any updates about this feature plz ?

[2022-09-23 17:39] jimthompson5802 commented on #2411
@dalianaliu   Once I'm done with the torchvision integraiton work, I can take a stab at this.

[2022-09-23 19:28] camaya7 commented on #2496
@w4nderlust The multivariate model looks promising. After trying it out it's worth discussing if the approach you mentioned  makes the variables endogenous:

Data
ts1_window, ts1_next, ts2_window, ts2_next
1 2 3, 4, 0.1 0.2 0.3, 0.4
2 3 4, 5, 0.2 0.3 0.4, 0.5
3 4 5, 6, 0.3 0.4 0.5, 0.6
4 5 6,  7, 0.4 0.5 0.6, 0.7

Model config:
[code]
Results:

ts1_next_predictions,  ts2_next_predictions
3.646097,

[2022-09-25 02:42] tgaddair commented on #2452
@arnavgarg1 re-opening this issue to track.

[2022-09-26 17:24] arnavgarg1 commented on #2452
@tgaddair Thanks for re-opening the issue. It seems like this happens because of the non-determinism of "nan_percentage", particularly in cases where the last row in a partition is NaN since the missing value strategy is `bfill`. The result is that all other NaNs get filled except for the last row, and that results in the creation of ragged tensors.

I'll create a fix that involves ensuring that t

[2022-09-26 18:00] arnavgarg1 commented on #2452
Actually, the better way might be to do a bfill followed by ffill, or ffill followed by bfill to ensure there's never any NaNs

[2022-09-26 23:18] #2448 closed

[2022-09-27 18:10] #2452 closed

[2022-09-27 20:19] #2066 closed

[2022-09-27 20:42] w4nderlust commented on #2496
I'd say that if you know that for sure, you should probably just build two separate models.
On the other hand, if you believe that one can influence the other in positive ways, then modeling both at the same time is a good idea. In particular I obtained good results when there's one timeseries I'm trying to model and the other features are in support (like days of the week, or maybe binary indicat

[2022-09-29 00:04] camaya7 commented on #2496
@w4nderlust  I'm going to continue developing both approaches. For now I'm preferring to build separate models as my features cannot influence each other although I see the potential for having just one model. Either way thank you for your responsiveness and help as always!

[2022-09-29 09:49] jppgks commented on #2496
Glad to hear that you have clear steps forward @camaya7! I will close this issue, but feel free to open a new one or [start a discussion](https://github.com/ludwig-ai/ludwig/discussions) if you have any other questions.

[2022-09-29 09:49] #2496 closed

[2022-09-29 16:41] dalianaliu commented on #2295
We just released v0.6. I'm closing this, and please reopen if you have questions.

[2022-09-29 16:41] #2295 closed

[2022-09-29 18:10] justinxzhao commented on #2221
Hi @jiangweiatgithub, we just released v0.6, which addressed a handful of issues with Ray. Would you be able to try upgrading the version of Ludwig to see if the ray init issue has been fixed for you?

[2022-09-29 20:52] drishi commented on #2351
@jeffkinnison @arnavgarg1 would this cause a model training failure, or just a momentary delay? Suggest P0 if the former, P1/P2 if the latter cc @tgaddair

[2022-09-29 21:02] arnavgarg1 commented on #2351
@drishi I haven't seen this causing any training failures, but definitely delays. I agree that this can maybe be a P1. On the Predibase side, it might just be a bit of a confusing experience since none of the `trials` will be updating their metrics for a few minutes potentially before it moves to the evaluation stage.

[2022-09-30 17:14] arnavgarg1 commented on #2222
Done by @connor-mccorm , closing

[2022-09-30 17:14] #2222 closed

[2022-09-30 18:21] Jeffwan commented on #2402
I think I figure out the issue.  i was using following command to generate the config.

[code]

However, train won't use some field from hyperopt and even we ignore the field, the value is not correct

[code]

Following is using config file with hyper opt specific params.

[code]

[2022-09-30 18:24] Jeffwan commented on #2402
In conclusion, I would say `train` can not correctly calculate steps if the config has `hyperopt:` specified.

diff
[code]

[2022-10-01 02:01] arnavgarg1 commented on #2402
Hi @Jeffwan - great catch, and thanks for sharing. I was able to reproduce this locally using the steps you mentioned. I will investigate and have a fix for you next week.

[2022-10-04 00:48] geoffreyangus opened #2586 "`Text`/`Sequence` output features fail to save in Dask/Ray Backend"
To reproduce, navigate to `tests/integration_tests/test_ray.py::test_ray_save_outputs` , uncomment the `text_feature()` and/or `sequence_feature()` output features, then run the test.

[2022-10-04 00:49] geoffreyangus opened #2587 "`Set` output features fail to save in Dask/Ray Backend"
Error:
[code]
This is somewhat expected, because, for each sample, the Set feature outputs only the probabilities of the categories that were positively identified. This means that across the dataset, each sample may have a probabilities list of varying size.

To reproduce, navigate to `tests/integration_tests/test_ray.py::test_ray_save_outputs` , uncomment the `set_feature()` output feature, then

[2022-10-04 00:50] geoffreyangus opened #2588 "`H3` input features fail to save in Dask/Ray Backend"
Attempting to do so leads to a ValueError having to do with casting the feature into an int.
[code]
To reproduce, navigate to `tests/integration_tests/test_ray.py::test_ray_save_inputs_with_nans` , uncomment the `h3_feature()` input feature, then run the test.

[2022-10-05 03:25] Jeffwan commented on #2541
I use train_cli method and notice it accepts the callbacks as well. Thanks! I verified it works for me.

[code]

[2022-10-05 03:25] #2541 closed

[2022-10-05 03:29] Jeffwan commented on #2403
I am using v0.6.0 (ray 2.0) and I didn't see any similar issues and I can confirm my issue was resolved. Thanks a lot!

[2022-10-05 03:29] #2403 closed

[2022-10-05 03:32] Jeffwan commented on #2497
I can confirm following ways works fine for my case. The only tricky thing is I need to use credential ENV instead client_kwargs to overcome the following issue.

[code]

If you have following config support in future, it would save us additional efforts configuring s3_creds. This is not a blocking issue and I will close this issue now.

[code]

[2022-10-05 03:32] #2497 closed

[2022-10-05 03:34] Jeffwan commented on #2153
above comments address all my questions and concerns. Thanks a lot on the support! I can close the issue now.

[2022-10-05 03:34] #2153 closed

[2022-10-06 14:14] andife commented on #490
Hi, are there any considerations / developments to introduce image augmentation for example image classification problems? Has anyone already extended ludwig in this regard?

[2022-10-06 20:22] w4nderlust commented on #490
@andife unfortunately no updates. There will soon be updates on using pretrained image encoders and having more architectures available though.
This is still a feature we want to add, but has not been prioritized yet.
Still very open for community contributions about it!

[2022-10-07 01:03] ShreyaR commented on #2451
Possible fix in #2599.

[2022-10-12 20:27] arnavgarg1 opened #2633 "Presence of hyperopt in config causes issue with model.train"
**Describe the bug**
When the hyperopt section exists in a Ludwig config but one just wants to run regular model training, it results in really large step sizes. For example, this was seen with the rotten tomatoes dataset.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Download the rotten tomatoes dataset from here: [here](https://ludwig.ai/latest/data/rotten_tomatoes_test.csv)
2.

[2022-10-12 22:32] #2465 closed

[2022-10-12 23:36] arnavgarg1 commented on #2451
Fixed by https://github.com/ludwig-ai/ludwig/pull/2599

[2022-10-12 23:36] #2451 closed

[2022-10-12 23:36] #2371 closed

[2022-10-12 23:37] arnavgarg1 commented on #2322
Fixed by https://github.com/ludwig-ai/ludwig/pull/2599, closing

[2022-10-12 23:37] #2322 closed

[2022-10-12 23:39] dantreiman opened #2638 "Add new datasets to Ludwig Dataset Zoo"
Add more datasets to Ludwig Datasets `ludwig.datasets`, to increase variety and coverage of ML features and tasks in Ludwig.

New datasets should be added to `ludwig/datasets/configs`, tested, and optionally submitting with an example model config in `ludwig/datasets/model_configs`

Some candidates:

AV-MNIST:  https://github.com/slyviacassell/_MFAS

Sarcastic Headlines:  https://github.com/rishab

[2022-10-13 04:42] arnavgarg1 commented on #2402
Hi @Jeffwan, I've temporarily merged in a PR to prevent this from causing problems when running training through the CLI in the same way you're doing in this example. You can find a fix in Ludwig 0.6.2, which was released today.

There is still a problem when running this programmatically if you download our Github, manually install, and then programatically perform model training via the `LudwigM

[2022-10-13 16:59] geoffreyangus opened #2643 "Modin ray tests failing"
When running a Ray integration test using the Modin df engine, we get the following error:

[code]

This error is accompanied by the following stack trace:

[code]

Steps to reproduce this behavior:
1. Be on `master` after https://github.com/ludwig-ai/ludwig/pull/2637 is merged in, or check out that branch.
1. Remove the pytest skip mark for the "modin" test in `tests/integration_tests/test_ray.py

[2022-10-13 17:53] geoffreyangus opened #2645 "`LudwigModel.preprocess` with `skip_save_processed_input=False` and Ray backend returns flat Image/Audio features"
**Describe the bug**
In order for the RayDatasetManager to conform to the PyArrow requirements when caching preprocessed input, `preprocess` currently flattens Image and Audio tensors. This is accounted for in [RayDatasetBatcher._prepare_batch](https://github.com/ludwig-ai/ludwig/blob/b168ca1aa5763bb38e4318a72ab86b29b63bb9de/ludwig/data/dataset/ray.py#L312-L315), where the tensors are reshaped to

[2022-10-13 18:27] tgaddair commented on #2645
Not sure we can do anything about this, as it's a limitation in PyArrow.

[2022-10-13 22:22] tgaddair commented on #2633
https://github.com/ludwig-ai/ludwig/pull/2631 solves the issue, but as a workaround instead of addressing the root cause.

[2022-10-14 20:34] qiagu opened #2652 "Is it possible to visualize the model network?"
Being able to use tools, like Torchviz, to generate model structure graph in Ludwig would be great.

[2022-10-14 21:52] tgaddair commented on #2652
Hey @qiagu, we have written some tools for generating model visualizations that look like this, though we haven't yet added them officially to Ludwig:

https://raw.githubusercontent.com/ludwig-ai/ludwig-docs/master/docs/images/ludwig_legos_unanimated.gif

Is this the kind of visualization you're looking for, or something more granular?

[2022-10-15 17:38] jeffkinnison opened #2656 "Expose hyperopt trial output directory"
Hyperopt trials are currently assigned an `output_directory` that is pieced together through a numerous layers of function calls on the fly when saving model data, making it difficult to determine where Ludwig stores a trial's model data. In particular, one directory name in the path is composed of the experiment name and model type, but it is not obvious that this is the case, making it difficult

[2022-10-15 18:32] qiagu commented on #2652
@tgaddair I was interested in more detailed model structure for reasons like, 1) compare with models created directly with Torch or Tensorflow, 2) visually check whether a customized Ludwig model is built as planned. The lego visualization you posted looks awesome as well.

[2022-10-16 17:39] skanjila opened #2657 "Add Kaggle tabular dataset and multiscale benchmarksfor multimodal learning"
**Is your feature request related to a problem? Please describe.**
Want to add the following datasets:
two sources to mine for good datasets:
Kaggle Tabular Playground Challenge - a monthly tabular data challenge:  https://www.kaggle.com/search?q=tabular+playground+series
 [MultiBench: Multiscale Benchmarks for Multimodal Representation Learning](https://arxiv.org/abs/2107.07502)

**Describe the u

[2022-10-17 15:56] justinxzhao commented on #2652
Hi @qiagu,

I checked out TorchViz. `LudwigModel`s can certainly provide the underlying torch `Module` model as well as sample inputs, which is how we support torchscript compilation.

However, it looks like the tool doesn't support dictionary-based input tracing yet. :(

[code]

Results in this error:

[code]

It could be worth filing an issue to the TorchViz project, linking to this issue, WDYT?

[2022-10-17 23:20] arnavgarg1 opened #2664 "Port to_dask() to handle TensorDType errors based on Ray nightly implementation"
This won't make it to the Ray 2.1 release (but it will to the Ray nightly release), so if we want to move to Ray 2.1 we can just create a similar implementation in Ludwig to unblock ourselves.

[2022-10-18 02:03] qiagu commented on #2652
@justinxzhao Great tries and I appreciate that a lot. Could you please try the [pytorch-summary](https://github.com/sksq96/pytorch-summary) as well? It would be great to see a summary out of a Ludwig model.
Refer to https://stackoverflow.com/questions/42480111/how-do-i-print-the-model-summary-in-pytorch

[2022-10-18 17:07] dalianaliu commented on #2657
Hi @skanjila. We'll talk a look at this. Can you tell us more about the use case?

[2022-10-18 22:25] dalianaliu commented on #2657
Hi @skanjila, please go ahead and summit a PR. Let us know if you need any help.

I'm curious if you could share more about your use case?

[2022-10-19 05:10] skanjila commented on #2657
:( I'm a committer on Ludwig and actually started the datasets initiative with @tgaddair and @w4nderlust , this idea was actually proposed by @dantreiman , I am just working on the implementation of this till the model-hub starts getting incorporated

[2022-10-20 05:21] justinxzhao commented on #2652
Hi @qiagu,

`torchinfo.summary` works.

[code]

Here's an example output:

[code]

[2022-10-20 18:17] tgaddair opened #2686 "[test] Ray determinism tests are flaky"

[2022-10-24 18:14] justinxzhao commented on #2652
I filed an issue to `torchinfo` to assess how difficult it would be to add support for nested `ModuleDict`s.

https://github.com/TylerYep/torchinfo/issues/184

[2022-10-25 00:13] justinxzhao commented on #2652
@qiagu It looks like you can get more detailed `torchinfo` with `depth=20`

[code]

Sample:

[code]

Hopefully this is more useful to you :)

[2022-10-25 01:20] qiagu commented on #2652
@justinxzhao  Awesome! Thank you for solving the problem perfectly.

[2022-10-25 04:30] #2652 closed

[2022-10-26 23:36] fire commented on #2292
I decided to go back to a simpler problem.

[code]

[2022-10-26 23:58] fire commented on #2292
[code]

ludwig.exe preprocess  --dataset mnist_dataset.csv --preprocessing_config config.yaml

How would I load `mnist_dataset.meta.json` into the above script

[2022-10-27 00:02] fire commented on #2292
The previous sample was unable to load the image of the digit.

[code]

[2022-10-27 00:09] fire commented on #2292
Example problem:

1. training https://ludwig.ai/latest/examples/mnist/
2. then saving a torchscript,
3. then converting to onnx
4. executing via the onnx runtime.

I got stuck converting the image data to a suitable form.

[2022-10-27 00:11] fire commented on #2292
My goal is be able to run the various ML difussion algorithms.

1. image prompt, text prompt -> image
3. image prompt -> text (https://huggingface.co/spaces/pharma/CLIP-Interrogator/tree/main)

[2022-10-31 22:07] dalianaliu commented on #2292
Hi @fire, we'll take a look at this.

[2022-10-31 23:21] geoffreyangus commented on #2292
Hi @fire, good to hear from you again 🙂

What version of Ludwig are you running?

[2022-10-31 23:44] fire commented on #2292
I'm using ludwig 6, but I assume https://github.com/ludwig-ai/ludwig/releases/tag/v0.6.4 will work.

I did some thinking about the problem, and at this point I'm going to start with the hello world which is mnist digit image to label.

There's the inverse problem which image diffusion models do really well is prompt to image.

[2022-11-03 20:44] geoffreyangus commented on #2292
Hi @fire! Sorry for the delay. I'm out of town this week, but am working on reproducing your issue and will get back to you shortly.

[2022-11-05 07:13] andife commented on #490
@w4nderlust : Yes definitly an option. I'll look at the code.  Maybe it's not too much to for example to add torchvision.transforms, kornia or albumentations there.

[2022-11-05 19:46] kaykumar commented on #953
When I faced this , I was doing this:

train_stats, _, model_dir  = model.train(dataset=df)
model = LudwigModel.load(model_dir)

Solution is:

model = LudwigModel.load(model_dir **+ "/model"**)

Hope it will save some time for someone.

Thanks,
Kamal

[2022-11-06 18:14] Jeffwan opened #2726 "ValueError: invalid literal for int() with base 16 during data processing using minio"
**Describe the bug**

Seem there's an error thrown during cache checksum calculation. Seems it calculate the eTag of dataset and try to get original Hex representation.  Looks like hyphen ` 'b6e64f35b2cb730d93770942a59b2efa-2' ` is the problem but hyphen itself in ETag is correct which indicates multi parts.
https://teppen.io/2018/06/23/aws_s3_etags/#what-is-an-s3-etag

~~I didn't see this problem

[2022-11-06 18:29] Jeffwan commented on #2726
preprocessing config

[code]

[2022-11-06 21:55] tgaddair commented on #2726
Hi @Jeffwan, I haven't seen this specific issue, but I have run into issues in the past when using Minio + fsspec where Minio believes there is an issue with the etag.

In this case though I agree this looks an issue in s3fs. They should probably strip out the `-` in this case. Did you want to file an issue in the s3fs repo?

[2022-11-06 23:28] w4nderlust commented on #953
@kaykumar thanks for sharing.
One detail from the documentation here https://ludwig.ai/latest/user_guide/api/LudwigModel/#train
is that the returned directory is not indeed the directory of the model, but the `output_directory` which contains a bunch of things: a description or the training run, the training statistics and the model directory itself. it is documented in the description of the trai

[2022-11-06 23:47] Jeffwan commented on #2726
@tgaddair Thanks for the confirmation. I did file a similar one in s3fs repo. https://github.com/fsspec/s3fs/issues/624.

[2022-11-07 01:21] Jeffwan opened #2727 "Serve example doesn't work (empty feature name?)"
**Describe the bug**
I can not successfully run serve example.  I think the problem is probably from the dataset? the first column is empty. it should be `movie_id` but seems it's missing (I think this feature is not helpful at all? should we just remove it from dataset). then the inference server think it misses one feature. The tricky thing is I don't know if how serve works with empty feature n

[2022-11-07 02:13] Jeffwan commented on #2727
I tried to add `movie_id` field name in the dataset and retrain the model. The interesting thing the prediction succeed no matter `movie_id` is specified or not.

![image](https://user-images.githubusercontent.com/4739316/200212583-8ba744f1-aee3-4563-ae0e-45e58f7ecd5a.png)

BTW, the prediction result is different from documentation. https://ludwig.ai/latest/getting_started/serve/  the doc is outda

[2022-11-07 17:26] jeffkinnison opened #2732 "`ludwig.trainers.LightGBMTrainer` has no method `barrier`"
`LightGBMTrainer` has no method `barrier` implemented, and this raises an `AttributeError`  [during hyperopt training](https://github.com/ludwig-ai/ludwig/blob/6acf4fd606c9e4170e55e9e96b5699c24ffdedc5/ludwig/hyperopt/execution.py#L548).

[code]

[2022-11-07 18:34] dalianaliu commented on #2727
We'll take a look @Jeffwan

[2022-11-07 18:49] Jeffwan commented on #2726
This has been patched in newer `s3fs` and I notice I am actually using an old version. Upgrading version works for me. Thanks!

[2022-11-07 18:49] #2726 closed

[2022-11-07 18:55] justinxzhao commented on #2732
CC: @jppgks

[2022-11-07 19:01] jppgks commented on #2732
Thanks for raising @jeffkinnison! What is the expected behavior for the `barrier` API? cc @tgaddair

[2022-11-07 19:24] jeffkinnison commented on #2732
[The standard trainer has two barrier behavior cases](https://github.com/ludwig-ai/ludwig/blob/12e576d7bbc2dee6c5b81ccb98b8dd7e8e261f5f/ludwig/trainers/trainer.py#L1398-L1401): 1) if using horovod, call allreduce and 2) otherwise, do nothing.

The fix should just depend on whether or not GBMs use allreduce. If so, we can probably just replicate the functionality of `Trainer.barrier()`. If not, an

[2022-11-07 19:44] w4nderlust commented on #2727
@Jeffwan did the config you trained with contain the id? in the docs it does not, so it is not required at predict time. Can you doublecheck?

[2022-11-07 19:50] jppgks commented on #2732
We rely on LightGBM-ray for distributed GBM, not Horovod. Sounds like an empty `LightGBMTrainer.barrier()` should be good then.

[2022-11-07 19:55] tgaddair commented on #2726
Awesome! Glad you got it working!

[2022-11-08 18:45] Jeffwan commented on #2727
@w4nderlust I trained the mode with original dataset from ludwig website and it doesn't have field_id.

[2022-11-08 19:21] geoffreyangus commented on #2292
Hi @fire, just wanted to follow up with a [sample notebook](https://gist.github.com/geoffreyangus/6996c1cd7b0311385673d876c94740c8) that goes through my own process of downloading MNIST, then training and exporting a TorchScript model.

The main things I discovered worth mentioning:
1. The MNIST dataset has relative paths to the images. I had to update the `image_path` values from relative paths t

[2022-11-08 20:51] fire commented on #2292
I'm a bit under the weather but let me describe the use case.

I have a game and one of the targets is a mobile device like the Meta Quest or the iPhone.

To match this toy example, I want to give the model images of digits and have them inference on the gpu for acceleration because in the final use case calculating is too slow for the CPU and battery life is important.

I vaguely remember NVIDIA

[2022-11-09 06:21] justinxzhao commented on #2727
Hi @Jeffwan,

Jumping on the thread here.

First, I'll say that I was able to follow the serving section of the Getting Started guide to completion.

That said, there are ways that we can clarify the walkthrough, and I also discovered a small unrelated bug (I'm doubtful that this impacted you). In any case, I'll follow up on both of these AIs.

Here's a handful of pointers that might be relevant f

[2022-11-09 08:53] andife opened #2741 "Automl for multiple targets?"
Hello,

I wonder how it is possible to create multiple targets at automl on tables data.
My data consists of three input columns and 3 output columns. How does the api of auto_train work?
Can someone provide a link?

Thank you

[2022-11-09 18:03] #2732 closed

[2022-11-09 18:28] justinxzhao commented on #2741
Hi @andife,

The automl API is documented at https://ludwig.ai/latest/user_guide/automl/. [create_auto_config](https://ludwig.ai/latest/user_guide/automl/#create_auto_config) may be of interest.

Right now Ludwig AutoML only supports one target at a time.

Out of curiosity, do you have strong reasons to prefer 1 model that predicts on 3 outputs vs. 3 models, one for each output?

[2022-11-10 16:44] herrmann commented on #1735
Hi, I had the same problem and provided a fix: https://github.com/ludwig-ai/ludwig/pull/2746

[2022-11-10 18:04] #1735 closed

[2022-11-10 18:20] tgaddair commented on #1735
Thanks for the fix @herrmann!

[2022-11-14 05:09] cmenguy commented on #2638
@dantreiman  @skanjila I was looking at the MIMIC-III dataset but it seems access to this dataset is pretty restrictive and one needs to be a credentialed user as you can see from https://mimic.mit.edu/docs/gettingstarted/

So based on that is there any AWS account associated with Ludwig that could be used to request credentialed access? If not then I am not sure how this could be added unless we

[2022-11-21 21:13] geoffreyangus commented on #2292
Hi @fire, sorry for the late response here. To your points:

1. NVIDIA Triton does support C++ backends: https://github.com/triton-inference-server/pytorch_backend
2. I do believe that it needs a CUDA runtime, but I think you would need that for most GPU inference cases
3. I'm not sure what you mean here

Let me know what you think!

[2022-11-27 02:50] #2167 closed